# ATTN: This script should be run AFTER all embeddings are completed.

### START HERE IF SOURCING FROM df_manual_FOR_TRAINNING
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

# Descriptives and visualization

In [1]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

sys.path.append(code_dir)
# %load_ext autoreload
# %autoreload 2

In [2]:
from setup_module.imports import * # type:ignore # isort:skip # fmt:skip # noqa # nopep8

Using MPS

0it [00:00, ?it/s]

In [3]:
def get_df_info(df, ivs_all=None):
    if ivs_all is None:
        ivs_all = [
            'Gender',
            'Gender_Num',
            'Gender_Female',
            'Gender_Mixed',
            'Gender_Male',
            'Gender_Female_n',
            'Gender_Male_n',
            'Gender_Female_% per Sector',
            'Gender_Male_% per Sector',
            'Age',
            'Age_Num',
            'Age_Older',
            'Age_Mixed',
            'Age_Younger',
            'Age_Older_n',
            'Age_Younger_n',
            'Age_Older_% per Sector',
            'Age_Younger_% per Sector',
        ]
    # Print Info
    print('\nDF INFO:\n')
    df.info()

    for iv in ivs_all:
        try:
            print('='*20)
            print(f'{iv}:')
            print('-'*20)
            if len(df[iv].value_counts()) < 5:
                print(f'{iv} Counts:\n{df[iv].value_counts()}')
                print('-'*20)
                print(f'{iv} Percentages:\n{df[iv].value_counts(normalize=True).mul(100).round(1).astype(float)}')
                print('-'*20)
            print(f'Min {iv} value: {df[iv].min()}')
            print(f'Max {iv} value: {df[iv].max()}')
            with contextlib.suppress(Exception):
                print('-'*20)
                print(f'{iv} Mean: {df[iv].mean().round(2).astype(float)}')
                print('-'*20)
                print(f'{iv} Standard Deviation: {df[iv].std().round(2).astype(float)}')
        except Exception:
            print(f'{iv} not available.')

    print('\n')

In [4]:
# Function to order categories
def categorize_df_gender_age(df, gender_order=None, age_order=None, ivs=None):
    if gender_order is None:
        gender_order = ['Female', 'Mixed Gender', 'Male']
    if age_order is None:
        age_order = ['Older', 'Mixed Age', 'Younger']
    if ivs is None:
        ivs = ['Gender', 'Age']
    # Arrange Categories
    for iv in ivs:
        if iv == 'Gender':
            order = gender_order
        elif iv == 'Age':
            order = age_order
        with contextlib.suppress(ValueError):
            df[iv] = df[iv].astype('category').cat.reorder_categories(order, ordered=True)

            df[iv] = pd.Categorical(
                df[iv], categories=order, ordered=True
            )
            df[f'{iv}_Num'] = pd.to_numeric(df[iv].cat.codes).astype('int64')

    return df

In [5]:
with open(f'{data_dir}df_manual_len.txt', 'r') as f:
    df_manual_len = int(f.read())

df_manual = pd.read_pickle(f'{df_save_dir}df_manual_for_trainning.pkl')
assert len(df_manual) == df_manual_len, f'DATAFRAME MISSING DATA! DF SHOULD BE OF LENGTH {df_manual_len} BUT IS OF LENGTH {len(df_manual)}'
print(f'Dataframe loaded with shape: {df_manual.shape}')

Dataframe loaded with shape: (5978, 58)

In [6]:
with open(f'{data_dir}df_jobs_len.txt', 'r') as f:
    df_jobs_len = int(f.read())

df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_for_classification.pkl')
assert len(df_jobs) == df_jobs_len, f'DATAFRAME MISSING DATA! DF SHOULD BE OF LENGTH {df_jobs_len} BUT IS OF LENGTH {len(df_manual)}'
print(f'Dataframe loaded with shape: {df_jobs.shape}')

Dataframe loaded with shape: (194820, 69)

In [7]:
dataframes = {
    'df_manual': df_manual,
    'df_jobs': df_jobs,
}

In [8]:
# All info
analysis_columns = [
    'Warmth',
    'Competence'
]

for df_name, df in dataframes.items():
    print(f'{"+"*20} {df_name.upper()} {"+"*20}')

    df = categorize_df_gender_age(df)

    df.info()

++++++++++++++++++++ DF_MANUAL ++++++++++++++++++++
<class 'pandas.core.frame.DataFrame'>
Int64Index: 5978 entries, 0 to 5977
Data columns (total 58 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Job ID                                            5978 non-null   object
 1   Job Description spacy_sentencized                 5978 non-null   object
 2   Warmth                                            5978 non-null   int64
 3   Competence                                        5978 non-null   int64
 4   Dutch Requirement                                 5978 non-null   object
 5   English Requirement                               5978 non-null   object
 6   Search Keyword                                    5978 non-null   object
 7   Platform                                          5978 non-null   object
 8   Job Title                                         5978 non-null   object
 9   Company Name                                      5978 non-null   object
 10  Location                                          5978 non-null   object
 11  Industry                                          291 non-null    object
 12  Sector Code                                       5978 non-null   object
 13  Sector                                            5978 non-null   object
 14  Keywords Count                                    5978 non-null   float64
 15  Gender_Female_n                                   5978 non-null   float64
 16  Gender_Female_% per Sector                        5978 non-null   float64
 17  Gender_Female_% per Social Category               5978 non-null   float64
 18  Gender_Female_% per Workforce                     5978 non-null   float64
 19  Gender_Male_n                                     5978 non-null   float64
 20  Gender_Male_% per Sector                          5978 non-null   float64
 21  Gender_Male_% per Social Category                 5978 non-null   float64
 22  Gender_Male_% per Workforce                       5978 non-null   float64
 23  Gender                                            5978 non-null   category
 24  Age_Older_n                                       5978 non-null   float64
 25  Age_Older_% per Sector                            5978 non-null   float64
 26  Age_Older_% per Social Category                   5978 non-null   float64
 27  Age_Older_% per Workforce                         5978 non-null   float64
 28  Age_Younger_n                                     5978 non-null   float64
 29  Age_Younger_% per Sector                          5978 non-null   float64
 30  Age_Younger_% per Social Category                 5978 non-null   float64
 31  Age_Younger_% per Workforce                       5978 non-null   float64
 32  Age                                               5978 non-null   category
 33  Sector_n                                          5978 non-null   float64
 34  % Sector per Workforce                            5978 non-null   float64
 35  Gender_Female                                     5978 non-null   int64
 36  Gender_Male                                       5978 non-null   int64
 37  Gender_Mixed                                      5978 non-null   int64
 38  Age_Mixed                                         5978 non-null   int64
 39  Age_Older                                         5978 non-null   int64
 40  Age_Younger                                       5978 non-null   int64
 41  Gender_Num                                        5978 non-null   int64
 42  Age_Num                                           5978 non-null   int64
 43  Platform_Num                                      5978 non-null   int64
 44  Platform_LinkedIn                                 5978 non-null   int64
 45  Platform_Indeed                                   5978 non-null   int64
 46  Platform_Glassdoor                                5978 non-null   int64
 47  Job Description spacy_sentencized_lower           5978 non-null   object
 48  Job Description spacy_tokenized                   5978 non-null   object
 49  Job Description spacy_sentencized_cleaned         5978 non-null   object
 50  Job Description num_words                         5978 non-null   int64
 51  Job Description num_unique_words                  5978 non-null   int64
 52  Job Description num_chars                         5978 non-null   int64
 53  Job Description num_chars_no_whitespact_and_punt  5978 non-null   int64
 54  Job Description num_punctuations                  5978 non-null   int64
 55  Job Description nltk_tokenized                    5978 non-null   object
 56  Job Description gensim_tokenized                  5978 non-null   object
 57  Job Description bert_tokenized                    5978 non-null   object
dtypes: category(2), float64(19), int64(19), object(18)
memory usage: 2.6+ MB
++++++++++++++++++++ DF_JOBS ++++++++++++++++++++
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 69 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    194820 non-null  object
 1   Platform                                          194820 non-null  object
 2   Job ID                                            194820 non-null  object
 3   Job Title                                         194820 non-null  object
 4   Company Name                                      194816 non-null  object
 5   Location                                          194820 non-null  object
 6   Job Description                                   194820 non-null  object
 7   Rating                                            170120 non-null  float64
 8   Employment Type                                   163313 non-null  object
 9   Company URL                                       192654 non-null  object
 10  Job URL                                           194820 non-null  object
 11  Job Age                                           194820 non-null  object
 12  Job Age Number                                    194820 non-null  object
 13  Collection Date                                   194820 non-null  object
 14  Data Row                                          24535 non-null   float64
 15  Tracking ID                                       24535 non-null   object
 16  Industry                                          56207 non-null   object
 17  Job Date                                          24700 non-null   object
 18  Type of ownership                                 31507 non-null   object
 19  Language                                          194820 non-null  object
 20  Dutch Requirement                                 194820 non-null  object
 21  English Requirement                               194820 non-null  object
 22  Sector Code                                       194820 non-null  object
 23  Sector                                            194820 non-null  object
 24  Keywords Count                                    194820 non-null  float64
 25  Gender_Female_n                                   194820 non-null  float64
 26  Gender_Female_% per Sector                        194820 non-null  float64
 27  Gender_Female_% per Social Category               194820 non-null  float64
 28  Gender_Female_% per Workforce                     194820 non-null  float64
 29  Gender_Male_n                                     194820 non-null  float64
 30  Gender_Male_% per Sector                          194820 non-null  float64
 31  Gender_Male_% per Social Category                 194820 non-null  float64
 32  Gender_Male_% per Workforce                       194820 non-null  float64
 33  Gender                                            194820 non-null  category
 34  Age_Older_n                                       194820 non-null  float64
 35  Age_Older_% per Sector                            194820 non-null  float64
 36  Age_Older_% per Social Category                   194820 non-null  float64
 37  Age_Older_% per Workforce                         194820 non-null  float64
 38  Age_Younger_n                                     194820 non-null  float64
 39  Age_Younger_% per Sector                          194820 non-null  float64
 40  Age_Younger_% per Social Category                 194820 non-null  float64
 41  Age_Younger_% per Workforce                       194820 non-null  float64
 42  Age                                               194820 non-null  category
 43  Sector_n                                          194820 non-null  float64
 44  % Sector per Workforce                            194820 non-null  float64
 45  Gender_Female                                     194820 non-null  int64
 46  Gender_Male                                       194820 non-null  int64
 47  Gender_Mixed                                      194820 non-null  int64
 48  Age_Mixed                                         194820 non-null  int64
 49  Age_Older                                         194820 non-null  int64
 50  Age_Younger                                       194820 non-null  int64
 51  Gender_Num                                        194820 non-null  int64
 52  Age_Num                                           194820 non-null  int64
 53  Platform_Num                                      194820 non-null  int64
 54  Platform_LinkedIn                                 194820 non-null  int64
 55  Platform_Indeed                                   194820 non-null  int64
 56  Platform_Glassdoor                                194820 non-null  int64
 57  Job Description spacy_sentencized                 194820 non-null  object
 58  Job Description spacy_sentencized_lower           194820 non-null  object
 59  Job Description spacy_tokenized                   194820 non-null  object
 60  Job Description spacy_sentencized_cleaned         194820 non-null  object
 61  Job Description num_words                         194820 non-null  int64
 62  Job Description num_unique_words                  194820 non-null  int64
 63  Job Description num_chars                         194820 non-null  int64
 64  Job Description num_chars_no_whitespact_and_punt  194820 non-null  int64
 65  Job Description num_punctuations                  194820 non-null  int64
 66  Job Description nltk_tokenized                    194820 non-null  object
 67  Job Description gensim_tokenized                  194820 non-null  object
 68  Job Description bert_tokenized                    194820 non-null  object
dtypes: category(2), float64(21), int64(17), object(29)
memory usage: 100.0+ MB

In [9]:
for df_name, df in dataframes.items():
    print(f'{"+"*20} {df_name.upper()} {"+"*20}')

    print('='*30)
    print('Sector info at Sentence Level')
    print('-'*30)
    get_df_info(df, ivs_all=['% Sector per Workforce'])
    print('-'*30)

++++++++++++++++++++ DF_MANUAL ++++++++++++++++++++
==============================
Sector info at Sentence Level
------------------------------

DF INFO:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5978 entries, 0 to 5977
Data columns (total 58 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Job ID                                            5978 non-null   object
 1   Job Description spacy_sentencized                 5978 non-null   object
 2   Warmth                                            5978 non-null   int64
 3   Competence                                        5978 non-null   int64
 4   Dutch Requirement                                 5978 non-null   object
 5   English Requirement                               5978 non-null   object
 6   Search Keyword                                    5978 non-null   object
 7   Platform                                          5978 non-null   object
 8   Job Title                                         5978 non-null   object
 9   Company Name                                      5978 non-null   object
 10  Location                                          5978 non-null   object
 11  Industry                                          291 non-null    object
 12  Sector Code                                       5978 non-null   object
 13  Sector                                            5978 non-null   object
 14  Keywords Count                                    5978 non-null   float64
 15  Gender_Female_n                                   5978 non-null   float64
 16  Gender_Female_% per Sector                        5978 non-null   float64
 17  Gender_Female_% per Social Category               5978 non-null   float64
 18  Gender_Female_% per Workforce                     5978 non-null   float64
 19  Gender_Male_n                                     5978 non-null   float64
 20  Gender_Male_% per Sector                          5978 non-null   float64
 21  Gender_Male_% per Social Category                 5978 non-null   float64
 22  Gender_Male_% per Workforce                       5978 non-null   float64
 23  Gender                                            5978 non-null   category
 24  Age_Older_n                                       5978 non-null   float64
 25  Age_Older_% per Sector                            5978 non-null   float64
 26  Age_Older_% per Social Category                   5978 non-null   float64
 27  Age_Older_% per Workforce                         5978 non-null   float64
 28  Age_Younger_n                                     5978 non-null   float64
 29  Age_Younger_% per Sector                          5978 non-null   float64
 30  Age_Younger_% per Social Category                 5978 non-null   float64
 31  Age_Younger_% per Workforce                       5978 non-null   float64
 32  Age                                               5978 non-null   category
 33  Sector_n                                          5978 non-null   float64
 34  % Sector per Workforce                            5978 non-null   float64
 35  Gender_Female                                     5978 non-null   int64
 36  Gender_Male                                       5978 non-null   int64
 37  Gender_Mixed                                      5978 non-null   int64
 38  Age_Mixed                                         5978 non-null   int64
 39  Age_Older                                         5978 non-null   int64
 40  Age_Younger                                       5978 non-null   int64
 41  Gender_Num                                        5978 non-null   int64
 42  Age_Num                                           5978 non-null   int64
 43  Platform_Num                                      5978 non-null   int64
 44  Platform_LinkedIn                                 5978 non-null   int64
 45  Platform_Indeed                                   5978 non-null   int64
 46  Platform_Glassdoor                                5978 non-null   int64
 47  Job Description spacy_sentencized_lower           5978 non-null   object
 48  Job Description spacy_tokenized                   5978 non-null   object
 49  Job Description spacy_sentencized_cleaned         5978 non-null   object
 50  Job Description num_words                         5978 non-null   int64
 51  Job Description num_unique_words                  5978 non-null   int64
 52  Job Description num_chars                         5978 non-null   int64
 53  Job Description num_chars_no_whitespact_and_punt  5978 non-null   int64
 54  Job Description num_punctuations                  5978 non-null   int64
 55  Job Description nltk_tokenized                    5978 non-null   object
 56  Job Description gensim_tokenized                  5978 non-null   object
 57  Job Description bert_tokenized                    5978 non-null   object
dtypes: category(2), float64(19), int64(19), object(18)
memory usage: 2.6+ MB
====================
% Sector per Workforce:
--------------------
Min % Sector per Workforce value: 0.1147605856747131
Max % Sector per Workforce value: 31.38504155124654
--------------------
% Sector per Workforce Mean: 4.49
--------------------
% Sector per Workforce Standard Deviation: 5.32


------------------------------
++++++++++++++++++++ DF_JOBS ++++++++++++++++++++
==============================
Sector info at Sentence Level
------------------------------

DF INFO:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 69 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    194820 non-null  object
 1   Platform                                          194820 non-null  object
 2   Job ID                                            194820 non-null  object
 3   Job Title                                         194820 non-null  object
 4   Company Name                                      194816 non-null  object
 5   Location                                          194820 non-null  object
 6   Job Description                                   194820 non-null  object
 7   Rating                                            170120 non-null  float64
 8   Employment Type                                   163313 non-null  object
 9   Company URL                                       192654 non-null  object
 10  Job URL                                           194820 non-null  object
 11  Job Age                                           194820 non-null  object
 12  Job Age Number                                    194820 non-null  object
 13  Collection Date                                   194820 non-null  object
 14  Data Row                                          24535 non-null   float64
 15  Tracking ID                                       24535 non-null   object
 16  Industry                                          56207 non-null   object
 17  Job Date                                          24700 non-null   object
 18  Type of ownership                                 31507 non-null   object
 19  Language                                          194820 non-null  object
 20  Dutch Requirement                                 194820 non-null  object
 21  English Requirement                               194820 non-null  object
 22  Sector Code                                       194820 non-null  object
 23  Sector                                            194820 non-null  object
 24  Keywords Count                                    194820 non-null  float64
 25  Gender_Female_n                                   194820 non-null  float64
 26  Gender_Female_% per Sector                        194820 non-null  float64
 27  Gender_Female_% per Social Category               194820 non-null  float64
 28  Gender_Female_% per Workforce                     194820 non-null  float64
 29  Gender_Male_n                                     194820 non-null  float64
 30  Gender_Male_% per Sector                          194820 non-null  float64
 31  Gender_Male_% per Social Category                 194820 non-null  float64
 32  Gender_Male_% per Workforce                       194820 non-null  float64
 33  Gender                                            194820 non-null  category
 34  Age_Older_n                                       194820 non-null  float64
 35  Age_Older_% per Sector                            194820 non-null  float64
 36  Age_Older_% per Social Category                   194820 non-null  float64
 37  Age_Older_% per Workforce                         194820 non-null  float64
 38  Age_Younger_n                                     194820 non-null  float64
 39  Age_Younger_% per Sector                          194820 non-null  float64
 40  Age_Younger_% per Social Category                 194820 non-null  float64
 41  Age_Younger_% per Workforce                       194820 non-null  float64
 42  Age                                               194820 non-null  category
 43  Sector_n                                          194820 non-null  float64
 44  % Sector per Workforce                            194820 non-null  float64
 45  Gender_Female                                     194820 non-null  int64
 46  Gender_Male                                       194820 non-null  int64
 47  Gender_Mixed                                      194820 non-null  int64
 48  Age_Mixed                                         194820 non-null  int64
 49  Age_Older                                         194820 non-null  int64
 50  Age_Younger                                       194820 non-null  int64
 51  Gender_Num                                        194820 non-null  int64
 52  Age_Num                                           194820 non-null  int64
 53  Platform_Num                                      194820 non-null  int64
 54  Platform_LinkedIn                                 194820 non-null  int64
 55  Platform_Indeed                                   194820 non-null  int64
 56  Platform_Glassdoor                                194820 non-null  int64
 57  Job Description spacy_sentencized                 194820 non-null  object
 58  Job Description spacy_sentencized_lower           194820 non-null  object
 59  Job Description spacy_tokenized                   194820 non-null  object
 60  Job Description spacy_sentencized_cleaned         194820 non-null  object
 61  Job Description num_words                         194820 non-null  int64
 62  Job Description num_unique_words                  194820 non-null  int64
 63  Job Description num_chars                         194820 non-null  int64
 64  Job Description num_chars_no_whitespact_and_punt  194820 non-null  int64
 65  Job Description num_punctuations                  194820 non-null  int64
 66  Job Description nltk_tokenized                    194820 non-null  object
 67  Job Description gensim_tokenized                  194820 non-null  object
 68  Job Description bert_tokenized                    194820 non-null  object
dtypes: category(2), float64(21), int64(17), object(29)
memory usage: 100.0+ MB
====================
% Sector per Workforce:
--------------------
Min % Sector per Workforce value: 0.1147605856747131
Max % Sector per Workforce value: 31.38504155124654
--------------------
% Sector per Workforce Mean: 5.57
--------------------
% Sector per Workforce Standard Deviation: 8.76


------------------------------

In [15]:
for df_name, df in dataframes.items():
    print(f'{"+"*20} {df_name.upper()} {"+"*20}')

    min_sector = df['Sector'].loc[df['% Sector per Workforce'] == df['% Sector per Workforce'].min()].values[0]
    max_sector = df['Sector'].loc[df['% Sector per Workforce'] == df['% Sector per Workforce'].max()].values[0]
    print(f'"% Sector per Workforce":\nMin Sector: {df["% Sector per Workforce"].min():.1f}% in {min_sector}\nMax Sector: {df["% Sector per Workforce"].max():.1f}% in {max_sector}')
    print('-'*20)

++++++++++++++++++++ DF_MANUAL ++++++++++++++++++++
"% Sector per Workforce":
Min Sector: 0.1% in Energy supply
Max Sector: 31.4% in Commercial services
--------------------
++++++++++++++++++++ DF_JOBS ++++++++++++++++++++
"% Sector per Workforce":
Min Sector: 0.1% in Energy supply
Max Sector: 31.4% in Commercial services
--------------------

In [11]:
# Gender and Age info by sentence
for df_name, df in dataframes.items():
    print(f'{"+"*20} {df_name.upper()} {"+"*20}')

    print('='*30)
    print('Gender and Age info at Sentence Level')
    print('-'*30)
    get_df_info(df, ivs_all=ivs_all)
    print('-'*30)

++++++++++++++++++++ DF_MANUAL ++++++++++++++++++++
==============================
Gender and Age info at Sentence Level
------------------------------

DF INFO:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5978 entries, 0 to 5977
Data columns (total 58 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Job ID                                            5978 non-null   object
 1   Job Description spacy_sentencized                 5978 non-null   object
 2   Warmth                                            5978 non-null   int64
 3   Competence                                        5978 non-null   int64
 4   Dutch Requirement                                 5978 non-null   object
 5   English Requirement                               5978 non-null   object
 6   Search Keyword                                    5978 non-null   object
 7   Platform                                          5978 non-null   object
 8   Job Title                                         5978 non-null   object
 9   Company Name                                      5978 non-null   object
 10  Location                                          5978 non-null   object
 11  Industry                                          291 non-null    object
 12  Sector Code                                       5978 non-null   object
 13  Sector                                            5978 non-null   object
 14  Keywords Count                                    5978 non-null   float64
 15  Gender_Female_n                                   5978 non-null   float64
 16  Gender_Female_% per Sector                        5978 non-null   float64
 17  Gender_Female_% per Social Category               5978 non-null   float64
 18  Gender_Female_% per Workforce                     5978 non-null   float64
 19  Gender_Male_n                                     5978 non-null   float64
 20  Gender_Male_% per Sector                          5978 non-null   float64
 21  Gender_Male_% per Social Category                 5978 non-null   float64
 22  Gender_Male_% per Workforce                       5978 non-null   float64
 23  Gender                                            5978 non-null   category
 24  Age_Older_n                                       5978 non-null   float64
 25  Age_Older_% per Sector                            5978 non-null   float64
 26  Age_Older_% per Social Category                   5978 non-null   float64
 27  Age_Older_% per Workforce                         5978 non-null   float64
 28  Age_Younger_n                                     5978 non-null   float64
 29  Age_Younger_% per Sector                          5978 non-null   float64
 30  Age_Younger_% per Social Category                 5978 non-null   float64
 31  Age_Younger_% per Workforce                       5978 non-null   float64
 32  Age                                               5978 non-null   category
 33  Sector_n                                          5978 non-null   float64
 34  % Sector per Workforce                            5978 non-null   float64
 35  Gender_Female                                     5978 non-null   int64
 36  Gender_Male                                       5978 non-null   int64
 37  Gender_Mixed                                      5978 non-null   int64
 38  Age_Mixed                                         5978 non-null   int64
 39  Age_Older                                         5978 non-null   int64
 40  Age_Younger                                       5978 non-null   int64
 41  Gender_Num                                        5978 non-null   int64
 42  Age_Num                                           5978 non-null   int64
 43  Platform_Num                                      5978 non-null   int64
 44  Platform_LinkedIn                                 5978 non-null   int64
 45  Platform_Indeed                                   5978 non-null   int64
 46  Platform_Glassdoor                                5978 non-null   int64
 47  Job Description spacy_sentencized_lower           5978 non-null   object
 48  Job Description spacy_tokenized                   5978 non-null   object
 49  Job Description spacy_sentencized_cleaned         5978 non-null   object
 50  Job Description num_words                         5978 non-null   int64
 51  Job Description num_unique_words                  5978 non-null   int64
 52  Job Description num_chars                         5978 non-null   int64
 53  Job Description num_chars_no_whitespact_and_punt  5978 non-null   int64
 54  Job Description num_punctuations                  5978 non-null   int64
 55  Job Description nltk_tokenized                    5978 non-null   object
 56  Job Description gensim_tokenized                  5978 non-null   object
 57  Job Description bert_tokenized                    5978 non-null   object
dtypes: category(2), float64(19), int64(19), object(18)
memory usage: 2.6+ MB
====================
Gender:
--------------------
Gender Counts:
Mixed Gender    3855
Male            1152
Female           971
Name: Gender, dtype: int64
--------------------
Gender Percentages:
Mixed Gender   64.50
Male           19.30
Female         16.20
Name: Gender, dtype: float64
--------------------
Min Gender value: Female
Max Gender value: Male
--------------------
====================
Gender_Num:
--------------------
Gender_Num Counts:
1    3855
2    1152
0     971
Name: Gender_Num, dtype: int64
--------------------
Gender_Num Percentages:
1   64.50
2   19.30
0   16.20
Name: Gender_Num, dtype: float64
--------------------
Min Gender_Num value: 0
Max Gender_Num value: 2
--------------------
Gender_Num Mean: 1.03
--------------------
Gender_Num Standard Deviation: 0.6
====================
Gender_Female:
--------------------
Gender_Female Counts:
0    5007
1     971
Name: Gender_Female, dtype: int64
--------------------
Gender_Female Percentages:
0   83.80
1   16.20
Name: Gender_Female, dtype: float64
--------------------
Min Gender_Female value: 0
Max Gender_Female value: 1
--------------------
Gender_Female Mean: 0.16
--------------------
Gender_Female Standard Deviation: 0.37
====================
Gender_Mixed:
--------------------
Gender_Mixed Counts:
1    3855
0    2123
Name: Gender_Mixed, dtype: int64
--------------------
Gender_Mixed Percentages:
1   64.50
0   35.50
Name: Gender_Mixed, dtype: float64
--------------------
Min Gender_Mixed value: 0
Max Gender_Mixed value: 1
--------------------
Gender_Mixed Mean: 0.64
--------------------
Gender_Mixed Standard Deviation: 0.48
====================
Gender_Male:
--------------------
Gender_Male Counts:
0    4826
1    1152
Name: Gender_Male, dtype: int64
--------------------
Gender_Male Percentages:
0   80.70
1   19.30
Name: Gender_Male, dtype: float64
--------------------
Min Gender_Male value: 0
Max Gender_Male value: 1
--------------------
Gender_Male Mean: 0.19
--------------------
Gender_Male Standard Deviation: 0.39
====================
Gender_Female_n:
--------------------
Min Gender_Female_n value: 7.0
Max Gender_Female_n value: 3970.0
--------------------
Gender_Female_n Mean: 554.42
--------------------
Gender_Female_n Standard Deviation: 756.03
====================
Gender_Male_n:
--------------------
Min Gender_Male_n value: 21.0
Max Gender_Male_n value: 4510.0
--------------------
Gender_Male_n Mean: 580.59
--------------------
Gender_Male_n Standard Deviation: 685.99
====================
Gender_Female_% per Sector:
--------------------
Min Gender_Female_% per Sector value: 19.444444444444446
Max Gender_Female_% per Sector value: 84.2986741102582
--------------------
Gender_Female_% per Sector Mean: 45.19
--------------------
Gender_Female_% per Sector Standard Deviation: 15.89
====================
Gender_Male_% per Sector:
--------------------
Min Gender_Male_% per Sector value: 15.631542219120725
Max Gender_Male_% per Sector value: 80.55555555555556
--------------------
Gender_Male_% per Sector Mean: 54.79
--------------------
Gender_Male_% per Sector Standard Deviation: 15.91
====================
Age:
--------------------
Age Counts:
Younger      3237
Mixed Age    2059
Older         682
Name: Age, dtype: int64
--------------------
Age Percentages:
Younger     54.10
Mixed Age   34.40
Older       11.40
Name: Age, dtype: float64
--------------------
Min Age value: Older
Max Age value: Younger
--------------------
====================
Age_Num:
--------------------
Age_Num Counts:
2    3237
1    2059
0     682
Name: Age_Num, dtype: int64
--------------------
Age_Num Percentages:
2   54.10
1   34.40
0   11.40
Name: Age_Num, dtype: float64
--------------------
Min Age_Num value: 0
Max Age_Num value: 2
--------------------
Age_Num Mean: 1.43
--------------------
Age_Num Standard Deviation: 0.69
====================
Age_Older:
--------------------
Age_Older Counts:
0    5296
1     682
Name: Age_Older, dtype: int64
--------------------
Age_Older Percentages:
0   88.60
1   11.40
Name: Age_Older, dtype: float64
--------------------
Min Age_Older value: 0
Max Age_Older value: 1
--------------------
Age_Older Mean: 0.11
--------------------
Age_Older Standard Deviation: 0.32
====================
Age_Mixed:
--------------------
Age_Mixed Counts:
0    3919
1    2059
Name: Age_Mixed, dtype: int64
--------------------
Age_Mixed Percentages:
0   65.60
1   34.40
Name: Age_Mixed, dtype: float64
--------------------
Min Age_Mixed value: 0
Max Age_Mixed value: 1
--------------------
Age_Mixed Mean: 0.34
--------------------
Age_Mixed Standard Deviation: 0.48
====================
Age_Younger:
--------------------
Age_Younger Counts:
1    3237
0    2741
Name: Age_Younger, dtype: int64
--------------------
Age_Younger Percentages:
1   54.10
0   45.90
Name: Age_Younger, dtype: float64
--------------------
Min Age_Younger value: 0
Max Age_Younger value: 1
--------------------
Age_Younger Mean: 0.54
--------------------
Age_Younger Standard Deviation: 0.5
====================
Age_Older_n:
--------------------
Min Age_Older_n value: 15.0
Max Age_Older_n value: 2844.0
--------------------
Age_Older_n Mean: 435.57
--------------------
Age_Older_n Standard Deviation: 554.23
====================
Age_Younger_n:
--------------------
Min Age_Younger_n value: 13.0
Max Age_Younger_n value: 5228.0
--------------------
Age_Younger_n Mean: 698.14
--------------------
Age_Younger_n Standard Deviation: 816.35
====================
Age_Older_% per Sector:
--------------------
Min Age_Older_% per Sector value: 18.939393939393938
Max Age_Older_% per Sector value: 58.333333333333336
--------------------
Age_Older_% per Sector Mean: 38.13
--------------------
Age_Older_% per Sector Standard Deviation: 8.74
====================
Age_Younger_% per Sector:
--------------------
Min Age_Younger_% per Sector value: 44.44444444444444
Max Age_Younger_% per Sector value: 80.8080808080808
--------------------
Age_Younger_% per Sector Mean: 61.62
--------------------
Age_Younger_% per Sector Standard Deviation: 8.82


------------------------------
++++++++++++++++++++ DF_JOBS ++++++++++++++++++++
==============================
Gender and Age info at Sentence Level
------------------------------

DF INFO:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 69 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    194820 non-null  object
 1   Platform                                          194820 non-null  object
 2   Job ID                                            194820 non-null  object
 3   Job Title                                         194820 non-null  object
 4   Company Name                                      194816 non-null  object
 5   Location                                          194820 non-null  object
 6   Job Description                                   194820 non-null  object
 7   Rating                                            170120 non-null  float64
 8   Employment Type                                   163313 non-null  object
 9   Company URL                                       192654 non-null  object
 10  Job URL                                           194820 non-null  object
 11  Job Age                                           194820 non-null  object
 12  Job Age Number                                    194820 non-null  object
 13  Collection Date                                   194820 non-null  object
 14  Data Row                                          24535 non-null   float64
 15  Tracking ID                                       24535 non-null   object
 16  Industry                                          56207 non-null   object
 17  Job Date                                          24700 non-null   object
 18  Type of ownership                                 31507 non-null   object
 19  Language                                          194820 non-null  object
 20  Dutch Requirement                                 194820 non-null  object
 21  English Requirement                               194820 non-null  object
 22  Sector Code                                       194820 non-null  object
 23  Sector                                            194820 non-null  object
 24  Keywords Count                                    194820 non-null  float64
 25  Gender_Female_n                                   194820 non-null  float64
 26  Gender_Female_% per Sector                        194820 non-null  float64
 27  Gender_Female_% per Social Category               194820 non-null  float64
 28  Gender_Female_% per Workforce                     194820 non-null  float64
 29  Gender_Male_n                                     194820 non-null  float64
 30  Gender_Male_% per Sector                          194820 non-null  float64
 31  Gender_Male_% per Social Category                 194820 non-null  float64
 32  Gender_Male_% per Workforce                       194820 non-null  float64
 33  Gender                                            194820 non-null  category
 34  Age_Older_n                                       194820 non-null  float64
 35  Age_Older_% per Sector                            194820 non-null  float64
 36  Age_Older_% per Social Category                   194820 non-null  float64
 37  Age_Older_% per Workforce                         194820 non-null  float64
 38  Age_Younger_n                                     194820 non-null  float64
 39  Age_Younger_% per Sector                          194820 non-null  float64
 40  Age_Younger_% per Social Category                 194820 non-null  float64
 41  Age_Younger_% per Workforce                       194820 non-null  float64
 42  Age                                               194820 non-null  category
 43  Sector_n                                          194820 non-null  float64
 44  % Sector per Workforce                            194820 non-null  float64
 45  Gender_Female                                     194820 non-null  int64
 46  Gender_Male                                       194820 non-null  int64
 47  Gender_Mixed                                      194820 non-null  int64
 48  Age_Mixed                                         194820 non-null  int64
 49  Age_Older                                         194820 non-null  int64
 50  Age_Younger                                       194820 non-null  int64
 51  Gender_Num                                        194820 non-null  int64
 52  Age_Num                                           194820 non-null  int64
 53  Platform_Num                                      194820 non-null  int64
 54  Platform_LinkedIn                                 194820 non-null  int64
 55  Platform_Indeed                                   194820 non-null  int64
 56  Platform_Glassdoor                                194820 non-null  int64
 57  Job Description spacy_sentencized                 194820 non-null  object
 58  Job Description spacy_sentencized_lower           194820 non-null  object
 59  Job Description spacy_tokenized                   194820 non-null  object
 60  Job Description spacy_sentencized_cleaned         194820 non-null  object
 61  Job Description num_words                         194820 non-null  int64
 62  Job Description num_unique_words                  194820 non-null  int64
 63  Job Description num_chars                         194820 non-null  int64
 64  Job Description num_chars_no_whitespact_and_punt  194820 non-null  int64
 65  Job Description num_punctuations                  194820 non-null  int64
 66  Job Description nltk_tokenized                    194820 non-null  object
 67  Job Description gensim_tokenized                  194820 non-null  object
 68  Job Description bert_tokenized                    194820 non-null  object
dtypes: category(2), float64(21), int64(17), object(29)
memory usage: 100.0+ MB
====================
Gender:
--------------------
Gender Counts:
Mixed Gender    74367
Male            64086
Female          56367
Name: Gender, dtype: int64
--------------------
Gender Percentages:
Mixed Gender   38.20
Male           32.90
Female         28.90
Name: Gender, dtype: float64
--------------------
Min Gender value: Female
Max Gender value: Male
--------------------
====================
Gender_Num:
--------------------
Gender_Num Counts:
1    74367
2    64086
0    56367
Name: Gender_Num, dtype: int64
--------------------
Gender_Num Percentages:
1   38.20
2   32.90
0   28.90
Name: Gender_Num, dtype: float64
--------------------
Min Gender_Num value: 0
Max Gender_Num value: 2
--------------------
Gender_Num Mean: 1.04
--------------------
Gender_Num Standard Deviation: 0.79
====================
Gender_Female:
--------------------
Gender_Female Counts:
0    138453
1     56367
Name: Gender_Female, dtype: int64
--------------------
Gender_Female Percentages:
0   71.10
1   28.90
Name: Gender_Female, dtype: float64
--------------------
Min Gender_Female value: 0
Max Gender_Female value: 1
--------------------
Gender_Female Mean: 0.29
--------------------
Gender_Female Standard Deviation: 0.45
====================
Gender_Mixed:
--------------------
Gender_Mixed Counts:
0    120453
1     74367
Name: Gender_Mixed, dtype: int64
--------------------
Gender_Mixed Percentages:
0   61.80
1   38.20
Name: Gender_Mixed, dtype: float64
--------------------
Min Gender_Mixed value: 0
Max Gender_Mixed value: 1
--------------------
Gender_Mixed Mean: 0.38
--------------------
Gender_Mixed Standard Deviation: 0.49
====================
Gender_Male:
--------------------
Gender_Male Counts:
0    130734
1     64086
Name: Gender_Male, dtype: int64
--------------------
Gender_Male Percentages:
0   67.10
1   32.90
Name: Gender_Male, dtype: float64
--------------------
Min Gender_Male value: 0
Max Gender_Male value: 1
--------------------
Gender_Male Mean: 0.33
--------------------
Gender_Male Standard Deviation: 0.47
====================
Gender_Female_n:
--------------------
Min Gender_Female_n value: 7.0
Max Gender_Female_n value: 3970.0
--------------------
Gender_Female_n Mean: 704.07
--------------------
Gender_Female_n Standard Deviation: 1071.93
====================
Gender_Male_n:
--------------------
Min Gender_Male_n value: 21.0
Max Gender_Male_n value: 4510.0
--------------------
Gender_Male_n Mean: 703.89
--------------------
Gender_Male_n Standard Deviation: 1220.64
====================
Gender_Female_% per Sector:
--------------------
Min Gender_Female_% per Sector value: 12.5
Max Gender_Female_% per Sector value: 84.2986741102582
--------------------
Gender_Female_% per Sector Mean: 46.93
--------------------
Gender_Female_% per Sector Standard Deviation: 19.99
====================
Gender_Male_% per Sector:
--------------------
Min Gender_Male_% per Sector value: 15.631542219120725

In [12]:
for df_name, df in dataframes.items():
    print(f'{"+"*20} {df_name.upper()} {"+"*20}')

    for iv_perc in ivs_perc:
        min_sector = df['Sector'].loc[df[iv_perc] == df[iv_perc].min()].values[0]
        max_sector = df['Sector'].loc[df[iv_perc] == df[iv_perc].max()].values[0]
        print(f'{iv_perc}:\nMin Sector: {df[iv_perc].min():.1f}% in {min_sector}\nMax Sector: {df[iv_perc].max():.1f}% in {max_sector}')
        print('-'*20)

++++++++++++++++++++ DF_MANUAL ++++++++++++++++++++
Gender_Female_% per Sector:
Min Sector: 19.4% in Water supply and waste management
Max Sector: 84.3% in Health and social work activities
--------------------
Gender_Male_% per Sector:
Min Sector: 15.6% in Health and social work activities
Max Sector: 80.6% in Water supply and waste management
--------------------
Age_Older_% per Sector:
Min Sector: 18.9% in Accommodation and food serving
Max Sector: 58.3% in Water supply and waste management
--------------------
Age_Younger_% per Sector:
Min Sector: 44.4% in Water supply and waste management
Max Sector: 80.8% in Accommodation and food serving
--------------------
++++++++++++++++++++ DF_JOBS ++++++++++++++++++++
Gender_Female_% per Sector:
Min Sector: 12.5% in Construction
Max Sector: 84.3% in Health and social work activities
--------------------
Gender_Male_% per Sector:
Min Sector: 15.6% in Health and social work activities
Max Sector: 87.5% in Construction
--------------------
Age_Older_% per Sector:
Min Sector: 18.9% in Accommodation and food serving
Max Sector: 58.3% in Water supply and waste management
--------------------
Age_Younger_% per Sector:
Min Sector: 44.4% in Water supply and waste management
Max Sector: 80.8% in Accommodation and food serving
--------------------

In [13]:
# Gender and Age info by job ad
for df_name, df in dataframes.items():
    print(f'{"+"*20} {df_name.upper()} {"+"*20}')

    print('='*30)
    print('Gender and Age info at Job Advertisement Level')
    print('-'*30)
    get_df_info(df.groupby(['Job ID']).first(), ivs_all=ivs_all)
    print('-'*30)

++++++++++++++++++++ DF_MANUAL ++++++++++++++++++++
==============================
Gender and Age info at Job Advertisement Level
------------------------------

DF INFO:

<class 'pandas.core.frame.DataFrame'>
Index: 117 entries, 3768944208 to pj_a4ac3e531abef752
Data columns (total 57 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Job Description spacy_sentencized                 117 non-null    object
 1   Warmth                                            117 non-null    int64
 2   Competence                                        117 non-null    int64
 3   Dutch Requirement                                 117 non-null    object
 4   English Requirement                               117 non-null    object
 5   Search Keyword                                    117 non-null    object
 6   Platform                                          117 non-null    object
 7   Job Title                                         117 non-null    object
 8   Company Name                                      117 non-null    object
 9   Location                                          117 non-null    object
 10  Industry                                          5 non-null      object
 11  Sector Code                                       117 non-null    object
 12  Sector                                            117 non-null    object
 13  Keywords Count                                    117 non-null    float64
 14  Gender_Female_n                                   117 non-null    float64
 15  Gender_Female_% per Sector                        117 non-null    float64
 16  Gender_Female_% per Social Category               117 non-null    float64
 17  Gender_Female_% per Workforce                     117 non-null    float64
 18  Gender_Male_n                                     117 non-null    float64
 19  Gender_Male_% per Sector                          117 non-null    float64
 20  Gender_Male_% per Social Category                 117 non-null    float64
 21  Gender_Male_% per Workforce                       117 non-null    float64
 22  Gender                                            117 non-null    category
 23  Age_Older_n                                       117 non-null    float64
 24  Age_Older_% per Sector                            117 non-null    float64
 25  Age_Older_% per Social Category                   117 non-null    float64
 26  Age_Older_% per Workforce                         117 non-null    float64
 27  Age_Younger_n                                     117 non-null    float64
 28  Age_Younger_% per Sector                          117 non-null    float64
 29  Age_Younger_% per Social Category                 117 non-null    float64
 30  Age_Younger_% per Workforce                       117 non-null    float64
 31  Age                                               117 non-null    category
 32  Sector_n                                          117 non-null    float64
 33  % Sector per Workforce                            117 non-null    float64
 34  Gender_Female                                     117 non-null    int64
 35  Gender_Male                                       117 non-null    int64
 36  Gender_Mixed                                      117 non-null    int64
 37  Age_Mixed                                         117 non-null    int64
 38  Age_Older                                         117 non-null    int64
 39  Age_Younger                                       117 non-null    int64
 40  Gender_Num                                        117 non-null    int64
 41  Age_Num                                           117 non-null    int64
 42  Platform_Num                                      117 non-null    int64
 43  Platform_LinkedIn                                 117 non-null    int64
 44  Platform_Indeed                                   117 non-null    int64
 45  Platform_Glassdoor                                117 non-null    int64
 46  Job Description spacy_sentencized_lower           117 non-null    object
 47  Job Description spacy_tokenized                   117 non-null    object
 48  Job Description spacy_sentencized_cleaned         117 non-null    object
 49  Job Description num_words                         117 non-null    int64
 50  Job Description num_unique_words                  117 non-null    int64
 51  Job Description num_chars                         117 non-null    int64
 52  Job Description num_chars_no_whitespact_and_punt  117 non-null    int64
 53  Job Description num_punctuations                  117 non-null    int64
 54  Job Description nltk_tokenized                    117 non-null    object
 55  Job Description gensim_tokenized                  117 non-null    object
 56  Job Description bert_tokenized                    117 non-null    object
dtypes: category(2), float64(19), int64(19), object(17)
memory usage: 51.7+ KB
====================
Gender:
--------------------
Gender Counts:
Mixed Gender    72
Male            27
Female          18
Name: Gender, dtype: int64
--------------------
Gender Percentages:
Mixed Gender   61.50
Male           23.10
Female         15.40
Name: Gender, dtype: float64
--------------------
Min Gender value: Female
Max Gender value: Male
--------------------
====================
Gender_Num:
--------------------
Gender_Num Counts:
1    72
2    27
0    18
Name: Gender_Num, dtype: int64
--------------------
Gender_Num Percentages:
1   61.50
2   23.10
0   15.40
Name: Gender_Num, dtype: float64
--------------------
Min Gender_Num value: 0
Max Gender_Num value: 2
--------------------
Gender_Num Mean: 1.08
--------------------
Gender_Num Standard Deviation: 0.62
====================
Gender_Female:
--------------------
Gender_Female Counts:
0    99
1    18
Name: Gender_Female, dtype: int64
--------------------
Gender_Female Percentages:
0   84.60
1   15.40
Name: Gender_Female, dtype: float64
--------------------
Min Gender_Female value: 0
Max Gender_Female value: 1
--------------------
Gender_Female Mean: 0.15
--------------------
Gender_Female Standard Deviation: 0.36
====================
Gender_Mixed:
--------------------
Gender_Mixed Counts:
1    72
0    45
Name: Gender_Mixed, dtype: int64
--------------------
Gender_Mixed Percentages:
1   61.50
0   38.50
Name: Gender_Mixed, dtype: float64
--------------------
Min Gender_Mixed value: 0
Max Gender_Mixed value: 1
--------------------
Gender_Mixed Mean: 0.62
--------------------
Gender_Mixed Standard Deviation: 0.49
====================
Gender_Male:
--------------------
Gender_Male Counts:
0    90
1    27
Name: Gender_Male, dtype: int64
--------------------
Gender_Male Percentages:
0   76.90
1   23.10
Name: Gender_Male, dtype: float64
--------------------
Min Gender_Male value: 0
Max Gender_Male value: 1
--------------------
Gender_Male Mean: 0.23
--------------------
Gender_Male Standard Deviation: 0.42
====================
Gender_Female_n:
--------------------
Min Gender_Female_n value: 7.0
Max Gender_Female_n value: 3970.0
--------------------
Gender_Female_n Mean: 555.51
--------------------
Gender_Female_n Standard Deviation: 785.27
====================
Gender_Male_n:
--------------------
Min Gender_Male_n value: 21.0
Max Gender_Male_n value: 4510.0
--------------------
Gender_Male_n Mean: 586.63
--------------------
Gender_Male_n Standard Deviation: 728.09
====================
Gender_Female_% per Sector:
--------------------
Min Gender_Female_% per Sector value: 19.444444444444446
Max Gender_Female_% per Sector value: 84.2986741102582
--------------------
Gender_Female_% per Sector Mean: 44.39
--------------------
Gender_Female_% per Sector Standard Deviation: 16.17
====================
Gender_Male_% per Sector:
--------------------
Min Gender_Male_% per Sector value: 15.631542219120725
Max Gender_Male_% per Sector value: 80.55555555555556
--------------------
Gender_Male_% per Sector Mean: 55.59
--------------------
Gender_Male_% per Sector Standard Deviation: 16.19
====================
Age:
--------------------
Age Counts:
Younger      60
Mixed Age    42
Older        15
Name: Age, dtype: int64
--------------------
Age Percentages:
Younger     51.30
Mixed Age   35.90
Older       12.80
Name: Age, dtype: float64
--------------------
Min Age value: Older
Max Age value: Younger
--------------------
====================
Age_Num:
--------------------
Age_Num Counts:
2    60
1    42
0    15
Name: Age_Num, dtype: int64
--------------------
Age_Num Percentages:
2   51.30
1   35.90
0   12.80
Name: Age_Num, dtype: float64
--------------------
Min Age_Num value: 0
Max Age_Num value: 2
--------------------
Age_Num Mean: 1.38
--------------------
Age_Num Standard Deviation: 0.71
====================
Age_Older:
--------------------
Age_Older Counts:
0    102
1     15
Name: Age_Older, dtype: int64
--------------------
Age_Older Percentages:
0   87.20
1   12.80
Name: Age_Older, dtype: float64
--------------------
Min Age_Older value: 0
Max Age_Older value: 1
--------------------
Age_Older Mean: 0.13
--------------------
Age_Older Standard Deviation: 0.34
====================
Age_Mixed:
--------------------
Age_Mixed Counts:
0    75
1    42
Name: Age_Mixed, dtype: int64
--------------------
Age_Mixed Percentages:
0   64.10
1   35.90
Name: Age_Mixed, dtype: float64
--------------------
Min Age_Mixed value: 0
Max Age_Mixed value: 1
--------------------
Age_Mixed Mean: 0.36
--------------------
Age_Mixed Standard Deviation: 0.48
====================
Age_Younger:
--------------------
Age_Younger Counts:
1    60
0    57
Name: Age_Younger, dtype: int64
--------------------
Age_Younger Percentages:
1   51.30
0   48.70
Name: Age_Younger, dtype: float64
--------------------
Min Age_Younger value: 0
Max Age_Younger value: 1
--------------------
Age_Younger Mean: 0.51
--------------------
Age_Younger Standard Deviation: 0.5
====================
Age_Older_n:
--------------------
Min Age_Older_n value: 15.0
Max Age_Older_n value: 2844.0
--------------------
Age_Older_n Mean: 440.05
--------------------
Age_Older_n Standard Deviation: 576.53
====================
Age_Younger_n:
--------------------
Min Age_Younger_n value: 13.0
Max Age_Younger_n value: 5228.0
--------------------
Age_Younger_n Mean: 700.86
--------------------
Age_Younger_n Standard Deviation: 868.11
====================
Age_Older_% per Sector:
--------------------
Min Age_Older_% per Sector value: 18.939393939393938
Max Age_Older_% per Sector value: 58.333333333333336
--------------------
Age_Older_% per Sector Mean: 38.68
--------------------
Age_Older_% per Sector Standard Deviation: 9.05
====================
Age_Younger_% per Sector:
--------------------
Min Age_Younger_% per Sector value: 44.44444444444444
Max Age_Younger_% per Sector value: 80.8080808080808
--------------------
Age_Younger_% per Sector Mean: 61.05
--------------------
Age_Younger_% per Sector Standard Deviation: 9.18


------------------------------
++++++++++++++++++++ DF_JOBS ++++++++++++++++++++
==============================
Gender and Age info at Job Advertisement Level
------------------------------

DF INFO:

<class 'pandas.core.frame.DataFrame'>
Index: 16172 entries, 470658183 to pj_fff1ad3ab60d874b
Data columns (total 68 columns):
 #   Column                                            Non-Null Count  Dtype
---  ------                                            --------------  -----
 0   Search Keyword                                    16172 non-null  object
 1   Platform                                          16172 non-null  object
 2   Job Title                                         16172 non-null  object
 3   Company Name                                      16170 non-null  object
 4   Location                                          16172 non-null  object
 5   Job Description                                   16172 non-null  object
 6   Rating                                            3694 non-null   float64
 7   Employment Type                                   15600 non-null  object
 8   Company URL                                       14734 non-null  object
 9   Job URL                                           16172 non-null  object
 10  Job Age                                           16172 non-null  object
 11  Job Age Number                                    16172 non-null  object
 12  Collection Date                                   16172 non-null  object
 13  Data Row                                          12475 non-null  float64
 14  Tracking ID                                       12475 non-null  object
 15  Industry                                          13050 non-null  object
 16  Job Date                                          12478 non-null  object
 17  Type of ownership                                 572 non-null    object
 18  Language                                          16172 non-null  object
 19  Dutch Requirement                                 16172 non-null  object
 20  English Requirement                               16172 non-null  object
 21  Sector Code                                       16172 non-null  object
 22  Sector                                            16172 non-null  object
 23  Keywords Count                                    16172 non-null  float64
 24  Gender_Female_n                                   16172 non-null  float64
 25  Gender_Female_% per Sector                        16172 non-null  float64
 26  Gender_Female_% per Social Category               16172 non-null  float64
 27  Gender_Female_% per Workforce                     16172 non-null  float64
 28  Gender_Male_n                                     16172 non-null  float64
 29  Gender_Male_% per Sector                          16172 non-null  float64
 30  Gender_Male_% per Social Category                 16172 non-null  float64
 31  Gender_Male_% per Workforce                       16172 non-null  float64
 32  Gender                                            16172 non-null  category
 33  Age_Older_n                                       16172 non-null  float64
 34  Age_Older_% per Sector                            16172 non-null  float64
 35  Age_Older_% per Social Category                   16172 non-null  float64
 36  Age_Older_% per Workforce                         16172 non-null  float64
 37  Age_Younger_n                                     16172 non-null  float64
 38  Age_Younger_% per Sector                          16172 non-null  float64
 39  Age_Younger_% per Social Category                 16172 non-null  float64
 40  Age_Younger_% per Workforce                       16172 non-null  float64
 41  Age                                               16172 non-null  category
 42  Sector_n                                          16172 non-null  float64
 43  % Sector per Workforce                            16172 non-null  float64
 44  Gender_Female                                     16172 non-null  int64
 45  Gender_Male                                       16172 non-null  int64
 46  Gender_Mixed                                      16172 non-null  int64
 47  Age_Mixed                                         16172 non-null  int64
 48  Age_Older                                         16172 non-null  int64
 49  Age_Younger                                       16172 non-null  int64
 50  Gender_Num                                        16172 non-null  int64
 51  Age_Num                                           16172 non-null  int64
 52  Platform_Num                                      16172 non-null  int64
 53  Platform_LinkedIn                                 16172 non-null  int64
 54  Platform_Indeed                                   16172 non-null  int64
 55  Platform_Glassdoor                                16172 non-null  int64
 56  Job Description spacy_sentencized                 16172 non-null  object
 57  Job Description spacy_sentencized_lower           16172 non-null  object
 58  Job Description spacy_tokenized                   16172 non-null  object
 59  Job Description spacy_sentencized_cleaned         16172 non-null  object
 60  Job Description num_words                         16172 non-null  int64
 61  Job Description num_unique_words                  16172 non-null  int64
 62  Job Description num_chars                         16172 non-null  int64
 63  Job Description num_chars_no_whitespact_and_punt  16172 non-null  int64
 64  Job Description num_punctuations                  16172 non-null  int64
 65  Job Description nltk_tokenized                    16172 non-null  object
 66  Job Description gensim_tokenized                  16172 non-null  object
 67  Job Description bert_tokenized                    16172 non-null  object
dtypes: category(2), float64(21), int64(17), object(28)
memory usage: 8.3+ MB
====================
Gender:
--------------------
Gender Counts:
Male            6369
Mixed Gender    6322
Female          3481
Name: Gender, dtype: int64
--------------------
Gender Percentages:
Male           39.40
Mixed Gender   39.10
Female         21.50
Name: Gender, dtype: float64
--------------------
Min Gender value: Female
Max Gender value: Male
--------------------
====================
Gender_Num:
--------------------
Gender_Num Counts:
2    6369
1    6322
0    3481
Name: Gender_Num, dtype: int64
--------------------
Gender_Num Percentages:
2   39.40
1   39.10
0   21.50
Name: Gender_Num, dtype: float64
--------------------
Min Gender_Num value: 0
Max Gender_Num value: 2
--------------------
Gender_Num Mean: 1.18
--------------------
Gender_Num Standard Deviation: 0.76
====================
Gender_Female:
--------------------
Gender_Female Counts:
0    12691
1     3481
Name: Gender_Female, dtype: int64
--------------------
Gender_Female Percentages:
0   78.50
1   21.50
Name: Gender_Female, dtype: float64
--------------------
Min Gender_Female value: 0
Max Gender_Female value: 1
--------------------
Gender_Female Mean: 0.22
--------------------
Gender_Female Standard Deviation: 0.41
====================
Gender_Mixed:
--------------------
Gender_Mixed Counts:
0    9850
1    6322
Name: Gender_Mixed, dtype: int64
--------------------
Gender_Mixed Percentages:
0   60.90
1   39.10
Name: Gender_Mixed, dtype: float64
--------------------
Min Gender_Mixed value: 0
Max Gender_Mixed value: 1
--------------------
Gender_Mixed Mean: 0.39
--------------------
Gender_Mixed Standard Deviation: 0.49
====================
Gender_Male:
--------------------
Gender_Male Counts:
0    9803
1    6369
Name: Gender_Male, dtype: int64
--------------------
Gender_Male Percentages:
0   60.60
1   39.40
Name: Gender_Male, dtype: float64
--------------------
Min Gender_Male value: 0
Max Gender_Male value: 1
--------------------
Gender_Male Mean: 0.39
--------------------
Gender_Male Standard Deviation: 0.49
====================
Gender_Female_n:
--------------------
Min Gender_Female_n value: 7.0
Max Gender_Female_n value: 3970.0
--------------------
Gender_Female_n Mean: 642.55
--------------------
Gender_Female_n Standard Deviation: 1050.89
====================
Gender_Male_n:
--------------------
Min Gender_Male_n value: 21.0
Max Gender_Male_n value: 4510.0
--------------------
Gender_Male_n Mean: 767.1
--------------------
Gender_Male_n Standard Deviation: 1315.5
====================
Gender_Female_% per Sector:
--------------------
Min Gender_Female_% per Sector value: 12.5
Max Gender_Female_% per Sector value: 84.2986741102582
--------------------
Gender_Female_% per Sector Mean: 43.82
--------------------
Gender_Female_% per Sector Standard Deviation: 18.86
====================
Gender_Male_% per Sector:
--------------------
Min Gender_Male_% per Sector value: 15.631542219120725
Max Gender_Male_% per Sector value: 87.5
--------------------
Gender_Male_% per Sector Mean: 56.13
--------------------
Gender_Male_% per Sector Standard Deviation: 18.89
====================
Age:
--------------------
Age Counts:

In [ ]:
# Warmth and Competence percentages info by sentence
for df_name, df in dataframes.items():
    print(f'{"+"*20} {df_name.upper()} {"+"*20}')

    if df_name == 'df_jobs':
        dvs = dvs_prob

    print('='*30)
    print('Warmth and Competence info at Sentence Level')
    print('-'*30)
    get_df_info(df, ivs_all=dvs)
    print('-'*30)

In [ ]:
# Warmth and Competence info by job ad
for df_name, df in dataframes.items():
    print(f'{"+"*20} {df_name.upper()} {"+"*20}')

    if df_name == 'df_jobs':
        dvs = dvs_prob

    print('='*30)
    print('Warmth and Competence info at Job Advertisement Level')
    print('-'*30)
    get_df_info(df.groupby(['Job ID']).first(), ivs_all=dvs)
    print('-'*30)

In [ ]:
# Control variables info by sentence
for df_name, df in dataframes.items():
    print(f'{"+"*20} {df_name.upper()} {"+"*20}')

    print('='*30)
    print('Control varibales info at Sentence Level')
    print('-'*30)
    get_df_info(df, ivs_all = controls)
    print('-'*30)

In [ ]:
# Control variables info by job ad
for df_name, df in dataframes.items():
    print(f'{"+"*20} {df_name.upper()} {"+"*20}')

    print('='*30)
    print('Control varibales info at Job Advertisement Level')
    print('-'*30)
    get_df_info(df.groupby(['Job ID']).first(), ivs_all = controls)
    print('-'*30)

In [ ]:
# Imbalance Ratio
for df_name, df in dataframes.items():
    print(f'{"+"*20} {df_name.upper()} {"+"*20}')

    warmth_imbalance_ratio = df['Warmth'].loc[
        df['Warmth'] == 1].count()/df['Warmth'].loc[df['Warmth'] == 0
    ].count()
    competence_imbalance_ratio = df['Competence'].loc[
        df['Competence'] == 1].count()/df['Competence'].loc[df['Competence'] == 0
    ].count()

    all_imbalance_ratio_dict = {
        'Warmth': warmth_imbalance_ratio,
        'Competence': competence_imbalance_ratio
    }

    print('='*20)
    print('Imabalance Ratios')
    print('-'*10)
    print(f'Warmth IR: {warmth_imbalance_ratio:.2f}')
    print(f'Competence IR: {competence_imbalance_ratio:.2f}')
    print('='*20)

In [ ]:
# Ploting Warmth and Competence
for df_name, df in dataframes.items():
    print(f'{"+"*20} {df_name.upper()} {"+"*20}')

    dfs_to_transpose = [
        df['Warmth'].value_counts(normalize=True).mul(100).round(2).astype(float).to_frame().T,
        df['Competence'].value_counts(normalize=True).mul(100).round(2).astype(float).to_frame().T,
    ]
    if df_name == 'df_jobs':
        dfs_to_transpose.append(
            df['Warmth_Probability'].value_counts(normalize=True).mul(100).round(2).astype(float).to_frame().T,
        )
        dfs_to_transpose.append(
            df['Competence_Probability'].value_counts(normalize=True).mul(100).round(2).astype(float).to_frame().T,
        )

    df_warm_comp_transposed = pd.concat(dfs_to_transpose)

    fig, ax = plt.subplots()
    ax.set_title('Training Dataset: Warmth and Competence Sentence Percentages')
    ax.set_xlabel('Manually Annotated Sentencence Warmth and Competence Percentage from Total')

    df_warm_comp_transposed.plot(
        kind='barh', legend=True, stacked=True, ax=ax, color=['C5', 'C0'],
    )
    ax.legend(['Absent', 'Present'])

    for container in ax.containers:
        labels = [f'{width:.1f}%' for v in container if float(width:= v.get_width())]
        ax.bar_label(container, labels=labels, label_type='center', color='white', weight='bold')
        ax.set_xlabel('% Job Ad Sentences')

    for i, tick_label in enumerate(ax.get_ymajorticklabels()):
        ax.annotate(
            f'IR for {tick_label.get_text()} = {all_imbalance_ratio_dict[tick_label.get_text()]:.2f}',
            xy=(48, 0.3+i), ha='center', va='center'
        )

    for image_save_format in ['eps', 'png', 'svg']:
        fig.savefig(
            f'{plot_save_path}{df_name} Manually Annotated Warmth and Competence Sentences.{image_save_format}',
            format=image_save_format, dpi=3000, bbox_inches='tight'
        )

In [ ]:
# Ploting Gender and Age
for df_name, df in dataframes.items():
    print(f'{"+"*20} {df_name.upper()} {"+"*20}')

    df_gender_transposed = df['Gender'].value_counts(normalize=True).mul(100).round(2).astype(float).to_frame().T
    df_age_transposed = df['Age'].value_counts(normalize=True).mul(100).round(2).astype(float).to_frame().T

    fig, axs = plt.subplots(1, 2)
    fig.suptitle('Training Dataset: Gender and Age Sentence Percentages')

    df_gender_transposed.plot(
        kind='bar', legend=True, stacked=True, ax=axs[0], color=['C2', 'C0', 'C5']
    )
    df_age_transposed.plot(
        kind='bar', legend=True, stacked=True, ax=axs[1], color=['C0', 'C2', 'C5']
    )

    for ax in axs:
        for container in ax.containers:
            labels = [f'{height:.1f}%' for v in container if float(height:= v.get_height())]
            ax.bar_label(container, labels=labels, label_type='center', color='white', weight='bold')
            ax.set_ylabel('% Job Ad Sentences')
            handles, labels = ax.get_legend_handles_labels()
            order = [2, 1, 0] if 'Older' in labels else [2, 0, 1]
            ax.legend([handles[idx] for idx in order],[labels[idx] for idx in order], loc='upper right', fontsize=8, )

    for image_save_format in ['eps', 'png', 'svg']:
        fig.savefig(
            f'{plot_save_path}{df_name} Manually Annotated Gender and Age Sentences.{image_save_format}',
            format=image_save_format, dpi=3000, bbox_inches='tight'
        )

In [ ]:
# Make stacked barplots with percentages
for df_name, df in dataframes.items():
    print(f'{"+"*20} {df_name.upper()} {"+"*20}')

    for iv in tqdm.tqdm(['Gender', 'Age', 'Sector']):
        fig, ax = plt.subplots()
        fig.suptitle(f'Training Dataset: Warmth and Competence Sentence Percentages per {iv}')

        vars_list = [iv, *dvs]
        df_pivot = df[
            vars_list
        ].pivot_table(
            index=iv, values=dvs, fill_value=0, aggfunc=lambda x: (100*x.sum())/len(df)
        )

        df_pivot.sort_values(by=iv, ascending=False).plot(kind='barh', legend=True, stacked=True, ax=ax, color=['C0', 'C5'])

        ax.legend(dvs)

        for container in ax.containers:
            labels = [f'{width:.1f}%' for v in container if float(width:= v.get_width())]
            if iv != 'Sector':
                ax.bar_label(container, labels=labels, label_type='center', color='white', fontsize=8)
            ax.set_xlabel('% Job Ad Sentences')
            ax.set_ylabel(iv)
            ax.legend(loc='upper right', fontsize=8)

        for image_save_format in ['eps', 'png', 'svg']:
            fig.savefig(
                f'{plot_save_path}{df_name} Barplot - Manually Annotated {iv} x {dvs[0]} and {dvs[1]} Sentences.{image_save_format}',
                format=image_save_format, dpi=3000, bbox_inches='tight'
            )

In [ ]:
def make_2ax_lineplot(ivs, dvs):
    line_plot = sns.lineplot(
        data=df.groupby(ivs[0])[dvs[0]].agg('mean').astype(float), marker='o', legend='full', ax=axs[0], color='C5'
    )
    line_plot = sns.lineplot(
        data=df.groupby(ivs[0])[dvs[1]].agg('mean').astype(float), marker='o', legend='full', ax=axs[0], color='C0'
    )
    line_plot = sns.lineplot(
        data=df.groupby(ivs[1])[dvs[0]].agg('mean').astype(float), marker='o', legend='full', ax=axs[1], color='C5'
    )
    line_plot = sns.lineplot(
        data=df.groupby(ivs[1])[dvs[1]].agg('mean').astype(float), marker='o', legend='full', ax=axs[1], color='C0'
    )

    fig.legend(dvs, fontsize=10)

    return line_plot

In [ ]:
# Make line plots 2 ax
for df_name, df in dataframes.items():
    print(f'{"+"*20} {df_name.upper()} {"+"*20}')

    if df_name == 'df_jobs':
        dvs = dvs_prob

    fig, axs = plt.subplots(1, 2)
    fig.suptitle('Warmth and Competence x Gender and Age')

    line_plot = make_2ax_lineplot(ivs, dvs)

    # line_plot = sns.lineplot(
    #     data=df.groupby('Gender')['Warmth'].agg('mean').astype(float), marker='o', legend='full', ax=axs[0], color='C5'
    # )
    # line_plot = sns.lineplot(
    #     data=df.groupby('Gender')['Competence'].agg('mean').astype(float), marker='o', legend='full', ax=axs[0], color='C0'
    # )
    # line_plot = sns.lineplot(
    #     data=df.groupby('Age')['Warmth'].agg('mean').astype(float), marker='o', legend='full', ax=axs[1], color='C5'
    # )
    # line_plot = sns.lineplot(
    #     data=df.groupby('Age')['Competence'].agg('mean').astype(float), marker='o', legend='full', ax=axs[1], color='C0'
    # )

    # fig.legend(dvs, fontsize=10)

    fig = line_plot.get_figure()

    for image_save_format in ['eps', 'png', 'svg']:
        fig.savefig(
            f'{plot_save_path}{df_name} Line Plot (2 ax) - Manually Annotated Sentences.{image_save_format}',
            format=image_save_format, dpi=3000, bbox_inches='tight'
        )
    plt.show()
    plt.clf()
    plt.cla()
    plt.close()

In [ ]:
def make_4ax_lineplot(ivs, dvs):
    line_plot = sns.lineplot(
        data=df.groupby(ivs[0])['Warmth'].agg('mean').astype(float), marker='o', legend='full', ax=axs[0, 0], color='C5'
    )
    line_plot = sns.lineplot(
        data=df.groupby(ivs[0])['Competence'].agg('mean').astype(float), marker='o', legend='full', ax=axs[0, 1], color='C0'
    )
    line_plot = sns.lineplot(
        data=df.groupby(ivs[1])['Warmth'].agg('mean').astype(float), marker='o', legend='full', ax=axs[1, 0], color='C5'
    )
    line_plot = sns.lineplot(
        data=df.groupby(ivs[1])['Competence'].agg('mean').astype(float), marker='o', legend='full', ax=axs[1, 1], color='C0'
    )

    fig.legend(dvs, fontsize=10)

    return line_plot

In [ ]:
# Make line plots 4 ax
for df_name, df in dataframes.items():
    print(f'{"+"*20} {df_name.upper()} {"+"*20}')

    if df_name == 'df_jobs':
        dvs = dvs_prob

    fig, axs = plt.subplots(2, 2)
    fig.suptitle('Warmth and Competence x Gender and Age')

    line_plot = make_4ax_lineplot(ivs, dvs)

    # line_plot = sns.lineplot(
    #     data=df.groupby('Gender')['Warmth'].agg('mean').astype(float), marker='o', legend='full', ax=axs[0, 0], color='C5'
    # )
    # line_plot = sns.lineplot(
    #     data=df.groupby('Gender')['Competence'].agg('mean').astype(float), marker='o', legend='full', ax=axs[0, 1], color='C0'
    # )
    # line_plot = sns.lineplot(
    #     data=df.groupby('Age')['Warmth'].agg('mean').astype(float), marker='o', legend='full', ax=axs[1, 0], color='C5'
    # )
    # line_plot = sns.lineplot(
    #     data=df.groupby('Age')['Competence'].agg('mean').astype(float), marker='o', legend='full', ax=axs[1, 1], color='C0'
    # )

    # fig.legend(dvs, fontsize=10)

    fig = line_plot.get_figure()

    for image_save_format in ['eps', 'png', 'svg']:
        fig.savefig(
            f'{plot_save_path}{df_name} Line Plot (4 ax) - Manually Annotated Sentences.{image_save_format}',
            format=image_save_format, dpi=3000, bbox_inches='tight'
        )
    plt.show()
    plt.clf()
    plt.cla()
    plt.close()

In [ ]:
def make_violin_plot(ivs, dvs):
    violin_plot = sns.violinplot(
        data=df, x='Gender', y='Warmth', palette=['C5', 'C2', 'C0'], inner='quartile', ax=axs[0, 0]
    )
    violin_plot = sns.violinplot(
        data=df, x='Gender', y='Competence', palette=['C5', 'C2', 'C0'], inner='quartile', ax=axs[0, 1]
    )
    violin_plot = sns.violinplot(
        data=df, x='Age', y='Warmth', palette=['C5', 'C2', 'C0'], inner='quartile', ax=axs[1, 0]
    )
    violin_plot = sns.violinplot(
        data=df, x='Age', y='Competence', palette=['C5', 'C2', 'C0'], inner='quartile', ax=axs[1, 1]
    )

    return violin_plot

In [ ]:
# Make violin plots
for df_name, df in dataframes.items():
    print(f'{"+"*20} {df_name.upper()} {"+"*20}')

    if df_name == 'df_jobs':
        dvs = dvs_prob

    fig, axs = plt.subplots(2, 2)
    fig.suptitle('Distribution of Warmth and Competence Scores')

    violin_plot = make_violin_plot(ivs, dvs)

    # violin_plot = sns.violinplot(
    #     data=df, x='Gender', y='Warmth', palette=['C5', 'C0'], inner='quartile', color='C0', ax=axs[0, 0]
    # )
    # violin_plot = sns.violinplot(
    #     data=df, x='Gender', y='Competence', palette=['C5', 'C0'], inner='quartile', color='C0', ax=axs[0, 1]
    # )
    # violin_plot = sns.violinplot(
    #     data=df, x='Age', y='Warmth', palette=['C5', 'C0'], inner='quartile', color='C0', ax=axs[1, 0]
    # )
    # violin_plot = sns.violinplot(
    #     data=df, x='Age', y='Competence', palette=['C5', 'C0'], inner='quartile', color='C0', ax=axs[1, 1]
    # )

    fig = violin_plot.get_figure()

    for image_save_format in ['eps', 'png', 'svg']:
        fig.savefig(
                f'{plot_save_path}{df_name} Violin Plot - Manually Annotated Sentences.{image_save_format}',
                format=image_save_format, dpi=3000, bbox_inches='tight'
            )

# ATTN: This script should be run AFTER all visualizations are completed.

### START HERE IF SOURCING FROM df_manual_FOR_TRAINNING
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

# Make descriptive tables

In [ ]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

sys.path.append(code_dir)
# %load_ext autoreload
# %autoreload 2

In [ ]:
from setup_module.imports import *  # type:ignore # isort:skip # fmt:skip # noqa # nopep8

In [ ]:
# Function to order categories
def categorize_df_gender_age(df, gender_order=None, age_order=None, ivs=None):
    if gender_order is None:
        gender_order = ['Female', 'Mixed Gender', 'Male']
    if age_order is None:
        age_order = ['Older', 'Mixed Age', 'Younger']
    if ivs is None:
        ivs = ['Gender', 'Age']
    # Arrange Categories
    for iv in ivs:
        if iv == 'Gender':
            order = gender_order
        elif iv == 'Age':
            order = age_order
        with contextlib.suppress(ValueError):
            df[iv] = df[iv].astype('category').cat.reorder_categories(order, ordered=True)

            df[iv] = pd.Categorical(
                df[iv], categories=order, ordered=True
            )
            df[f'{iv}_Num'] = pd.to_numeric(df[iv].cat.codes).astype('int64')

    return df

In [ ]:
df_manual = pd.read_pickle(f'{df_save_dir}df_manual_for_trainning.pkl')

### Gender and Age tables

In [ ]:
df = df_manual.copy()
gender_order = ['Female', 'Male', 'Mixed Gender']
age_order = ['Older', 'Younger', 'Mixed Age']

ivs_dict = {'Gender': gender_order, 'Age': age_order}

df_desc_gender_dict = defaultdict(list)
df_desc_age_dict = defaultdict(list)

variables = ['Gender', 'Age']
levels = ['Job Advertisement', 'Sentence']
data_types = ['Manually Annotated', 'Collected']

for v, level, data_type in tqdm_product(
    variables, levels, data_types
):
    df = categorize_df_gender_age(df)

    if level.title() == 'Job Advertisement':
        level_df = df.groupby(['Job ID']).first()
    elif level.title() == 'Sentence':
        level_df = df

In [ ]:
# Function to make descriptives tables
def genage_make_descriptives_table(df, v, level, gender_order=None, age_order=None):

    if gender_order is None:
        gender_order = ['Female', 'Male', 'Mixed Gender']
    if age_order is None:
        age_order = ['Older', 'Younger', 'Mixed Age']
    
    ivs_dict = {'Gender': gender_order, 'Age': age_order}

    df = categorize_df_gender_age(df)

    if level.title() == 'Job Advertisement':
        level_df = df.groupby(['Job ID']).first()
    elif level.title() == 'Sentence':
        level_df = df
    else:
        raise AssertionError(f'Specified level {level} not in data.')

    if v in list(ivs_dict.keys()):
        cat_dict = ivs_dict
        index = [
            f'{v_cat}-dominated'
            if 'Mixed' not in v_cat
            else
            f'{"-".join(v_cat.split())}'
            for v_cat in cat_dict[v]
        ]
        caption = [
            f'{v}_{v_cat.split()[0]}'
            for v_cat in cat_dict[v]
        ]

    desc_dict = {
        'Sectors': index,
        'n': [
            level_df[v].value_counts()[v_cat]
            for v_cat in cat_dict[v]
        ],
        '%': [
            level_df[v].value_counts(normalize=True).mul(100).round(2).astype(float)[v_cat]
            for v_cat in cat_dict[v]
        ],
        'M': [
            level_df[caption].mean().round(2).astype(float)[i]
            for i in range(len(cat_dict[v]))
        ],
        'S.D.': [
            level_df[caption].std().round(2).astype(float)[i]
            for i in range(len(cat_dict[v]))
        ]
    }

    # Make DF from dict
    df_desc = pd.DataFrame(desc_dict)
    df_desc = df_desc.set_index('Sectors')

    return df_desc

In [ ]:
df_desc_gender_dict = defaultdict(list)
df_desc_age_dict = defaultdict(list)

variables = ['Gender', 'Age']
levels = ['Job Advertisement', 'Sentence']
data_types = ['Manually Annotated', 'Collected']

for v, level, data_type in tqdm_product(
    variables, levels, data_types
):
    cols = [
        (f'{data_type.title()} Job Advertisements', v, level.title(), 'n'),
        (f'{data_type.title()} Job Advertisements', v, level.title(), '%'),
        (f'{data_type.title()} Job Advertisements', v, level.title(), 'M'),
        (f'{data_type.title()} Job Advertisements', v, level.title(), 'S.D.'),
    ]

    df_desc_genage = genage_make_descriptives_table(df=df_manual, v=v, level=level)

    df_desc_genage.columns = pd.MultiIndex.from_tuples(cols)

    if v == 'Gender':
        df_desc_gender_dict[data_type].append(df_desc_genage)
    elif v == 'Age':
        df_desc_age_dict[data_type].append(df_desc_genage)

In [ ]:
df_desc_genage_dict = defaultdict(list)

for df, data_type in tqdm_product(
    [df_desc_gender_dict, df_desc_age_dict],
    data_types,
):
    category = df[data_type][0].columns.get_level_values(level=1)[0]
    if df[data_type][0].columns.get_level_values(level=2).str.contains('Job Advertisement').all():
        df_desc_genage_dict[category].append(
            pd.concat(
                [
                    df[data_type][0], df[data_type][1]
                ],
                axis='columns'
            )
        )
    else:
        df_desc_genage_dict[category].append(
            pd.concat(
                [
                    df[data_type][1], df[data_type][0]
                ],
                axis='columns'
            )
        )

In [ ]:
for cat, df in df_desc_genage_dict.items():
    df = pd.concat([df[0], df[1]], axis='columns')

    if cat == 'Gender':
        df_desc_gender = df
    elif cat == 'Age':
        df_desc_age = df

In [ ]:
# Save Tables
# Gender
df_desc_gender.to_csv(f'{table_save_path}Gender - Job Advertisement Descriptives.csv', index=True)
df_desc_gender.to_pickle(f'{table_save_path}Gender - Job Advertisement Descriptives.pkl')
with pd.option_context('max_colwidth', 10000000000):
    df_desc_gender.to_latex(f'{table_save_path}Gender - Job Advertisement Descriptives.tex', index=True, longtable=True, escape=True, multicolumn=True, multicolumn_format='c', position='H', caption='Number and proportion of job advertisements sample, and resulting sentences for gender and age homogeneous and heterogeneous sectors', label='Descriptives')
df_desc_gender.to_markdown(f'{table_save_path}Gender - Job Advertisement Descriptives.md', index=True)
# save_sector_excel(df_sectors_all, data_save_dir)

# Age
df_desc_age.to_csv(f'{table_save_path}Age - Job Advertisement Descriptives.csv', index=True)
df_desc_age.to_pickle(f'{table_save_path}Age - Job Advertisement Descriptives.pkl')
with pd.option_context('max_colwidth', 10000000000):
    df_desc_age.to_latex(f'{table_save_path}Age - Job Advertisement Descriptives.tex', index=True, longtable=True, escape=True, multicolumn=True, multicolumn_format='c', position='H', caption='Number and proportion of job advertisements sample, and resulting sentences for gender and age homogeneous and heterogeneous sectors', label='Descriptives')
df_desc_age.to_markdown(f'{table_save_path}Age - Job Advertisement Descriptives.md', index=True)
# save_sector_excel(df_sectors_all, data_save_dir)

### Warmth and Competence tables

In [ ]:
variables = ['Warmth', 'Competence']

cols = [
    ('Manually Annotated Job Advertisements', 'n'),
    ('Manually Annotated Job Advertisements', '%'),
    ('Manually Annotated Job Advertisements', 'M'),
    ('Manually Annotated Job Advertisements', 'S.D.'),
]

binary_order = [0, 1]
cat_dict = {'Warmth': binary_order, 'Competence': binary_order}

desc_warmcomp_dict = {
    'Frames': list(cat_dict.keys()),
    'n': [
        df_manual[v].value_counts()[1]
        for v in variables
    ],
    '%': [
        df_manual[v].value_counts(normalize=True).mul(100).round(2).astype(float)[1]
        for v in variables
    ],
    'M': list(
        df_manual[variables].mean().round(2).astype(float)
    ),
    'S.D.': list(
        df_manual[variables].std().round(2).astype(float)
    )
}
    
# Make df_manual from dict
df_desc_warmcomp = pd.DataFrame(desc_warmcomp_dict)
df_desc_warmcomp = df_desc_warmcomp.set_index('Frames')
df_desc_warmcomp.columns = pd.MultiIndex.from_tuples(cols)

In [ ]:
# Save Tables
df_desc_warmcomp.to_csv(f'{table_save_path}Warmth and Competence - Job Advertisement Descriptives.csv', index=True)
df_desc_warmcomp.to_pickle(f'{table_save_path}Warmth and Competence - Job Advertisement Descriptives.pkl')
with pd.option_context('max_colwidth', 10000000000):
    df_desc_warmcomp.to_latex(f'{table_save_path}Warmth and Competence - Job Advertisement Descriptives.tex', index=True, longtable=True, escape=True, multicolumn=True, multicolumn_format='c', position='H', caption='Number and proportion of job advertisements sample, and resulting sentences for gender and age homogeneous and heterogeneous sectors', label='Descriptives')
df_desc_warmcomp.to_markdown(f'{table_save_path}Warmth and Competence - Job Advertisement Descriptives.md', index=True)
# save_sector_excel(df_sectors_all, data_save_dir)