In [1]:
import pandas as pd
import itertools

In [2]:
df_save_dir = '/Users/nyxinsane/Documents/Work - UvA/Automating Equity/Study 1/Study1_Code/data/final dfs/'

In [3]:
cols_list_df = pd.read_pickle(f'{df_save_dir}df_jobs_for_classification.pkl')
cols_list_ = cols_list_df.columns.tolist()

In [4]:
for path, save_ in itertools.product(['df_jobs_classified_Warmth_Competence', 'df_jobs_classified_Warmth', 'df_jobs_classified', 'df_jobs_for_analysis'], ['pkl', 'csv']):

    if save_ == 'csv':
        df_jobs = pd.read_csv(f'{df_save_dir}{path}.{save_}', dtype={'Job ID': str})
    else:
        df_jobs = pd.read_pickle(f'{df_save_dir}{path}.{save_}')

    x = pd.get_dummies(df_jobs[['English Requirement in Job Ad', 'Dutch Requirement in Job Ad', 'English Requirement in Sentence', 'Dutch Requirement in Sentence']], dtype='int64')

    df_jobs = df_jobs.drop(columns=['English Requirement in Job Ad_Yes', 'English Requirement in Job Ad_No', 'Dutch Requirement in Job Ad_Yes', 'Dutch Requirement in Job Ad_No', 'English Requirement in Sentence_Yes', 'English Requirement in Sentence_No', 'Dutch Requirement in Sentence_Yes', 'Dutch Requirement in Sentence_No'])

    df_jobs = df_jobs.join(x)

    if ('Warmth' and 'Warmth_Probability') in df_jobs.columns:
        cols_list = cols_list_[:] + ['Warmth', 'Warmth_Probability']
        if ('Competence' and 'Competence_Probability') in df_jobs.columns:
            cols_list = cols_list[:] + ['Competence', 'Competence_Probability']

    df_jobs = df_jobs.loc[:, cols_list]

    print(path.upper(), '.', save_.upper())
    print(df_jobs[['English Requirement in Job Ad_Yes', 'Dutch Requirement in Job Ad_Yes', 'English Requirement in Sentence_Yes', 'Dutch Requirement in Sentence_Yes']].head())

    print(df_jobs[['English Requirement in Job Ad_Yes', 'Dutch Requirement in Job Ad_Yes', 'English Requirement in Sentence_Yes', 'Dutch Requirement in Sentence_Yes']].value_counts())

    print(df_jobs.info())

    if save_ == 'csv':
        df_jobs.to_csv(f'{df_save_dir}{path}.{save_}', index=False)
    else:
        df_jobs.to_pickle(f'{df_save_dir}{path}.{save_}')

DF_JOBS_CLASSIFIED_WARMTH_COMPETENCE . PKL
   English Requirement in Job Ad_Yes  Dutch Requirement in Job Ad_Yes
0                                  0                                0  \
1                                  0                                0
2                                  0                                0
3                                  0                                0
4                                  0                                0

   English Requirement in Sentence_Yes  Dutch Requirement in Sentence_Yes
0                                    0                                  0
1                                    0                                  0
2                                    0                                  0
3                                    0                                  0
4                                    0                                  0
English Requirement in Job Ad_Yes  Dutch Requirement in Job Ad_Yes  English Requirement in Sentence_Yes  Dutch Requirement in Sentence_Yes
0                                  0                                0                                    0                                    280973
1                                  0                                1                                    0                                     16492
0                                  1                                0                                    1                                      8679
1                                  1                                1                                    1                                      1010
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 307154 entries, 0 to 408598
Data columns (total 83 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307154 non-null  object
 1   Platform                                          307154 non-null  object
 2   Job ID                                            307154 non-null  object
 3   Job Title                                         307154 non-null  object
 4   Company Name                                      307149 non-null  object
 5   Location                                          307154 non-null  object
 6   Job Description                                   307154 non-null  object
 7   Rating                                            165831 non-null  float64
 8   Employment Type                                   281052 non-null  object
 9   Company URL                                       300561 non-null  object
 10  Job URL                                           307154 non-null  object
 11  Job Age                                           307154 non-null  object
 12  Job Age Number                                    307154 non-null  object
 13  Collection Date                                   307154 non-null  object
 14  Data Row                                          141182 non-null  float64
 15  Tracking ID                                       141182 non-null  object
 16  Industry                                          167425 non-null  object
 17  Job Date                                          141323 non-null  object
 18  Type of ownership                                 26102 non-null   object
 19  Language                                          307154 non-null  object
 20  Dutch Requirement in Job Ad                       307154 non-null  object
 21  English Requirement in Job Ad                     307154 non-null  object
 22  Dutch Requirement in Job Ad_No                    307154 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307154 non-null  int64
 24  English Requirement in Job Ad_No                  307154 non-null  int64
 25  English Requirement in Job Ad_Yes                 307154 non-null  int64
 26  Sector Code                                       307154 non-null  object
 27  Sector                                            307154 non-null  object
 28  Keywords Count                                    307154 non-null  float64
 29  Gender_Female_n                                   307154 non-null  float64
 30  Gender_Female_% per Sector                        307154 non-null  float64
 31  Gender_Female_% per Social Category               307154 non-null  float64
 32  Gender_Female_% per Workforce                     307154 non-null  float64
 33  Gender_Male_n                                     307154 non-null  float64
 34  Gender_Male_% per Sector                          307154 non-null  float64
 35  Gender_Male_% per Social Category                 307154 non-null  float64
 36  Gender_Male_% per Workforce                       307154 non-null  float64
 37  Gender                                            307154 non-null  object
 38  Age_Older_n                                       307154 non-null  float64
 39  Age_Older_% per Sector                            307154 non-null  float64
 40  Age_Older_% per Social Category                   307154 non-null  float64
 41  Age_Older_% per Workforce                         307154 non-null  float64
 42  Age_Younger_n                                     307154 non-null  float64
 43  Age_Younger_% per Sector                          307154 non-null  float64
 44  Age_Younger_% per Social Category                 307154 non-null  float64
 45  Age_Younger_% per Workforce                       307154 non-null  float64
 46  Age                                               307154 non-null  object
 47  Sector_n                                          307154 non-null  float64
 48  % Sector per Workforce                            307154 non-null  float64
 49  Gender_Female                                     307154 non-null  int64
 50  Gender_Male                                       307154 non-null  int64
 51  Gender_Mixed                                      307154 non-null  int64
 52  Age_Mixed                                         307154 non-null  int64
 53  Age_Older                                         307154 non-null  int64
 54  Age_Younger                                       307154 non-null  int64
 55  Gender_Num                                        307154 non-null  int64
 56  Age_Num                                           307154 non-null  int64
 57  Platform_Num                                      307154 non-null  int64
 58  Platform_LinkedIn                                 307154 non-null  int64
 59  Platform_Indeed                                   307154 non-null  int64
 60  Platform_Glassdoor                                307154 non-null  int64
 61  Job Description spacy_sentencized                 307154 non-null  object
 62  Job Description num_words                         307154 non-null  int64
 63  Job Description num_unique_words                  307154 non-null  int64
 64  Job Description num_chars                         307154 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307154 non-null  int64
 66  Job Description num_punctuations                  307154 non-null  int64
 67  Job Description spacy_sentencized_lower           307154 non-null  object
 68  Dutch Requirement in Sentence                     307154 non-null  category
 69  English Requirement in Sentence                   307154 non-null  category
 70  Dutch Requirement in Sentence_No                  307154 non-null  int64
 71  Dutch Requirement in Sentence_Yes                 307154 non-null  int64
 72  English Requirement in Sentence_No                307154 non-null  int64
 73  English Requirement in Sentence_Yes               307154 non-null  int64
 74  Job Description spacy_tokenized                   307154 non-null  object
 75  Job Description spacy_sentencized_cleaned         307154 non-null  object
 76  Job Description nltk_tokenized                    307154 non-null  object
 77  Job Description gensim_tokenized                  307154 non-null  object
 78  Job Description bert_tokenized                    307154 non-null  object
 79  Warmth                                            307154 non-null  int64
 80  Warmth_Probability                                307154 non-null  float64
 81  Competence                                        307154 non-null  int64
 82  Competence_Probability                            307154 non-null  float64
dtypes: category(2), float64(23), int64(27), object(31)
memory usage: 200.8+ MB
None

/var/folders/46/q15p556n1dd63z6gkwyh896c0000gn/T/ipykernel_44154/1626775027.py:4: DtypeWarning: Columns (8,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_jobs = pd.read_csv(f'{df_save_dir}{path}.{save_}', dtype={'Job ID': str})

DF_JOBS_CLASSIFIED_WARMTH_COMPETENCE . CSV
   English Requirement in Job Ad_Yes  Dutch Requirement in Job Ad_Yes
0                                  0                                0  \
1                                  0                                0
2                                  0                                0
3                                  0                                0
4                                  0                                0

   English Requirement in Sentence_Yes  Dutch Requirement in Sentence_Yes
0                                    0                                  0
1                                    0                                  0
2                                    0                                  0
3                                    0                                  0
4                                    0                                  0
English Requirement in Job Ad_Yes  Dutch Requirement in Job Ad_Yes  English Requirement in Sentence_Yes  Dutch Requirement in Sentence_Yes
0                                  0                                0                                    0                                    280973
1                                  0                                1                                    0                                     16492
0                                  1                                0                                    1                                      8679
1                                  1                                1                                    1                                      1010
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307154 entries, 0 to 307153
Data columns (total 83 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307154 non-null  object
 1   Platform                                          307154 non-null  object
 2   Job ID                                            307154 non-null  object
 3   Job Title                                         307154 non-null  object
 4   Company Name                                      307149 non-null  object
 5   Location                                          307140 non-null  object
 6   Job Description                                   307154 non-null  object
 7   Rating                                            165831 non-null  float64
 8   Employment Type                                   281052 non-null  object
 9   Company URL                                       300561 non-null  object
 10  Job URL                                           307154 non-null  object
 11  Job Age                                           307154 non-null  object
 12  Job Age Number                                    307154 non-null  object
 13  Collection Date                                   307154 non-null  object
 14  Data Row                                          141182 non-null  float64
 15  Tracking ID                                       141182 non-null  object
 16  Industry                                          163672 non-null  object
 17  Job Date                                          141323 non-null  object
 18  Type of ownership                                 26102 non-null   object
 19  Language                                          307154 non-null  object
 20  Dutch Requirement in Job Ad                       307154 non-null  object
 21  English Requirement in Job Ad                     307154 non-null  object
 22  Dutch Requirement in Job Ad_No                    307154 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307154 non-null  int64
 24  English Requirement in Job Ad_No                  307154 non-null  int64
 25  English Requirement in Job Ad_Yes                 307154 non-null  int64
 26  Sector Code                                       307154 non-null  object
 27  Sector                                            307154 non-null  object
 28  Keywords Count                                    307154 non-null  float64
 29  Gender_Female_n                                   307154 non-null  float64
 30  Gender_Female_% per Sector                        307154 non-null  float64
 31  Gender_Female_% per Social Category               307154 non-null  float64
 32  Gender_Female_% per Workforce                     307154 non-null  float64
 33  Gender_Male_n                                     307154 non-null  float64
 34  Gender_Male_% per Sector                          307154 non-null  float64
 35  Gender_Male_% per Social Category                 307154 non-null  float64
 36  Gender_Male_% per Workforce                       307154 non-null  float64
 37  Gender                                            307154 non-null  object
 38  Age_Older_n                                       307154 non-null  float64
 39  Age_Older_% per Sector                            307154 non-null  float64
 40  Age_Older_% per Social Category                   307154 non-null  float64
 41  Age_Older_% per Workforce                         307154 non-null  float64
 42  Age_Younger_n                                     307154 non-null  float64
 43  Age_Younger_% per Sector                          307154 non-null  float64
 44  Age_Younger_% per Social Category                 307154 non-null  float64
 45  Age_Younger_% per Workforce                       307154 non-null  float64
 46  Age                                               307154 non-null  object
 47  Sector_n                                          307154 non-null  float64
 48  % Sector per Workforce                            307154 non-null  float64
 49  Gender_Female                                     307154 non-null  int64
 50  Gender_Male                                       307154 non-null  int64
 51  Gender_Mixed                                      307154 non-null  int64
 52  Age_Mixed                                         307154 non-null  int64
 53  Age_Older                                         307154 non-null  int64
 54  Age_Younger                                       307154 non-null  int64
 55  Gender_Num                                        307154 non-null  int64
 56  Age_Num                                           307154 non-null  int64
 57  Platform_Num                                      307154 non-null  int64
 58  Platform_LinkedIn                                 307154 non-null  int64
 59  Platform_Indeed                                   307154 non-null  int64
 60  Platform_Glassdoor                                307154 non-null  int64
 61  Job Description spacy_sentencized                 307154 non-null  object
 62  Job Description num_words                         307154 non-null  int64
 63  Job Description num_unique_words                  307154 non-null  int64
 64  Job Description num_chars                         307154 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307154 non-null  int64
 66  Job Description num_punctuations                  307154 non-null  int64
 67  Job Description spacy_sentencized_lower           307154 non-null  object
 68  Dutch Requirement in Sentence                     307154 non-null  object
 69  English Requirement in Sentence                   307154 non-null  object
 70  Dutch Requirement in Sentence_No                  307154 non-null  int64
 71  Dutch Requirement in Sentence_Yes                 307154 non-null  int64
 72  English Requirement in Sentence_No                307154 non-null  int64
 73  English Requirement in Sentence_Yes               307154 non-null  int64
 74  Job Description spacy_tokenized                   307154 non-null  object
 75  Job Description spacy_sentencized_cleaned         307154 non-null  object
 76  Job Description nltk_tokenized                    307154 non-null  object
 77  Job Description gensim_tokenized                  307154 non-null  object
 78  Job Description bert_tokenized                    307154 non-null  object
 79  Warmth                                            307154 non-null  int64
 80  Warmth_Probability                                307154 non-null  float64
 81  Competence                                        307154 non-null  int64
 82  Competence_Probability                            307154 non-null  float64
dtypes: float64(23), int64(27), object(33)
memory usage: 194.5+ MB
None
DF_JOBS_CLASSIFIED_WARMTH . PKL
   English Requirement in Job Ad_Yes  Dutch Requirement in Job Ad_Yes
0                                  0                                0  \
1                                  0                                0
2                                  0                                0
3                                  0                                0
4                                  0                                0

   English Requirement in Sentence_Yes  Dutch Requirement in Sentence_Yes
0                                    0                                  0
1                                    0                                  0
2                                    0                                  0
3                                    0                                  0
4                                    0                                  0
English Requirement in Job Ad_Yes  Dutch Requirement in Job Ad_Yes  English Requirement in Sentence_Yes  Dutch Requirement in Sentence_Yes
0                                  0                                0                                    0                                    280973
1                                  0                                1                                    0                                     16492
0                                  1                                0                                    1                                      8679
1                                  1                                1                                    1                                      1010
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 307154 entries, 0 to 408598
Data columns (total 81 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307154 non-null  object
 1   Platform                                          307154 non-null  object
 2   Job ID                                            307154 non-null  object
 3   Job Title                                         307154 non-null  object
 4   Company Name                                      307149 non-null  object
 5   Location                                          307154 non-null  object
 6   Job Description                                   307154 non-null  object
 7   Rating                                            165831 non-null  float64
 8   Employment Type                                   281052 non-null  object
 9   Company URL                                       300561 non-null  object
 10  Job URL                                           307154 non-null  object
 11  Job Age                                           307154 non-null  object
 12  Job Age Number                                    307154 non-null  object
 13  Collection Date                                   307154 non-null  object
 14  Data Row                                          141182 non-null  float64
 15  Tracking ID                                       141182 non-null  object
 16  Industry                                          167425 non-null  object
 17  Job Date                                          141323 non-null  object
 18  Type of ownership                                 26102 non-null   object
 19  Language                                          307154 non-null  object
 20  Dutch Requirement in Job Ad                       307154 non-null  object
 21  English Requirement in Job Ad                     307154 non-null  object
 22  Dutch Requirement in Job Ad_No                    307154 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307154 non-null  int64
 24  English Requirement in Job Ad_No                  307154 non-null  int64
 25  English Requirement in Job Ad_Yes                 307154 non-null  int64
 26  Sector Code                                       307154 non-null  object
 27  Sector                                            307154 non-null  object
 28  Keywords Count                                    307154 non-null  float64
 29  Gender_Female_n                                   307154 non-null  float64
 30  Gender_Female_% per Sector                        307154 non-null  float64
 31  Gender_Female_% per Social Category               307154 non-null  float64
 32  Gender_Female_% per Workforce                     307154 non-null  float64
 33  Gender_Male_n                                     307154 non-null  float64
 34  Gender_Male_% per Sector                          307154 non-null  float64
 35  Gender_Male_% per Social Category                 307154 non-null  float64
 36  Gender_Male_% per Workforce                       307154 non-null  float64
 37  Gender                                            307154 non-null  object
 38  Age_Older_n                                       307154 non-null  float64
 39  Age_Older_% per Sector                            307154 non-null  float64
 40  Age_Older_% per Social Category                   307154 non-null  float64
 41  Age_Older_% per Workforce                         307154 non-null  float64
 42  Age_Younger_n                                     307154 non-null  float64
 43  Age_Younger_% per Sector                          307154 non-null  float64
 44  Age_Younger_% per Social Category                 307154 non-null  float64
 45  Age_Younger_% per Workforce                       307154 non-null  float64
 46  Age                                               307154 non-null  object
 47  Sector_n                                          307154 non-null  float64
 48  % Sector per Workforce                            307154 non-null  float64
 49  Gender_Female                                     307154 non-null  int64
 50  Gender_Male                                       307154 non-null  int64
 51  Gender_Mixed                                      307154 non-null  int64
 52  Age_Mixed                                         307154 non-null  int64
 53  Age_Older                                         307154 non-null  int64
 54  Age_Younger                                       307154 non-null  int64
 55  Gender_Num                                        307154 non-null  int64
 56  Age_Num                                           307154 non-null  int64
 57  Platform_Num                                      307154 non-null  int64
 58  Platform_LinkedIn                                 307154 non-null  int64
 59  Platform_Indeed                                   307154 non-null  int64
 60  Platform_Glassdoor                                307154 non-null  int64
 61  Job Description spacy_sentencized                 307154 non-null  object
 62  Job Description num_words                         307154 non-null  int64
 63  Job Description num_unique_words                  307154 non-null  int64
 64  Job Description num_chars                         307154 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307154 non-null  int64
 66  Job Description num_punctuations                  307154 non-null  int64
 67  Job Description spacy_sentencized_lower           307154 non-null  object
 68  Dutch Requirement in Sentence                     307154 non-null  category
 69  English Requirement in Sentence                   307154 non-null  category
 70  Dutch Requirement in Sentence_No                  307154 non-null  int64
 71  Dutch Requirement in Sentence_Yes                 307154 non-null  int64
 72  English Requirement in Sentence_No                307154 non-null  int64
 73  English Requirement in Sentence_Yes               307154 non-null  int64
 74  Job Description spacy_tokenized                   307154 non-null  object
 75  Job Description spacy_sentencized_cleaned         307154 non-null  object
 76  Job Description nltk_tokenized                    307154 non-null  object
 77  Job Description gensim_tokenized                  307154 non-null  object
 78  Job Description bert_tokenized                    307154 non-null  object
 79  Warmth                                            307154 non-null  int64
 80  Warmth_Probability                                307154 non-null  float64
dtypes: category(2), float64(22), int64(26), object(31)
memory usage: 196.1+ MB
None

/var/folders/46/q15p556n1dd63z6gkwyh896c0000gn/T/ipykernel_44154/1626775027.py:4: DtypeWarning: Columns (8,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_jobs = pd.read_csv(f'{df_save_dir}{path}.{save_}', dtype={'Job ID': str})

DF_JOBS_CLASSIFIED_WARMTH . CSV
   English Requirement in Job Ad_Yes  Dutch Requirement in Job Ad_Yes
0                                  0                                0  \
1                                  0                                0
2                                  0                                0
3                                  0                                0
4                                  0                                0

   English Requirement in Sentence_Yes  Dutch Requirement in Sentence_Yes
0                                    0                                  0
1                                    0                                  0
2                                    0                                  0
3                                    0                                  0
4                                    0                                  0
English Requirement in Job Ad_Yes  Dutch Requirement in Job Ad_Yes  English Requirement in Sentence_Yes  Dutch Requirement in Sentence_Yes
0                                  0                                0                                    0                                    280973
1                                  0                                1                                    0                                     16492
0                                  1                                0                                    1                                      8679
1                                  1                                1                                    1                                      1010
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307154 entries, 0 to 307153
Data columns (total 81 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307154 non-null  object
 1   Platform                                          307154 non-null  object
 2   Job ID                                            307154 non-null  object
 3   Job Title                                         307154 non-null  object
 4   Company Name                                      307149 non-null  object
 5   Location                                          307140 non-null  object
 6   Job Description                                   307154 non-null  object
 7   Rating                                            165831 non-null  float64
 8   Employment Type                                   281052 non-null  object
 9   Company URL                                       300561 non-null  object
 10  Job URL                                           307154 non-null  object
 11  Job Age                                           307154 non-null  object
 12  Job Age Number                                    307154 non-null  object
 13  Collection Date                                   307154 non-null  object
 14  Data Row                                          141182 non-null  float64
 15  Tracking ID                                       141182 non-null  object
 16  Industry                                          163672 non-null  object
 17  Job Date                                          141323 non-null  object
 18  Type of ownership                                 26102 non-null   object
 19  Language                                          307154 non-null  object
 20  Dutch Requirement in Job Ad                       307154 non-null  object
 21  English Requirement in Job Ad                     307154 non-null  object
 22  Dutch Requirement in Job Ad_No                    307154 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307154 non-null  int64
 24  English Requirement in Job Ad_No                  307154 non-null  int64
 25  English Requirement in Job Ad_Yes                 307154 non-null  int64
 26  Sector Code                                       307154 non-null  object
 27  Sector                                            307154 non-null  object
 28  Keywords Count                                    307154 non-null  float64
 29  Gender_Female_n                                   307154 non-null  float64
 30  Gender_Female_% per Sector                        307154 non-null  float64
 31  Gender_Female_% per Social Category               307154 non-null  float64
 32  Gender_Female_% per Workforce                     307154 non-null  float64
 33  Gender_Male_n                                     307154 non-null  float64
 34  Gender_Male_% per Sector                          307154 non-null  float64
 35  Gender_Male_% per Social Category                 307154 non-null  float64
 36  Gender_Male_% per Workforce                       307154 non-null  float64
 37  Gender                                            307154 non-null  object
 38  Age_Older_n                                       307154 non-null  float64
 39  Age_Older_% per Sector                            307154 non-null  float64
 40  Age_Older_% per Social Category                   307154 non-null  float64
 41  Age_Older_% per Workforce                         307154 non-null  float64
 42  Age_Younger_n                                     307154 non-null  float64
 43  Age_Younger_% per Sector                          307154 non-null  float64
 44  Age_Younger_% per Social Category                 307154 non-null  float64
 45  Age_Younger_% per Workforce                       307154 non-null  float64
 46  Age                                               307154 non-null  object
 47  Sector_n                                          307154 non-null  float64
 48  % Sector per Workforce                            307154 non-null  float64
 49  Gender_Female                                     307154 non-null  int64
 50  Gender_Male                                       307154 non-null  int64
 51  Gender_Mixed                                      307154 non-null  int64
 52  Age_Mixed                                         307154 non-null  int64
 53  Age_Older                                         307154 non-null  int64
 54  Age_Younger                                       307154 non-null  int64
 55  Gender_Num                                        307154 non-null  int64
 56  Age_Num                                           307154 non-null  int64
 57  Platform_Num                                      307154 non-null  int64
 58  Platform_LinkedIn                                 307154 non-null  int64
 59  Platform_Indeed                                   307154 non-null  int64
 60  Platform_Glassdoor                                307154 non-null  int64
 61  Job Description spacy_sentencized                 307154 non-null  object
 62  Job Description num_words                         307154 non-null  int64
 63  Job Description num_unique_words                  307154 non-null  int64
 64  Job Description num_chars                         307154 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307154 non-null  int64
 66  Job Description num_punctuations                  307154 non-null  int64
 67  Job Description spacy_sentencized_lower           307154 non-null  object
 68  Dutch Requirement in Sentence                     307154 non-null  object
 69  English Requirement in Sentence                   307154 non-null  object
 70  Dutch Requirement in Sentence_No                  307154 non-null  int64
 71  Dutch Requirement in Sentence_Yes                 307154 non-null  int64
 72  English Requirement in Sentence_No                307154 non-null  int64
 73  English Requirement in Sentence_Yes               307154 non-null  int64
 74  Job Description spacy_tokenized                   307154 non-null  object
 75  Job Description spacy_sentencized_cleaned         307154 non-null  object
 76  Job Description nltk_tokenized                    307154 non-null  object
 77  Job Description gensim_tokenized                  307154 non-null  object
 78  Job Description bert_tokenized                    307154 non-null  object
 79  Warmth                                            307154 non-null  int64
 80  Warmth_Probability                                307154 non-null  float64
dtypes: float64(22), int64(26), object(33)
memory usage: 189.8+ MB
None
DF_JOBS_CLASSIFIED . PKL
   English Requirement in Job Ad_Yes  Dutch Requirement in Job Ad_Yes
0                                  0                                0  \
1                                  0                                0
2                                  0                                0
3                                  0                                0
4                                  0                                0

   English Requirement in Sentence_Yes  Dutch Requirement in Sentence_Yes
0                                    0                                  0
1                                    0                                  0
2                                    0                                  0
3                                    0                                  0
4                                    0                                  0
English Requirement in Job Ad_Yes  Dutch Requirement in Job Ad_Yes  English Requirement in Sentence_Yes  Dutch Requirement in Sentence_Yes
0                                  0                                0                                    0                                    280973
1                                  0                                1                                    0                                     16492
0                                  1                                0                                    1                                      8679
1                                  1                                1                                    1                                      1010
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 307154 entries, 0 to 408598
Data columns (total 83 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307154 non-null  object
 1   Platform                                          307154 non-null  object
 2   Job ID                                            307154 non-null  object
 3   Job Title                                         307154 non-null  object
 4   Company Name                                      307149 non-null  object
 5   Location                                          307154 non-null  object
 6   Job Description                                   307154 non-null  object
 7   Rating                                            165831 non-null  float64
 8   Employment Type                                   281052 non-null  object
 9   Company URL                                       300561 non-null  object
 10  Job URL                                           307154 non-null  object
 11  Job Age                                           307154 non-null  object
 12  Job Age Number                                    307154 non-null  object
 13  Collection Date                                   307154 non-null  object
 14  Data Row                                          141182 non-null  float64
 15  Tracking ID                                       141182 non-null  object
 16  Industry                                          167425 non-null  object
 17  Job Date                                          141323 non-null  object
 18  Type of ownership                                 26102 non-null   object
 19  Language                                          307154 non-null  object
 20  Dutch Requirement in Job Ad                       307154 non-null  object
 21  English Requirement in Job Ad                     307154 non-null  object
 22  Dutch Requirement in Job Ad_No                    307154 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307154 non-null  int64
 24  English Requirement in Job Ad_No                  307154 non-null  int64
 25  English Requirement in Job Ad_Yes                 307154 non-null  int64
 26  Sector Code                                       307154 non-null  object
 27  Sector                                            307154 non-null  object
 28  Keywords Count                                    307154 non-null  float64
 29  Gender_Female_n                                   307154 non-null  float64
 30  Gender_Female_% per Sector                        307154 non-null  float64
 31  Gender_Female_% per Social Category               307154 non-null  float64
 32  Gender_Female_% per Workforce                     307154 non-null  float64
 33  Gender_Male_n                                     307154 non-null  float64
 34  Gender_Male_% per Sector                          307154 non-null  float64
 35  Gender_Male_% per Social Category                 307154 non-null  float64
 36  Gender_Male_% per Workforce                       307154 non-null  float64
 37  Gender                                            307154 non-null  object
 38  Age_Older_n                                       307154 non-null  float64
 39  Age_Older_% per Sector                            307154 non-null  float64
 40  Age_Older_% per Social Category                   307154 non-null  float64
 41  Age_Older_% per Workforce                         307154 non-null  float64
 42  Age_Younger_n                                     307154 non-null  float64
 43  Age_Younger_% per Sector                          307154 non-null  float64
 44  Age_Younger_% per Social Category                 307154 non-null  float64
 45  Age_Younger_% per Workforce                       307154 non-null  float64
 46  Age                                               307154 non-null  object
 47  Sector_n                                          307154 non-null  float64
 48  % Sector per Workforce                            307154 non-null  float64
 49  Gender_Female                                     307154 non-null  int64
 50  Gender_Male                                       307154 non-null  int64
 51  Gender_Mixed                                      307154 non-null  int64
 52  Age_Mixed                                         307154 non-null  int64
 53  Age_Older                                         307154 non-null  int64
 54  Age_Younger                                       307154 non-null  int64
 55  Gender_Num                                        307154 non-null  int64
 56  Age_Num                                           307154 non-null  int64
 57  Platform_Num                                      307154 non-null  int64
 58  Platform_LinkedIn                                 307154 non-null  int64
 59  Platform_Indeed                                   307154 non-null  int64
 60  Platform_Glassdoor                                307154 non-null  int64
 61  Job Description spacy_sentencized                 307154 non-null  object
 62  Job Description num_words                         307154 non-null  int64
 63  Job Description num_unique_words                  307154 non-null  int64
 64  Job Description num_chars                         307154 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307154 non-null  int64
 66  Job Description num_punctuations                  307154 non-null  int64
 67  Job Description spacy_sentencized_lower           307154 non-null  object
 68  Dutch Requirement in Sentence                     307154 non-null  category
 69  English Requirement in Sentence                   307154 non-null  category
 70  Dutch Requirement in Sentence_No                  307154 non-null  int64
 71  Dutch Requirement in Sentence_Yes                 307154 non-null  int64
 72  English Requirement in Sentence_No                307154 non-null  int64
 73  English Requirement in Sentence_Yes               307154 non-null  int64
 74  Job Description spacy_tokenized                   307154 non-null  object
 75  Job Description spacy_sentencized_cleaned         307154 non-null  object
 76  Job Description nltk_tokenized                    307154 non-null  object
 77  Job Description gensim_tokenized                  307154 non-null  object
 78  Job Description bert_tokenized                    307154 non-null  object
 79  Warmth                                            307154 non-null  int64
 80  Warmth_Probability                                307154 non-null  float64
 81  Competence                                        307154 non-null  int64
 82  Competence_Probability                            307154 non-null  float64
dtypes: category(2), float64(23), int64(27), object(31)
memory usage: 200.8+ MB
None

/var/folders/46/q15p556n1dd63z6gkwyh896c0000gn/T/ipykernel_44154/1626775027.py:4: DtypeWarning: Columns (8,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_jobs = pd.read_csv(f'{df_save_dir}{path}.{save_}', dtype={'Job ID': str})

DF_JOBS_CLASSIFIED . CSV
   English Requirement in Job Ad_Yes  Dutch Requirement in Job Ad_Yes
0                                  0                                0  \
1                                  0                                0
2                                  0                                0
3                                  0                                0
4                                  0                                0

   English Requirement in Sentence_Yes  Dutch Requirement in Sentence_Yes
0                                    0                                  0
1                                    0                                  0
2                                    0                                  0
3                                    0                                  0
4                                    0                                  0
English Requirement in Job Ad_Yes  Dutch Requirement in Job Ad_Yes  English Requirement in Sentence_Yes  Dutch Requirement in Sentence_Yes
0                                  0                                0                                    0                                    280973
1                                  0                                1                                    0                                     16492
0                                  1                                0                                    1                                      8679
1                                  1                                1                                    1                                      1010
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307154 entries, 0 to 307153
Data columns (total 83 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307154 non-null  object
 1   Platform                                          307154 non-null  object
 2   Job ID                                            307154 non-null  object
 3   Job Title                                         307154 non-null  object
 4   Company Name                                      307149 non-null  object
 5   Location                                          307140 non-null  object
 6   Job Description                                   307154 non-null  object
 7   Rating                                            165831 non-null  float64
 8   Employment Type                                   281052 non-null  object
 9   Company URL                                       300561 non-null  object
 10  Job URL                                           307154 non-null  object
 11  Job Age                                           307154 non-null  object
 12  Job Age Number                                    307154 non-null  object
 13  Collection Date                                   307154 non-null  object
 14  Data Row                                          141182 non-null  float64
 15  Tracking ID                                       141182 non-null  object
 16  Industry                                          163672 non-null  object
 17  Job Date                                          141323 non-null  object
 18  Type of ownership                                 26102 non-null   object
 19  Language                                          307154 non-null  object
 20  Dutch Requirement in Job Ad                       307154 non-null  object
 21  English Requirement in Job Ad                     307154 non-null  object
 22  Dutch Requirement in Job Ad_No                    307154 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307154 non-null  int64
 24  English Requirement in Job Ad_No                  307154 non-null  int64
 25  English Requirement in Job Ad_Yes                 307154 non-null  int64
 26  Sector Code                                       307154 non-null  object
 27  Sector                                            307154 non-null  object
 28  Keywords Count                                    307154 non-null  float64
 29  Gender_Female_n                                   307154 non-null  float64
 30  Gender_Female_% per Sector                        307154 non-null  float64
 31  Gender_Female_% per Social Category               307154 non-null  float64
 32  Gender_Female_% per Workforce                     307154 non-null  float64
 33  Gender_Male_n                                     307154 non-null  float64
 34  Gender_Male_% per Sector                          307154 non-null  float64
 35  Gender_Male_% per Social Category                 307154 non-null  float64
 36  Gender_Male_% per Workforce                       307154 non-null  float64
 37  Gender                                            307154 non-null  object
 38  Age_Older_n                                       307154 non-null  float64
 39  Age_Older_% per Sector                            307154 non-null  float64
 40  Age_Older_% per Social Category                   307154 non-null  float64
 41  Age_Older_% per Workforce                         307154 non-null  float64
 42  Age_Younger_n                                     307154 non-null  float64
 43  Age_Younger_% per Sector                          307154 non-null  float64
 44  Age_Younger_% per Social Category                 307154 non-null  float64
 45  Age_Younger_% per Workforce                       307154 non-null  float64
 46  Age                                               307154 non-null  object
 47  Sector_n                                          307154 non-null  float64
 48  % Sector per Workforce                            307154 non-null  float64
 49  Gender_Female                                     307154 non-null  int64
 50  Gender_Male                                       307154 non-null  int64
 51  Gender_Mixed                                      307154 non-null  int64
 52  Age_Mixed                                         307154 non-null  int64
 53  Age_Older                                         307154 non-null  int64
 54  Age_Younger                                       307154 non-null  int64
 55  Gender_Num                                        307154 non-null  int64
 56  Age_Num                                           307154 non-null  int64
 57  Platform_Num                                      307154 non-null  int64
 58  Platform_LinkedIn                                 307154 non-null  int64
 59  Platform_Indeed                                   307154 non-null  int64
 60  Platform_Glassdoor                                307154 non-null  int64
 61  Job Description spacy_sentencized                 307154 non-null  object
 62  Job Description num_words                         307154 non-null  int64
 63  Job Description num_unique_words                  307154 non-null  int64
 64  Job Description num_chars                         307154 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307154 non-null  int64
 66  Job Description num_punctuations                  307154 non-null  int64
 67  Job Description spacy_sentencized_lower           307154 non-null  object
 68  Dutch Requirement in Sentence                     307154 non-null  object
 69  English Requirement in Sentence                   307154 non-null  object
 70  Dutch Requirement in Sentence_No                  307154 non-null  int64
 71  Dutch Requirement in Sentence_Yes                 307154 non-null  int64
 72  English Requirement in Sentence_No                307154 non-null  int64
 73  English Requirement in Sentence_Yes               307154 non-null  int64
 74  Job Description spacy_tokenized                   307154 non-null  object
 75  Job Description spacy_sentencized_cleaned         307154 non-null  object
 76  Job Description nltk_tokenized                    307154 non-null  object
 77  Job Description gensim_tokenized                  307154 non-null  object
 78  Job Description bert_tokenized                    307154 non-null  object
 79  Warmth                                            307154 non-null  int64
 80  Warmth_Probability                                307154 non-null  float64
 81  Competence                                        307154 non-null  int64
 82  Competence_Probability                            307154 non-null  float64
dtypes: float64(23), int64(27), object(33)
memory usage: 194.5+ MB
None
DF_JOBS_FOR_ANALYSIS . PKL
   English Requirement in Job Ad_Yes  Dutch Requirement in Job Ad_Yes
0                                  0                                0  \
1                                  0                                0
2                                  0                                0
3                                  0                                0
4                                  0                                0

   English Requirement in Sentence_Yes  Dutch Requirement in Sentence_Yes
0                                    0                                  0
1                                    0                                  0
2                                    0                                  0
3                                    0                                  0
4                                    0                                  0
English Requirement in Job Ad_Yes  Dutch Requirement in Job Ad_Yes  English Requirement in Sentence_Yes  Dutch Requirement in Sentence_Yes
0                                  0                                0                                    0                                    280973
1                                  0                                1                                    0                                     16492
0                                  1                                0                                    1                                      8679
1                                  1                                1                                    1                                      1010
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
Index: 307154 entries, 0 to 408598
Data columns (total 83 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307154 non-null  object
 1   Platform                                          307154 non-null  object
 2   Job ID                                            307154 non-null  object
 3   Job Title                                         307154 non-null  object
 4   Company Name                                      307149 non-null  object
 5   Location                                          307154 non-null  object
 6   Job Description                                   307154 non-null  object
 7   Rating                                            165831 non-null  float64
 8   Employment Type                                   281052 non-null  object
 9   Company URL                                       300561 non-null  object
 10  Job URL                                           307154 non-null  object
 11  Job Age                                           307154 non-null  object
 12  Job Age Number                                    307154 non-null  object
 13  Collection Date                                   307154 non-null  object
 14  Data Row                                          141182 non-null  float64
 15  Tracking ID                                       141182 non-null  object
 16  Industry                                          167425 non-null  object
 17  Job Date                                          141323 non-null  object
 18  Type of ownership                                 26102 non-null   object
 19  Language                                          307154 non-null  object
 20  Dutch Requirement in Job Ad                       307154 non-null  object
 21  English Requirement in Job Ad                     307154 non-null  object
 22  Dutch Requirement in Job Ad_No                    307154 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307154 non-null  int64
 24  English Requirement in Job Ad_No                  307154 non-null  int64
 25  English Requirement in Job Ad_Yes                 307154 non-null  int64
 26  Sector Code                                       307154 non-null  object
 27  Sector                                            307154 non-null  object
 28  Keywords Count                                    307154 non-null  float64
 29  Gender_Female_n                                   307154 non-null  float64
 30  Gender_Female_% per Sector                        307154 non-null  float64
 31  Gender_Female_% per Social Category               307154 non-null  float64
 32  Gender_Female_% per Workforce                     307154 non-null  float64
 33  Gender_Male_n                                     307154 non-null  float64
 34  Gender_Male_% per Sector                          307154 non-null  float64
 35  Gender_Male_% per Social Category                 307154 non-null  float64
 36  Gender_Male_% per Workforce                       307154 non-null  float64
 37  Gender                                            307154 non-null  object
 38  Age_Older_n                                       307154 non-null  float64
 39  Age_Older_% per Sector                            307154 non-null  float64
 40  Age_Older_% per Social Category                   307154 non-null  float64
 41  Age_Older_% per Workforce                         307154 non-null  float64
 42  Age_Younger_n                                     307154 non-null  float64
 43  Age_Younger_% per Sector                          307154 non-null  float64
 44  Age_Younger_% per Social Category                 307154 non-null  float64
 45  Age_Younger_% per Workforce                       307154 non-null  float64
 46  Age                                               307154 non-null  object
 47  Sector_n                                          307154 non-null  float64
 48  % Sector per Workforce                            307154 non-null  float64
 49  Gender_Female                                     307154 non-null  int64
 50  Gender_Male                                       307154 non-null  int64
 51  Gender_Mixed                                      307154 non-null  int64
 52  Age_Mixed                                         307154 non-null  int64
 53  Age_Older                                         307154 non-null  int64
 54  Age_Younger                                       307154 non-null  int64
 55  Gender_Num                                        307154 non-null  int64
 56  Age_Num                                           307154 non-null  int64
 57  Platform_Num                                      307154 non-null  int64
 58  Platform_LinkedIn                                 307154 non-null  int64
 59  Platform_Indeed                                   307154 non-null  int64
 60  Platform_Glassdoor                                307154 non-null  int64
 61  Job Description spacy_sentencized                 307154 non-null  object
 62  Job Description num_words                         307154 non-null  int64
 63  Job Description num_unique_words                  307154 non-null  int64
 64  Job Description num_chars                         307154 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307154 non-null  int64
 66  Job Description num_punctuations                  307154 non-null  int64
 67  Job Description spacy_sentencized_lower           307154 non-null  object
 68  Dutch Requirement in Sentence                     307154 non-null  category
 69  English Requirement in Sentence                   307154 non-null  category
 70  Dutch Requirement in Sentence_No                  307154 non-null  int64
 71  Dutch Requirement in Sentence_Yes                 307154 non-null  int64
 72  English Requirement in Sentence_No                307154 non-null  int64
 73  English Requirement in Sentence_Yes               307154 non-null  int64
 74  Job Description spacy_tokenized                   307154 non-null  object
 75  Job Description spacy_sentencized_cleaned         307154 non-null  object
 76  Job Description nltk_tokenized                    307154 non-null  object
 77  Job Description gensim_tokenized                  307154 non-null  object
 78  Job Description bert_tokenized                    307154 non-null  object
 79  Warmth                                            307154 non-null  int64
 80  Warmth_Probability                                307154 non-null  float64
 81  Competence                                        307154 non-null  int64
 82  Competence_Probability                            307154 non-null  float64
dtypes: category(2), float64(23), int64(27), object(31)
memory usage: 200.8+ MB
None

/var/folders/46/q15p556n1dd63z6gkwyh896c0000gn/T/ipykernel_44154/1626775027.py:4: DtypeWarning: Columns (8,15,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  df_jobs = pd.read_csv(f'{df_save_dir}{path}.{save_}', dtype={'Job ID': str})

DF_JOBS_FOR_ANALYSIS . CSV
   English Requirement in Job Ad_Yes  Dutch Requirement in Job Ad_Yes
0                                  0                                0  \
1                                  0                                0
2                                  0                                0
3                                  0                                0
4                                  0                                0

   English Requirement in Sentence_Yes  Dutch Requirement in Sentence_Yes
0                                    0                                  0
1                                    0                                  0
2                                    0                                  0
3                                    0                                  0
4                                    0                                  0
English Requirement in Job Ad_Yes  Dutch Requirement in Job Ad_Yes  English Requirement in Sentence_Yes  Dutch Requirement in Sentence_Yes
0                                  0                                0                                    0                                    280973
1                                  0                                1                                    0                                     16492
0                                  1                                0                                    1                                      8679
1                                  1                                1                                    1                                      1010
Name: count, dtype: int64
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307154 entries, 0 to 307153
Data columns (total 83 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307154 non-null  object
 1   Platform                                          307154 non-null  object
 2   Job ID                                            307154 non-null  object
 3   Job Title                                         307154 non-null  object
 4   Company Name                                      307149 non-null  object
 5   Location                                          307140 non-null  object
 6   Job Description                                   307154 non-null  object
 7   Rating                                            165831 non-null  float64
 8   Employment Type                                   281052 non-null  object
 9   Company URL                                       300561 non-null  object
 10  Job URL                                           307154 non-null  object
 11  Job Age                                           307154 non-null  object
 12  Job Age Number                                    307154 non-null  object
 13  Collection Date                                   307154 non-null  object
 14  Data Row                                          141182 non-null  float64
 15  Tracking ID                                       141182 non-null  object
 16  Industry                                          163672 non-null  object
 17  Job Date                                          141323 non-null  object
 18  Type of ownership                                 26102 non-null   object
 19  Language                                          307154 non-null  object
 20  Dutch Requirement in Job Ad                       307154 non-null  object
 21  English Requirement in Job Ad                     307154 non-null  object
 22  Dutch Requirement in Job Ad_No                    307154 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307154 non-null  int64
 24  English Requirement in Job Ad_No                  307154 non-null  int64
 25  English Requirement in Job Ad_Yes                 307154 non-null  int64
 26  Sector Code                                       307154 non-null  object
 27  Sector                                            307154 non-null  object
 28  Keywords Count                                    307154 non-null  float64
 29  Gender_Female_n                                   307154 non-null  float64
 30  Gender_Female_% per Sector                        307154 non-null  float64
 31  Gender_Female_% per Social Category               307154 non-null  float64
 32  Gender_Female_% per Workforce                     307154 non-null  float64
 33  Gender_Male_n                                     307154 non-null  float64
 34  Gender_Male_% per Sector                          307154 non-null  float64
 35  Gender_Male_% per Social Category                 307154 non-null  float64
 36  Gender_Male_% per Workforce                       307154 non-null  float64
 37  Gender                                            307154 non-null  object
 38  Age_Older_n                                       307154 non-null  float64
 39  Age_Older_% per Sector                            307154 non-null  float64
 40  Age_Older_% per Social Category                   307154 non-null  float64
 41  Age_Older_% per Workforce                         307154 non-null  float64
 42  Age_Younger_n                                     307154 non-null  float64
 43  Age_Younger_% per Sector                          307154 non-null  float64
 44  Age_Younger_% per Social Category                 307154 non-null  float64
 45  Age_Younger_% per Workforce                       307154 non-null  float64
 46  Age                                               307154 non-null  object
 47  Sector_n                                          307154 non-null  float64
 48  % Sector per Workforce                            307154 non-null  float64
 49  Gender_Female                                     307154 non-null  int64
 50  Gender_Male                                       307154 non-null  int64
 51  Gender_Mixed                                      307154 non-null  int64
 52  Age_Mixed                                         307154 non-null  int64
 53  Age_Older                                         307154 non-null  int64
 54  Age_Younger                                       307154 non-null  int64
 55  Gender_Num                                        307154 non-null  int64
 56  Age_Num                                           307154 non-null  int64
 57  Platform_Num                                      307154 non-null  int64
 58  Platform_LinkedIn                                 307154 non-null  int64
 59  Platform_Indeed                                   307154 non-null  int64
 60  Platform_Glassdoor                                307154 non-null  int64
 61  Job Description spacy_sentencized                 307154 non-null  object
 62  Job Description num_words                         307154 non-null  int64
 63  Job Description num_unique_words                  307154 non-null  int64
 64  Job Description num_chars                         307154 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307154 non-null  int64
 66  Job Description num_punctuations                  307154 non-null  int64
 67  Job Description spacy_sentencized_lower           307154 non-null  object
 68  Dutch Requirement in Sentence                     307154 non-null  object
 69  English Requirement in Sentence                   307154 non-null  object
 70  Dutch Requirement in Sentence_No                  307154 non-null  int64
 71  Dutch Requirement in Sentence_Yes                 307154 non-null  int64
 72  English Requirement in Sentence_No                307154 non-null  int64
 73  English Requirement in Sentence_Yes               307154 non-null  int64
 74  Job Description spacy_tokenized                   307154 non-null  object
 75  Job Description spacy_sentencized_cleaned         307154 non-null  object
 76  Job Description nltk_tokenized                    307154 non-null  object
 77  Job Description gensim_tokenized                  307154 non-null  object
 78  Job Description bert_tokenized                    307154 non-null  object
 79  Warmth                                            307154 non-null  int64
 80  Warmth_Probability                                307154 non-null  float64
 81  Competence                                        307154 non-null  int64
 82  Competence_Probability                            307154 non-null  float64
dtypes: float64(23), int64(27), object(33)
memory usage: 194.5+ MB
None

In [5]:
df_jobs.head()

,Search Keyword,Platform,Job ID,Job Title,Company Name,Location,Job Description,Rating,Employment Type,Company URL,...,English Requirement in Sentence_Yes,Job Description spacy_tokenized,Job Description spacy_sentencized_cleaned,Job Description nltk_tokenized,Job Description gensim_tokenized,Job Description bert_tokenized,Warmth,Warmth_Probability,Competence,Competence_Probability
0,wholesale,Indeed,pj_da9f2c12243d7031,Transaction Monitoring Expert,Michael Page,Amsterdam,About Our Client\nThe Global KYC organisation ...,-1.0,-1,https://indeed.nl/rc/clk?jk=da9f2c12243d7031&f...,...,0,"['about', 'our', 'client']",about our client,['client'],['client'],"['about', 'our', 'client']",0,0.015614,0,0.013010
1,wholesale,Indeed,pj_da9f2c12243d7031,Transaction Monitoring Expert,Michael Page,Amsterdam,About Our Client\nThe Global KYC organisation ...,-1.0,-1,https://indeed.nl/rc/clk?jk=da9f2c12243d7031&f...,...,0,"['the', 'global', 'kyc', 'organisation', 'is',...",the global kyc organisation is part of ing 's ...,"['global', 'kyc', 'organisation', 'part', 'ing...","['global', 'kyc', 'organis', 'ing', 'coo', 'do...","['the', 'global', 'ky', '##c', 'organisation',...",0,0.008240,0,0.098859
2,wholesale,Indeed,pj_da9f2c12243d7031,Transaction Monitoring Expert,Michael Page,Amsterdam,About Our Client\nThe Global KYC organisation ...,-1.0,-1,https://indeed.nl/rc/clk?jk=da9f2c12243d7031&f...,...,0,"['its', 'purpose', 'is', 'enabling', 'people',...",its purpose is enabling people and organisatio...,"['purpose', 'enabling', 'people', 'organisatio...","['purpos', 'enabl', 'peopl', 'organis', 'us', ...","['its', 'purpose', 'is', 'enabling', 'people',...",1,0.749139,1,0.561741
3,wholesale,Indeed,pj_da9f2c12243d7031,Transaction Monitoring Expert,Michael Page,Amsterdam,About Our Client\nThe Global KYC organisation ...,-1.0,-1,https://indeed.nl/rc/clk?jk=da9f2c12243d7031&f...,...,0,"['our', 'global', 'kyc', 'organisation', 'is',...",our global kyc organisation is a first line of...,"['global', 'kyc', 'organisation', 'first', 'li...","['global', 'kyc', 'organis', 'line', 'defenc',...","['our', 'global', 'ky', '##c', 'organisation',...",0,0.073137,1,0.880451
4,wholesale,Indeed,pj_da9f2c12243d7031,Transaction Monitoring Expert,Michael Page,Amsterdam,About Our Client\nThe Global KYC organisation ...,-1.0,-1,https://indeed.nl/rc/clk?jk=da9f2c12243d7031&f...,...,0,"['in', 'our', 'global', 'kyc', 'organisation',...",in our global kyc organisation you will be wor...,"['global', 'kyc', 'organisation', 'working', '...","['global', 'kyc', 'organis', 'work', 'colleagu...","['in', 'our', 'global', 'ky', '##c', 'organisa...",1,0.892853,0,0.076046