# ATTN: This script should be run AFTER spacy sentence splitting is completed.

# Explode DF on sentences

### START HERE IF SOURCING FROM DF_JOBS_SENTENCIZED
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [1]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

if code_dir_name not in str(Path.cwd()).split('/')[-1]:
    for _ in range(5):

        parent_path = str(Path.cwd().parents[_]).split('/')[-1]

        if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

            code_dir = str(Path.cwd().parents[_])

            if code_dir is not None:
                break
else:
    code_dir = str(Path.cwd())
sys.path.append(code_dir)

# %load_ext autoreload
# %autoreload 2

In [2]:
from setup_module.imports import * # type:ignore # isort:skip # fmt:skip # noqa # nopep8

Using MPS

0it [00:00, ?it/s]

In [3]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_sentencized.pkl')

In [4]:
# len=17599
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17592 entries, 0 to 17592
Data columns (total 62 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Search Keyword                       17592 non-null  object
 1   Platform                             17592 non-null  category
 2   Job ID                               17592 non-null  object
 3   Job Title                            17592 non-null  object
 4   Company Name                         17590 non-null  object
 5   Location                             17592 non-null  object
 6   Job Description                      17592 non-null  object
 7   Rating                               3780 non-null   float64
 8   Employment Type                      17010 non-null  object
 9   Company URL                          15954 non-null  object
 10  Job URL                              17592 non-null  object
 11  Job Age                              17592 non-null  object
 12  Job Age Number                       17592 non-null  object
 13  Collection Date                      17592 non-null  object
 14  Data Row                             13809 non-null  float64
 15  Tracking ID                          13809 non-null  object
 16  Industry                             14394 non-null  object
 17  Job Date                             13812 non-null  object
 18  Type of ownership                    582 non-null    object
 19  Language                             17592 non-null  object
 20  Dutch Requirement in Job Ad          17592 non-null  category
 21  English Requirement in Job Ad        17592 non-null  category
 22  Dutch Requirement in Job Ad_No       17592 non-null  int64
 23  Dutch Requirement in Job Ad_Yes      17592 non-null  int64
 24  English Requirement in Job Ad_No     17592 non-null  int64
 25  English Requirement in Job Ad_Yes    17592 non-null  int64
 26  Sector Code                          17592 non-null  object
 27  Sector                               17592 non-null  object
 28  Keywords Count                       17592 non-null  float64
 29  Gender_Female_n                      17592 non-null  float64
 30  Gender_Female_% per Sector           17592 non-null  float64
 31  Gender_Female_% per Social Category  17592 non-null  float64
 32  Gender_Female_% per Workforce        17592 non-null  float64
 33  Gender_Male_n                        17592 non-null  float64
 34  Gender_Male_% per Sector             17592 non-null  float64
 35  Gender_Male_% per Social Category    17592 non-null  float64
 36  Gender_Male_% per Workforce          17592 non-null  float64
 37  Gender                               17592 non-null  category
 38  Age_Older_n                          17592 non-null  float64
 39  Age_Older_% per Sector               17592 non-null  float64
 40  Age_Older_% per Social Category      17592 non-null  float64
 41  Age_Older_% per Workforce            17592 non-null  float64
 42  Age_Younger_n                        17592 non-null  float64
 43  Age_Younger_% per Sector             17592 non-null  float64
 44  Age_Younger_% per Social Category    17592 non-null  float64
 45  Age_Younger_% per Workforce          17592 non-null  float64
 46  Age                                  17592 non-null  category
 47  Sector_n                             17592 non-null  float64
 48  % Sector per Workforce               17592 non-null  float64
 49  Gender_Female                        17592 non-null  int64
 50  Gender_Male                          17592 non-null  int64
 51  Gender_Mixed                         17592 non-null  int64
 52  Age_Mixed                            17592 non-null  int64
 53  Age_Older                            17592 non-null  int64
 54  Age_Younger                          17592 non-null  int64
 55  Gender_Num                           17592 non-null  int64
 56  Age_Num                              17592 non-null  int64
 57  Platform_Num                         17592 non-null  int64
 58  Platform_LinkedIn                    17592 non-null  int64
 59  Platform_Indeed                      17592 non-null  int64
 60  Platform_Glassdoor                   17592 non-null  int64
 61  Job Description spacy_sentencized    17592 non-null  object
dtypes: category(5), float64(21), int64(16), object(20)
memory usage: 7.9+ MB

In [5]:
# Job Ad info
get_df_info(df_jobs, ivs_all=ivs_all)

DF INFO:

<class 'pandas.core.frame.DataFrame'>
Index: 17592 entries, 0 to 17592
Data columns (total 62 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Search Keyword                       17592 non-null  object
 1   Platform                             17592 non-null  category
 2   Job ID                               17592 non-null  object
 3   Job Title                            17592 non-null  object
 4   Company Name                         17590 non-null  object
 5   Location                             17592 non-null  object
 6   Job Description                      17592 non-null  object
 7   Rating                               3780 non-null   float64
 8   Employment Type                      17010 non-null  object
 9   Company URL                          15954 non-null  object
 10  Job URL                              17592 non-null  object
 11  Job Age                              17592 non-null  object
 12  Job Age Number                       17592 non-null  object
 13  Collection Date                      17592 non-null  object
 14  Data Row                             13809 non-null  float64
 15  Tracking ID                          13809 non-null  object
 16  Industry                             14394 non-null  object
 17  Job Date                             13812 non-null  object
 18  Type of ownership                    582 non-null    object
 19  Language                             17592 non-null  object
 20  Dutch Requirement in Job Ad          17592 non-null  category
 21  English Requirement in Job Ad        17592 non-null  category
 22  Dutch Requirement in Job Ad_No       17592 non-null  int64
 23  Dutch Requirement in Job Ad_Yes      17592 non-null  int64
 24  English Requirement in Job Ad_No     17592 non-null  int64
 25  English Requirement in Job Ad_Yes    17592 non-null  int64
 26  Sector Code                          17592 non-null  object
 27  Sector                               17592 non-null  object
 28  Keywords Count                       17592 non-null  float64
 29  Gender_Female_n                      17592 non-null  float64
 30  Gender_Female_% per Sector           17592 non-null  float64
 31  Gender_Female_% per Social Category  17592 non-null  float64
 32  Gender_Female_% per Workforce        17592 non-null  float64
 33  Gender_Male_n                        17592 non-null  float64
 34  Gender_Male_% per Sector             17592 non-null  float64
 35  Gender_Male_% per Social Category    17592 non-null  float64
 36  Gender_Male_% per Workforce          17592 non-null  float64
 37  Gender                               17592 non-null  category
 38  Age_Older_n                          17592 non-null  float64
 39  Age_Older_% per Sector               17592 non-null  float64
 40  Age_Older_% per Social Category      17592 non-null  float64
 41  Age_Older_% per Workforce            17592 non-null  float64
 42  Age_Younger_n                        17592 non-null  float64
 43  Age_Younger_% per Sector             17592 non-null  float64
 44  Age_Younger_% per Social Category    17592 non-null  float64
 45  Age_Younger_% per Workforce          17592 non-null  float64
 46  Age                                  17592 non-null  category
 47  Sector_n                             17592 non-null  float64
 48  % Sector per Workforce               17592 non-null  float64
 49  Gender_Female                        17592 non-null  int64
 50  Gender_Male                          17592 non-null  int64
 51  Gender_Mixed                         17592 non-null  int64
 52  Age_Mixed                            17592 non-null  int64
 53  Age_Older                            17592 non-null  int64
 54  Age_Younger                          17592 non-null  int64
 55  Gender_Num                           17592 non-null  int64
 56  Age_Num                              17592 non-null  int64
 57  Platform_Num                         17592 non-null  int64
 58  Platform_LinkedIn                    17592 non-null  int64
 59  Platform_Indeed                      17592 non-null  int64
 60  Platform_Glassdoor                   17592 non-null  int64
 61  Job Description spacy_sentencized    17592 non-null  object
dtypes: category(5), float64(21), int64(16), object(20)
memory usage: 7.9+ MB
====================
Gender:
--------------------
Gender Counts:
Gender
Male            6974
Mixed Gender    6664
Female          3954
Name: count, dtype: int64
--------------------
Gender Percentages:
Gender
Male           39.60
Mixed Gender   37.90
Female         22.50
Name: proportion, dtype: float64
--------------------
Gender not available.
====================
Gender_Num:
--------------------
Gender_Num Counts:
Gender_Num
2    6974
1    6664
0    3954
Name: count, dtype: int64
--------------------
Gender_Num Percentages:
Gender_Num
2   39.60
1   37.90
0   22.50
Name: proportion, dtype: float64
--------------------
Min Gender_Num value: 0.0
Max Gender_Num value: 2.0
--------------------
Gender_Num Mean: 1.17
--------------------
Gender_Num Standard Deviation: 0.77
====================
Gender_Female:
--------------------
Gender_Female Counts:
Gender_Female
0    13638
1     3954
Name: count, dtype: int64
--------------------
Gender_Female Percentages:
Gender_Female
0   77.50
1   22.50
Name: proportion, dtype: float64
--------------------
Min Gender_Female value: 0.0
Max Gender_Female value: 1.0
--------------------
Gender_Female Mean: 0.22
--------------------
Gender_Female Standard Deviation: 0.42
====================
Gender_Mixed:
--------------------
Gender_Mixed Counts:
Gender_Mixed
0    10928
1     6664
Name: count, dtype: int64
--------------------
Gender_Mixed Percentages:
Gender_Mixed
0   62.10
1   37.90
Name: proportion, dtype: float64
--------------------
Min Gender_Mixed value: 0.0
Max Gender_Mixed value: 1.0
--------------------
Gender_Mixed Mean: 0.38
--------------------
Gender_Mixed Standard Deviation: 0.49
====================
Gender_Male:
--------------------
Gender_Male Counts:
Gender_Male
0    10618
1     6974
Name: count, dtype: int64
--------------------
Gender_Male Percentages:
Gender_Male
0   60.40
1   39.60
Name: proportion, dtype: float64
--------------------
Min Gender_Male value: 0.0
Max Gender_Male value: 1.0
--------------------
Gender_Male Mean: 0.4
--------------------
Gender_Male Standard Deviation: 0.49
====================
Gender_Female_n:
--------------------
Min Gender_Female_n value: 7.0
Max Gender_Female_n value: 3970.0
--------------------
Gender_Female_n Mean: 637.88
--------------------
Gender_Female_n Standard Deviation: 1041.39
====================
Gender_Male_n:
--------------------
Min Gender_Male_n value: 21.0
Max Gender_Male_n value: 4510.0
--------------------
Gender_Male_n Mean: 759.44
--------------------
Gender_Male_n Standard Deviation: 1302.6
====================
Gender_Female_% per Sector:
--------------------
Min Gender_Female_% per Sector value: 12.5
Max Gender_Female_% per Sector value: 84.3
--------------------
Gender_Female_% per Sector Mean: 44.01
--------------------
Gender_Female_% per Sector Standard Deviation: 19.08
====================
Gender_Male_% per Sector:
--------------------
Min Gender_Male_% per Sector value: 15.63
Max Gender_Male_% per Sector value: 87.5
--------------------
Gender_Male_% per Sector Mean: 55.94
--------------------
Gender_Male_% per Sector Standard Deviation: 19.11
====================
Age:
--------------------
Age Counts:
Age
Mixed Age    11463
Older         3778
Younger       2351
Name: count, dtype: int64
--------------------
Age Percentages:
Age
Mixed Age   65.20
Older       21.50
Younger     13.40
Name: proportion, dtype: float64
--------------------
Age not available.
====================
Age_Num:
--------------------
Age_Num Counts:
Age_Num
1    11463
0     3778
2     2351
Name: count, dtype: int64
--------------------
Age_Num Percentages:
Age_Num
1   65.20
0   21.50
2   13.40
Name: proportion, dtype: float64
--------------------
Min Age_Num value: 0.0
Max Age_Num value: 2.0
--------------------
Age_Num Mean: 0.92
--------------------
Age_Num Standard Deviation: 0.58
====================
Age_Older:
--------------------
Age_Older Counts:
Age_Older
0    13814
1     3778
Name: count, dtype: int64
--------------------
Age_Older Percentages:
Age_Older
0   78.50
1   21.50
Name: proportion, dtype: float64
--------------------
Min Age_Older value: 0.0
Max Age_Older value: 1.0
--------------------
Age_Older Mean: 0.21
--------------------
Age_Older Standard Deviation: 0.41
====================
Age_Mixed:
--------------------
Age_Mixed Counts:
Age_Mixed
1    11463
0     6129
Name: count, dtype: int64
--------------------
Age_Mixed Percentages:
Age_Mixed
1   65.20
0   34.80
Name: proportion, dtype: float64
--------------------
Min Age_Mixed value: 0.0
Max Age_Mixed value: 1.0
--------------------
Age_Mixed Mean: 0.65
--------------------
Age_Mixed Standard Deviation: 0.48
====================
Age_Younger:
--------------------
Age_Younger Counts:
Age_Younger
0    15241
1     2351
Name: count, dtype: int64
--------------------
Age_Younger Percentages:
Age_Younger
0   86.60
1   13.40
Name: proportion, dtype: float64
--------------------
Min Age_Younger value: 0.0
Max Age_Younger value: 1.0
--------------------
Age_Younger Mean: 0.13
--------------------
Age_Younger Standard Deviation: 0.34
====================
Age_Older_n:
--------------------
Min Age_Older_n value: 15.0
Max Age_Older_n value: 2844.0
--------------------
Age_Older_n Mean: 528.93
--------------------
Age_Older_n Standard Deviation: 800.51
====================
Age_Younger_n:
--------------------
Min Age_Younger_n value: 13.0
Max Age_Younger_n value: 5228.0
--------------------
Age_Younger_n Mean: 868.03
--------------------
Age_Younger_n Standard Deviation: 1509.21
====================
Age_Older_% per Sector:
--------------------
Min Age_Older_% per Sector value: 18.94
Max Age_Older_% per Sector value: 58.33
--------------------
Age_Older_% per Sector Mean: 40.62
--------------------
Age_Older_% per Sector Standard Deviation: 10.08
====================
Age_Younger_% per Sector:
--------------------
Min Age_Younger_% per Sector value: 44.44
Max Age_Younger_% per Sector value: 80.81
--------------------
Age_Younger_% per Sector Mean: 59.23
--------------------
Age_Younger_% per Sector Standard Deviation: 10.0

In [6]:
df_jobs['Job Description spacy_sentencized'].head()

0    [About Our Client, The Global KYC organisation...
1    [Your role, Were in business to save our home ...
2    [During the past four years Colourful Rebel ha...
3    [Job Description, We are currently recruiting ...
4    [KARL LAGERFELD COMPANY PROFILE, The house of ...
Name: Job Description spacy_sentencized, dtype: object

In [7]:
df_jobs['Job Description spacy_sentencized'].describe()

count                                                 17592
unique                                                16999
top       [THE PROFILEAbercrombie  Fitch Co is a leading...
freq                                                      4
Name: Job Description spacy_sentencized, dtype: object

In [8]:
# Explode df so that every row is one sentence
df_jobs = df_jobs.explode('Job Description spacy_sentencized', ignore_index=True)

In [9]:
# len = 408599
len(df_jobs)

408599

In [10]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408599 entries, 0 to 408598
Data columns (total 62 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   Search Keyword                       408599 non-null  object
 1   Platform                             408599 non-null  category
 2   Job ID                               408599 non-null  object
 3   Job Title                            408599 non-null  object
 4   Company Name                         408587 non-null  object
 5   Location                             408599 non-null  object
 6   Job Description                      408599 non-null  object
 7   Rating                               224564 non-null  float64
 8   Employment Type                      351502 non-null  object
 9   Company URL                          399603 non-null  object
 10  Job URL                              408599 non-null  object
 11  Job Age                              408599 non-null  object
 12  Job Age Number                       408599 non-null  object
 13  Collection Date                      408599 non-null  object
 14  Data Row                             183857 non-null  float64
 15  Tracking ID                          183857 non-null  object
 16  Industry                             241132 non-null  object
 17  Job Date                             184035 non-null  object
 18  Type of ownership                    57097 non-null   object
 19  Language                             408599 non-null  object
 20  Dutch Requirement in Job Ad          408599 non-null  category
 21  English Requirement in Job Ad        408599 non-null  category
 22  Dutch Requirement in Job Ad_No       408599 non-null  int64
 23  Dutch Requirement in Job Ad_Yes      408599 non-null  int64
 24  English Requirement in Job Ad_No     408599 non-null  int64
 25  English Requirement in Job Ad_Yes    408599 non-null  int64
 26  Sector Code                          408599 non-null  object
 27  Sector                               408599 non-null  object
 28  Keywords Count                       408599 non-null  float64
 29  Gender_Female_n                      408599 non-null  float64
 30  Gender_Female_% per Sector           408599 non-null  float64
 31  Gender_Female_% per Social Category  408599 non-null  float64
 32  Gender_Female_% per Workforce        408599 non-null  float64
 33  Gender_Male_n                        408599 non-null  float64
 34  Gender_Male_% per Sector             408599 non-null  float64
 35  Gender_Male_% per Social Category    408599 non-null  float64
 36  Gender_Male_% per Workforce          408599 non-null  float64
 37  Gender                               408599 non-null  category
 38  Age_Older_n                          408599 non-null  float64
 39  Age_Older_% per Sector               408599 non-null  float64
 40  Age_Older_% per Social Category      408599 non-null  float64
 41  Age_Older_% per Workforce            408599 non-null  float64
 42  Age_Younger_n                        408599 non-null  float64
 43  Age_Younger_% per Sector             408599 non-null  float64
 44  Age_Younger_% per Social Category    408599 non-null  float64
 45  Age_Younger_% per Workforce          408599 non-null  float64
 46  Age                                  408599 non-null  category
 47  Sector_n                             408599 non-null  float64
 48  % Sector per Workforce               408599 non-null  float64
 49  Gender_Female                        408599 non-null  int64
 50  Gender_Male                          408599 non-null  int64
 51  Gender_Mixed                         408599 non-null  int64
 52  Age_Mixed                            408599 non-null  int64
 53  Age_Older                            408599 non-null  int64
 54  Age_Younger                          408599 non-null  int64
 55  Gender_Num                           408599 non-null  int64
 56  Age_Num                              408599 non-null  int64
 57  Platform_Num                         408599 non-null  int64
 58  Platform_LinkedIn                    408599 non-null  int64
 59  Platform_Indeed                      408599 non-null  int64
 60  Platform_Glassdoor                   408599 non-null  int64
 61  Job Description spacy_sentencized    408599 non-null  object
dtypes: category(5), float64(21), int64(16), object(20)
memory usage: 179.6+ MB

In [11]:
df_jobs['Job Description spacy_sentencized'].head()

0                                     About Our Client
1    The Global KYC organisation is part of ING's C...
2    Its purpose is Enabling people and organisatio...
3    Our Global KYC organisation is a first line of...
4    In our Global KYC organisation you will be wor...
Name: Job Description spacy_sentencized, dtype: object

In [12]:
df_jobs['Job Description spacy_sentencized'].tail()

408594    Your application will be screened closely and ...
408595                 Tom is an equal opportunity employer
408596    We celebrate diversity, thrive on each others ...
408597    Naturally, we do not discriminate against any ...
408598                     Ready to move the world forward?
Name: Job Description spacy_sentencized, dtype: object

In [13]:
df_jobs['Job Description spacy_sentencized'].describe()

count        408599
unique       217755
top       Amsterdam
freq           1410
Name: Job Description spacy_sentencized, dtype: object

In [14]:
# Get longest sentence, sentence does not have any punctuation
df_jobs['Job Description spacy_sentencized'].loc[df_jobs['Job Description spacy_sentencized'].apply(len).idxmax()]

'This starts with performing the actual installation as per procedure and training at the customers site and is followed by troubleshooting, performing repairs, maintenance activities and installing upgrades to our system You will cooperate closely with our Sales team and thus contribute to ramping up our business In more detail, you and mount the Phenospex plant measurement systems and perform quality control checks to ensure correct functioning and customer satisfactionprovide support and training to the customer on the application of the automation technologies and user interfacesregularly interface with technical staff, such as Project Managers and Engineers, both at Phenospex and at the customers site to ensure that installation requirements on site are met in time before the installationdeliver troubleshooting and diagnostic support services to ensure that all products and services function properly and resolve technical support inquiries directlyinform customers on preventive maintenance and complete maintenance of the systems as requiredprovide the CCO with a detailed installation report upon project completionplan service assignments in assigned territories independently and combine trips to different service sites wiselyprovide support during trade showswork in close collaboration with the Sales  Service teamprovide training to relevant groups at Phenospexlog and keep records of all incoming issues and findings in the CRM system and internal databaseanalyze logs to spot common trends and underlying problemssupport the operations team with performing a variety of production development and repairrefurbishment workcomplete special assignments as requestedmaintain a safe and healthy work environment by following and complying with all health and safety policies, procedures and legislation in the workshop and on sitea degree in Biotechnology or Bioinformatics Engineering with focus on plants or a degree in Plant Physiology with a strong interest in technologya passion for working with your hands along with excellent technical and mechanical skillsfamiliarity with the Linux operating system and commands Debiana strong customer focus mentality and passion for challenges and troubleshootingstrong communication skills and good verbal and written English any other language is beneficialexcellent organizational skillsflexibility to travel on short notice and for longer periods of time worldwide roughly 50 of timea valid EU work permit and drivers license'

In [15]:
# Get length of longest sentence, len=2497
df_jobs['Job Description spacy_sentencized'].apply(len).max()

2497

In [16]:
# Get length of shortest sentence, len=4
df_jobs['Job Description spacy_sentencized'].apply(len).min()

4

In [17]:
# Get shortest sentence, its a punctuation (fullstop)
df_jobs['Job Description spacy_sentencized'].loc[df_jobs['Job Description spacy_sentencized'].apply(len).idxmin()]

'Role'

In [18]:
df_jobs['Job Description spacy_sentencized'] = df_jobs['Job Description spacy_sentencized'].apply(lambda x: unicodedata.normalize('NFKD', x.encode('ascii', 'ignore').decode('utf-8', 'ignore')))

In [19]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_sentencized_exploded.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_sentencized_exploded.csv', index=False)

# Validate sentencization and get word frequencies

### START HERE IF SOURCING FROM DF_JOBS_SENTENCIZED_EXPLODED
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [20]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

if code_dir_name not in str(Path.cwd()).split('/')[-1]:
    for _ in range(5):

        parent_path = str(Path.cwd().parents[_]).split('/')[-1]

        if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

            code_dir = str(Path.cwd().parents[_])

            if code_dir is not None:
                break
else:
    code_dir = str(Path.cwd())
sys.path.append(code_dir)

# %load_ext autoreload
# %autoreload 2

In [21]:
from setup_module.imports import * # type:ignore # isort:skip # fmt:skip # noqa # nopep8

In [22]:
def get_word_num_and_frequency(row, text_col):

    with open(f'{data_dir}punctuations.txt', 'rb') as f:
        custom_punct_chars = pickle.load(f)
    row['Job Description num_words'] = len(str(row[text_col]).split())
    row['Job Description num_unique_words'] = len(set(str(row[text_col]).split()))
    row['Job Description num_chars'] = len(str(row[text_col]))
    row['Job Description num_chars_no_whitespact_and_punt'] = len(
        [
            c
            for c in str(row[text_col])
            if c not in custom_punct_chars and c not in list(string.punctuation) and c in list(string.printable) and c not in list(string.whitespace) and c != ' '
        ]
    )
    row['Job Description num_punctuations'] = len(
        [
            c
            for c in str(row[text_col])
            if c in custom_punct_chars and c in list(string.punctuation) and c in list(string.printable) and c not in list(string.whitespace) and c != ' '
        ]
    )

    return row

In [23]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_sentencized_exploded.pkl')

In [24]:
df_jobs['Job Description spacy_sentencized'] = df_jobs['Job Description spacy_sentencized'].apply(lambda x: unicodedata.normalize('NFKD', x.encode('ascii', 'ignore').decode('utf-8', 'ignore')))

In [25]:
df_jobs['Job Description spacy_sentencized'] = df_jobs[
    'Job Description spacy_sentencized'
].apply(lambda x: x if isinstance(x, str) else ast.literal_eval(x))

In [26]:
df_jobs['Job Description spacy_sentencized'] = df_jobs['Job Description spacy_sentencized'].apply(lambda x: x if isinstance(x, str) else np.nan)

In [27]:
df_jobs['Job Description spacy_sentencized'] = df_jobs['Job Description spacy_sentencized'].astype(str)

In [28]:
#len=408599
len(df_jobs)

408599

In [29]:
df_jobs['Job Description spacy_sentencized'] = df_jobs[
    'Job Description spacy_sentencized'
].apply(
    lambda x: ' '.join(x.split()).strip()
    if bool(x)
    and isinstance(x, str)
    and len(x.split()) > 0
    else np.nan
)

In [30]:
df_jobs['Job Description spacy_sentencized'] = df_jobs[
    'Job Description spacy_sentencized'
].apply(
    lambda x: ' '.join(re.split(pattern, x)).strip()
    if bool(x)
    and isinstance(x, str)
    and len(x.split()) > 0
    else np.nan
)

In [31]:
#len=408599
len(df_jobs)

408599

In [32]:
df_jobs = df_jobs.dropna(subset=['Job ID', 'Job Description spacy_sentencized'])

In [33]:
# len=408599
len(df_jobs)

408599

In [34]:
# Drop na, empty strings, punctuations, and keep only sentences of length more than 0
with open(f'{data_dir}punctuations.txt', 'rb') as f:
    custom_punct_chars = pickle.load(f)

df_jobs = df_jobs.dropna(subset=['Job Description'])
df_jobs = df_jobs.loc[
    (df_jobs['Job Description spacy_sentencized'].isnull() == False)
    & (df_jobs['Job Description spacy_sentencized'].isna() == False)
    & (df_jobs['Job Description spacy_sentencized'].notnull() == True)
    & (df_jobs['Job Description spacy_sentencized'].notna() == True)
    & (df_jobs['Job Description spacy_sentencized'].astype(bool) == True)
    & (df_jobs['Job Description spacy_sentencized'].apply(len) > 0)
    & (pd.isna(df_jobs['Job Description spacy_sentencized']) == False)
    & (df_jobs['Job Description spacy_sentencized'].astype(str).isin(custom_punct_chars) == False)
    & (df_jobs['Job Description spacy_sentencized'].astype(str).isin(non_whitespace_nan_list) == False)
    & (df_jobs['Job Description spacy_sentencized'].astype(str).isin(list(string.punctuation)) == False)
    & (df_jobs['Job Description spacy_sentencized'].astype(str).isin(list(string.whitespace)) == False)
]
df_jobs = df_jobs.dropna(subset=['Job Description'])

In [35]:
# len=408599
len(df_jobs)

408599

In [36]:
df_jobs['Job Description spacy_sentencized'].head()

0                                     About Our Client
1    The Global KYC organisation is part of ING's C...
2    Its purpose is Enabling people and organisatio...
3    Our Global KYC organisation is a first line of...
4    In our Global KYC organisation you will be wor...
Name: Job Description spacy_sentencized, dtype: object

In [37]:
df_jobs['Job Description spacy_sentencized'].describe()

count        408599
unique       217622
top       Amsterdam
freq           1410
Name: Job Description spacy_sentencized, dtype: object

In [38]:
df_jobs['Job Description spacy_sentencized'] = df_jobs['Job Description spacy_sentencized'].dropna()

In [39]:
# len=408599
len(df_jobs)

408599

In [40]:
df_jobs['Job Description spacy_sentencized'].head()

0                                     About Our Client
1    The Global KYC organisation is part of ING's C...
2    Its purpose is Enabling people and organisatio...
3    Our Global KYC organisation is a first line of...
4    In our Global KYC organisation you will be wor...
Name: Job Description spacy_sentencized, dtype: object

In [41]:
# count=408599, unique=217622
df_jobs['Job Description spacy_sentencized'].describe()

count        408599
unique       217622
top       Amsterdam
freq           1410
Name: Job Description spacy_sentencized, dtype: object

In [42]:
%%time
with open(f'{data_dir}punctuations.txt', 'rb') as f:
    custom_punct_chars = pickle.load(f)

for idx, row in tqdm.tqdm(df_jobs['Job Description spacy_sentencized'].items()):
    cleaned_job_sentence = row.split()
    cleaned_job_sentence = list(
        filter(
            lambda items: (
                item is not None
                and isinstance(item, str)
                and item not in nan_list
                and item not in list(string.whitespace)
                and item in list(string.printable)
                for item in items
            ),
            cleaned_job_sentence
        )
    )
    cleaned_job_sentence = ' '.join(cleaned_job_sentence).strip()

    if len(cleaned_job_sentence.split()) > 2:
        df_jobs.loc[idx, 'Job Description spacy_sentencized'] = cleaned_job_sentence
    else:
        df_jobs = df_jobs.drop(idx)

408599it [2:20:32, 48.46it/s]

CPU times: user 2h 1min 20s, sys: 15min 13s, total: 2h 16min 33s
Wall time: 2h 20min 32s

In [43]:
# len = 347914
len(df_jobs)

347914

In [44]:
df_jobs['Job Description spacy_sentencized'].head()

0                                     About Our Client
1    The Global KYC organisation is part of ING's C...
2    Its purpose is Enabling people and organisatio...
3    Our Global KYC organisation is a first line of...
4    In our Global KYC organisation you will be wor...
Name: Job Description spacy_sentencized, dtype: object

In [45]:
# count=347914, unique=202343
df_jobs['Job Description spacy_sentencized'].describe()

count            347914
unique           202343
top       What we offer
freq                484
Name: Job Description spacy_sentencized, dtype: object

In [46]:
df_jobs['Job Description spacy_sentencized'] = df_jobs['Job Description spacy_sentencized'].dropna()

In [47]:
df_jobs['Job Description spacy_sentencized'] = df_jobs['Job Description spacy_sentencized'].apply(lambda x: unicodedata.normalize('NFKD', x.encode('ascii', 'ignore').decode('utf-8', 'ignore')))

In [48]:
# len = 347914
len(df_jobs)

347914

In [49]:
df_jobs['Job Description spacy_sentencized'].head()

0                                     About Our Client
1    The Global KYC organisation is part of ING's C...
2    Its purpose is Enabling people and organisatio...
3    Our Global KYC organisation is a first line of...
4    In our Global KYC organisation you will be wor...
Name: Job Description spacy_sentencized, dtype: object

In [50]:
# count=347914, unique=202343
df_jobs['Job Description spacy_sentencized'].describe()

count            347914
unique           202343
top       What we offer
freq                484
Name: Job Description spacy_sentencized, dtype: object

In [51]:
# Remove duplicate sentences from the same job ad
df_jobs = df_jobs.drop_duplicates(subset=['Job ID', 'Job Description spacy_sentencized'])

In [52]:
# len = 307318
len(df_jobs)

307318

In [53]:
# count=307318, unique=202343
df_jobs['Job Description spacy_sentencized'].describe()

count            307318
unique           202343
top       What we offer
freq                404
Name: Job Description spacy_sentencized, dtype: object

In [54]:
df_jobs['Job Description spacy_sentencized'] = df_jobs['Job Description spacy_sentencized'].dropna()

In [55]:
# len=307318
len(df_jobs)

307318

In [56]:
df_jobs['Job Description spacy_sentencized'].head()

0                                     About Our Client
1    The Global KYC organisation is part of ING's C...
2    Its purpose is Enabling people and organisatio...
3    Our Global KYC organisation is a first line of...
4    In our Global KYC organisation you will be wor...
Name: Job Description spacy_sentencized, dtype: object

In [57]:
# Drop na, empty strings, punctuations, and keep only sentences of length more than 0
with open(f'{data_dir}punctuations.txt', 'rb') as f:
    custom_punct_chars = pickle.load(f)

df_jobs = df_jobs.dropna(subset=['Job Description spacy_sentencized'])
df_jobs = df_jobs.loc[
    (df_jobs['Job Description spacy_sentencized'].isnull() == False)
    & (df_jobs['Job Description spacy_sentencized'].isna() == False)
    & (df_jobs['Job Description spacy_sentencized'].notnull() == True)
    & (df_jobs['Job Description spacy_sentencized'].notna() == True)
    & (df_jobs['Job Description spacy_sentencized'].astype(bool) == True)
    & (df_jobs['Job Description spacy_sentencized'].astype(str).apply(len) > 0)
    & (pd.isna(df_jobs['Job Description spacy_sentencized']) == False)
]

In [58]:
# len=307318
len(df_jobs)

307318

In [59]:
# count=307318, unique=202343
df_jobs['Job Description spacy_sentencized'].describe()

count            307318
unique           202343
top       What we offer
freq                404
Name: Job Description spacy_sentencized, dtype: object

In [60]:
df_jobs['Job Description spacy_sentencized'] = df_jobs['Job Description spacy_sentencized'].apply(lambda x: ' '.join(re.split(pattern, x)))

In [61]:
# Get the longest sentence
df_jobs['Job Description spacy_sentencized'].loc[df_jobs['Job Description spacy_sentencized'].apply(len).idxmax()]

'This starts with performing the actual installation as per procedure and training at the customers site and is followed by troubleshooting, performing repairs, maintenance activities and installing upgrades to our system You will cooperate closely with our Sales team and thus contribute to ramping up our business In more detail, you and mount the Phenospex plant measurement systems and perform quality control checks to ensure correct functioning and customer satisfactionprovide support and training to the customer on the application of the automation technologies and user interfacesregularly interface with technical staff, such as Project Managers and Engineers, both at Phenospex and at the customers site to ensure that installation requirements on site are met in time before the installationdeliver troubleshooting and diagnostic support services to ensure that all products and services function properly and resolve technical support inquiries directlyinform customers on preventive maintenance and complete maintenance of the systems as requiredprovide the CCO with a detailed installation report upon project completionplan service assignments in assigned territories independently and combine trips to different service sites wiselyprovide support during trade showswork in close collaboration with the Sales Service teamprovide training to relevant groups at Phenospexlog and keep records of all incoming issues and findings in the CRM system and internal databaseanalyze logs to spot common trends and underlying problemssupport the operations team with performing a variety of production development and repairrefurbishment workcomplete special assignments as requestedmaintain a safe and healthy work environment by following and complying with all health and safety policies, procedures and legislation in the workshop and on sitea degree in Biotechnology or Bioinformatics Engineering with focus on plants or a degree in Plant Physiology with a strong interest in technologya passion for working with your hands along with excellent technical and mechanical skillsfamiliarity with the Linux operating system and commands Debiana strong customer focus mentality and passion for challenges and troubleshootingstrong communication skills and good verbal and written English any other language is beneficialexcellent organizational skillsflexibility to travel on short notice and for longer periods of time worldwide roughly 50 of timea valid EU work permit and drivers license'

In [62]:
# len=2496
df_jobs['Job Description spacy_sentencized'].apply(len).max()

2496

In [63]:
# Get the shortest sentence
df_jobs['Job Description spacy_sentencized'].loc[df_jobs['Job Description spacy_sentencized'].apply(len).idxmin()]

'24 x 7'

In [64]:
# len=6
df_jobs['Job Description spacy_sentencized'].apply(len).min()

6

In [65]:
%%time
# Get sentence word frequencies
df_jobs = df_jobs.progress_apply(
    lambda row: get_word_num_and_frequency(
        row=row, text_col='Job Description spacy_sentencized'
    ), 
    axis='columns',
)

progress-bar:   0%|          | 0/307318 [00:00<?, ?it/s]

CPU times: user 5min 1s, sys: 11.5 s, total: 5min 12s
Wall time: 5min 23s

In [66]:
df_jobs[
    [
        'Job Description spacy_sentencized',
        'Job Description num_words', 'Job Description num_unique_words',
        'Job Description num_chars', 'Job Description num_chars_no_whitespact_and_punt'
    ]
].head()

          Job Description spacy_sentencized           Job Description num_words  Job Description num_unique_words  Job Description num_chars  Job Description num_chars_no_whitespact_and_punt
0                                   About Our Client              3                              3                             16                                     14
1  The Global KYC organisation is part of ING's C...             10                             10                             56                                     45
2  Its purpose is Enabling people and organisatio...             20                             19                            131                                    111
3  Our Global KYC organisation is a first line of...             34                             31                            239                                    203
4  In our Global KYC organisation you will be wor...             18                             18                            128                                    109

In [67]:
# Get the longest sentence words = 349
df_jobs['Job Description num_words'].max()

349

In [68]:
# Get the sentence with the max words
df_jobs['Job Description spacy_sentencized'].loc[df_jobs['Job Description num_words'].idxmax()]

'This starts with performing the actual installation as per procedure and training at the customers site and is followed by troubleshooting, performing repairs, maintenance activities and installing upgrades to our system You will cooperate closely with our Sales team and thus contribute to ramping up our business In more detail, you and mount the Phenospex plant measurement systems and perform quality control checks to ensure correct functioning and customer satisfactionprovide support and training to the customer on the application of the automation technologies and user interfacesregularly interface with technical staff, such as Project Managers and Engineers, both at Phenospex and at the customers site to ensure that installation requirements on site are met in time before the installationdeliver troubleshooting and diagnostic support services to ensure that all products and services function properly and resolve technical support inquiries directlyinform customers on preventive maintenance and complete maintenance of the systems as requiredprovide the CCO with a detailed installation report upon project completionplan service assignments in assigned territories independently and combine trips to different service sites wiselyprovide support during trade showswork in close collaboration with the Sales Service teamprovide training to relevant groups at Phenospexlog and keep records of all incoming issues and findings in the CRM system and internal databaseanalyze logs to spot common trends and underlying problemssupport the operations team with performing a variety of production development and repairrefurbishment workcomplete special assignments as requestedmaintain a safe and healthy work environment by following and complying with all health and safety policies, procedures and legislation in the workshop and on sitea degree in Biotechnology or Bioinformatics Engineering with focus on plants or a degree in Plant Physiology with a strong interest in technologya passion for working with your hands along with excellent technical and mechanical skillsfamiliarity with the Linux operating system and commands Debiana strong customer focus mentality and passion for challenges and troubleshootingstrong communication skills and good verbal and written English any other language is beneficialexcellent organizational skillsflexibility to travel on short notice and for longer periods of time worldwide roughly 50 of timea valid EU work permit and drivers license'

In [69]:
# Get the longest sentence words = 3
df_jobs['Job Description num_words'].min()

3

In [70]:
# Get the sentence with the min words
df_jobs['Job Description spacy_sentencized'].loc[df_jobs['Job Description num_words'].idxmin()]

'About Our Client'

In [71]:
df_jobs['Job Description spacy_sentencized_lower'] = df_jobs['Job Description spacy_sentencized'].progress_apply(
    lambda job_sentence: job_sentence.strip().lower()
)

progress-bar:   0%|          | 0/307318 [00:00<?, ?it/s]

In [72]:
df_jobs[['Job Description spacy_sentencized', 'Job Description spacy_sentencized_lower']].head()

          Job Description spacy_sentencized               Job Description spacy_sentencized_lower
0                                   About Our Client                                   about our client
1  The Global KYC organisation is part of ING's C...  the global kyc organisation is part of ing's c...
2  Its purpose is Enabling people and organisatio...  its purpose is enabling people and organisatio...
3  Our Global KYC organisation is a first line of...  our global kyc organisation is a first line of...
4  In our Global KYC organisation you will be wor...  in our global kyc organisation you will be wor...

In [73]:
%%time
# Add language requirement column
# Use regex to find language requirement
lang_requirements = {
    'Dutch Requirement in Sentence': dutch_requirement_pattern, 'English Requirement in Sentence': english_requirement_pattern
}

for lang_req, lang_req_pattern in lang_requirements.items():

    if lang_req in df_jobs.columns:
        df_jobs = df_jobs.drop(columns=[lang_req])
    df_jobs[lang_req] = np.where(
        df_jobs['Job Description'].str.contains(lang_req_pattern),
        'Yes',
        'No',
    )
    df_jobs[lang_req] = df_jobs[lang_req].astype('category').cat.reorder_categories(['No', 'Yes'], ordered=True)
    df_jobs[lang_req] = pd.Categorical(df_jobs[lang_req], categories=['No', 'Yes'], ordered=True)

CPU times: user 2min 21s, sys: 813 ms, total: 2min 22s
Wall time: 2min 23s

In [74]:
# Yes = 9692 job sentences
df_jobs['Dutch Requirement in Sentence'].value_counts()

Dutch Requirement in Sentence
No     297626
Yes      9692
Name: count, dtype: int64

In [75]:
# Yes = 17516 job sentences
df_jobs['English Requirement in Sentence'].value_counts()

English Requirement in Sentence
No     289802
Yes     17516
Name: count, dtype: int64

In [76]:
# Dummy coding for language requirement
df_jobs = df_jobs.join(pd.get_dummies(df_jobs[['Dutch Requirement in Sentence', 'English Requirement in Sentence']], dtype='int64'))

In [77]:
df_jobs['Dutch Requirement in Sentence_Yes'].value_counts()

Dutch Requirement in Sentence_Yes
0    297626
1      9692
Name: count, dtype: int64

In [78]:
df_jobs['English Requirement in Sentence_Yes'].value_counts()

English Requirement in Sentence_Yes
0    289802
1     17516
Name: count, dtype: int64

In [79]:
# Remove duplicate sentences from the same job ad
df_jobs = df_jobs.drop_duplicates(subset=['Job ID', 'Job Description spacy_sentencized'])

In [80]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_sentencized_validated.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_sentencized_validated.csv', index=False)