# ATTN: This script should be run AFTER spacy sentence splitting is completed.

# Explode DF on sentences

### START HERE IF SOURCING FROM DF_JOBS_SENTENCIZED
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [1]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

sys.path.append(code_dir)
# %load_ext autoreload
# %autoreload 2

In [2]:
from setup_module.imports import * # type:ignore # isort:skip # fmt:skip # noqa # nopep8

Using MPS

0it [00:00, ?it/s]

In [3]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_sentencized.pkl')

In [4]:
# len=17599
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17592 entries, 0 to 17592
Data columns (total 62 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Search Keyword                       17592 non-null  object
 1   Platform                             17592 non-null  category
 2   Job ID                               17592 non-null  object
 3   Job Title                            17592 non-null  object
 4   Company Name                         17590 non-null  object
 5   Location                             17592 non-null  object
 6   Job Description                      17592 non-null  object
 7   Rating                               3780 non-null   float64
 8   Employment Type                      17010 non-null  object
 9   Company URL                          15954 non-null  object
 10  Job URL                              17592 non-null  object
 11  Job Age                              17592 non-null  object
 12  Job Age Number                       17592 non-null  object
 13  Collection Date                      17592 non-null  object
 14  Data Row                             13809 non-null  float64
 15  Tracking ID                          13809 non-null  object
 16  Industry                             14394 non-null  object
 17  Job Date                             13812 non-null  object
 18  Type of ownership                    582 non-null    object
 19  Language                             17592 non-null  object
 20  Dutch Requirement in Job Ad          17592 non-null  category
 21  English Requirement in Job Ad        17592 non-null  category
 22  Dutch Requirement in Job Ad_No       17592 non-null  uint8
 23  Dutch Requirement in Job Ad_Yes      17592 non-null  uint8
 24  English Requirement in Job Ad_No     17592 non-null  uint8
 25  English Requirement in Job Ad_Yes    17592 non-null  uint8
 26  Sector Code                          17592 non-null  object
 27  Sector                               17592 non-null  object
 28  Keywords Count                       17592 non-null  float64
 29  Gender_Female_n                      17592 non-null  float64
 30  Gender_Female_% per Sector           17592 non-null  float64
 31  Gender_Female_% per Social Category  17592 non-null  float64
 32  Gender_Female_% per Workforce        17592 non-null  float64
 33  Gender_Male_n                        17592 non-null  float64
 34  Gender_Male_% per Sector             17592 non-null  float64
 35  Gender_Male_% per Social Category    17592 non-null  float64
 36  Gender_Male_% per Workforce          17592 non-null  float64
 37  Gender                               17592 non-null  category
 38  Age_Older_n                          17592 non-null  float64
 39  Age_Older_% per Sector               17592 non-null  float64
 40  Age_Older_% per Social Category      17592 non-null  float64
 41  Age_Older_% per Workforce            17592 non-null  float64
 42  Age_Younger_n                        17592 non-null  float64
 43  Age_Younger_% per Sector             17592 non-null  float64
 44  Age_Younger_% per Social Category    17592 non-null  float64
 45  Age_Younger_% per Workforce          17592 non-null  float64
 46  Age                                  17592 non-null  category
 47  Sector_n                             17592 non-null  float64
 48  % Sector per Workforce               17592 non-null  float64
 49  Gender_Female                        17592 non-null  int64
 50  Gender_Male                          17592 non-null  int64
 51  Gender_Mixed                         17592 non-null  int64
 52  Age_Mixed                            17592 non-null  int64
 53  Age_Older                            17592 non-null  int64
 54  Age_Younger                          17592 non-null  int64
 55  Gender_Num                           17592 non-null  int64
 56  Age_Num                              17592 non-null  int64
 57  Platform_Num                         17592 non-null  int64
 58  Platform_LinkedIn                    17592 non-null  int64
 59  Platform_Indeed                      17592 non-null  int64
 60  Platform_Glassdoor                   17592 non-null  int64
 61  Job Description spacy_sentencized    17592 non-null  object
dtypes: category(5), float64(21), int64(12), object(20), uint8(4)
memory usage: 7.4+ MB

In [5]:
# Job Ad info
get_df_info(df_jobs, ivs_all=ivs_all)

DF INFO:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17592 entries, 0 to 17592
Data columns (total 62 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Search Keyword                       17592 non-null  object
 1   Platform                             17592 non-null  category
 2   Job ID                               17592 non-null  object
 3   Job Title                            17592 non-null  object
 4   Company Name                         17590 non-null  object
 5   Location                             17592 non-null  object
 6   Job Description                      17592 non-null  object
 7   Rating                               3780 non-null   float64
 8   Employment Type                      17010 non-null  object
 9   Company URL                          15954 non-null  object
 10  Job URL                              17592 non-null  object
 11  Job Age                              17592 non-null  object
 12  Job Age Number                       17592 non-null  object
 13  Collection Date                      17592 non-null  object
 14  Data Row                             13809 non-null  float64
 15  Tracking ID                          13809 non-null  object
 16  Industry                             14394 non-null  object
 17  Job Date                             13812 non-null  object
 18  Type of ownership                    582 non-null    object
 19  Language                             17592 non-null  object
 20  Dutch Requirement in Job Ad          17592 non-null  category
 21  English Requirement in Job Ad        17592 non-null  category
 22  Dutch Requirement in Job Ad_No       17592 non-null  uint8
 23  Dutch Requirement in Job Ad_Yes      17592 non-null  uint8
 24  English Requirement in Job Ad_No     17592 non-null  uint8
 25  English Requirement in Job Ad_Yes    17592 non-null  uint8
 26  Sector Code                          17592 non-null  object
 27  Sector                               17592 non-null  object
 28  Keywords Count                       17592 non-null  float64
 29  Gender_Female_n                      17592 non-null  float64
 30  Gender_Female_% per Sector           17592 non-null  float64
 31  Gender_Female_% per Social Category  17592 non-null  float64
 32  Gender_Female_% per Workforce        17592 non-null  float64
 33  Gender_Male_n                        17592 non-null  float64
 34  Gender_Male_% per Sector             17592 non-null  float64
 35  Gender_Male_% per Social Category    17592 non-null  float64
 36  Gender_Male_% per Workforce          17592 non-null  float64
 37  Gender                               17592 non-null  category
 38  Age_Older_n                          17592 non-null  float64
 39  Age_Older_% per Sector               17592 non-null  float64
 40  Age_Older_% per Social Category      17592 non-null  float64
 41  Age_Older_% per Workforce            17592 non-null  float64
 42  Age_Younger_n                        17592 non-null  float64
 43  Age_Younger_% per Sector             17592 non-null  float64
 44  Age_Younger_% per Social Category    17592 non-null  float64
 45  Age_Younger_% per Workforce          17592 non-null  float64
 46  Age                                  17592 non-null  category
 47  Sector_n                             17592 non-null  float64
 48  % Sector per Workforce               17592 non-null  float64
 49  Gender_Female                        17592 non-null  int64
 50  Gender_Male                          17592 non-null  int64
 51  Gender_Mixed                         17592 non-null  int64
 52  Age_Mixed                            17592 non-null  int64
 53  Age_Older                            17592 non-null  int64
 54  Age_Younger                          17592 non-null  int64
 55  Gender_Num                           17592 non-null  int64
 56  Age_Num                              17592 non-null  int64
 57  Platform_Num                         17592 non-null  int64
 58  Platform_LinkedIn                    17592 non-null  int64
 59  Platform_Indeed                      17592 non-null  int64
 60  Platform_Glassdoor                   17592 non-null  int64
 61  Job Description spacy_sentencized    17592 non-null  object
dtypes: category(5), float64(21), int64(12), object(20), uint8(4)
memory usage: 7.4+ MB
====================
Gender:
--------------------
Gender Counts:
Male            6974
Mixed Gender    6664
Female          3954
Name: Gender, dtype: int64
--------------------
Gender Percentages:
Male           39.60
Mixed Gender   37.90
Female         22.50
Name: Gender, dtype: float64
--------------------
Min Gender value: Female
Max Gender value: Male
--------------------
====================
Gender_Num:
--------------------
Gender_Num Counts:
2    6974
1    6664
0    3954
Name: Gender_Num, dtype: int64
--------------------
Gender_Num Percentages:
2   39.60
1   37.90
0   22.50
Name: Gender_Num, dtype: float64
--------------------
Min Gender_Num value: 0
Max Gender_Num value: 2
--------------------
Gender_Num Mean: 1.17
--------------------
Gender_Num Standard Deviation: 0.77
====================
Gender_Female:
--------------------
Gender_Female Counts:
0    13638
1     3954
Name: Gender_Female, dtype: int64
--------------------
Gender_Female Percentages:
0   77.50
1   22.50
Name: Gender_Female, dtype: float64
--------------------
Min Gender_Female value: 0
Max Gender_Female value: 1
--------------------
Gender_Female Mean: 0.22
--------------------
Gender_Female Standard Deviation: 0.42
====================
Gender_Mixed:
--------------------
Gender_Mixed Counts:
0    10928
1     6664
Name: Gender_Mixed, dtype: int64
--------------------
Gender_Mixed Percentages:
0   62.10
1   37.90
Name: Gender_Mixed, dtype: float64
--------------------
Min Gender_Mixed value: 0
Max Gender_Mixed value: 1
--------------------
Gender_Mixed Mean: 0.38
--------------------
Gender_Mixed Standard Deviation: 0.49
====================
Gender_Male:
--------------------
Gender_Male Counts:
0    10618
1     6974
Name: Gender_Male, dtype: int64
--------------------
Gender_Male Percentages:
0   60.40
1   39.60
Name: Gender_Male, dtype: float64
--------------------
Min Gender_Male value: 0
Max Gender_Male value: 1
--------------------
Gender_Male Mean: 0.4
--------------------
Gender_Male Standard Deviation: 0.49
====================
Gender_Female_n:
--------------------
Min Gender_Female_n value: 7.0
Max Gender_Female_n value: 3970.0
--------------------
Gender_Female_n Mean: 637.88
--------------------
Gender_Female_n Standard Deviation: 1041.39
====================
Gender_Male_n:
--------------------
Min Gender_Male_n value: 21.0
Max Gender_Male_n value: 4510.0
--------------------
Gender_Male_n Mean: 759.44
--------------------
Gender_Male_n Standard Deviation: 1302.6
====================
Gender_Female_% per Sector:
--------------------
Min Gender_Female_% per Sector value: 12.5
Max Gender_Female_% per Sector value: 84.2986741102582
--------------------
Gender_Female_% per Sector Mean: 44.01
--------------------
Gender_Female_% per Sector Standard Deviation: 19.08
====================
Gender_Male_% per Sector:
--------------------
Min Gender_Male_% per Sector value: 15.631542219120725
Max Gender_Male_% per Sector value: 87.5
--------------------
Gender_Male_% per Sector Mean: 55.94
--------------------
Gender_Male_% per Sector Standard Deviation: 19.11
====================
Age:
--------------------
Age Counts:
Mixed Age    11463
Older         3778
Younger       2351
Name: Age, dtype: int64
--------------------
Age Percentages:
Mixed Age   65.20
Older       21.50
Younger     13.40
Name: Age, dtype: float64
--------------------
Min Age value: Older
Max Age value: Younger
--------------------
====================
Age_Num:
--------------------
Age_Num Counts:
1    11463
0     3778
2     2351
Name: Age_Num, dtype: int64
--------------------
Age_Num Percentages:
1   65.20
0   21.50
2   13.40
Name: Age_Num, dtype: float64
--------------------
Min Age_Num value: 0
Max Age_Num value: 2
--------------------
Age_Num Mean: 0.92
--------------------
Age_Num Standard Deviation: 0.58
====================
Age_Older:
--------------------
Age_Older Counts:
0    13814
1     3778
Name: Age_Older, dtype: int64
--------------------
Age_Older Percentages:
0   78.50
1   21.50
Name: Age_Older, dtype: float64
--------------------
Min Age_Older value: 0
Max Age_Older value: 1
--------------------
Age_Older Mean: 0.21
--------------------
Age_Older Standard Deviation: 0.41
====================
Age_Mixed:
--------------------
Age_Mixed Counts:
1    11463
0     6129
Name: Age_Mixed, dtype: int64
--------------------
Age_Mixed Percentages:
1   65.20
0   34.80
Name: Age_Mixed, dtype: float64
--------------------
Min Age_Mixed value: 0
Max Age_Mixed value: 1
--------------------
Age_Mixed Mean: 0.65
--------------------
Age_Mixed Standard Deviation: 0.48
====================
Age_Younger:
--------------------
Age_Younger Counts:
0    15241
1     2351
Name: Age_Younger, dtype: int64
--------------------
Age_Younger Percentages:
0   86.60
1   13.40
Name: Age_Younger, dtype: float64
--------------------
Min Age_Younger value: 0
Max Age_Younger value: 1
--------------------
Age_Younger Mean: 0.13
--------------------
Age_Younger Standard Deviation: 0.34
====================
Age_Older_n:
--------------------
Min Age_Older_n value: 15.0
Max Age_Older_n value: 2844.0
--------------------
Age_Older_n Mean: 528.93
--------------------
Age_Older_n Standard Deviation: 800.51
====================
Age_Younger_n:
--------------------
Min Age_Younger_n value: 13.0
Max Age_Younger_n value: 5228.0
--------------------
Age_Younger_n Mean: 868.03
--------------------
Age_Younger_n Standard Deviation: 1509.21
====================
Age_Older_% per Sector:
--------------------
Min Age_Older_% per Sector value: 18.939393939393938
Max Age_Older_% per Sector value: 58.333333333333336
--------------------
Age_Older_% per Sector Mean: 40.62
--------------------
Age_Older_% per Sector Standard Deviation: 10.08
====================
Age_Younger_% per Sector:
--------------------
Min Age_Younger_% per Sector value: 44.44444444444444
Max Age_Younger_% per Sector value: 80.8080808080808
--------------------
Age_Younger_% per Sector Mean: 59.23
--------------------
Age_Younger_% per Sector Standard Deviation: 10.0

In [6]:
df_jobs['Job Description spacy_sentencized'].head()

0    [About Our Client, The Global KYC organisation...
1    [Your role, Were in business to save our home ...
2    [During the past four years Colourful Rebel ha...
3    [Job Description, We are currently recruiting ...
4    [KARL LAGERFELD COMPANY PROFILE, The house of ...
Name: Job Description spacy_sentencized, dtype: object

In [7]:
df_jobs['Job Description spacy_sentencized'].describe()

count                                                 17592
unique                                                16999
top       [THE PROFILEAbercrombie  Fitch Co is a leading...
freq                                                      4
Name: Job Description spacy_sentencized, dtype: object

In [8]:
# Explode df so that every row is one sentence
df_jobs = df_jobs.explode('Job Description spacy_sentencized', ignore_index=True)

In [9]:
# len = 408599
len(df_jobs)

408599

In [10]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 408599 entries, 0 to 408598
Data columns (total 62 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   Search Keyword                       408599 non-null  object
 1   Platform                             408599 non-null  category
 2   Job ID                               408599 non-null  object
 3   Job Title                            408599 non-null  object
 4   Company Name                         408587 non-null  object
 5   Location                             408599 non-null  object
 6   Job Description                      408599 non-null  object
 7   Rating                               224564 non-null  float64
 8   Employment Type                      351502 non-null  object
 9   Company URL                          399603 non-null  object
 10  Job URL                              408599 non-null  object
 11  Job Age                              408599 non-null  object
 12  Job Age Number                       408599 non-null  object
 13  Collection Date                      408599 non-null  object
 14  Data Row                             183857 non-null  float64
 15  Tracking ID                          183857 non-null  object
 16  Industry                             241132 non-null  object
 17  Job Date                             184035 non-null  object
 18  Type of ownership                    57097 non-null   object
 19  Language                             408599 non-null  object
 20  Dutch Requirement in Job Ad          408599 non-null  category
 21  English Requirement in Job Ad        408599 non-null  category
 22  Dutch Requirement in Job Ad_No       408599 non-null  uint8
 23  Dutch Requirement in Job Ad_Yes      408599 non-null  uint8
 24  English Requirement in Job Ad_No     408599 non-null  uint8
 25  English Requirement in Job Ad_Yes    408599 non-null  uint8
 26  Sector Code                          408599 non-null  object
 27  Sector                               408599 non-null  object
 28  Keywords Count                       408599 non-null  float64
 29  Gender_Female_n                      408599 non-null  float64
 30  Gender_Female_% per Sector           408599 non-null  float64
 31  Gender_Female_% per Social Category  408599 non-null  float64
 32  Gender_Female_% per Workforce        408599 non-null  float64
 33  Gender_Male_n                        408599 non-null  float64
 34  Gender_Male_% per Sector             408599 non-null  float64
 35  Gender_Male_% per Social Category    408599 non-null  float64
 36  Gender_Male_% per Workforce          408599 non-null  float64
 37  Gender                               408599 non-null  category
 38  Age_Older_n                          408599 non-null  float64
 39  Age_Older_% per Sector               408599 non-null  float64
 40  Age_Older_% per Social Category      408599 non-null  float64
 41  Age_Older_% per Workforce            408599 non-null  float64
 42  Age_Younger_n                        408599 non-null  float64
 43  Age_Younger_% per Sector             408599 non-null  float64
 44  Age_Younger_% per Social Category    408599 non-null  float64
 45  Age_Younger_% per Workforce          408599 non-null  float64
 46  Age                                  408599 non-null  category
 47  Sector_n                             408599 non-null  float64
 48  % Sector per Workforce               408599 non-null  float64
 49  Gender_Female                        408599 non-null  int64
 50  Gender_Male                          408599 non-null  int64
 51  Gender_Mixed                         408599 non-null  int64
 52  Age_Mixed                            408599 non-null  int64
 53  Age_Older                            408599 non-null  int64
 54  Age_Younger                          408599 non-null  int64
 55  Gender_Num                           408599 non-null  int64
 56  Age_Num                              408599 non-null  int64
 57  Platform_Num                         408599 non-null  int64
 58  Platform_LinkedIn                    408599 non-null  int64
 59  Platform_Indeed                      408599 non-null  int64
 60  Platform_Glassdoor                   408599 non-null  int64
 61  Job Description spacy_sentencized    408599 non-null  object
dtypes: category(5), float64(21), int64(12), object(20), uint8(4)
memory usage: 168.7+ MB

In [11]:
df_jobs['Job Description spacy_sentencized'].head()

0                                     About Our Client
1    The Global KYC organisation is part of ING's C...
2    Its purpose is Enabling people and organisatio...
3    Our Global KYC organisation is a first line of...
4    In our Global KYC organisation you will be wor...
Name: Job Description spacy_sentencized, dtype: object

In [12]:
df_jobs['Job Description spacy_sentencized'].tail()

408594    Your application will be screened closely and ...
408595                 Tom is an equal opportunity employer
408596    We celebrate diversity, thrive on each others ...
408597    Naturally, we do not discriminate against any ...
408598                     Ready to move the world forward?
Name: Job Description spacy_sentencized, dtype: object

In [13]:
df_jobs['Job Description spacy_sentencized'].describe()

count        408599
unique       217755
top       Amsterdam
freq           1410
Name: Job Description spacy_sentencized, dtype: object

In [14]:
# Get longest sentence, sentence does not have any punctuation
df_jobs['Job Description spacy_sentencized'].loc[df_jobs['Job Description spacy_sentencized'].apply(len).idxmax()]

'This starts with performing the actual installation as per procedure and training at the customers site and is followed by troubleshooting, performing repairs, maintenance activities and installing upgrades to our system You will cooperate closely with our Sales team and thus contribute to ramping up our business In more detail, you and mount the Phenospex plant measurement systems and perform quality control checks to ensure correct functioning and customer satisfactionprovide support and training to the customer on the application of the automation technologies and user interfacesregularly interface with technical staff, such as Project Managers and Engineers, both at Phenospex and at the customers site to ensure that installation requirements on site are met in time before the installationdeliver troubleshooting and diagnostic support services to ensure that all products and services function properly and resolve technical support inquiries directlyinform customers on preventive maintenance and complete maintenance of the systems as requiredprovide the CCO with a detailed installation report upon project completionplan service assignments in assigned territories independently and combine trips to different service sites wiselyprovide support during trade showswork in close collaboration with the Sales  Service teamprovide training to relevant groups at Phenospexlog and keep records of all incoming issues and findings in the CRM system and internal databaseanalyze logs to spot common trends and underlying problemssupport the operations team with performing a variety of production development and repairrefurbishment workcomplete special assignments as requestedmaintain a safe and healthy work environment by following and complying with all health and safety policies, procedures and legislation in the workshop and on sitea degree in Biotechnology or Bioinformatics Engineering with focus on plants or a degree in Plant Physiology with a strong interest in technologya passion for working with your hands along with excellent technical and mechanical skillsfamiliarity with the Linux operating system and commands Debiana strong customer focus mentality and passion for challenges and troubleshootingstrong communication skills and good verbal and written English any other language is beneficialexcellent organizational skillsflexibility to travel on short notice and for longer periods of time worldwide roughly 50 of timea valid EU work permit and drivers license'

In [15]:
# Get length of longest sentence, len=2497
df_jobs['Job Description spacy_sentencized'].apply(len).max()

2497

In [16]:
# Get length of shortest sentence, len=4
df_jobs['Job Description spacy_sentencized'].apply(len).min()

4

In [17]:
# Get shortest sentence, its a punctuation (fullstop)
df_jobs['Job Description spacy_sentencized'].loc[df_jobs['Job Description spacy_sentencized'].apply(len).idxmin()]

'Role'

In [18]:
df_jobs['Job Description spacy_sentencized'] = df_jobs['Job Description spacy_sentencized'].apply(lambda x: unicodedata.normalize('NFKD', x.encode('ascii', 'ignore').decode('utf-8', 'ignore')))

In [19]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_sentencized_exploded.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_sentencized_exploded.csv', index=False)

# Validate sentencization and get word frequencies

### START HERE IF SOURCING FROM DF_JOBS_SENTENCIZED_EXPLODED
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [20]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

sys.path.append(code_dir)
# %load_ext autoreload
# %autoreload 2

In [21]:
from setup_module.imports import * # type:ignore # isort:skip # fmt:skip # noqa # nopep8

In [22]:
def get_word_num_and_frequency(row, text_col):

    with open(f'{data_dir}punctuations.txt', 'rb') as f:
        custom_punct_chars = pickle.load(f)
    row['Job Description num_words'] = len(str(row[text_col]).split())
    row['Job Description num_unique_words'] = len(set(str(row[text_col]).split()))
    row['Job Description num_chars'] = len(str(row[text_col]))
    row['Job Description num_chars_no_whitespact_and_punt'] = len(
        [
            c
            for c in str(row[text_col])
            if c not in custom_punct_chars and c not in list(string.punctuation) and c in list(string.printable) and c not in list(string.whitespace) and c != ' '
        ]
    )
    row['Job Description num_punctuations'] = len(
        [
            c
            for c in str(row[text_col])
            if c in custom_punct_chars and c in list(string.punctuation) and c in list(string.printable) and c not in list(string.whitespace) and c != ' '
        ]
    )

    return row

In [23]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_sentencized_exploded.pkl')

In [24]:
df_jobs['Job Description spacy_sentencized'] = df_jobs['Job Description spacy_sentencized'].apply(lambda x: unicodedata.normalize('NFKD', x.encode('ascii', 'ignore').decode('utf-8', 'ignore')))

In [25]:
df_jobs['Job Description spacy_sentencized'] = df_jobs[
    'Job Description spacy_sentencized'
].apply(lambda x: x if isinstance(x, str) else ast.literal_eval(x))

In [26]:
df_jobs['Job Description spacy_sentencized'] = df_jobs['Job Description spacy_sentencized'].apply(lambda x: x if isinstance(x, str) else np.nan)

In [27]:
df_jobs['Job Description spacy_sentencized'] = df_jobs['Job Description spacy_sentencized'].astype(str)

In [28]:
#len=408599
len(df_jobs)

408599

In [29]:
df_jobs['Job Description spacy_sentencized'] = df_jobs[
    'Job Description spacy_sentencized'
].apply(
    lambda x: ' '.join(x.split()).strip()
    if bool(x)
    and isinstance(x, str)
    and len(x.split()) > 0
    else np.nan
)

In [30]:
df_jobs['Job Description spacy_sentencized'] = df_jobs[
    'Job Description spacy_sentencized'
].apply(
    lambda x: ' '.join(re.split(pattern, x)).strip()
    if bool(x)
    and isinstance(x, str)
    and len(x.split()) > 0
    else np.nan
)

In [31]:
#len=408599
len(df_jobs)

408599

In [32]:
df_jobs = df_jobs.dropna(subset=['Job ID', 'Job Description spacy_sentencized'])

In [33]:
# len=408599
len(df_jobs)

408599

In [34]:
# Drop na, empty strings, punctuations, and keep only sentences of length more than 0
with open(f'{data_dir}punctuations.txt', 'rb') as f:
    custom_punct_chars = pickle.load(f)

df_jobs = df_jobs.dropna(subset=['Job Description'])
df_jobs = df_jobs.loc[
    (df_jobs['Job Description spacy_sentencized'].isnull() == False)
    & (df_jobs['Job Description spacy_sentencized'].isna() == False)
    & (df_jobs['Job Description spacy_sentencized'].notnull() == True)
    & (df_jobs['Job Description spacy_sentencized'].notna() == True)
    & (df_jobs['Job Description spacy_sentencized'].astype(bool) == True)
    & (df_jobs['Job Description spacy_sentencized'].apply(len) > 0)
    & (pd.isna(df_jobs['Job Description spacy_sentencized']) == False)
    & (df_jobs['Job Description spacy_sentencized'].astype(str).isin(custom_punct_chars) == False)
    & (df_jobs['Job Description spacy_sentencized'].astype(str).isin(non_whitespace_nan_list) == False)
    & (df_jobs['Job Description spacy_sentencized'].astype(str).isin(list(string.punctuation)) == False)
    & (df_jobs['Job Description spacy_sentencized'].astype(str).isin(list(string.whitespace)) == False)
]
df_jobs = df_jobs.dropna(subset=['Job Description'])

In [35]:
# len=408599
len(df_jobs)

408599

In [36]:
df_jobs['Job Description spacy_sentencized'].head()

0                                     About Our Client
1    The Global KYC organisation is part of ING's C...
2    Its purpose is Enabling people and organisatio...
3    Our Global KYC organisation is a first line of...
4    In our Global KYC organisation you will be wor...
Name: Job Description spacy_sentencized, dtype: object

In [37]:
df_jobs['Job Description spacy_sentencized'].describe()

count        408599
unique       217622
top       Amsterdam
freq           1410
Name: Job Description spacy_sentencized, dtype: object

In [38]:
df_jobs['Job Description spacy_sentencized'] = df_jobs['Job Description spacy_sentencized'].dropna()

In [39]:
# len=408599
len(df_jobs)

408599

In [40]:
df_jobs['Job Description spacy_sentencized'].head()

0                                     About Our Client
1    The Global KYC organisation is part of ING's C...
2    Its purpose is Enabling people and organisatio...
3    Our Global KYC organisation is a first line of...
4    In our Global KYC organisation you will be wor...
Name: Job Description spacy_sentencized, dtype: object

In [41]:
# count=408599, unique=217622
df_jobs['Job Description spacy_sentencized'].describe()

count        408599
unique       217622
top       Amsterdam
freq           1410
Name: Job Description spacy_sentencized, dtype: object

In [42]:
%%time
with open(f'{data_dir}punctuations.txt', 'rb') as f:
    custom_punct_chars = pickle.load(f)

for idx, row in tqdm.tqdm(df_jobs['Job Description spacy_sentencized'].items()):
    cleaned_job_sentence = row.split()
    cleaned_job_sentence = list(
        filter(
            lambda items: (
                item is not None
                and isinstance(item, str)
                and item not in nan_list
                and item not in list(string.whitespace)
                and item in list(string.printable)
                for item in items
            ),
            cleaned_job_sentence
        )
    )
    cleaned_job_sentence = ' '.join(cleaned_job_sentence).strip()

    if len(cleaned_job_sentence.split()) > 2:
        df_jobs.loc[idx, 'Job Description spacy_sentencized'] = cleaned_job_sentence
    else:
        df_jobs = df_jobs.drop(idx)

408599it [2:33:34, 44.35it/s]

CPU times: user 2h 10min 35s, sys: 16min 2s, total: 2h 26min 38s
Wall time: 2h 33min 34s

In [43]:
# len = 347914
len(df_jobs)

347914

In [44]:
df_jobs['Job Description spacy_sentencized'].head()

0                                     About Our Client
1    The Global KYC organisation is part of ING's C...
2    Its purpose is Enabling people and organisatio...
3    Our Global KYC organisation is a first line of...
4    In our Global KYC organisation you will be wor...
Name: Job Description spacy_sentencized, dtype: object

In [45]:
# count=347914, unique=202343
df_jobs['Job Description spacy_sentencized'].describe()

count            347914
unique           202343
top       What we offer
freq                484
Name: Job Description spacy_sentencized, dtype: object

In [46]:
df_jobs['Job Description spacy_sentencized'] = df_jobs['Job Description spacy_sentencized'].dropna()

In [47]:
df_jobs['Job Description spacy_sentencized'] = df_jobs['Job Description spacy_sentencized'].apply(lambda x: unicodedata.normalize('NFKD', x.encode('ascii', 'ignore').decode('utf-8', 'ignore')))

In [48]:
# len = 347914
len(df_jobs)

347914

In [49]:
df_jobs['Job Description spacy_sentencized'].head()

0                                     About Our Client
1    The Global KYC organisation is part of ING's C...
2    Its purpose is Enabling people and organisatio...
3    Our Global KYC organisation is a first line of...
4    In our Global KYC organisation you will be wor...
Name: Job Description spacy_sentencized, dtype: object

In [50]:
# count=347914, unique=202343
df_jobs['Job Description spacy_sentencized'].describe()

count            347914
unique           202343
top       What we offer
freq                484
Name: Job Description spacy_sentencized, dtype: object

In [51]:
# Remove duplicate sentences from the same job ad
df_jobs = df_jobs.drop_duplicates(subset=['Job ID', 'Job Description spacy_sentencized'])

In [52]:
# len = 307464
len(df_jobs)

307464

In [53]:
# count=307464, unique=202343
df_jobs['Job Description spacy_sentencized'].describe()

count            307464
unique           202343
top       What we offer
freq                404
Name: Job Description spacy_sentencized, dtype: object

In [54]:
df_jobs['Job Description spacy_sentencized'] = df_jobs['Job Description spacy_sentencized'].dropna()

In [55]:
# len=307464
len(df_jobs)

307464

In [56]:
df_jobs['Job Description spacy_sentencized'].head()

0                                     About Our Client
1    The Global KYC organisation is part of ING's C...
2    Its purpose is Enabling people and organisatio...
3    Our Global KYC organisation is a first line of...
4    In our Global KYC organisation you will be wor...
Name: Job Description spacy_sentencized, dtype: object

In [57]:
# Drop na, empty strings, punctuations, and keep only sentences of length more than 0
with open(f'{data_dir}punctuations.txt', 'rb') as f:
    custom_punct_chars = pickle.load(f)

df_jobs = df_jobs.dropna(subset=['Job Description spacy_sentencized'])
df_jobs = df_jobs.loc[
    (df_jobs['Job Description spacy_sentencized'].isnull() == False)
    & (df_jobs['Job Description spacy_sentencized'].isna() == False)
    & (df_jobs['Job Description spacy_sentencized'].notnull() == True)
    & (df_jobs['Job Description spacy_sentencized'].notna() == True)
    & (df_jobs['Job Description spacy_sentencized'].astype(bool) == True)
    & (df_jobs['Job Description spacy_sentencized'].astype(str).apply(len) > 0)
    & (pd.isna(df_jobs['Job Description spacy_sentencized']) == False)
]

In [58]:
# len=307464
len(df_jobs)

307464

In [59]:
# count=307464, unique=202343
df_jobs['Job Description spacy_sentencized'].describe()

count            307464
unique           202343
top       What we offer
freq                404
Name: Job Description spacy_sentencized, dtype: object

In [60]:
df_jobs['Job Description spacy_sentencized'] = df_jobs['Job Description spacy_sentencized'].apply(lambda x: ' '.join(re.split(pattern, x)))

In [61]:
# Get the longest sentence
df_jobs['Job Description spacy_sentencized'].loc[df_jobs['Job Description spacy_sentencized'].apply(len).idxmax()]

'This starts with performing the actual installation as per procedure and training at the customers site and is followed by troubleshooting, performing repairs, maintenance activities and installing upgrades to our system You will cooperate closely with our Sales team and thus contribute to ramping up our business In more detail, you and mount the Phenospex plant measurement systems and perform quality control checks to ensure correct functioning and customer satisfactionprovide support and training to the customer on the application of the automation technologies and user interfacesregularly interface with technical staff, such as Project Managers and Engineers, both at Phenospex and at the customers site to ensure that installation requirements on site are met in time before the installationdeliver troubleshooting and diagnostic support services to ensure that all products and services function properly and resolve technical support inquiries directlyinform customers on preventive maintenance and complete maintenance of the systems as requiredprovide the CCO with a detailed installation report upon project completionplan service assignments in assigned territories independently and combine trips to different service sites wiselyprovide support during trade showswork in close collaboration with the Sales Service teamprovide training to relevant groups at Phenospexlog and keep records of all incoming issues and findings in the CRM system and internal databaseanalyze logs to spot common trends and underlying problemssupport the operations team with performing a variety of production development and repairrefurbishment workcomplete special assignments as requestedmaintain a safe and healthy work environment by following and complying with all health and safety policies, procedures and legislation in the workshop and on sitea degree in Biotechnology or Bioinformatics Engineering with focus on plants or a degree in Plant Physiology with a strong interest in technologya passion for working with your hands along with excellent technical and mechanical skillsfamiliarity with the Linux operating system and commands Debiana strong customer focus mentality and passion for challenges and troubleshootingstrong communication skills and good verbal and written English any other language is beneficialexcellent organizational skillsflexibility to travel on short notice and for longer periods of time worldwide roughly 50 of timea valid EU work permit and drivers license'

In [62]:
# len=2496
df_jobs['Job Description spacy_sentencized'].apply(len).max()

2496

In [63]:
# Get the shortest sentence
df_jobs['Job Description spacy_sentencized'].loc[df_jobs['Job Description spacy_sentencized'].apply(len).idxmin()]

'24 x 7'

In [64]:
# len=6
df_jobs['Job Description spacy_sentencized'].apply(len).min()

6

In [65]:
%%time
# Get sentence word frequencies
df_jobs = df_jobs.progress_apply(
    lambda row: get_word_num_and_frequency(
        row=row, text_col='Job Description spacy_sentencized'
    ), 
    axis='columns',
)

progress-bar:   0%|          | 0/307464 [00:00<?, ?it/s]

CPU times: user 5min 41s, sys: 12.1 s, total: 5min 53s
Wall time: 6min 2s

In [66]:
df_jobs[
    [
        'Job Description spacy_sentencized',
        'Job Description num_words', 'Job Description num_unique_words',
        'Job Description num_chars', 'Job Description num_chars_no_whitespact_and_punt'
    ]
].head()

          Job Description spacy_sentencized           Job Description num_words  Job Description num_unique_words  Job Description num_chars  Job Description num_chars_no_whitespact_and_punt
0                                   About Our Client              3                              3                             16                                     14
1  The Global KYC organisation is part of ING's C...             10                             10                             56                                     45
2  Its purpose is Enabling people and organisatio...             20                             19                            131                                    111
3  Our Global KYC organisation is a first line of...             34                             31                            239                                    203
4  In our Global KYC organisation you will be wor...             18                             18                            128                                    109

In [67]:
# Get the longest sentence words = 349
df_jobs['Job Description num_words'].max()

349

In [68]:
# Get the sentence with the max words
df_jobs['Job Description spacy_sentencized'].loc[df_jobs['Job Description num_words'].idxmax()]

'This starts with performing the actual installation as per procedure and training at the customers site and is followed by troubleshooting, performing repairs, maintenance activities and installing upgrades to our system You will cooperate closely with our Sales team and thus contribute to ramping up our business In more detail, you and mount the Phenospex plant measurement systems and perform quality control checks to ensure correct functioning and customer satisfactionprovide support and training to the customer on the application of the automation technologies and user interfacesregularly interface with technical staff, such as Project Managers and Engineers, both at Phenospex and at the customers site to ensure that installation requirements on site are met in time before the installationdeliver troubleshooting and diagnostic support services to ensure that all products and services function properly and resolve technical support inquiries directlyinform customers on preventive maintenance and complete maintenance of the systems as requiredprovide the CCO with a detailed installation report upon project completionplan service assignments in assigned territories independently and combine trips to different service sites wiselyprovide support during trade showswork in close collaboration with the Sales Service teamprovide training to relevant groups at Phenospexlog and keep records of all incoming issues and findings in the CRM system and internal databaseanalyze logs to spot common trends and underlying problemssupport the operations team with performing a variety of production development and repairrefurbishment workcomplete special assignments as requestedmaintain a safe and healthy work environment by following and complying with all health and safety policies, procedures and legislation in the workshop and on sitea degree in Biotechnology or Bioinformatics Engineering with focus on plants or a degree in Plant Physiology with a strong interest in technologya passion for working with your hands along with excellent technical and mechanical skillsfamiliarity with the Linux operating system and commands Debiana strong customer focus mentality and passion for challenges and troubleshootingstrong communication skills and good verbal and written English any other language is beneficialexcellent organizational skillsflexibility to travel on short notice and for longer periods of time worldwide roughly 50 of timea valid EU work permit and drivers license'

In [69]:
# Get the longest sentence words = 3
df_jobs['Job Description num_words'].min()

3

In [70]:
# Get the sentence with the min words
df_jobs['Job Description spacy_sentencized'].loc[df_jobs['Job Description num_words'].idxmin()]

'About Our Client'

In [71]:
df_jobs['Job Description spacy_sentencized_lower'] = df_jobs['Job Description spacy_sentencized'].progress_apply(
    lambda job_sentence: job_sentence.strip().lower()
)

progress-bar:   0%|          | 0/307464 [00:00<?, ?it/s]

In [72]:
df_jobs[['Job Description spacy_sentencized', 'Job Description spacy_sentencized_lower']].head()

          Job Description spacy_sentencized               Job Description spacy_sentencized_lower
0                                   About Our Client                                   about our client
1  The Global KYC organisation is part of ING's C...  the global kyc organisation is part of ing's c...
2  Its purpose is Enabling people and organisatio...  its purpose is enabling people and organisatio...
3  Our Global KYC organisation is a first line of...  our global kyc organisation is a first line of...
4  In our Global KYC organisation you will be wor...  in our global kyc organisation you will be wor...

In [73]:
%%time
# Add language requirement column
# Use regex to find language requirement
dutch_requirement_pattern = r'[Dd]utch [Pp]referred | [Dd]utch [Re]quired | [Dd]utch [Ll]anguage |[Pp]roficient in [Dd]utch |[Ss]peak [Dd]utch | [Kk]now [Dd]utch | [Ff]luent in [Dd]utch | [Dd]utch [Nn]ative | * [Dd]utch [Ll]evel'
english_requirement_pattern = r'[Ee]nglish [Pp]referred | [Ee]nglish [Re]quired | [Ee]nglish [Ll]anguage |[Pp]roficient in [Ee]nglish |[Ss]peak [Ee]nglish | [Kk]now [Ee]nglish | [Ff]luent in [Ee]nglish | [Ee]nglish [Nn]ative | * [Ee]nglish [Ll]evel'

lang_requirements = {
    'Dutch Requirement in Sentence': dutch_requirement_pattern, 'English Requirement in Sentence': english_requirement_pattern
}

for lang_req, lang_req_pattern in lang_requirements.items():

    if lang_req in df_jobs.columns:
        df_jobs = df_jobs.drop(columns=[lang_req])
    df_jobs[lang_req] = np.where(
        df_jobs['Job Description'].str.contains(lang_req_pattern),
        'Yes',
        'No',
    )
    df_jobs[lang_req] = df_jobs[lang_req].astype('category').cat.reorder_categories(['No', 'Yes'], ordered=True)
    df_jobs[lang_req] = pd.Categorical(df_jobs[lang_req], categories=['No', 'Yes'], ordered=True)

CPU times: user 2min 8s, sys: 370 ms, total: 2min 9s
Wall time: 2min 10s

In [74]:
# Yes = 8809 job sentences
df_jobs['Dutch Requirement in Job Ad'].value_counts()

No     298655
Yes      8809
Name: Dutch Requirement in Job Ad, dtype: int64

In [75]:
# Yes = 16008 job sentences
df_jobs['English Requirement in Job Ad'].value_counts()

No     291456
Yes     16008
Name: English Requirement in Job Ad, dtype: int64

In [76]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_sentencized_validated.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_sentencized_validated.csv', index=False)

# Use spacy to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_SENTENCIZED_VALIDATED
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [77]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

sys.path.append(code_dir)
# %load_ext autoreload
# %autoreload 2

In [78]:
from setup_module.imports import * # type:ignore # isort:skip # fmt:skip # noqa # nopep8

In [79]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_sentencized_validated.pkl')

In [80]:
%%time
# Spacy tokenize
with open(f'{data_dir}punctuations.txt', 'rb') as f:
    custom_punct_chars = pickle.load(f)

df_jobs['Job Description spacy_tokenized'] = df_jobs['Job Description spacy_sentencized'].progress_apply(
    lambda job_sentence: [
        str(token.text.strip().lower())
        for token in nlp.tokenizer(job_sentence)
        if token.text is not None
        and len(token) != 0
        and len(token.text) != 0
        and bool(token)
        and bool(token.text)
        and token.text != '...'
        and not token.is_space
        and not token.is_punct
        and not token.is_quote
        and not token.is_bracket
        and not token.like_email
    ]
)

assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy.csv', index=False)

progress-bar:   0%|          | 0/307464 [00:00<?, ?it/s]

CPU times: user 37.3 s, sys: 1.72 s, total: 39.1 s
Wall time: 41.5 s

In [81]:
df_jobs['Job Description spacy_sentencized_cleaned'] = df_jobs['Job Description spacy_tokenized'].str.join(' ')

In [82]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307464 entries, 0 to 408598
Data columns (total 72 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307464 non-null  object
 1   Platform                                          307464 non-null  object
 2   Job ID                                            307464 non-null  object
 3   Job Title                                         307464 non-null  object
 4   Company Name                                      307454 non-null  object
 5   Location                                          307464 non-null  object
 6   Job Description                                   307464 non-null  object
 7   Rating                                            165995 non-null  float64
 8   Employment Type                                   281338 non-null  object
 9   Company URL                                       300868 non-null  object
 10  Job URL                                           307464 non-null  object
 11  Job Age                                           307464 non-null  object
 12  Job Age Number                                    307464 non-null  object
 13  Collection Date                                   307464 non-null  object
 14  Data Row                                          141328 non-null  float64
 15  Tracking ID                                       141328 non-null  object
 16  Industry                                          167595 non-null  object
 17  Job Date                                          141469 non-null  object
 18  Type of ownership                                 26126 non-null   object
 19  Language                                          307464 non-null  object
 20  Dutch Requirement in Job Ad                       307464 non-null  object
 21  English Requirement in Job Ad                     307464 non-null  object
 22  Dutch Requirement in Job Ad_No                    307464 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307464 non-null  int64
 24  English Requirement in Job Ad_No                  307464 non-null  int64
 25  English Requirement in Job Ad_Yes                 307464 non-null  int64
 26  Sector Code                                       307464 non-null  object
 27  Sector                                            307464 non-null  object
 28  Keywords Count                                    307464 non-null  float64
 29  Gender_Female_n                                   307464 non-null  float64
 30  Gender_Female_% per Sector                        307464 non-null  float64
 31  Gender_Female_% per Social Category               307464 non-null  float64
 32  Gender_Female_% per Workforce                     307464 non-null  float64
 33  Gender_Male_n                                     307464 non-null  float64
 34  Gender_Male_% per Sector                          307464 non-null  float64
 35  Gender_Male_% per Social Category                 307464 non-null  float64
 36  Gender_Male_% per Workforce                       307464 non-null  float64
 37  Gender                                            307464 non-null  object
 38  Age_Older_n                                       307464 non-null  float64
 39  Age_Older_% per Sector                            307464 non-null  float64
 40  Age_Older_% per Social Category                   307464 non-null  float64
 41  Age_Older_% per Workforce                         307464 non-null  float64
 42  Age_Younger_n                                     307464 non-null  float64
 43  Age_Younger_% per Sector                          307464 non-null  float64
 44  Age_Younger_% per Social Category                 307464 non-null  float64
 45  Age_Younger_% per Workforce                       307464 non-null  float64
 46  Age                                               307464 non-null  object
 47  Sector_n                                          307464 non-null  float64
 48  % Sector per Workforce                            307464 non-null  float64
 49  Gender_Female                                     307464 non-null  int64
 50  Gender_Male                                       307464 non-null  int64
 51  Gender_Mixed                                      307464 non-null  int64
 52  Age_Mixed                                         307464 non-null  int64
 53  Age_Older                                         307464 non-null  int64
 54  Age_Younger                                       307464 non-null  int64
 55  Gender_Num                                        307464 non-null  int64
 56  Age_Num                                           307464 non-null  int64
 57  Platform_Num                                      307464 non-null  int64
 58  Platform_LinkedIn                                 307464 non-null  int64
 59  Platform_Indeed                                   307464 non-null  int64
 60  Platform_Glassdoor                                307464 non-null  int64
 61  Job Description spacy_sentencized                 307464 non-null  object
 62  Job Description num_words                         307464 non-null  int64
 63  Job Description num_unique_words                  307464 non-null  int64
 64  Job Description num_chars                         307464 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307464 non-null  int64
 66  Job Description num_punctuations                  307464 non-null  int64
 67  Job Description spacy_sentencized_lower           307464 non-null  object
 68  Dutch Requirement in Sentence                     307464 non-null  category
 69  English Requirement in Sentence                   307464 non-null  category
 70  Job Description spacy_tokenized                   307464 non-null  object
 71  Job Description spacy_sentencized_cleaned         307464 non-null  object
dtypes: category(2), float64(21), int64(21), object(28)
memory usage: 167.1+ MB

In [83]:
df_jobs.columns

Index(['Search Keyword', 'Platform', 'Job ID', 'Job Title', 'Company Name', 'Location', 'Job Description', 'Rating', 'Employment Type', 'Company URL', 'Job URL', 'Job Age', 'Job Age Number', 'Collection Date', 'Data Row', 'Tracking ID', 'Industry', 'Job Date', 'Type of ownership', 'Language', 'Dutch Requirement in Job Ad', 'English Requirement in Job Ad', 'Dutch Requirement in Job Ad_No', 'Dutch Requirement in Job Ad_Yes', 'English Requirement in Job Ad_No', 'English Requirement in Job Ad_Yes', 'Sector Code', 'Sector', 'Keywords Count', 'Gender_Female_n', 'Gender_Female_% per Sector', 'Gender_Female_% per Social Category', 'Gender_Female_% per Workforce', 'Gender_Male_n', 'Gender_Male_% per Sector', 'Gender_Male_% per Social Category', 'Gender_Male_% per Workforce', 'Gender', 'Age_Older_n', 'Age_Older_% per Sector', 'Age_Older_% per Social Category', 'Age_Older_% per Workforce', 'Age_Younger_n', 'Age_Younger_% per Sector', 'Age_Younger_% per Social Category', 'Age_Younger_% per Workforce', 'Age', 'Sector_n', '% Sector per Workforce', 'Gender_Female', 'Gender_Male', 'Gender_Mixed', 'Age_Mixed', 'Age_Older', 'Age_Younger', 'Gender_Num', 'Age_Num', 'Platform_Num', 'Platform_LinkedIn', 'Platform_Indeed', 'Platform_Glassdoor', 'Job Description spacy_sentencized', 'Job Description num_words', 'Job Description num_unique_words', 'Job Description num_chars', 'Job Description num_chars_no_whitespact_and_punt', 'Job Description num_punctuations', 'Job Description spacy_sentencized_lower', 'Dutch Requirement in Sentence', 'English Requirement in Sentence', 'Job Description spacy_tokenized', 'Job Description spacy_sentencized_cleaned'], dtype='object')

In [84]:
# Job Sentence info
get_df_info(df_jobs, ivs_all=ivs_all)

DF INFO:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307464 entries, 0 to 408598
Data columns (total 72 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307464 non-null  object
 1   Platform                                          307464 non-null  object
 2   Job ID                                            307464 non-null  object
 3   Job Title                                         307464 non-null  object
 4   Company Name                                      307454 non-null  object
 5   Location                                          307464 non-null  object
 6   Job Description                                   307464 non-null  object
 7   Rating                                            165995 non-null  float64
 8   Employment Type                                   281338 non-null  object
 9   Company URL                                       300868 non-null  object
 10  Job URL                                           307464 non-null  object
 11  Job Age                                           307464 non-null  object
 12  Job Age Number                                    307464 non-null  object
 13  Collection Date                                   307464 non-null  object
 14  Data Row                                          141328 non-null  float64
 15  Tracking ID                                       141328 non-null  object
 16  Industry                                          167595 non-null  object
 17  Job Date                                          141469 non-null  object
 18  Type of ownership                                 26126 non-null   object
 19  Language                                          307464 non-null  object
 20  Dutch Requirement in Job Ad                       307464 non-null  object
 21  English Requirement in Job Ad                     307464 non-null  object
 22  Dutch Requirement in Job Ad_No                    307464 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307464 non-null  int64
 24  English Requirement in Job Ad_No                  307464 non-null  int64
 25  English Requirement in Job Ad_Yes                 307464 non-null  int64
 26  Sector Code                                       307464 non-null  object
 27  Sector                                            307464 non-null  object
 28  Keywords Count                                    307464 non-null  float64
 29  Gender_Female_n                                   307464 non-null  float64
 30  Gender_Female_% per Sector                        307464 non-null  float64
 31  Gender_Female_% per Social Category               307464 non-null  float64
 32  Gender_Female_% per Workforce                     307464 non-null  float64
 33  Gender_Male_n                                     307464 non-null  float64
 34  Gender_Male_% per Sector                          307464 non-null  float64
 35  Gender_Male_% per Social Category                 307464 non-null  float64
 36  Gender_Male_% per Workforce                       307464 non-null  float64
 37  Gender                                            307464 non-null  object
 38  Age_Older_n                                       307464 non-null  float64
 39  Age_Older_% per Sector                            307464 non-null  float64
 40  Age_Older_% per Social Category                   307464 non-null  float64
 41  Age_Older_% per Workforce                         307464 non-null  float64
 42  Age_Younger_n                                     307464 non-null  float64
 43  Age_Younger_% per Sector                          307464 non-null  float64
 44  Age_Younger_% per Social Category                 307464 non-null  float64
 45  Age_Younger_% per Workforce                       307464 non-null  float64
 46  Age                                               307464 non-null  object
 47  Sector_n                                          307464 non-null  float64
 48  % Sector per Workforce                            307464 non-null  float64
 49  Gender_Female                                     307464 non-null  int64
 50  Gender_Male                                       307464 non-null  int64
 51  Gender_Mixed                                      307464 non-null  int64
 52  Age_Mixed                                         307464 non-null  int64
 53  Age_Older                                         307464 non-null  int64
 54  Age_Younger                                       307464 non-null  int64
 55  Gender_Num                                        307464 non-null  int64
 56  Age_Num                                           307464 non-null  int64
 57  Platform_Num                                      307464 non-null  int64
 58  Platform_LinkedIn                                 307464 non-null  int64
 59  Platform_Indeed                                   307464 non-null  int64
 60  Platform_Glassdoor                                307464 non-null  int64
 61  Job Description spacy_sentencized                 307464 non-null  object
 62  Job Description num_words                         307464 non-null  int64
 63  Job Description num_unique_words                  307464 non-null  int64
 64  Job Description num_chars                         307464 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307464 non-null  int64
 66  Job Description num_punctuations                  307464 non-null  int64
 67  Job Description spacy_sentencized_lower           307464 non-null  object
 68  Dutch Requirement in Sentence                     307464 non-null  category
 69  English Requirement in Sentence                   307464 non-null  category
 70  Job Description spacy_tokenized                   307464 non-null  object
 71  Job Description spacy_sentencized_cleaned         307464 non-null  object
dtypes: category(2), float64(21), int64(21), object(28)
memory usage: 167.1+ MB
====================
Gender:
--------------------
Gender Counts:
Mixed Gender    116565
Male            112738
Female           78161
Name: Gender, dtype: int64
--------------------
Gender Percentages:
Mixed Gender   37.90
Male           36.70
Female         25.40
Name: Gender, dtype: float64
--------------------
Min Gender value: Female
Max Gender value: Mixed Gender
--------------------
====================
Gender_Num:
--------------------
Gender_Num Counts:
1    116565
2    112738
0     78161
Name: Gender_Num, dtype: int64
--------------------
Gender_Num Percentages:
1   37.90
2   36.70
0   25.40
Name: Gender_Num, dtype: float64
--------------------
Min Gender_Num value: 0
Max Gender_Num value: 2
--------------------
Gender_Num Mean: 1.11
--------------------
Gender_Num Standard Deviation: 0.78
====================
Gender_Female:
--------------------
Gender_Female Counts:
0    229303
1     78161
Name: Gender_Female, dtype: int64
--------------------
Gender_Female Percentages:
0   74.60
1   25.40
Name: Gender_Female, dtype: float64
--------------------
Min Gender_Female value: 0
Max Gender_Female value: 1
--------------------
Gender_Female Mean: 0.25
--------------------
Gender_Female Standard Deviation: 0.44
====================
Gender_Mixed:
--------------------
Gender_Mixed Counts:
0    190899
1    116565
Name: Gender_Mixed, dtype: int64
--------------------
Gender_Mixed Percentages:
0   62.10
1   37.90
Name: Gender_Mixed, dtype: float64
--------------------
Min Gender_Mixed value: 0
Max Gender_Mixed value: 1
--------------------
Gender_Mixed Mean: 0.38
--------------------
Gender_Mixed Standard Deviation: 0.49
====================
Gender_Male:
--------------------
Gender_Male Counts:
0    194726
1    112738
Name: Gender_Male, dtype: int64
--------------------
Gender_Male Percentages:
0   63.30
1   36.70
Name: Gender_Male, dtype: float64
--------------------
Min Gender_Male value: 0
Max Gender_Male value: 1
--------------------
Gender_Male Mean: 0.37
--------------------
Gender_Male Standard Deviation: 0.48
====================
Gender_Female_n:
--------------------
Min Gender_Female_n value: 7.0
Max Gender_Female_n value: 3970.0
--------------------
Gender_Female_n Mean: 656.76
--------------------
Gender_Female_n Standard Deviation: 1047.62
====================
Gender_Male_n:
--------------------
Min Gender_Male_n value: 21.0
Max Gender_Male_n value: 4510.0
--------------------
Gender_Male_n Mean: 712.02
--------------------
Gender_Male_n Standard Deviation: 1235.19
====================
Gender_Female_% per Sector:
--------------------
Min Gender_Female_% per Sector value: 12.5
Max Gender_Female_% per Sector value: 84.2986741102582
--------------------
Gender_Female_% per Sector Mean: 45.36
--------------------
Gender_Female_% per Sector Standard Deviation: 19.49
====================
Gender_Male_% per Sector:
--------------------
Min Gender_Male_% per Sector value: 15.631542219120725
Max Gender_Male_% per Sector value: 87.5
--------------------
Gender_Male_% per Sector Mean: 54.6
--------------------
Gender_Male_% per Sector Standard Deviation: 19.52
====================
Age:
--------------------
Age Counts:
Mixed Age    197743
Older         62773
Younger       46948
Name: Age, dtype: int64
--------------------
Age Percentages:
Mixed Age   64.30
Older       20.40
Younger     15.30
Name: Age, dtype: float64
--------------------
Min Age value: Mixed Age
Max Age value: Younger
--------------------
====================
Age_Num:
--------------------
Age_Num Counts:
1    197743
0     62773
2     46948
Name: Age_Num, dtype: int64
--------------------
Age_Num Percentages:
1   64.30
0   20.40
2   15.30
Name: Age_Num, dtype: float64
--------------------
Min Age_Num value: 0
Max Age_Num value: 2
--------------------
Age_Num Mean: 0.95
--------------------
Age_Num Standard Deviation: 0.6
====================
Age_Older:
--------------------
Age_Older Counts:
0    244691
1     62773
Name: Age_Older, dtype: int64
--------------------
Age_Older Percentages:
0   79.60
1   20.40
Name: Age_Older, dtype: float64
--------------------
Min Age_Older value: 0
Max Age_Older value: 1
--------------------
Age_Older Mean: 0.2
--------------------
Age_Older Standard Deviation: 0.4
====================
Age_Mixed:
--------------------
Age_Mixed Counts:
1    197743
0    109721
Name: Age_Mixed, dtype: int64
--------------------
Age_Mixed Percentages:
1   64.30
0   35.70
Name: Age_Mixed, dtype: float64
--------------------
Min Age_Mixed value: 0
Max Age_Mixed value: 1
--------------------
Age_Mixed Mean: 0.64
--------------------
Age_Mixed Standard Deviation: 0.48
====================
Age_Younger:
--------------------
Age_Younger Counts:
0    260516
1     46948
Name: Age_Younger, dtype: int64
--------------------
Age_Younger Percentages:
0   84.70
1   15.30
Name: Age_Younger, dtype: float64
--------------------
Min Age_Younger value: 0
Max Age_Younger value: 1
--------------------
Age_Younger Mean: 0.15
--------------------
Age_Younger Standard Deviation: 0.36
====================
Age_Older_n:
--------------------
Min Age_Older_n value: 15.0
Max Age_Older_n value: 2844.0
--------------------
Age_Older_n Mean: 528.39
--------------------
Age_Older_n Standard Deviation: 796.61
====================
Age_Younger_n:
--------------------
Min Age_Younger_n value: 13.0
Max Age_Younger_n value: 5228.0
--------------------
Age_Younger_n Mean: 839.99
--------------------
Age_Younger_n Standard Deviation: 1437.57
====================
Age_Older_% per Sector:
--------------------
Min Age_Older_% per Sector value: 18.939393939393938
Max Age_Older_% per Sector value: 58.333333333333336
--------------------
Age_Older_% per Sector Mean: 40.86
--------------------
Age_Older_% per Sector Standard Deviation: 10.12
====================
Age_Younger_% per Sector:
--------------------
Min Age_Younger_% per Sector value: 44.44444444444444
Max Age_Younger_% per Sector value: 80.8080808080808
--------------------
Age_Younger_% per Sector Mean: 59.04
--------------------
Age_Younger_% per Sector Standard Deviation: 9.98

In [85]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy.csv', index=False)

# Use NLTK to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_TOKENIZED_SPACY
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [86]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

sys.path.append(code_dir)
# %load_ext autoreload
# %autoreload 2

In [87]:
from setup_module.imports import * # type:ignore # isort:skip # fmt:skip # noqa # nopep8

In [88]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_tokenized_spacy.pkl')

In [89]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307464 entries, 0 to 408598
Data columns (total 72 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307464 non-null  object
 1   Platform                                          307464 non-null  object
 2   Job ID                                            307464 non-null  object
 3   Job Title                                         307464 non-null  object
 4   Company Name                                      307454 non-null  object
 5   Location                                          307464 non-null  object
 6   Job Description                                   307464 non-null  object
 7   Rating                                            165995 non-null  float64
 8   Employment Type                                   281338 non-null  object
 9   Company URL                                       300868 non-null  object
 10  Job URL                                           307464 non-null  object
 11  Job Age                                           307464 non-null  object
 12  Job Age Number                                    307464 non-null  object
 13  Collection Date                                   307464 non-null  object
 14  Data Row                                          141328 non-null  float64
 15  Tracking ID                                       141328 non-null  object
 16  Industry                                          167595 non-null  object
 17  Job Date                                          141469 non-null  object
 18  Type of ownership                                 26126 non-null   object
 19  Language                                          307464 non-null  object
 20  Dutch Requirement in Job Ad                       307464 non-null  object
 21  English Requirement in Job Ad                     307464 non-null  object
 22  Dutch Requirement in Job Ad_No                    307464 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307464 non-null  int64
 24  English Requirement in Job Ad_No                  307464 non-null  int64
 25  English Requirement in Job Ad_Yes                 307464 non-null  int64
 26  Sector Code                                       307464 non-null  object
 27  Sector                                            307464 non-null  object
 28  Keywords Count                                    307464 non-null  float64
 29  Gender_Female_n                                   307464 non-null  float64
 30  Gender_Female_% per Sector                        307464 non-null  float64
 31  Gender_Female_% per Social Category               307464 non-null  float64
 32  Gender_Female_% per Workforce                     307464 non-null  float64
 33  Gender_Male_n                                     307464 non-null  float64
 34  Gender_Male_% per Sector                          307464 non-null  float64
 35  Gender_Male_% per Social Category                 307464 non-null  float64
 36  Gender_Male_% per Workforce                       307464 non-null  float64
 37  Gender                                            307464 non-null  object
 38  Age_Older_n                                       307464 non-null  float64
 39  Age_Older_% per Sector                            307464 non-null  float64
 40  Age_Older_% per Social Category                   307464 non-null  float64
 41  Age_Older_% per Workforce                         307464 non-null  float64
 42  Age_Younger_n                                     307464 non-null  float64
 43  Age_Younger_% per Sector                          307464 non-null  float64
 44  Age_Younger_% per Social Category                 307464 non-null  float64
 45  Age_Younger_% per Workforce                       307464 non-null  float64
 46  Age                                               307464 non-null  object
 47  Sector_n                                          307464 non-null  float64
 48  % Sector per Workforce                            307464 non-null  float64
 49  Gender_Female                                     307464 non-null  int64
 50  Gender_Male                                       307464 non-null  int64
 51  Gender_Mixed                                      307464 non-null  int64
 52  Age_Mixed                                         307464 non-null  int64
 53  Age_Older                                         307464 non-null  int64
 54  Age_Younger                                       307464 non-null  int64
 55  Gender_Num                                        307464 non-null  int64
 56  Age_Num                                           307464 non-null  int64
 57  Platform_Num                                      307464 non-null  int64
 58  Platform_LinkedIn                                 307464 non-null  int64
 59  Platform_Indeed                                   307464 non-null  int64
 60  Platform_Glassdoor                                307464 non-null  int64
 61  Job Description spacy_sentencized                 307464 non-null  object
 62  Job Description num_words                         307464 non-null  int64
 63  Job Description num_unique_words                  307464 non-null  int64
 64  Job Description num_chars                         307464 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307464 non-null  int64
 66  Job Description num_punctuations                  307464 non-null  int64
 67  Job Description spacy_sentencized_lower           307464 non-null  object
 68  Dutch Requirement in Sentence                     307464 non-null  category
 69  English Requirement in Sentence                   307464 non-null  category
 70  Job Description spacy_tokenized                   307464 non-null  object
 71  Job Description spacy_sentencized_cleaned         307464 non-null  object
dtypes: category(2), float64(21), int64(21), object(28)
memory usage: 167.1+ MB

In [90]:
%%time
# Tokenize with NLTK
stop_words = set(stopwords.words('english'))
punctuations = list(string.punctuation)
lemmatizer = WordNetLemmatizer()
stemmer = PorterStemmer()

df_jobs['Job Description nltk_tokenized'] = df_jobs['Job Description spacy_sentencized'].progress_apply(
    lambda job_sentence: [
        str(token.strip().lower()) 
        for token in word_tokenize(job_sentence) 
        if len(token) != 0 
        and token != '...' 
        and not token.lower() in nan_list
        and not token.lower() in custom_punct_chars
        and not token.lower() in set(stopwords.words('english')) 
        and not token.lower() in list(string.punctuation)
        and not token.lower() in list(string.whitespace)
        and (t.lower() in list(string.printable) for t in token.lower())
    ]
)

assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk.csv', index=False)

progress-bar:   0%|          | 0/307464 [00:00<?, ?it/s]

CPU times: user 5min 26s, sys: 1min 40s, total: 7min 7s
Wall time: 7min 14s

In [91]:
df_jobs['Job Description nltk_tokenized'].head()

0                                             [client]
1    [global, kyc, organisation, part, ing, 's, coo...
2    [purpose, enabling, people, organisations, use...
3    [global, kyc, organisation, first, line, defen...
4    [global, kyc, organisation, working, many, col...
Name: Job Description nltk_tokenized, dtype: object

In [92]:
df_jobs['Job Description nltk_tokenized'].describe()

count     307464
unique    193344
top           []
freq        1173
Name: Job Description nltk_tokenized, dtype: object

In [93]:
# Keep the some of the [] rows because they contain 'Who are we', 'What we do', etc. and remove '1. ' and '2. ' etc. abd 'T)'
df_jobs = df_jobs.loc[~df_jobs['Job Description spacy_sentencized'].str.match('^\d\.|.\)')]

In [94]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307300 entries, 0 to 408598
Data columns (total 73 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307300 non-null  object
 1   Platform                                          307300 non-null  object
 2   Job ID                                            307300 non-null  object
 3   Job Title                                         307300 non-null  object
 4   Company Name                                      307290 non-null  object
 5   Location                                          307300 non-null  object
 6   Job Description                                   307300 non-null  object
 7   Rating                                            165831 non-null  float64
 8   Employment Type                                   281198 non-null  object
 9   Company URL                                       300704 non-null  object
 10  Job URL                                           307300 non-null  object
 11  Job Age                                           307300 non-null  object
 12  Job Age Number                                    307300 non-null  object
 13  Collection Date                                   307300 non-null  object
 14  Data Row                                          141328 non-null  float64
 15  Tracking ID                                       141328 non-null  object
 16  Industry                                          167571 non-null  object
 17  Job Date                                          141469 non-null  object
 18  Type of ownership                                 26102 non-null   object
 19  Language                                          307300 non-null  object
 20  Dutch Requirement in Job Ad                       307300 non-null  object
 21  English Requirement in Job Ad                     307300 non-null  object
 22  Dutch Requirement in Job Ad_No                    307300 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307300 non-null  int64
 24  English Requirement in Job Ad_No                  307300 non-null  int64
 25  English Requirement in Job Ad_Yes                 307300 non-null  int64
 26  Sector Code                                       307300 non-null  object
 27  Sector                                            307300 non-null  object
 28  Keywords Count                                    307300 non-null  float64
 29  Gender_Female_n                                   307300 non-null  float64
 30  Gender_Female_% per Sector                        307300 non-null  float64
 31  Gender_Female_% per Social Category               307300 non-null  float64
 32  Gender_Female_% per Workforce                     307300 non-null  float64
 33  Gender_Male_n                                     307300 non-null  float64
 34  Gender_Male_% per Sector                          307300 non-null  float64
 35  Gender_Male_% per Social Category                 307300 non-null  float64
 36  Gender_Male_% per Workforce                       307300 non-null  float64
 37  Gender                                            307300 non-null  object
 38  Age_Older_n                                       307300 non-null  float64
 39  Age_Older_% per Sector                            307300 non-null  float64
 40  Age_Older_% per Social Category                   307300 non-null  float64
 41  Age_Older_% per Workforce                         307300 non-null  float64
 42  Age_Younger_n                                     307300 non-null  float64
 43  Age_Younger_% per Sector                          307300 non-null  float64
 44  Age_Younger_% per Social Category                 307300 non-null  float64
 45  Age_Younger_% per Workforce                       307300 non-null  float64
 46  Age                                               307300 non-null  object
 47  Sector_n                                          307300 non-null  float64
 48  % Sector per Workforce                            307300 non-null  float64
 49  Gender_Female                                     307300 non-null  int64
 50  Gender_Male                                       307300 non-null  int64
 51  Gender_Mixed                                      307300 non-null  int64
 52  Age_Mixed                                         307300 non-null  int64
 53  Age_Older                                         307300 non-null  int64
 54  Age_Younger                                       307300 non-null  int64
 55  Gender_Num                                        307300 non-null  int64
 56  Age_Num                                           307300 non-null  int64
 57  Platform_Num                                      307300 non-null  int64
 58  Platform_LinkedIn                                 307300 non-null  int64
 59  Platform_Indeed                                   307300 non-null  int64
 60  Platform_Glassdoor                                307300 non-null  int64
 61  Job Description spacy_sentencized                 307300 non-null  object
 62  Job Description num_words                         307300 non-null  int64
 63  Job Description num_unique_words                  307300 non-null  int64
 64  Job Description num_chars                         307300 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307300 non-null  int64
 66  Job Description num_punctuations                  307300 non-null  int64
 67  Job Description spacy_sentencized_lower           307300 non-null  object
 68  Dutch Requirement in Sentence                     307300 non-null  category
 69  English Requirement in Sentence                   307300 non-null  category
 70  Job Description spacy_tokenized                   307300 non-null  object
 71  Job Description spacy_sentencized_cleaned         307300 non-null  object
 72  Job Description nltk_tokenized                    307300 non-null  object
dtypes: category(2), float64(21), int64(21), object(29)
memory usage: 169.4+ MB

In [95]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk.csv', index=False)

# Use gensim to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_TOKENIZED_SPACY_NLTK
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [96]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

sys.path.append(code_dir)
# %load_ext autoreload
# %autoreload 2

In [97]:
from setup_module.imports import * # type:ignore # isort:skip # fmt:skip # noqa # nopep8

In [98]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk.pkl')

In [99]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307300 entries, 0 to 408598
Data columns (total 73 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307300 non-null  object
 1   Platform                                          307300 non-null  object
 2   Job ID                                            307300 non-null  object
 3   Job Title                                         307300 non-null  object
 4   Company Name                                      307290 non-null  object
 5   Location                                          307300 non-null  object
 6   Job Description                                   307300 non-null  object
 7   Rating                                            165831 non-null  float64
 8   Employment Type                                   281198 non-null  object
 9   Company URL                                       300704 non-null  object
 10  Job URL                                           307300 non-null  object
 11  Job Age                                           307300 non-null  object
 12  Job Age Number                                    307300 non-null  object
 13  Collection Date                                   307300 non-null  object
 14  Data Row                                          141328 non-null  float64
 15  Tracking ID                                       141328 non-null  object
 16  Industry                                          167571 non-null  object
 17  Job Date                                          141469 non-null  object
 18  Type of ownership                                 26102 non-null   object
 19  Language                                          307300 non-null  object
 20  Dutch Requirement in Job Ad                       307300 non-null  object
 21  English Requirement in Job Ad                     307300 non-null  object
 22  Dutch Requirement in Job Ad_No                    307300 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307300 non-null  int64
 24  English Requirement in Job Ad_No                  307300 non-null  int64
 25  English Requirement in Job Ad_Yes                 307300 non-null  int64
 26  Sector Code                                       307300 non-null  object
 27  Sector                                            307300 non-null  object
 28  Keywords Count                                    307300 non-null  float64
 29  Gender_Female_n                                   307300 non-null  float64
 30  Gender_Female_% per Sector                        307300 non-null  float64
 31  Gender_Female_% per Social Category               307300 non-null  float64
 32  Gender_Female_% per Workforce                     307300 non-null  float64
 33  Gender_Male_n                                     307300 non-null  float64
 34  Gender_Male_% per Sector                          307300 non-null  float64
 35  Gender_Male_% per Social Category                 307300 non-null  float64
 36  Gender_Male_% per Workforce                       307300 non-null  float64
 37  Gender                                            307300 non-null  object
 38  Age_Older_n                                       307300 non-null  float64
 39  Age_Older_% per Sector                            307300 non-null  float64
 40  Age_Older_% per Social Category                   307300 non-null  float64
 41  Age_Older_% per Workforce                         307300 non-null  float64
 42  Age_Younger_n                                     307300 non-null  float64
 43  Age_Younger_% per Sector                          307300 non-null  float64
 44  Age_Younger_% per Social Category                 307300 non-null  float64
 45  Age_Younger_% per Workforce                       307300 non-null  float64
 46  Age                                               307300 non-null  object
 47  Sector_n                                          307300 non-null  float64
 48  % Sector per Workforce                            307300 non-null  float64
 49  Gender_Female                                     307300 non-null  int64
 50  Gender_Male                                       307300 non-null  int64
 51  Gender_Mixed                                      307300 non-null  int64
 52  Age_Mixed                                         307300 non-null  int64
 53  Age_Older                                         307300 non-null  int64
 54  Age_Younger                                       307300 non-null  int64
 55  Gender_Num                                        307300 non-null  int64
 56  Age_Num                                           307300 non-null  int64
 57  Platform_Num                                      307300 non-null  int64
 58  Platform_LinkedIn                                 307300 non-null  int64
 59  Platform_Indeed                                   307300 non-null  int64
 60  Platform_Glassdoor                                307300 non-null  int64
 61  Job Description spacy_sentencized                 307300 non-null  object
 62  Job Description num_words                         307300 non-null  int64
 63  Job Description num_unique_words                  307300 non-null  int64
 64  Job Description num_chars                         307300 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307300 non-null  int64
 66  Job Description num_punctuations                  307300 non-null  int64
 67  Job Description spacy_sentencized_lower           307300 non-null  object
 68  Dutch Requirement in Sentence                     307300 non-null  category
 69  English Requirement in Sentence                   307300 non-null  category
 70  Job Description spacy_tokenized                   307300 non-null  object
 71  Job Description spacy_sentencized_cleaned         307300 non-null  object
 72  Job Description nltk_tokenized                    307300 non-null  object
dtypes: category(2), float64(21), int64(21), object(29)
memory usage: 169.4+ MB

In [100]:
%%time
df_jobs['Job Description gensim_tokenized'] = df_jobs['Job Description spacy_sentencized'].progress_apply(
    lambda sentence: preprocess_string(re.sub(pattern, '.', sentence.strip().lower()))
)

assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim.csv', index=False)

progress-bar:   0%|          | 0/307300 [00:00<?, ?it/s]

CPU times: user 59.8 s, sys: 2.45 s, total: 1min 2s
Wall time: 1min 5s

In [101]:
df_jobs['Job Description gensim_tokenized'].head()

0                                             [client]
1             [global, kyc, organis, ing, coo, domain]
2    [purpos, enabl, peopl, organis, us, bank, serv...
3    [global, kyc, organis, line, defenc, depart, p...
4    [global, kyc, organis, work, colleagu, differ,...
Name: Job Description gensim_tokenized, dtype: object

In [102]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307300 entries, 0 to 408598
Data columns (total 74 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307300 non-null  object
 1   Platform                                          307300 non-null  object
 2   Job ID                                            307300 non-null  object
 3   Job Title                                         307300 non-null  object
 4   Company Name                                      307290 non-null  object
 5   Location                                          307300 non-null  object
 6   Job Description                                   307300 non-null  object
 7   Rating                                            165831 non-null  float64
 8   Employment Type                                   281198 non-null  object
 9   Company URL                                       300704 non-null  object
 10  Job URL                                           307300 non-null  object
 11  Job Age                                           307300 non-null  object
 12  Job Age Number                                    307300 non-null  object
 13  Collection Date                                   307300 non-null  object
 14  Data Row                                          141328 non-null  float64
 15  Tracking ID                                       141328 non-null  object
 16  Industry                                          167571 non-null  object
 17  Job Date                                          141469 non-null  object
 18  Type of ownership                                 26102 non-null   object
 19  Language                                          307300 non-null  object
 20  Dutch Requirement in Job Ad                       307300 non-null  object
 21  English Requirement in Job Ad                     307300 non-null  object
 22  Dutch Requirement in Job Ad_No                    307300 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307300 non-null  int64
 24  English Requirement in Job Ad_No                  307300 non-null  int64
 25  English Requirement in Job Ad_Yes                 307300 non-null  int64
 26  Sector Code                                       307300 non-null  object
 27  Sector                                            307300 non-null  object
 28  Keywords Count                                    307300 non-null  float64
 29  Gender_Female_n                                   307300 non-null  float64
 30  Gender_Female_% per Sector                        307300 non-null  float64
 31  Gender_Female_% per Social Category               307300 non-null  float64
 32  Gender_Female_% per Workforce                     307300 non-null  float64
 33  Gender_Male_n                                     307300 non-null  float64
 34  Gender_Male_% per Sector                          307300 non-null  float64
 35  Gender_Male_% per Social Category                 307300 non-null  float64
 36  Gender_Male_% per Workforce                       307300 non-null  float64
 37  Gender                                            307300 non-null  object
 38  Age_Older_n                                       307300 non-null  float64
 39  Age_Older_% per Sector                            307300 non-null  float64
 40  Age_Older_% per Social Category                   307300 non-null  float64
 41  Age_Older_% per Workforce                         307300 non-null  float64
 42  Age_Younger_n                                     307300 non-null  float64
 43  Age_Younger_% per Sector                          307300 non-null  float64
 44  Age_Younger_% per Social Category                 307300 non-null  float64
 45  Age_Younger_% per Workforce                       307300 non-null  float64
 46  Age                                               307300 non-null  object
 47  Sector_n                                          307300 non-null  float64
 48  % Sector per Workforce                            307300 non-null  float64
 49  Gender_Female                                     307300 non-null  int64
 50  Gender_Male                                       307300 non-null  int64
 51  Gender_Mixed                                      307300 non-null  int64
 52  Age_Mixed                                         307300 non-null  int64
 53  Age_Older                                         307300 non-null  int64
 54  Age_Younger                                       307300 non-null  int64
 55  Gender_Num                                        307300 non-null  int64
 56  Age_Num                                           307300 non-null  int64
 57  Platform_Num                                      307300 non-null  int64
 58  Platform_LinkedIn                                 307300 non-null  int64
 59  Platform_Indeed                                   307300 non-null  int64
 60  Platform_Glassdoor                                307300 non-null  int64
 61  Job Description spacy_sentencized                 307300 non-null  object
 62  Job Description num_words                         307300 non-null  int64
 63  Job Description num_unique_words                  307300 non-null  int64
 64  Job Description num_chars                         307300 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307300 non-null  int64
 66  Job Description num_punctuations                  307300 non-null  int64
 67  Job Description spacy_sentencized_lower           307300 non-null  object
 68  Dutch Requirement in Sentence                     307300 non-null  category
 69  English Requirement in Sentence                   307300 non-null  category
 70  Job Description spacy_tokenized                   307300 non-null  object
 71  Job Description spacy_sentencized_cleaned         307300 non-null  object
 72  Job Description nltk_tokenized                    307300 non-null  object
 73  Job Description gensim_tokenized                  307300 non-null  object
dtypes: category(2), float64(21), int64(21), object(30)
memory usage: 171.7+ MB

In [103]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim.csv', index=False)

# Use BERT to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_TOKENIZED_SPACY_NLTK_GENSIM
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [104]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

sys.path.append(code_dir)
# %load_ext autoreload
# %autoreload 2

In [105]:
from setup_module.imports import *  # type:ignore # isort:skip # fmt:skip # noqa # nopep8

In [106]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim.pkl')

In [107]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 307300 entries, 0 to 408598
Data columns (total 74 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307300 non-null  object
 1   Platform                                          307300 non-null  object
 2   Job ID                                            307300 non-null  object
 3   Job Title                                         307300 non-null  object
 4   Company Name                                      307290 non-null  object
 5   Location                                          307300 non-null  object
 6   Job Description                                   307300 non-null  object
 7   Rating                                            165831 non-null  float64
 8   Employment Type                                   281198 non-null  object
 9   Company URL                                       300704 non-null  object
 10  Job URL                                           307300 non-null  object
 11  Job Age                                           307300 non-null  object
 12  Job Age Number                                    307300 non-null  object
 13  Collection Date                                   307300 non-null  object
 14  Data Row                                          141328 non-null  float64
 15  Tracking ID                                       141328 non-null  object
 16  Industry                                          167571 non-null  object
 17  Job Date                                          141469 non-null  object
 18  Type of ownership                                 26102 non-null   object
 19  Language                                          307300 non-null  object
 20  Dutch Requirement in Job Ad                       307300 non-null  object
 21  English Requirement in Job Ad                     307300 non-null  object
 22  Dutch Requirement in Job Ad_No                    307300 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307300 non-null  int64
 24  English Requirement in Job Ad_No                  307300 non-null  int64
 25  English Requirement in Job Ad_Yes                 307300 non-null  int64
 26  Sector Code                                       307300 non-null  object
 27  Sector                                            307300 non-null  object
 28  Keywords Count                                    307300 non-null  float64
 29  Gender_Female_n                                   307300 non-null  float64
 30  Gender_Female_% per Sector                        307300 non-null  float64
 31  Gender_Female_% per Social Category               307300 non-null  float64
 32  Gender_Female_% per Workforce                     307300 non-null  float64
 33  Gender_Male_n                                     307300 non-null  float64
 34  Gender_Male_% per Sector                          307300 non-null  float64
 35  Gender_Male_% per Social Category                 307300 non-null  float64
 36  Gender_Male_% per Workforce                       307300 non-null  float64
 37  Gender                                            307300 non-null  object
 38  Age_Older_n                                       307300 non-null  float64
 39  Age_Older_% per Sector                            307300 non-null  float64
 40  Age_Older_% per Social Category                   307300 non-null  float64
 41  Age_Older_% per Workforce                         307300 non-null  float64
 42  Age_Younger_n                                     307300 non-null  float64
 43  Age_Younger_% per Sector                          307300 non-null  float64
 44  Age_Younger_% per Social Category                 307300 non-null  float64
 45  Age_Younger_% per Workforce                       307300 non-null  float64
 46  Age                                               307300 non-null  object
 47  Sector_n                                          307300 non-null  float64
 48  % Sector per Workforce                            307300 non-null  float64
 49  Gender_Female                                     307300 non-null  int64
 50  Gender_Male                                       307300 non-null  int64
 51  Gender_Mixed                                      307300 non-null  int64
 52  Age_Mixed                                         307300 non-null  int64
 53  Age_Older                                         307300 non-null  int64
 54  Age_Younger                                       307300 non-null  int64
 55  Gender_Num                                        307300 non-null  int64
 56  Age_Num                                           307300 non-null  int64
 57  Platform_Num                                      307300 non-null  int64
 58  Platform_LinkedIn                                 307300 non-null  int64
 59  Platform_Indeed                                   307300 non-null  int64
 60  Platform_Glassdoor                                307300 non-null  int64
 61  Job Description spacy_sentencized                 307300 non-null  object
 62  Job Description num_words                         307300 non-null  int64
 63  Job Description num_unique_words                  307300 non-null  int64
 64  Job Description num_chars                         307300 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307300 non-null  int64
 66  Job Description num_punctuations                  307300 non-null  int64
 67  Job Description spacy_sentencized_lower           307300 non-null  object
 68  Dutch Requirement in Sentence                     307300 non-null  category
 69  English Requirement in Sentence                   307300 non-null  category
 70  Job Description spacy_tokenized                   307300 non-null  object
 71  Job Description spacy_sentencized_cleaned         307300 non-null  object
 72  Job Description nltk_tokenized                    307300 non-null  object
 73  Job Description gensim_tokenized                  307300 non-null  object
dtypes: category(2), float64(21), int64(21), object(30)
memory usage: 171.7+ MB

In [108]:
%%time
max_length = 512
returned_tensor = 'pt'
cpu_counts = torch.multiprocessing.cpu_count()
device = torch.device('mps') if torch.has_mps and torch.backends.mps.is_built() and torch.backends.mps.is_available() else torch.device('cuda') if torch.cuda.is_available() else torch.device('cpu')
device_name = str(device.type)
print(f'Using {device_name.upper()}')
bert_model_name = 'bert-base-uncased'
bert_tokenizer = BertTokenizerFast.from_pretrained(bert_model_name, strip_accents = True)
bert_model = BertForSequenceClassification.from_pretrained(bert_model_name).to(device)

df_jobs['Job Description bert_tokenized'] = df_jobs['Job Description spacy_sentencized'].progress_apply(
    lambda sentence: bert_tokenizer.tokenize(str(sentence))
)

assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim_bert.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim_bert.csv', index=False)

Using MPS

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertForSequenceClassification: ['cls.seq_relationship.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.dense.bias', 'cls.seq_relationship.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.bias', 'cls.predictions.transform.dense.weight']
- This IS expected if you are initializing BertForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of BertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier.weight', 'classifier.bias']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

progress-bar:   0%|          | 0/307300 [00:00<?, ?it/s]

CPU times: user 56.2 s, sys: 3.36 s, total: 59.6 s
Wall time: 1min 3s

In [109]:
df_jobs['Job Description bert_tokenized'].head()

0                                 [about, our, client]
1    [the, global, ky, ##c, organisation, is, part,...
2    [its, purpose, is, enabling, people, and, orga...
3    [our, global, ky, ##c, organisation, is, a, fi...
4    [in, our, global, ky, ##c, organisation, you, ...
Name: Job Description bert_tokenized, dtype: object

In [110]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
# df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim_bert.pkl')
# df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim_bert.csv', index=False)
df_jobs.to_pickle(f'{df_save_dir}df_jobs_for_classification.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_for_classification.csv', index=False)

In [111]:
print(f'Saving df_jobs length {len(df_jobs)} to txt file.')
with open(f'{data_dir}df_jobs_len.txt', 'w') as f:
    f.write(str(len(df_jobs)))

Saving df_jobs length 307300 to txt file.