# ATTN: This script should be run AFTER spacy sentence cleaning and validation is completed.

# Use spacy to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_SENTENCIZED_VALIDATED
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [1]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

if code_dir_name not in str(Path.cwd()).split('/')[-1]:
    for _ in range(5):

        parent_path = str(Path.cwd().parents[_]).split('/')[-1]

        if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

            code_dir = str(Path.cwd().parents[_])

            if code_dir is not None:
                break
else:
    code_dir = Path.cwd()
sys.path.append(code_dir)

# %load_ext autoreload
# %autoreload 2

In [2]:
from setup_module.imports import * # type:ignore # isort:skip # fmt:skip # noqa # nopep8

Using MPS

0it [00:00, ?it/s]

In [3]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_sentencized_validated.pkl')

In [4]:
%%time
# Spacy tokenize
with open(f'{data_dir}punctuations.txt', 'rb') as f:
    custom_punct_chars = pickle.load(f)

df_jobs['Job Description spacy_tokenized'] = df_jobs['Job Description spacy_sentencized'].progress_apply(
    lambda job_sentence: [
        str(token.text.strip().lower())
        for token in nlp.tokenizer(job_sentence)
        if token.text is not None
        and len(token) != 0
        and len(token.text) != 0
        and bool(token)
        and bool(token.text)
        and token.text != '...'
        and not token.is_space
        and not token.is_punct
        and not token.is_quote
        and not token.is_bracket
        and not token.like_email
    ]
)

assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy.csv', index=False)

progress-bar:   0%|          | 0/307318 [00:00<?, ?it/s]

CPU times: user 37.4 s, sys: 2.2 s, total: 39.6 s
Wall time: 44 s

In [5]:
df_jobs['Job Description spacy_sentencized_cleaned'] = df_jobs['Job Description spacy_tokenized'].str.join(' ')

In [6]:
# len = 307318
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 307318 entries, 0 to 408598
Data columns (total 76 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307318 non-null  object
 1   Platform                                          307318 non-null  object
 2   Job ID                                            307318 non-null  object
 3   Job Title                                         307318 non-null  object
 4   Company Name                                      307313 non-null  object
 5   Location                                          307318 non-null  object
 6   Job Description                                   307318 non-null  object
 7   Rating                                            165995 non-null  float64
 8   Employment Type                                   281192 non-null  object
 9   Company URL                                       300725 non-null  object
 10  Job URL                                           307318 non-null  object
 11  Job Age                                           307318 non-null  object
 12  Job Age Number                                    307318 non-null  object
 13  Collection Date                                   307318 non-null  object
 14  Data Row                                          141182 non-null  float64
 15  Tracking ID                                       141182 non-null  object
 16  Industry                                          167449 non-null  object
 17  Job Date                                          141323 non-null  object
 18  Type of ownership                                 26126 non-null   object
 19  Language                                          307318 non-null  object
 20  Dutch Requirement in Job Ad                       307318 non-null  object
 21  English Requirement in Job Ad                     307318 non-null  object
 22  Dutch Requirement in Job Ad_No                    307318 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307318 non-null  int64
 24  English Requirement in Job Ad_No                  307318 non-null  int64
 25  English Requirement in Job Ad_Yes                 307318 non-null  int64
 26  Sector Code                                       307318 non-null  object
 27  Sector                                            307318 non-null  object
 28  Keywords Count                                    307318 non-null  float64
 29  Gender_Female_n                                   307318 non-null  float64
 30  Gender_Female_% per Sector                        307318 non-null  float64
 31  Gender_Female_% per Social Category               307318 non-null  float64
 32  Gender_Female_% per Workforce                     307318 non-null  float64
 33  Gender_Male_n                                     307318 non-null  float64
 34  Gender_Male_% per Sector                          307318 non-null  float64
 35  Gender_Male_% per Social Category                 307318 non-null  float64
 36  Gender_Male_% per Workforce                       307318 non-null  float64
 37  Gender                                            307318 non-null  object
 38  Age_Older_n                                       307318 non-null  float64
 39  Age_Older_% per Sector                            307318 non-null  float64
 40  Age_Older_% per Social Category                   307318 non-null  float64
 41  Age_Older_% per Workforce                         307318 non-null  float64
 42  Age_Younger_n                                     307318 non-null  float64
 43  Age_Younger_% per Sector                          307318 non-null  float64
 44  Age_Younger_% per Social Category                 307318 non-null  float64
 45  Age_Younger_% per Workforce                       307318 non-null  float64
 46  Age                                               307318 non-null  object
 47  Sector_n                                          307318 non-null  float64
 48  % Sector per Workforce                            307318 non-null  float64
 49  Gender_Female                                     307318 non-null  int64
 50  Gender_Male                                       307318 non-null  int64
 51  Gender_Mixed                                      307318 non-null  int64
 52  Age_Mixed                                         307318 non-null  int64
 53  Age_Older                                         307318 non-null  int64
 54  Age_Younger                                       307318 non-null  int64
 55  Gender_Num                                        307318 non-null  int64
 56  Age_Num                                           307318 non-null  int64
 57  Platform_Num                                      307318 non-null  int64
 58  Platform_LinkedIn                                 307318 non-null  int64
 59  Platform_Indeed                                   307318 non-null  int64
 60  Platform_Glassdoor                                307318 non-null  int64
 61  Job Description spacy_sentencized                 307318 non-null  object
 62  Job Description num_words                         307318 non-null  int64
 63  Job Description num_unique_words                  307318 non-null  int64
 64  Job Description num_chars                         307318 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307318 non-null  int64
 66  Job Description num_punctuations                  307318 non-null  int64
 67  Job Description spacy_sentencized_lower           307318 non-null  object
 68  Dutch Requirement in Sentence                     307318 non-null  category
 69  English Requirement in Sentence                   307318 non-null  category
 70  Dutch Requirement in Sentence_No                  307318 non-null  int64
 71  Dutch Requirement in Sentence_Yes                 307318 non-null  int64
 72  English Requirement in Sentence_No                307318 non-null  int64
 73  English Requirement in Sentence_Yes               307318 non-null  int64
 74  Job Description spacy_tokenized                   307318 non-null  object
 75  Job Description spacy_sentencized_cleaned         307318 non-null  object
dtypes: category(2), float64(21), int64(25), object(28)
memory usage: 176.4+ MB

In [7]:
df_jobs.columns

Index(['Search Keyword', 'Platform', 'Job ID', 'Job Title', 'Company Name', 'Location', 'Job Description', 'Rating', 'Employment Type', 'Company URL', 'Job URL', 'Job Age', 'Job Age Number', 'Collection Date', 'Data Row', 'Tracking ID', 'Industry', 'Job Date', 'Type of ownership', 'Language', 'Dutch Requirement in Job Ad', 'English Requirement in Job Ad', 'Dutch Requirement in Job Ad_No', 'Dutch Requirement in Job Ad_Yes', 'English Requirement in Job Ad_No', 'English Requirement in Job Ad_Yes', 'Sector Code', 'Sector', 'Keywords Count', 'Gender_Female_n', 'Gender_Female_% per Sector', 'Gender_Female_% per Social Category', 'Gender_Female_% per Workforce', 'Gender_Male_n', 'Gender_Male_% per Sector', 'Gender_Male_% per Social Category', 'Gender_Male_% per Workforce', 'Gender', 'Age_Older_n', 'Age_Older_% per Sector', 'Age_Older_% per Social Category', 'Age_Older_% per Workforce', 'Age_Younger_n', 'Age_Younger_% per Sector', 'Age_Younger_% per Social Category', 'Age_Younger_% per Workforce', 'Age', 'Sector_n', '% Sector per Workforce', 'Gender_Female', 'Gender_Male', 'Gender_Mixed', 'Age_Mixed', 'Age_Older', 'Age_Younger', 'Gender_Num', 'Age_Num', 'Platform_Num', 'Platform_LinkedIn', 'Platform_Indeed', 'Platform_Glassdoor', 'Job Description spacy_sentencized', 'Job Description num_words', 'Job Description num_unique_words', 'Job Description num_chars', 'Job Description num_chars_no_whitespact_and_punt', 'Job Description num_punctuations', 'Job Description spacy_sentencized_lower', 'Dutch Requirement in Sentence', 'English Requirement in Sentence', 'Dutch Requirement in Sentence_No', 'Dutch Requirement in Sentence_Yes', 'English Requirement in Sentence_No', 'English Requirement in Sentence_Yes', 'Job Description spacy_tokenized', 'Job Description spacy_sentencized_cleaned'], dtype='object')

In [8]:
# Job Sentence info
get_df_info(df_jobs, ivs_all=ivs_all)

DF INFO:

<class 'pandas.core.frame.DataFrame'>
Index: 307318 entries, 0 to 408598
Data columns (total 76 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307318 non-null  object
 1   Platform                                          307318 non-null  object
 2   Job ID                                            307318 non-null  object
 3   Job Title                                         307318 non-null  object
 4   Company Name                                      307313 non-null  object
 5   Location                                          307318 non-null  object
 6   Job Description                                   307318 non-null  object
 7   Rating                                            165995 non-null  float64
 8   Employment Type                                   281192 non-null  object
 9   Company URL                                       300725 non-null  object
 10  Job URL                                           307318 non-null  object
 11  Job Age                                           307318 non-null  object
 12  Job Age Number                                    307318 non-null  object
 13  Collection Date                                   307318 non-null  object
 14  Data Row                                          141182 non-null  float64
 15  Tracking ID                                       141182 non-null  object
 16  Industry                                          167449 non-null  object
 17  Job Date                                          141323 non-null  object
 18  Type of ownership                                 26126 non-null   object
 19  Language                                          307318 non-null  object
 20  Dutch Requirement in Job Ad                       307318 non-null  object
 21  English Requirement in Job Ad                     307318 non-null  object
 22  Dutch Requirement in Job Ad_No                    307318 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307318 non-null  int64
 24  English Requirement in Job Ad_No                  307318 non-null  int64
 25  English Requirement in Job Ad_Yes                 307318 non-null  int64
 26  Sector Code                                       307318 non-null  object
 27  Sector                                            307318 non-null  object
 28  Keywords Count                                    307318 non-null  float64
 29  Gender_Female_n                                   307318 non-null  float64
 30  Gender_Female_% per Sector                        307318 non-null  float64
 31  Gender_Female_% per Social Category               307318 non-null  float64
 32  Gender_Female_% per Workforce                     307318 non-null  float64
 33  Gender_Male_n                                     307318 non-null  float64
 34  Gender_Male_% per Sector                          307318 non-null  float64
 35  Gender_Male_% per Social Category                 307318 non-null  float64
 36  Gender_Male_% per Workforce                       307318 non-null  float64
 37  Gender                                            307318 non-null  object
 38  Age_Older_n                                       307318 non-null  float64
 39  Age_Older_% per Sector                            307318 non-null  float64
 40  Age_Older_% per Social Category                   307318 non-null  float64
 41  Age_Older_% per Workforce                         307318 non-null  float64
 42  Age_Younger_n                                     307318 non-null  float64
 43  Age_Younger_% per Sector                          307318 non-null  float64
 44  Age_Younger_% per Social Category                 307318 non-null  float64
 45  Age_Younger_% per Workforce                       307318 non-null  float64
 46  Age                                               307318 non-null  object
 47  Sector_n                                          307318 non-null  float64
 48  % Sector per Workforce                            307318 non-null  float64
 49  Gender_Female                                     307318 non-null  int64
 50  Gender_Male                                       307318 non-null  int64
 51  Gender_Mixed                                      307318 non-null  int64
 52  Age_Mixed                                         307318 non-null  int64
 53  Age_Older                                         307318 non-null  int64
 54  Age_Younger                                       307318 non-null  int64
 55  Gender_Num                                        307318 non-null  int64
 56  Age_Num                                           307318 non-null  int64
 57  Platform_Num                                      307318 non-null  int64
 58  Platform_LinkedIn                                 307318 non-null  int64
 59  Platform_Indeed                                   307318 non-null  int64
 60  Platform_Glassdoor                                307318 non-null  int64
 61  Job Description spacy_sentencized                 307318 non-null  object
 62  Job Description num_words                         307318 non-null  int64
 63  Job Description num_unique_words                  307318 non-null  int64
 64  Job Description num_chars                         307318 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307318 non-null  int64
 66  Job Description num_punctuations                  307318 non-null  int64
 67  Job Description spacy_sentencized_lower           307318 non-null  object
 68  Dutch Requirement in Sentence                     307318 non-null  category
 69  English Requirement in Sentence                   307318 non-null  category
 70  Dutch Requirement in Sentence_No                  307318 non-null  int64
 71  Dutch Requirement in Sentence_Yes                 307318 non-null  int64
 72  English Requirement in Sentence_No                307318 non-null  int64
 73  English Requirement in Sentence_Yes               307318 non-null  int64
 74  Job Description spacy_tokenized                   307318 non-null  object
 75  Job Description spacy_sentencized_cleaned         307318 non-null  object
dtypes: category(2), float64(21), int64(25), object(28)
memory usage: 176.4+ MB
====================
Gender:
--------------------
Gender Counts:
Gender
Mixed Gender    116494
Male            112667
Female           78157
Name: count, dtype: int64
--------------------
Gender Percentages:
Gender
Mixed Gender   37.90
Male           36.70
Female         25.40
Name: proportion, dtype: float64
--------------------
Gender not available.
====================
Gender_Num:
--------------------
Gender_Num Counts:
Gender_Num
1    116494
2    112667
0     78157
Name: count, dtype: int64
--------------------
Gender_Num Percentages:
Gender_Num
1   37.90
2   36.70
0   25.40
Name: proportion, dtype: float64
--------------------
Min Gender_Num value: 0.0
Max Gender_Num value: 2.0
--------------------
Gender_Num Mean: 1.11
--------------------
Gender_Num Standard Deviation: 0.78
====================
Gender_Female:
--------------------
Gender_Female Counts:
Gender_Female
0    229161
1     78157
Name: count, dtype: int64
--------------------
Gender_Female Percentages:
Gender_Female
0   74.60
1   25.40
Name: proportion, dtype: float64
--------------------
Min Gender_Female value: 0.0
Max Gender_Female value: 1.0
--------------------
Gender_Female Mean: 0.25
--------------------
Gender_Female Standard Deviation: 0.44
====================
Gender_Mixed:
--------------------
Gender_Mixed Counts:
Gender_Mixed
0    190824
1    116494
Name: count, dtype: int64
--------------------
Gender_Mixed Percentages:
Gender_Mixed
0   62.10
1   37.90
Name: proportion, dtype: float64
--------------------
Min Gender_Mixed value: 0.0
Max Gender_Mixed value: 1.0
--------------------
Gender_Mixed Mean: 0.38
--------------------
Gender_Mixed Standard Deviation: 0.49
====================
Gender_Male:
--------------------
Gender_Male Counts:
Gender_Male
0    194651
1    112667
Name: count, dtype: int64
--------------------
Gender_Male Percentages:
Gender_Male
0   63.30
1   36.70
Name: proportion, dtype: float64
--------------------
Min Gender_Male value: 0.0
Max Gender_Male value: 1.0
--------------------
Gender_Male Mean: 0.37
--------------------
Gender_Male Standard Deviation: 0.48
====================
Gender_Female_n:
--------------------
Min Gender_Female_n value: 7.0
Max Gender_Female_n value: 3970.0
--------------------
Gender_Female_n Mean: 656.83
--------------------
Gender_Female_n Standard Deviation: 1047.83
====================
Gender_Male_n:
--------------------
Min Gender_Male_n value: 21.0
Max Gender_Male_n value: 4510.0
--------------------
Gender_Male_n Mean: 711.98
--------------------
Gender_Male_n Standard Deviation: 1235.44
====================
Gender_Female_% per Sector:
--------------------
Min Gender_Female_% per Sector value: 12.5
Max Gender_Female_% per Sector value: 84.299
--------------------
Gender_Female_% per Sector Mean: 45.36
--------------------
Gender_Female_% per Sector Standard Deviation: 19.5
====================
Gender_Male_% per Sector:
--------------------
Min Gender_Male_% per Sector value: 15.632
Max Gender_Male_% per Sector value: 87.5
--------------------
Gender_Male_% per Sector Mean: 54.59
--------------------
Gender_Male_% per Sector Standard Deviation: 19.53
====================
Age:
--------------------
Age Counts:
Age
Mixed Age    197629
Older         62741
Younger       46948
Name: count, dtype: int64
--------------------
Age Percentages:
Age
Mixed Age   64.30
Older       20.40
Younger     15.30
Name: proportion, dtype: float64
--------------------
Age not available.
====================
Age_Num:
--------------------
Age_Num Counts:
Age_Num
1    197629
0     62741
2     46948
Name: count, dtype: int64
--------------------
Age_Num Percentages:
Age_Num
1   64.30
0   20.40
2   15.30
Name: proportion, dtype: float64
--------------------
Min Age_Num value: 0.0
Max Age_Num value: 2.0
--------------------
Age_Num Mean: 0.95
--------------------
Age_Num Standard Deviation: 0.6
====================
Age_Older:
--------------------
Age_Older Counts:
Age_Older
0    244577
1     62741
Name: count, dtype: int64
--------------------
Age_Older Percentages:
Age_Older
0   79.60
1   20.40
Name: proportion, dtype: float64
--------------------
Min Age_Older value: 0.0
Max Age_Older value: 1.0
--------------------
Age_Older Mean: 0.2
--------------------
Age_Older Standard Deviation: 0.4
====================
Age_Mixed:
--------------------
Age_Mixed Counts:
Age_Mixed
1    197629
0    109689
Name: count, dtype: int64
--------------------
Age_Mixed Percentages:
Age_Mixed
1   64.30
0   35.70
Name: proportion, dtype: float64
--------------------
Min Age_Mixed value: 0.0
Max Age_Mixed value: 1.0
--------------------
Age_Mixed Mean: 0.64
--------------------
Age_Mixed Standard Deviation: 0.48
====================
Age_Younger:
--------------------
Age_Younger Counts:
Age_Younger
0    260370
1     46948
Name: count, dtype: int64
--------------------
Age_Younger Percentages:
Age_Younger
0   84.70
1   15.30
Name: proportion, dtype: float64
--------------------
Min Age_Younger value: 0.0
Max Age_Younger value: 1.0
--------------------
Age_Younger Mean: 0.15
--------------------
Age_Younger Standard Deviation: 0.36
====================
Age_Older_n:
--------------------
Min Age_Older_n value: 15.0
Max Age_Older_n value: 2844.0
--------------------
Age_Older_n Mean: 528.4
--------------------
Age_Older_n Standard Deviation: 796.78
====================
Age_Younger_n:
--------------------
Min Age_Younger_n value: 13.0
Max Age_Younger_n value: 5228.0
--------------------
Age_Younger_n Mean: 840.01
--------------------
Age_Younger_n Standard Deviation: 1437.87
====================
Age_Older_% per Sector:
--------------------
Min Age_Older_% per Sector value: 18.939
Max Age_Older_% per Sector value: 58.333
--------------------
Age_Older_% per Sector Mean: 40.86
--------------------
Age_Older_% per Sector Standard Deviation: 10.12
====================
Age_Younger_% per Sector:
--------------------
Min Age_Younger_% per Sector value: 44.444
Max Age_Younger_% per Sector value: 80.808
--------------------
Age_Younger_% per Sector Mean: 59.04
--------------------
Age_Younger_% per Sector Standard Deviation: 9.98

In [9]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy.csv', index=False)

# Use NLTK to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_TOKENIZED_SPACY
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [10]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

if code_dir_name not in str(Path.cwd()).split('/')[-1]:
    for _ in range(5):

        parent_path = str(Path.cwd().parents[_]).split('/')[-1]

        if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

            code_dir = str(Path.cwd().parents[_])

            if code_dir is not None:
                break
else:
    code_dir = Path.cwd()
sys.path.append(code_dir)

# %load_ext autoreload
# %autoreload 2

In [11]:
from setup_module.imports import * # type:ignore # isort:skip # fmt:skip # noqa # nopep8

In [12]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_tokenized_spacy.pkl')

In [13]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 307318 entries, 0 to 408598
Data columns (total 76 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307318 non-null  object
 1   Platform                                          307318 non-null  object
 2   Job ID                                            307318 non-null  object
 3   Job Title                                         307318 non-null  object
 4   Company Name                                      307313 non-null  object
 5   Location                                          307318 non-null  object
 6   Job Description                                   307318 non-null  object
 7   Rating                                            165995 non-null  float64
 8   Employment Type                                   281192 non-null  object
 9   Company URL                                       300725 non-null  object
 10  Job URL                                           307318 non-null  object
 11  Job Age                                           307318 non-null  object
 12  Job Age Number                                    307318 non-null  object
 13  Collection Date                                   307318 non-null  object
 14  Data Row                                          141182 non-null  float64
 15  Tracking ID                                       141182 non-null  object
 16  Industry                                          167449 non-null  object
 17  Job Date                                          141323 non-null  object
 18  Type of ownership                                 26126 non-null   object
 19  Language                                          307318 non-null  object
 20  Dutch Requirement in Job Ad                       307318 non-null  object
 21  English Requirement in Job Ad                     307318 non-null  object
 22  Dutch Requirement in Job Ad_No                    307318 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307318 non-null  int64
 24  English Requirement in Job Ad_No                  307318 non-null  int64
 25  English Requirement in Job Ad_Yes                 307318 non-null  int64
 26  Sector Code                                       307318 non-null  object
 27  Sector                                            307318 non-null  object
 28  Keywords Count                                    307318 non-null  float64
 29  Gender_Female_n                                   307318 non-null  float64
 30  Gender_Female_% per Sector                        307318 non-null  float64
 31  Gender_Female_% per Social Category               307318 non-null  float64
 32  Gender_Female_% per Workforce                     307318 non-null  float64
 33  Gender_Male_n                                     307318 non-null  float64
 34  Gender_Male_% per Sector                          307318 non-null  float64
 35  Gender_Male_% per Social Category                 307318 non-null  float64
 36  Gender_Male_% per Workforce                       307318 non-null  float64
 37  Gender                                            307318 non-null  object
 38  Age_Older_n                                       307318 non-null  float64
 39  Age_Older_% per Sector                            307318 non-null  float64
 40  Age_Older_% per Social Category                   307318 non-null  float64
 41  Age_Older_% per Workforce                         307318 non-null  float64
 42  Age_Younger_n                                     307318 non-null  float64
 43  Age_Younger_% per Sector                          307318 non-null  float64
 44  Age_Younger_% per Social Category                 307318 non-null  float64
 45  Age_Younger_% per Workforce                       307318 non-null  float64
 46  Age                                               307318 non-null  object
 47  Sector_n                                          307318 non-null  float64
 48  % Sector per Workforce                            307318 non-null  float64
 49  Gender_Female                                     307318 non-null  int64
 50  Gender_Male                                       307318 non-null  int64
 51  Gender_Mixed                                      307318 non-null  int64
 52  Age_Mixed                                         307318 non-null  int64
 53  Age_Older                                         307318 non-null  int64
 54  Age_Younger                                       307318 non-null  int64
 55  Gender_Num                                        307318 non-null  int64
 56  Age_Num                                           307318 non-null  int64
 57  Platform_Num                                      307318 non-null  int64
 58  Platform_LinkedIn                                 307318 non-null  int64
 59  Platform_Indeed                                   307318 non-null  int64
 60  Platform_Glassdoor                                307318 non-null  int64
 61  Job Description spacy_sentencized                 307318 non-null  object
 62  Job Description num_words                         307318 non-null  int64
 63  Job Description num_unique_words                  307318 non-null  int64
 64  Job Description num_chars                         307318 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307318 non-null  int64
 66  Job Description num_punctuations                  307318 non-null  int64
 67  Job Description spacy_sentencized_lower           307318 non-null  object
 68  Dutch Requirement in Sentence                     307318 non-null  category
 69  English Requirement in Sentence                   307318 non-null  category
 70  Dutch Requirement in Sentence_No                  307318 non-null  int64
 71  Dutch Requirement in Sentence_Yes                 307318 non-null  int64
 72  English Requirement in Sentence_No                307318 non-null  int64
 73  English Requirement in Sentence_Yes               307318 non-null  int64
 74  Job Description spacy_tokenized                   307318 non-null  object
 75  Job Description spacy_sentencized_cleaned         307318 non-null  object
dtypes: category(2), float64(21), int64(25), object(28)
memory usage: 176.4+ MB

In [14]:
%%time
# Tokenize with NLTK
df_jobs['Job Description nltk_tokenized'] = df_jobs['Job Description spacy_sentencized'].progress_apply(
    lambda job_sentence: [
        str(token.strip().lower()) 
        for token in word_tokenize(job_sentence) 
        if len(token) != 0 
        and token != '...' 
        and not token.lower() in nan_list
        and not token.lower() in custom_punct_chars
        and not token.lower() in set(stopwords.words('english')) 
        and not token.lower() in list(string.punctuation)
        and not token.lower() in list(string.whitespace)
        and (t.lower() in list(string.printable) for t in token.lower())
    ]
)

assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk.csv', index=False)

progress-bar:   0%|          | 0/307318 [00:00<?, ?it/s]

CPU times: user 5min 22s, sys: 1min 40s, total: 7min 3s
Wall time: 7min 29s

In [15]:
df_jobs['Job Description nltk_tokenized'].head()

0                                             [client]
1    [global, kyc, organisation, part, ing, 's, coo...
2    [purpose, enabling, people, organisations, use...
3    [global, kyc, organisation, first, line, defen...
4    [global, kyc, organisation, working, many, col...
Name: Job Description nltk_tokenized, dtype: object

In [16]:
# Keep the some of the [] rows because they contain 'Who are we', 'What we do', etc. and remove '1. ' and '2. ' etc. abd 'T)'
df_jobs = df_jobs.loc[~df_jobs['Job Description spacy_sentencized'].str.match('^\d\.|.\)')]

In [17]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 307154 entries, 0 to 408598
Data columns (total 77 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307154 non-null  object
 1   Platform                                          307154 non-null  object
 2   Job ID                                            307154 non-null  object
 3   Job Title                                         307154 non-null  object
 4   Company Name                                      307149 non-null  object
 5   Location                                          307154 non-null  object
 6   Job Description                                   307154 non-null  object
 7   Rating                                            165831 non-null  float64
 8   Employment Type                                   281052 non-null  object
 9   Company URL                                       300561 non-null  object
 10  Job URL                                           307154 non-null  object
 11  Job Age                                           307154 non-null  object
 12  Job Age Number                                    307154 non-null  object
 13  Collection Date                                   307154 non-null  object
 14  Data Row                                          141182 non-null  float64
 15  Tracking ID                                       141182 non-null  object
 16  Industry                                          167425 non-null  object
 17  Job Date                                          141323 non-null  object
 18  Type of ownership                                 26102 non-null   object
 19  Language                                          307154 non-null  object
 20  Dutch Requirement in Job Ad                       307154 non-null  object
 21  English Requirement in Job Ad                     307154 non-null  object
 22  Dutch Requirement in Job Ad_No                    307154 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307154 non-null  int64
 24  English Requirement in Job Ad_No                  307154 non-null  int64
 25  English Requirement in Job Ad_Yes                 307154 non-null  int64
 26  Sector Code                                       307154 non-null  object
 27  Sector                                            307154 non-null  object
 28  Keywords Count                                    307154 non-null  float64
 29  Gender_Female_n                                   307154 non-null  float64
 30  Gender_Female_% per Sector                        307154 non-null  float64
 31  Gender_Female_% per Social Category               307154 non-null  float64
 32  Gender_Female_% per Workforce                     307154 non-null  float64
 33  Gender_Male_n                                     307154 non-null  float64
 34  Gender_Male_% per Sector                          307154 non-null  float64
 35  Gender_Male_% per Social Category                 307154 non-null  float64
 36  Gender_Male_% per Workforce                       307154 non-null  float64
 37  Gender                                            307154 non-null  object
 38  Age_Older_n                                       307154 non-null  float64
 39  Age_Older_% per Sector                            307154 non-null  float64
 40  Age_Older_% per Social Category                   307154 non-null  float64
 41  Age_Older_% per Workforce                         307154 non-null  float64
 42  Age_Younger_n                                     307154 non-null  float64
 43  Age_Younger_% per Sector                          307154 non-null  float64
 44  Age_Younger_% per Social Category                 307154 non-null  float64
 45  Age_Younger_% per Workforce                       307154 non-null  float64
 46  Age                                               307154 non-null  object
 47  Sector_n                                          307154 non-null  float64
 48  % Sector per Workforce                            307154 non-null  float64
 49  Gender_Female                                     307154 non-null  int64
 50  Gender_Male                                       307154 non-null  int64
 51  Gender_Mixed                                      307154 non-null  int64
 52  Age_Mixed                                         307154 non-null  int64
 53  Age_Older                                         307154 non-null  int64
 54  Age_Younger                                       307154 non-null  int64
 55  Gender_Num                                        307154 non-null  int64
 56  Age_Num                                           307154 non-null  int64
 57  Platform_Num                                      307154 non-null  int64
 58  Platform_LinkedIn                                 307154 non-null  int64
 59  Platform_Indeed                                   307154 non-null  int64
 60  Platform_Glassdoor                                307154 non-null  int64
 61  Job Description spacy_sentencized                 307154 non-null  object
 62  Job Description num_words                         307154 non-null  int64
 63  Job Description num_unique_words                  307154 non-null  int64
 64  Job Description num_chars                         307154 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307154 non-null  int64
 66  Job Description num_punctuations                  307154 non-null  int64
 67  Job Description spacy_sentencized_lower           307154 non-null  object
 68  Dutch Requirement in Sentence                     307154 non-null  category
 69  English Requirement in Sentence                   307154 non-null  category
 70  Dutch Requirement in Sentence_No                  307154 non-null  int64
 71  Dutch Requirement in Sentence_Yes                 307154 non-null  int64
 72  English Requirement in Sentence_No                307154 non-null  int64
 73  English Requirement in Sentence_Yes               307154 non-null  int64
 74  Job Description spacy_tokenized                   307154 non-null  object
 75  Job Description spacy_sentencized_cleaned         307154 non-null  object
 76  Job Description nltk_tokenized                    307154 non-null  object
dtypes: category(2), float64(21), int64(25), object(29)
memory usage: 178.7+ MB

In [18]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk.csv', index=False)

# Use gensim to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_TOKENIZED_SPACY_NLTK
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [19]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

if code_dir_name not in str(Path.cwd()).split('/')[-1]:
    for _ in range(5):

        parent_path = str(Path.cwd().parents[_]).split('/')[-1]

        if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

            code_dir = str(Path.cwd().parents[_])

            if code_dir is not None:
                break
else:
    code_dir = Path.cwd()
sys.path.append(code_dir)

# %load_ext autoreload
# %autoreload 2

In [20]:
from setup_module.imports import * # type:ignore # isort:skip # fmt:skip # noqa # nopep8

In [21]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk.pkl')

In [22]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 307154 entries, 0 to 408598
Data columns (total 77 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307154 non-null  object
 1   Platform                                          307154 non-null  object
 2   Job ID                                            307154 non-null  object
 3   Job Title                                         307154 non-null  object
 4   Company Name                                      307149 non-null  object
 5   Location                                          307154 non-null  object
 6   Job Description                                   307154 non-null  object
 7   Rating                                            165831 non-null  float64
 8   Employment Type                                   281052 non-null  object
 9   Company URL                                       300561 non-null  object
 10  Job URL                                           307154 non-null  object
 11  Job Age                                           307154 non-null  object
 12  Job Age Number                                    307154 non-null  object
 13  Collection Date                                   307154 non-null  object
 14  Data Row                                          141182 non-null  float64
 15  Tracking ID                                       141182 non-null  object
 16  Industry                                          167425 non-null  object
 17  Job Date                                          141323 non-null  object
 18  Type of ownership                                 26102 non-null   object
 19  Language                                          307154 non-null  object
 20  Dutch Requirement in Job Ad                       307154 non-null  object
 21  English Requirement in Job Ad                     307154 non-null  object
 22  Dutch Requirement in Job Ad_No                    307154 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307154 non-null  int64
 24  English Requirement in Job Ad_No                  307154 non-null  int64
 25  English Requirement in Job Ad_Yes                 307154 non-null  int64
 26  Sector Code                                       307154 non-null  object
 27  Sector                                            307154 non-null  object
 28  Keywords Count                                    307154 non-null  float64
 29  Gender_Female_n                                   307154 non-null  float64
 30  Gender_Female_% per Sector                        307154 non-null  float64
 31  Gender_Female_% per Social Category               307154 non-null  float64
 32  Gender_Female_% per Workforce                     307154 non-null  float64
 33  Gender_Male_n                                     307154 non-null  float64
 34  Gender_Male_% per Sector                          307154 non-null  float64
 35  Gender_Male_% per Social Category                 307154 non-null  float64
 36  Gender_Male_% per Workforce                       307154 non-null  float64
 37  Gender                                            307154 non-null  object
 38  Age_Older_n                                       307154 non-null  float64
 39  Age_Older_% per Sector                            307154 non-null  float64
 40  Age_Older_% per Social Category                   307154 non-null  float64
 41  Age_Older_% per Workforce                         307154 non-null  float64
 42  Age_Younger_n                                     307154 non-null  float64
 43  Age_Younger_% per Sector                          307154 non-null  float64
 44  Age_Younger_% per Social Category                 307154 non-null  float64
 45  Age_Younger_% per Workforce                       307154 non-null  float64
 46  Age                                               307154 non-null  object
 47  Sector_n                                          307154 non-null  float64
 48  % Sector per Workforce                            307154 non-null  float64
 49  Gender_Female                                     307154 non-null  int64
 50  Gender_Male                                       307154 non-null  int64
 51  Gender_Mixed                                      307154 non-null  int64
 52  Age_Mixed                                         307154 non-null  int64
 53  Age_Older                                         307154 non-null  int64
 54  Age_Younger                                       307154 non-null  int64
 55  Gender_Num                                        307154 non-null  int64
 56  Age_Num                                           307154 non-null  int64
 57  Platform_Num                                      307154 non-null  int64
 58  Platform_LinkedIn                                 307154 non-null  int64
 59  Platform_Indeed                                   307154 non-null  int64
 60  Platform_Glassdoor                                307154 non-null  int64
 61  Job Description spacy_sentencized                 307154 non-null  object
 62  Job Description num_words                         307154 non-null  int64
 63  Job Description num_unique_words                  307154 non-null  int64
 64  Job Description num_chars                         307154 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307154 non-null  int64
 66  Job Description num_punctuations                  307154 non-null  int64
 67  Job Description spacy_sentencized_lower           307154 non-null  object
 68  Dutch Requirement in Sentence                     307154 non-null  category
 69  English Requirement in Sentence                   307154 non-null  category
 70  Dutch Requirement in Sentence_No                  307154 non-null  int64
 71  Dutch Requirement in Sentence_Yes                 307154 non-null  int64
 72  English Requirement in Sentence_No                307154 non-null  int64
 73  English Requirement in Sentence_Yes               307154 non-null  int64
 74  Job Description spacy_tokenized                   307154 non-null  object
 75  Job Description spacy_sentencized_cleaned         307154 non-null  object
 76  Job Description nltk_tokenized                    307154 non-null  object
dtypes: category(2), float64(21), int64(25), object(29)
memory usage: 178.7+ MB

In [23]:
%%time
df_jobs['Job Description gensim_tokenized'] = df_jobs['Job Description spacy_sentencized'].progress_apply(
    lambda sentence: preprocess_string(re.sub(pattern, '.', sentence.strip().lower()))
)

assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim.csv', index=False)

progress-bar:   0%|          | 0/307154 [00:00<?, ?it/s]

CPU times: user 56.8 s, sys: 2.14 s, total: 58.9 s
Wall time: 1min 2s

In [24]:
df_jobs['Job Description gensim_tokenized'].head()

0                                             [client]
1             [global, kyc, organis, ing, coo, domain]
2    [purpos, enabl, peopl, organis, us, bank, serv...
3    [global, kyc, organis, line, defenc, depart, p...
4    [global, kyc, organis, work, colleagu, differ,...
Name: Job Description gensim_tokenized, dtype: object

In [25]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 307154 entries, 0 to 408598
Data columns (total 78 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307154 non-null  object
 1   Platform                                          307154 non-null  object
 2   Job ID                                            307154 non-null  object
 3   Job Title                                         307154 non-null  object
 4   Company Name                                      307149 non-null  object
 5   Location                                          307154 non-null  object
 6   Job Description                                   307154 non-null  object
 7   Rating                                            165831 non-null  float64
 8   Employment Type                                   281052 non-null  object
 9   Company URL                                       300561 non-null  object
 10  Job URL                                           307154 non-null  object
 11  Job Age                                           307154 non-null  object
 12  Job Age Number                                    307154 non-null  object
 13  Collection Date                                   307154 non-null  object
 14  Data Row                                          141182 non-null  float64
 15  Tracking ID                                       141182 non-null  object
 16  Industry                                          167425 non-null  object
 17  Job Date                                          141323 non-null  object
 18  Type of ownership                                 26102 non-null   object
 19  Language                                          307154 non-null  object
 20  Dutch Requirement in Job Ad                       307154 non-null  object
 21  English Requirement in Job Ad                     307154 non-null  object
 22  Dutch Requirement in Job Ad_No                    307154 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307154 non-null  int64
 24  English Requirement in Job Ad_No                  307154 non-null  int64
 25  English Requirement in Job Ad_Yes                 307154 non-null  int64
 26  Sector Code                                       307154 non-null  object
 27  Sector                                            307154 non-null  object
 28  Keywords Count                                    307154 non-null  float64
 29  Gender_Female_n                                   307154 non-null  float64
 30  Gender_Female_% per Sector                        307154 non-null  float64
 31  Gender_Female_% per Social Category               307154 non-null  float64
 32  Gender_Female_% per Workforce                     307154 non-null  float64
 33  Gender_Male_n                                     307154 non-null  float64
 34  Gender_Male_% per Sector                          307154 non-null  float64
 35  Gender_Male_% per Social Category                 307154 non-null  float64
 36  Gender_Male_% per Workforce                       307154 non-null  float64
 37  Gender                                            307154 non-null  object
 38  Age_Older_n                                       307154 non-null  float64
 39  Age_Older_% per Sector                            307154 non-null  float64
 40  Age_Older_% per Social Category                   307154 non-null  float64
 41  Age_Older_% per Workforce                         307154 non-null  float64
 42  Age_Younger_n                                     307154 non-null  float64
 43  Age_Younger_% per Sector                          307154 non-null  float64
 44  Age_Younger_% per Social Category                 307154 non-null  float64
 45  Age_Younger_% per Workforce                       307154 non-null  float64
 46  Age                                               307154 non-null  object
 47  Sector_n                                          307154 non-null  float64
 48  % Sector per Workforce                            307154 non-null  float64
 49  Gender_Female                                     307154 non-null  int64
 50  Gender_Male                                       307154 non-null  int64
 51  Gender_Mixed                                      307154 non-null  int64
 52  Age_Mixed                                         307154 non-null  int64
 53  Age_Older                                         307154 non-null  int64
 54  Age_Younger                                       307154 non-null  int64
 55  Gender_Num                                        307154 non-null  int64
 56  Age_Num                                           307154 non-null  int64
 57  Platform_Num                                      307154 non-null  int64
 58  Platform_LinkedIn                                 307154 non-null  int64
 59  Platform_Indeed                                   307154 non-null  int64
 60  Platform_Glassdoor                                307154 non-null  int64
 61  Job Description spacy_sentencized                 307154 non-null  object
 62  Job Description num_words                         307154 non-null  int64
 63  Job Description num_unique_words                  307154 non-null  int64
 64  Job Description num_chars                         307154 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307154 non-null  int64
 66  Job Description num_punctuations                  307154 non-null  int64
 67  Job Description spacy_sentencized_lower           307154 non-null  object
 68  Dutch Requirement in Sentence                     307154 non-null  category
 69  English Requirement in Sentence                   307154 non-null  category
 70  Dutch Requirement in Sentence_No                  307154 non-null  int64
 71  Dutch Requirement in Sentence_Yes                 307154 non-null  int64
 72  English Requirement in Sentence_No                307154 non-null  int64
 73  English Requirement in Sentence_Yes               307154 non-null  int64
 74  Job Description spacy_tokenized                   307154 non-null  object
 75  Job Description spacy_sentencized_cleaned         307154 non-null  object
 76  Job Description nltk_tokenized                    307154 non-null  object
 77  Job Description gensim_tokenized                  307154 non-null  object
dtypes: category(2), float64(21), int64(25), object(30)
memory usage: 181.0+ MB

In [26]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim.csv', index=False)

# Use BERT to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_TOKENIZED_SPACY_NLTK_GENSIM
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [27]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

if code_dir_name not in str(Path.cwd()).split('/')[-1]:
    for _ in range(5):

        parent_path = str(Path.cwd().parents[_]).split('/')[-1]

        if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

            code_dir = str(Path.cwd().parents[_])

            if code_dir is not None:
                break
else:
    code_dir = Path.cwd()
sys.path.append(code_dir)

# %load_ext autoreload
# %autoreload 2

In [28]:
from setup_module.imports import *  # type:ignore # isort:skip # fmt:skip # noqa # nopep8

In [29]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim.pkl')

In [30]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Index: 307154 entries, 0 to 408598
Data columns (total 78 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    307154 non-null  object
 1   Platform                                          307154 non-null  object
 2   Job ID                                            307154 non-null  object
 3   Job Title                                         307154 non-null  object
 4   Company Name                                      307149 non-null  object
 5   Location                                          307154 non-null  object
 6   Job Description                                   307154 non-null  object
 7   Rating                                            165831 non-null  float64
 8   Employment Type                                   281052 non-null  object
 9   Company URL                                       300561 non-null  object
 10  Job URL                                           307154 non-null  object
 11  Job Age                                           307154 non-null  object
 12  Job Age Number                                    307154 non-null  object
 13  Collection Date                                   307154 non-null  object
 14  Data Row                                          141182 non-null  float64
 15  Tracking ID                                       141182 non-null  object
 16  Industry                                          167425 non-null  object
 17  Job Date                                          141323 non-null  object
 18  Type of ownership                                 26102 non-null   object
 19  Language                                          307154 non-null  object
 20  Dutch Requirement in Job Ad                       307154 non-null  object
 21  English Requirement in Job Ad                     307154 non-null  object
 22  Dutch Requirement in Job Ad_No                    307154 non-null  int64
 23  Dutch Requirement in Job Ad_Yes                   307154 non-null  int64
 24  English Requirement in Job Ad_No                  307154 non-null  int64
 25  English Requirement in Job Ad_Yes                 307154 non-null  int64
 26  Sector Code                                       307154 non-null  object
 27  Sector                                            307154 non-null  object
 28  Keywords Count                                    307154 non-null  float64
 29  Gender_Female_n                                   307154 non-null  float64
 30  Gender_Female_% per Sector                        307154 non-null  float64
 31  Gender_Female_% per Social Category               307154 non-null  float64
 32  Gender_Female_% per Workforce                     307154 non-null  float64
 33  Gender_Male_n                                     307154 non-null  float64
 34  Gender_Male_% per Sector                          307154 non-null  float64
 35  Gender_Male_% per Social Category                 307154 non-null  float64
 36  Gender_Male_% per Workforce                       307154 non-null  float64
 37  Gender                                            307154 non-null  object
 38  Age_Older_n                                       307154 non-null  float64
 39  Age_Older_% per Sector                            307154 non-null  float64
 40  Age_Older_% per Social Category                   307154 non-null  float64
 41  Age_Older_% per Workforce                         307154 non-null  float64
 42  Age_Younger_n                                     307154 non-null  float64
 43  Age_Younger_% per Sector                          307154 non-null  float64
 44  Age_Younger_% per Social Category                 307154 non-null  float64
 45  Age_Younger_% per Workforce                       307154 non-null  float64
 46  Age                                               307154 non-null  object
 47  Sector_n                                          307154 non-null  float64
 48  % Sector per Workforce                            307154 non-null  float64
 49  Gender_Female                                     307154 non-null  int64
 50  Gender_Male                                       307154 non-null  int64
 51  Gender_Mixed                                      307154 non-null  int64
 52  Age_Mixed                                         307154 non-null  int64
 53  Age_Older                                         307154 non-null  int64
 54  Age_Younger                                       307154 non-null  int64
 55  Gender_Num                                        307154 non-null  int64
 56  Age_Num                                           307154 non-null  int64
 57  Platform_Num                                      307154 non-null  int64
 58  Platform_LinkedIn                                 307154 non-null  int64
 59  Platform_Indeed                                   307154 non-null  int64
 60  Platform_Glassdoor                                307154 non-null  int64
 61  Job Description spacy_sentencized                 307154 non-null  object
 62  Job Description num_words                         307154 non-null  int64
 63  Job Description num_unique_words                  307154 non-null  int64
 64  Job Description num_chars                         307154 non-null  int64
 65  Job Description num_chars_no_whitespact_and_punt  307154 non-null  int64
 66  Job Description num_punctuations                  307154 non-null  int64
 67  Job Description spacy_sentencized_lower           307154 non-null  object
 68  Dutch Requirement in Sentence                     307154 non-null  category
 69  English Requirement in Sentence                   307154 non-null  category
 70  Dutch Requirement in Sentence_No                  307154 non-null  int64
 71  Dutch Requirement in Sentence_Yes                 307154 non-null  int64
 72  English Requirement in Sentence_No                307154 non-null  int64
 73  English Requirement in Sentence_Yes               307154 non-null  int64
 74  Job Description spacy_tokenized                   307154 non-null  object
 75  Job Description spacy_sentencized_cleaned         307154 non-null  object
 76  Job Description nltk_tokenized                    307154 non-null  object
 77  Job Description gensim_tokenized                  307154 non-null  object
dtypes: category(2), float64(21), int64(25), object(30)
memory usage: 181.0+ MB

In [31]:
%%time
max_length = 512
returned_tensor = 'pt'
cpu_counts = torch.multiprocessing.cpu_count()
device = torch.device('mps') if torch.has_mps and torch.backends.mps.is_built() and torch.backends.mps.is_available() else torch.device('cuda') if torch.cuda.is_available() else torch.device('cpu')
device_name = str(device.type)
print(f'Using {device_name.upper()}')
bert_model_name = 'bert-base-uncased'
bert_tokenizer = BertTokenizerFast.from_pretrained(bert_model_name, strip_accents = True)
bert_model = BertForSequenceClassification.from_pretrained(bert_model_name).to(device)

df_jobs['Job Description bert_tokenized'] = df_jobs['Job Description spacy_sentencized'].progress_apply(
    lambda sentence: bert_tokenizer.tokenize(str(sentence))
)

assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim_bert.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim_bert.csv', index=False)

Using MPS

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertForSequenceClassification: ['cls.seq_relationship.weight', 'cls.predictions.transform.dense.bias', 'cls.seq_relationship.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.decoder.weight', 'cls.predictions.transform.LayerNorm.bias']
- This IS expected if you are initializing BertForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of BertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier.bias', 'classifier.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

progress-bar:   0%|          | 0/307154 [00:00<?, ?it/s]

CPU times: user 54.2 s, sys: 3.16 s, total: 57.4 s
Wall time: 1min 3s

In [32]:
df_jobs['Job Description bert_tokenized'].head()

0                                 [about, our, client]
1    [the, global, ky, ##c, organisation, is, part,...
2    [its, purpose, is, enabling, people, and, orga...
3    [our, global, ky, ##c, organisation, is, a, fi...
4    [in, our, global, ky, ##c, organisation, you, ...
Name: Job Description bert_tokenized, dtype: object

In [33]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
# df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim_bert.pkl')
# df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim_bert.csv', index=False)
df_jobs.to_pickle(f'{df_save_dir}df_jobs_for_classification.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_for_classification.csv', index=False)

In [34]:
print(f'Saving df_jobs length {len(df_jobs)} to txt file.')
with open(f'{data_dir}df_jobs_len.txt', 'w') as f:
    f.write(str(len(df_jobs)))

Saving df_jobs length 307154 to txt file.