# ATTN: This script should be run AFTER spacy sentence splitting is completed.

# Use spacy to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_SENTENCIZED
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [1]:
import os
import sys
import importlib
from pathlib import Path
import numpy as np

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

# %load_ext autoreload
# %autoreload 2

In [2]:
# MAIN DIR
main_dir = f'{str(Path(code_dir).parents[0])}/'

# code_dir
code_dir = f'{code_dir}/'
sys.path.append(code_dir)

# scraping dir
scraped_data = f'{code_dir}scraped_data/'

# data dir
data_dir = f'{code_dir}data/'

# lang models dir
llm_path = f'{data_dir}Language Models'

# sites
site_list=['Indeed', 'Glassdoor', 'LinkedIn']

# columns
cols=['Sector', 
      'Sector Code', 
      'Gender', 
      'Age', 
      'Language', 
      'Dutch Requirement', 
      'English Requirement', 
      'Gender_Female', 
      'Gender_Mixed', 
      'Gender_Male', 
      'Age_Older', 
      'Age_Mixed', 
      'Age_Younger', 
      'Gender_Num', 
      'Age_Num', 
      '% Female', 
      '% Male', 
      '% Older', 
      '% Younger']

int_variable: str = 'Job ID'
str_variable: str = 'Job Description'
gender: str = 'Gender'
age: str = 'Age'
language: str = 'en'
languages = ["en", "['nl', 'en']", ['en', 'nl']]
str_cols = ['Search Keyword', 'Platform', 'Job ID', 'Job Title', 'Company Name', 'Location', 'Job Description', 'Company URL', 'Job URL', 'Tracking ID']
nan_list = [None, 'None', '', ' ', [], -1, '-1', 0, '0', 'nan', np.nan, 'Nan']
pattern = r'[\n]+|[,]{2,}|[|]{2,}|[\n\r]+|(?<=[a-z]\.)(?=\s*[A-Z])|(?=\:+[A-Z])'

In [3]:
import string
import re
import time
import json
import csv
import glob
import pickle
import random
import unicodedata
import pandas as pd
import numpy as np
import googletrans
from googletrans import Translator
random.seed(42)

# Set up Spacy
import spacy
from spacy.symbols import NORM, ORTH, LEMMA, POS

nlp = spacy.load('en_core_web_sm')

# Set up NLK
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize, RegexpTokenizer
from nltk.corpus import stopwords, wordnet
from nltk.stem import WordNetLemmatizer, SnowballStemmer, PorterStemmer, LancasterStemmer
from nltk.tag import pos_tag, pos_tag_sents

nltk_path = f'{llm_path}/nltk'
nltk.data.path.append(nltk_path)

nltk.download('words', download_dir = nltk_path)
nltk.download('stopwords', download_dir = nltk_path)
nltk.download('punkt', download_dir = nltk_path)
nltk.download('averaged_perceptron_tagger', download_dir = nltk_path)

stop_words = set(stopwords.words('english'))
punctuations = list(string.punctuation)
lemmatizer = WordNetLemmatizer()
stemmer = PorterStemmer()

# Set up Gensim
from gensim.utils import save_as_line_sentence, simple_preprocess
from gensim.parsing.preprocessing import remove_stopwords, preprocess_string, preprocess_documents

# Set up Bert
from transformers import AutoTokenizer, AutoModelForTokenClassification, TokenClassificationPipeline, BertTokenizer, BertForPreTraining, BertConfig, BertModel
bert_model_name = 'bert-base-uncased'
bert_tokenizer = BertTokenizer.from_pretrained(bert_model_name, strip_accents = True)
bert_model = BertModel.from_pretrained(bert_model_name)

[nltk_data] Downloading package words to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.transform.dense.weight', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.bias', 'cls.seq_relationship.bias', 'cls.predictions.transform.LayerNorm.bias', 'cls.predictions.decoder.weight', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [4]:
def get_word_num_and_frequency(row, text_col):

    row['Job Description num_words'] = len(str(row[f'{text_col}']).split())
    row['Job Description num_unique_words'] = len(set(str(row[f'{text_col}']).split()))
    row['Job Description num_chars'] = len(str(row[f'{text_col}']))
    row['Job Description num_punctuations'] = len([c for c in str(row[f'{text_col}']) if c in string.punctuation])

    return row

In [5]:
# Funtion to print df gender and age info
def df_gender_age_info(
    df,
    ivs_all = [
        'Gender',
        'Gender_Num',
        'Gender_Female',
        'Gender_Mixed',
        'Gender_Male',
        'Age',
        'Age_Num',
        'Age_Older',
        'Age_Mixed',
        'Age_Younger',
    ],
):
    # Print Info
    print('\nDF INFO:\n')
    df.info()

    for iv in ivs_all:
        try:
            print('='*20)
            print(f'{iv}:')
            print('-'*20)
            print(f'{iv} Counts:\n{df[f"{iv}"].value_counts()}')
            print('-'*20)
            print(f'{iv} Percentages:\n{df[f"{iv}"].value_counts(normalize=True).mul(100).round(1).astype(float)}')
            try:
                print('-'*20)
                print(f'{iv} Mean: {df[f"{iv}"].mean().round(2).astype(float)}')
                print('-'*20)
                print(f'{iv} Standard Deviation: {df[f"{iv}"].std().round(2).astype(float)}')
            except Exception:
                pass
        except Exception:
            print(f'{iv} not available.')

    print('\n')

In [6]:
df_jobs = pd.read_pickle(f'{data_dir}df_jobs_sentencized.pkl').reset_index(drop=True)

In [7]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17599 entries, 0 to 17598
Data columns (total 57 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Search Keyword                                  17599 non-null  object
 1   Platform                                        17599 non-null  object
 2   Job ID                                          17599 non-null  object
 3   Job Title                                       17599 non-null  object
 4   Company Name                                    17597 non-null  object
 5   Location                                        17599 non-null  object
 6   Job Description                                 17599 non-null  object
 7   Rating                                          3780 non-null   float64
 8   Employment Type                                 17017 non-null  object
 9   Company URL                                     15959 non-null  object
 10  Job URL                                         17599 non-null  object
 11  Job Age                                         17599 non-null  object
 12  Job Age Number                                  17599 non-null  object
 13  Collection Date                                 17599 non-null  object
 14  Data Row                                        13816 non-null  float64
 15  Tracking ID                                     13816 non-null  object
 16  Industry                                        14401 non-null  object
 17  Job Date                                        13819 non-null  object
 18  Type of ownership                               582 non-null    object
 19  Language                                        17599 non-null  object
 20  Dutch Requirement                               17599 non-null  object
 21  English Requirement                             17599 non-null  object
 22  Sector Code                                     17599 non-null  object
 23  Sector                                          17599 non-null  object
 24  Keywords Count                                  17599 non-null  float64
 25  % per Sector                                    17599 non-null  float64
 26  % per Social Category                           17599 non-null  float64
 27  % per Workforce                                 17599 non-null  float64
 28  Female Count (x 1000)                           17599 non-null  float64
 29  Gender_Female_% per Sector                      17599 non-null  float64
 30  Gender_Female_% per Social Category             17599 non-null  float64
 31  Gender_Female_% per Workforce                   17599 non-null  float64
 32  Male Count (x 1000)                             17599 non-null  float64
 33  Gender_Male_% per Sector                        17599 non-null  float64
 34  Gender_Male_% per Social Category               17599 non-null  float64
 35  Gender_Male_% per Workforce                     17599 non-null  float64
 36  Gender                                          17599 non-null  category
 37  Age_Older (>= 45 years)_n                       17599 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            17599 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   17599 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         17599 non-null  float64
 41  Age_Younger (< 45 years)_n                      17599 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           17599 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  17599 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        17599 non-null  float64
 45  Age                                             17599 non-null  category
 46  Sector Count (x 1000)                           17599 non-null  float64
 47  % Sector per Workforce                          17599 non-null  float64
 48  Gender_Female                                   17599 non-null  float64
 49  Gender_Mixed                                    17599 non-null  float64
 50  Gender_Male                                     17599 non-null  float64
 51  Age_Older                                       17599 non-null  float64
 52  Age_Mixed                                       17599 non-null  float64
 53  Age_Younger                                     17599 non-null  float64
 54  Gender_Num                                      17599 non-null  float64
 55  Age_Num                                         17599 non-null  float64
 56  Job Description spacy_sentencized               17599 non-null  object
dtypes: category(2), float64(32), object(23)
memory usage: 7.4+ MB

In [8]:
# Job Ad info
df_gender_age_info(df_jobs)

DF INFO:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17599 entries, 0 to 17598
Data columns (total 57 columns):
 #   Column                                          Non-Null Count  Dtype
---  ------                                          --------------  -----
 0   Search Keyword                                  17599 non-null  object
 1   Platform                                        17599 non-null  object
 2   Job ID                                          17599 non-null  object
 3   Job Title                                       17599 non-null  object
 4   Company Name                                    17597 non-null  object
 5   Location                                        17599 non-null  object
 6   Job Description                                 17599 non-null  object
 7   Rating                                          3780 non-null   float64
 8   Employment Type                                 17017 non-null  object
 9   Company URL                                     15959 non-null  object
 10  Job URL                                         17599 non-null  object
 11  Job Age                                         17599 non-null  object
 12  Job Age Number                                  17599 non-null  object
 13  Collection Date                                 17599 non-null  object
 14  Data Row                                        13816 non-null  float64
 15  Tracking ID                                     13816 non-null  object
 16  Industry                                        14401 non-null  object
 17  Job Date                                        13819 non-null  object
 18  Type of ownership                               582 non-null    object
 19  Language                                        17599 non-null  object
 20  Dutch Requirement                               17599 non-null  object
 21  English Requirement                             17599 non-null  object
 22  Sector Code                                     17599 non-null  object
 23  Sector                                          17599 non-null  object
 24  Keywords Count                                  17599 non-null  float64
 25  % per Sector                                    17599 non-null  float64
 26  % per Social Category                           17599 non-null  float64
 27  % per Workforce                                 17599 non-null  float64
 28  Female Count (x 1000)                           17599 non-null  float64
 29  Gender_Female_% per Sector                      17599 non-null  float64
 30  Gender_Female_% per Social Category             17599 non-null  float64
 31  Gender_Female_% per Workforce                   17599 non-null  float64
 32  Male Count (x 1000)                             17599 non-null  float64
 33  Gender_Male_% per Sector                        17599 non-null  float64
 34  Gender_Male_% per Social Category               17599 non-null  float64
 35  Gender_Male_% per Workforce                     17599 non-null  float64
 36  Gender                                          17599 non-null  category
 37  Age_Older (>= 45 years)_n                       17599 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            17599 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   17599 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         17599 non-null  float64
 41  Age_Younger (< 45 years)_n                      17599 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           17599 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  17599 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        17599 non-null  float64
 45  Age                                             17599 non-null  category
 46  Sector Count (x 1000)                           17599 non-null  float64
 47  % Sector per Workforce                          17599 non-null  float64
 48  Gender_Female                                   17599 non-null  float64
 49  Gender_Mixed                                    17599 non-null  float64
 50  Gender_Male                                     17599 non-null  float64
 51  Age_Older                                       17599 non-null  float64
 52  Age_Mixed                                       17599 non-null  float64
 53  Age_Younger                                     17599 non-null  float64
 54  Gender_Num                                      17599 non-null  float64
 55  Age_Num                                         17599 non-null  float64
 56  Job Description spacy_sentencized               17599 non-null  object
dtypes: category(2), float64(32), object(23)
memory usage: 7.4+ MB
====================
Gender:
--------------------
Gender Counts:
Mixed Gender    12256
Male             3830
Female           1513
Name: Gender, dtype: int64
--------------------
Gender Percentages:
Mixed Gender    69.6
Male            21.8
Female           8.6
Name: Gender, dtype: float64
--------------------
====================
Gender_Num:
--------------------
Gender_Num Counts:
2.0    12256
3.0     3830
1.0     1513
Name: Gender_Num, dtype: int64
--------------------
Gender_Num Percentages:
2.0    69.6
3.0    21.8
1.0     8.6
Name: Gender_Num, dtype: float64
--------------------
Gender_Num Mean: 2.13
--------------------
Gender_Num Standard Deviation: 0.54
====================
Gender_Female:
--------------------
Gender_Female Counts:
0.0    16086
1.0     1513
Name: Gender_Female, dtype: int64
--------------------
Gender_Female Percentages:
0.0    91.4
1.0     8.6
Name: Gender_Female, dtype: float64
--------------------
Gender_Female Mean: 0.09
--------------------
Gender_Female Standard Deviation: 0.28
====================
Gender_Mixed:
--------------------
Gender_Mixed Counts:
1.0    12256
0.0     5343
Name: Gender_Mixed, dtype: int64
--------------------
Gender_Mixed Percentages:
1.0    69.6
0.0    30.4
Name: Gender_Mixed, dtype: float64
--------------------
Gender_Mixed Mean: 0.7
--------------------
Gender_Mixed Standard Deviation: 0.46
====================
Gender_Male:
--------------------
Gender_Male Counts:
0.0    13769
1.0     3830
Name: Gender_Male, dtype: int64
--------------------
Gender_Male Percentages:
0.0    78.2
1.0    21.8
Name: Gender_Male, dtype: float64
--------------------
Gender_Male Mean: 0.22
--------------------
Gender_Male Standard Deviation: 0.41
====================
Age:
--------------------
Age Counts:
Mixed Age    11467
Older         3778
Younger       2354
Name: Age, dtype: int64
--------------------
Age Percentages:
Mixed Age    65.2
Older        21.5
Younger      13.4
Name: Age, dtype: float64
--------------------
====================
Age_Num:
--------------------
Age_Num Counts:
2.0    11467
1.0     3778
3.0     2354
Name: Age_Num, dtype: int64
--------------------
Age_Num Percentages:
2.0    65.2
1.0    21.5
3.0    13.4
Name: Age_Num, dtype: float64
--------------------
Age_Num Mean: 1.92
--------------------
Age_Num Standard Deviation: 0.58
====================
Age_Older:
--------------------
Age_Older Counts:
0.0    13821
1.0     3778
Name: Age_Older, dtype: int64
--------------------
Age_Older Percentages:
0.0    78.5
1.0    21.5
Name: Age_Older, dtype: float64
--------------------
Age_Older Mean: 0.21
--------------------
Age_Older Standard Deviation: 0.41
====================
Age_Mixed:
--------------------
Age_Mixed Counts:
1.0    11467
0.0     6132
Name: Age_Mixed, dtype: int64
--------------------
Age_Mixed Percentages:
1.0    65.2
0.0    34.8
Name: Age_Mixed, dtype: float64
--------------------
Age_Mixed Mean: 0.65
--------------------
Age_Mixed Standard Deviation: 0.48
====================
Age_Younger:
--------------------
Age_Younger Counts:
0.0    15245
1.0     2354
Name: Age_Younger, dtype: int64
--------------------
Age_Younger Percentages:
0.0    86.6
1.0    13.4
Name: Age_Younger, dtype: float64
--------------------
Age_Younger Mean: 0.13
--------------------
Age_Younger Standard Deviation: 0.34

In [9]:
# Explode df so that every row is one sentence
df_jobs = df_jobs.explode('Job Description spacy_sentencized', ignore_index=True).reset_index(drop=True)

In [10]:
# 194820
len(df_jobs)

194820

In [11]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 57 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Search Keyword                                  194820 non-null  object
 1   Platform                                        194820 non-null  object
 2   Job ID                                          194820 non-null  object
 3   Job Title                                       194820 non-null  object
 4   Company Name                                    194816 non-null  object
 5   Location                                        194820 non-null  object
 6   Job Description                                 194820 non-null  object
 7   Rating                                          170120 non-null  float64
 8   Employment Type                                 163313 non-null  object
 9   Company URL                                     192654 non-null  object
 10  Job URL                                         194820 non-null  object
 11  Job Age                                         194820 non-null  object
 12  Job Age Number                                  194820 non-null  object
 13  Collection Date                                 194820 non-null  object
 14  Data Row                                        24535 non-null   float64
 15  Tracking ID                                     24535 non-null   object
 16  Industry                                        56207 non-null   object
 17  Job Date                                        24700 non-null   object
 18  Type of ownership                               31507 non-null   object
 19  Language                                        194820 non-null  object
 20  Dutch Requirement                               194820 non-null  object
 21  English Requirement                             194820 non-null  object
 22  Sector Code                                     194820 non-null  object
 23  Sector                                          194820 non-null  object
 24  Keywords Count                                  194820 non-null  float64
 25  % per Sector                                    194820 non-null  float64
 26  % per Social Category                           194820 non-null  float64
 27  % per Workforce                                 194820 non-null  float64
 28  Female Count (x 1000)                           194820 non-null  float64
 29  Gender_Female_% per Sector                      194820 non-null  float64
 30  Gender_Female_% per Social Category             194820 non-null  float64
 31  Gender_Female_% per Workforce                   194820 non-null  float64
 32  Male Count (x 1000)                             194820 non-null  float64
 33  Gender_Male_% per Sector                        194820 non-null  float64
 34  Gender_Male_% per Social Category               194820 non-null  float64
 35  Gender_Male_% per Workforce                     194820 non-null  float64
 36  Gender                                          194820 non-null  category
 37  Age_Older (>= 45 years)_n                       194820 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            194820 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   194820 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         194820 non-null  float64
 41  Age_Younger (< 45 years)_n                      194820 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           194820 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  194820 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        194820 non-null  float64
 45  Age                                             194820 non-null  category
 46  Sector Count (x 1000)                           194820 non-null  float64
 47  % Sector per Workforce                          194820 non-null  float64
 48  Gender_Female                                   194820 non-null  float64
 49  Gender_Mixed                                    194820 non-null  float64
 50  Gender_Male                                     194820 non-null  float64
 51  Age_Older                                       194820 non-null  float64
 52  Age_Mixed                                       194820 non-null  float64
 53  Age_Younger                                     194820 non-null  float64
 54  Gender_Num                                      194820 non-null  float64
 55  Age_Num                                         194820 non-null  float64
 56  Job Description spacy_sentencized               194820 non-null  object
dtypes: category(2), float64(32), object(23)
memory usage: 82.1+ MB

In [11]:
df_jobs['Job Description spacy_sentencized_lower'] = df_jobs['Job Description spacy_sentencized'].apply(
    lambda job_sentence: job_sentence.strip().lower()
)

In [12]:
df_jobs[['Job Description spacy_sentencized', 'Job Description spacy_sentencized_lower']].head()

,Job Description spacy_sentencized,Job Description spacy_sentencized_lower
0,About Our Client,about our client
1,The Global KYC organisation is part of ING's C...,the global kyc organisation is part of ing's c...
2,Its purpose is Enabling people and organisatio...,its purpose is enabling people and organisatio...
3,Our Global KYC organisation is a first line of...,our global kyc organisation is a first line of...
4,In our Global KYC organisation you will be wor...,in our global kyc organisation you will be wor...

In [13]:
# Spacy tokenize
with open(f'{data_dir}punctuations.txt', 'rb') as f:
    custom_punct_chars = pickle.load(f)

df_jobs['Job Description spacy_tokenized'] = df_jobs['Job Description spacy_sentencized'].apply(
    lambda job_sentence: [
        str(token.text.strip().lower())
        for token in nlp.tokenizer(job_sentence)
        if len(token) != 0
        and not token.is_space
        and not token.is_stop
        and not token.is_punct
        and not token.is_bracket
        and not token.like_email
        and not token.text in custom_punct_chars
    ]
)

if len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame):
    df_jobs.to_pickle(f'{data_dir}df_jobs_tokenized_spacy.pkl')

    df_jobs.to_csv(f'{data_dir}df_jobs_tokenized_spacy.csv', index=False)
else:
    print(f'ERORR: LENGTH OF DF = {len(df_jobs)}')

In [14]:
df_jobs['Job Description spacy_sentencized_cleaned'] = df_jobs['Job Description spacy_tokenized'].str.join(' ')

In [15]:
# Get sentence word frequencies
df_jobs = df_jobs.apply(
    lambda row: get_word_num_and_frequency(
        row=row, text_col='Job Description spacy_sentencized'
    ), 
    axis='columns',
    
)

In [16]:
# Job Sentence info
df_gender_age_info(df_jobs)

DF INFO:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 64 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Search Keyword                                  194820 non-null  object
 1   Platform                                        194820 non-null  object
 2   Job ID                                          194820 non-null  object
 3   Job Title                                       194820 non-null  object
 4   Company Name                                    194816 non-null  object
 5   Location                                        194820 non-null  object
 6   Job Description                                 194820 non-null  object
 7   Rating                                          170120 non-null  float64
 8   Employment Type                                 163313 non-null  object
 9   Company URL                                     192654 non-null  object
 10  Job URL                                         194820 non-null  object
 11  Job Age                                         194820 non-null  object
 12  Job Age Number                                  194820 non-null  object
 13  Collection Date                                 194820 non-null  object
 14  Data Row                                        24535 non-null   float64
 15  Tracking ID                                     24535 non-null   object
 16  Industry                                        56207 non-null   object
 17  Job Date                                        24700 non-null   object
 18  Type of ownership                               31507 non-null   object
 19  Language                                        194820 non-null  object
 20  Dutch Requirement                               194820 non-null  object
 21  English Requirement                             194820 non-null  object
 22  Sector Code                                     194820 non-null  object
 23  Sector                                          194820 non-null  object
 24  Keywords Count                                  194820 non-null  float64
 25  % per Sector                                    194820 non-null  float64
 26  % per Social Category                           194820 non-null  float64
 27  % per Workforce                                 194820 non-null  float64
 28  Female Count (x 1000)                           194820 non-null  float64
 29  Gender_Female_% per Sector                      194820 non-null  float64
 30  Gender_Female_% per Social Category             194820 non-null  float64
 31  Gender_Female_% per Workforce                   194820 non-null  float64
 32  Male Count (x 1000)                             194820 non-null  float64
 33  Gender_Male_% per Sector                        194820 non-null  float64
 34  Gender_Male_% per Social Category               194820 non-null  float64
 35  Gender_Male_% per Workforce                     194820 non-null  float64
 36  Gender                                          194820 non-null  object
 37  Age_Older (>= 45 years)_n                       194820 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            194820 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   194820 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         194820 non-null  float64
 41  Age_Younger (< 45 years)_n                      194820 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           194820 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  194820 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        194820 non-null  float64
 45  Age                                             194820 non-null  object
 46  Sector Count (x 1000)                           194820 non-null  float64
 47  % Sector per Workforce                          194820 non-null  float64
 48  Gender_Female                                   194820 non-null  float64
 49  Gender_Mixed                                    194820 non-null  float64
 50  Gender_Male                                     194820 non-null  float64
 51  Age_Older                                       194820 non-null  float64
 52  Age_Mixed                                       194820 non-null  float64
 53  Age_Younger                                     194820 non-null  float64
 54  Gender_Num                                      194820 non-null  float64
 55  Age_Num                                         194820 non-null  float64
 56  Job Description spacy_sentencized               194820 non-null  object
 57  Job Description spacy_sentencized_lower         194820 non-null  object
 58  Job Description spacy_tokenized                 194820 non-null  object
 59  Job Description spacy_sentencized_cleaned       194820 non-null  object
 60  Job Description num_words                       194820 non-null  int64
 61  Job Description num_unique_words                194820 non-null  int64
 62  Job Description num_chars                       194820 non-null  int64
 63  Job Description num_punctuations                194820 non-null  int64
dtypes: float64(32), int64(4), object(28)
memory usage: 95.1+ MB
====================
Gender:
--------------------
Gender Counts:
Mixed Gender    135755
Male             32291
Female           26774
Name: Gender, dtype: int64
--------------------
Gender Percentages:
Mixed Gender    69.7
Male            16.6
Female          13.7
Name: Gender, dtype: float64
--------------------
====================
Gender_Num:
--------------------
Gender_Num Counts:
2.0    135755
3.0     32291
1.0     26774
Name: Gender_Num, dtype: int64
--------------------
Gender_Num Percentages:
2.0    69.7
3.0    16.6
1.0    13.7
Name: Gender_Num, dtype: float64
--------------------
Gender_Num Mean: 2.03
--------------------
Gender_Num Standard Deviation: 0.55
====================
Gender_Female:
--------------------
Gender_Female Counts:
0.0    168046
1.0     26774
Name: Gender_Female, dtype: int64
--------------------
Gender_Female Percentages:
0.0    86.3
1.0    13.7
Name: Gender_Female, dtype: float64
--------------------
Gender_Female Mean: 0.14
--------------------
Gender_Female Standard Deviation: 0.34
====================
Gender_Mixed:
--------------------
Gender_Mixed Counts:
1.0    135755
0.0     59065
Name: Gender_Mixed, dtype: int64
--------------------
Gender_Mixed Percentages:
1.0    69.7
0.0    30.3
Name: Gender_Mixed, dtype: float64
--------------------
Gender_Mixed Mean: 0.7
--------------------
Gender_Mixed Standard Deviation: 0.46
====================
Gender_Male:
--------------------
Gender_Male Counts:
0.0    162529
1.0     32291
Name: Gender_Male, dtype: int64
--------------------
Gender_Male Percentages:
0.0    83.4
1.0    16.6
Name: Gender_Male, dtype: float64
--------------------
Gender_Male Mean: 0.17
--------------------
Gender_Male Standard Deviation: 0.37
====================
Age:
--------------------
Age Counts:
Mixed Age    126988
Older         36709
Younger       31123
Name: Age, dtype: int64
--------------------
Age Percentages:
Mixed Age    65.2
Older        18.8
Younger      16.0
Name: Age, dtype: float64
--------------------
====================
Age_Num:
--------------------
Age_Num Counts:
2.0    126988
1.0     36709
3.0     31123
Name: Age_Num, dtype: int64
--------------------
Age_Num Percentages:
2.0    65.2
1.0    18.8
3.0    16.0
Name: Age_Num, dtype: float64
--------------------
Age_Num Mean: 1.97
--------------------
Age_Num Standard Deviation: 0.59
====================
Age_Older:
--------------------
Age_Older Counts:
0.0    158111
1.0     36709
Name: Age_Older, dtype: int64
--------------------
Age_Older Percentages:
0.0    81.2
1.0    18.8
Name: Age_Older, dtype: float64
--------------------
Age_Older Mean: 0.19
--------------------
Age_Older Standard Deviation: 0.39
====================
Age_Mixed:
--------------------
Age_Mixed Counts:
1.0    126988
0.0     67832
Name: Age_Mixed, dtype: int64
--------------------
Age_Mixed Percentages:
1.0    65.2
0.0    34.8
Name: Age_Mixed, dtype: float64
--------------------
Age_Mixed Mean: 0.65
--------------------
Age_Mixed Standard Deviation: 0.48
====================
Age_Younger:
--------------------
Age_Younger Counts:
0.0    163697
1.0     31123
Name: Age_Younger, dtype: int64
--------------------
Age_Younger Percentages:
0.0    84.0
1.0    16.0
Name: Age_Younger, dtype: float64
--------------------
Age_Younger Mean: 0.16
--------------------
Age_Younger Standard Deviation: 0.37

In [17]:
if len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame):
    df_jobs.to_pickle(f'{data_dir}df_jobs_tokenized_spacy.pkl')

    df_jobs.to_csv(f'{data_dir}df_jobs_tokenized_spacy.csv', index=False)
else:
    print(f'ERORR: LENGTH OF DF = {len(df_jobs)}')

# Use NLTK to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_TOKENIZED_SPACY
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [18]:
import os
import sys
import importlib
from pathlib import Path
import numpy as np

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

# %load_ext autoreload
# %autoreload 2

In [19]:
# MAIN DIR
main_dir = f'{str(Path(code_dir).parents[0])}/'

# code_dir
code_dir = f'{code_dir}/'
sys.path.append(code_dir)

# scraping dir
scraped_data = f'{code_dir}scraped_data/'

# data dir
data_dir = f'{code_dir}data/'

# lang models dir
llm_path = f'{data_dir}Language Models'

# sites
site_list=['Indeed', 'Glassdoor', 'LinkedIn']

# columns
cols=['Sector', 
      'Sector Code', 
      'Gender', 
      'Age', 
      'Language', 
      'Dutch Requirement', 
      'English Requirement', 
      'Gender_Female', 
      'Gender_Mixed', 
      'Gender_Male', 
      'Age_Older', 
      'Age_Mixed', 
      'Age_Younger', 
      'Gender_Num', 
      'Age_Num', 
      '% Female', 
      '% Male', 
      '% Older', 
      '% Younger']

int_variable: str = 'Job ID'
str_variable: str = 'Job Description'
gender: str = 'Gender'
age: str = 'Age'
language: str = 'en'
languages = ["en", "['nl', 'en']", ['en', 'nl']]
str_cols = ['Search Keyword', 'Platform', 'Job ID', 'Job Title', 'Company Name', 'Location', 'Job Description', 'Company URL', 'Job URL', 'Tracking ID']
nan_list = [None, 'None', '', ' ', [], -1, '-1', 0, '0', 'nan', np.nan, 'Nan']
pattern = r'[\n]+|[,]{2,}|[|]{2,}|[\n\r]+|(?<=[a-z]\.)(?=\s*[A-Z])|(?=\:+[A-Z])'

In [20]:
import string
import re
import time
import json
import csv
import glob
import pickle
import random
import unicodedata
import pandas as pd
import numpy as np
import googletrans
from googletrans import Translator
random.seed(42)

# Set up Spacy
import spacy
from spacy.symbols import NORM, ORTH, LEMMA, POS

nlp = spacy.load('en_core_web_sm')

# Set up NLK
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize, RegexpTokenizer
from nltk.corpus import stopwords, wordnet
from nltk.stem import WordNetLemmatizer, SnowballStemmer, PorterStemmer, LancasterStemmer
from nltk.tag import pos_tag, pos_tag_sents

nltk_path = f'{llm_path}/nltk'
nltk.data.path.append(nltk_path)

nltk.download('words', download_dir = nltk_path)
nltk.download('stopwords', download_dir = nltk_path)
nltk.download('punkt', download_dir = nltk_path)
nltk.download('averaged_perceptron_tagger', download_dir = nltk_path)

stop_words = set(stopwords.words('english'))
punctuations = list(string.punctuation)
lemmatizer = WordNetLemmatizer()
stemmer = PorterStemmer()

# Set up Gensim
from gensim.utils import save_as_line_sentence, simple_preprocess
from gensim.parsing.preprocessing import remove_stopwords, preprocess_string, preprocess_documents

# Set up Bert
from transformers import AutoTokenizer, AutoModelForTokenClassification, TokenClassificationPipeline, BertTokenizer, BertForPreTraining, BertConfig, BertModel
bert_model_name = 'bert-base-uncased'
bert_tokenizer = BertTokenizer.from_pretrained(bert_model_name, strip_accents = True)
bert_model = BertModel.from_pretrained(bert_model_name)

[nltk_data] Downloading package words to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.transform.LayerNorm.bias', 'cls.predictions.decoder.weight', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.dense.weight', 'cls.seq_relationship.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [21]:
df_jobs = pd.read_pickle(f'{data_dir}df_jobs_tokenized_spacy.pkl').reset_index(drop=True)

In [22]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 64 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Search Keyword                                  194820 non-null  object
 1   Platform                                        194820 non-null  object
 2   Job ID                                          194820 non-null  object
 3   Job Title                                       194820 non-null  object
 4   Company Name                                    194816 non-null  object
 5   Location                                        194820 non-null  object
 6   Job Description                                 194820 non-null  object
 7   Rating                                          170120 non-null  float64
 8   Employment Type                                 163313 non-null  object
 9   Company URL                                     192654 non-null  object
 10  Job URL                                         194820 non-null  object
 11  Job Age                                         194820 non-null  object
 12  Job Age Number                                  194820 non-null  object
 13  Collection Date                                 194820 non-null  object
 14  Data Row                                        24535 non-null   float64
 15  Tracking ID                                     24535 non-null   object
 16  Industry                                        56207 non-null   object
 17  Job Date                                        24700 non-null   object
 18  Type of ownership                               31507 non-null   object
 19  Language                                        194820 non-null  object
 20  Dutch Requirement                               194820 non-null  object
 21  English Requirement                             194820 non-null  object
 22  Sector Code                                     194820 non-null  object
 23  Sector                                          194820 non-null  object
 24  Keywords Count                                  194820 non-null  float64
 25  % per Sector                                    194820 non-null  float64
 26  % per Social Category                           194820 non-null  float64
 27  % per Workforce                                 194820 non-null  float64
 28  Female Count (x 1000)                           194820 non-null  float64
 29  Gender_Female_% per Sector                      194820 non-null  float64
 30  Gender_Female_% per Social Category             194820 non-null  float64
 31  Gender_Female_% per Workforce                   194820 non-null  float64
 32  Male Count (x 1000)                             194820 non-null  float64
 33  Gender_Male_% per Sector                        194820 non-null  float64
 34  Gender_Male_% per Social Category               194820 non-null  float64
 35  Gender_Male_% per Workforce                     194820 non-null  float64
 36  Gender                                          194820 non-null  object
 37  Age_Older (>= 45 years)_n                       194820 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            194820 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   194820 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         194820 non-null  float64
 41  Age_Younger (< 45 years)_n                      194820 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           194820 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  194820 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        194820 non-null  float64
 45  Age                                             194820 non-null  object
 46  Sector Count (x 1000)                           194820 non-null  float64
 47  % Sector per Workforce                          194820 non-null  float64
 48  Gender_Female                                   194820 non-null  float64
 49  Gender_Mixed                                    194820 non-null  float64
 50  Gender_Male                                     194820 non-null  float64
 51  Age_Older                                       194820 non-null  float64
 52  Age_Mixed                                       194820 non-null  float64
 53  Age_Younger                                     194820 non-null  float64
 54  Gender_Num                                      194820 non-null  float64
 55  Age_Num                                         194820 non-null  float64
 56  Job Description spacy_sentencized               194820 non-null  object
 57  Job Description spacy_sentencized_lower         194820 non-null  object
 58  Job Description spacy_tokenized                 194820 non-null  object
 59  Job Description spacy_sentencized_cleaned       194820 non-null  object
 60  Job Description num_words                       194820 non-null  int64
 61  Job Description num_unique_words                194820 non-null  int64
 62  Job Description num_chars                       194820 non-null  int64
 63  Job Description num_punctuations                194820 non-null  int64
dtypes: float64(32), int64(4), object(28)
memory usage: 95.1+ MB

In [23]:
# Tokenize with NLTK
df_jobs['Job Description nltk_tokenized'] = df_jobs['Job Description spacy_sentencized'].apply(
    lambda job_sentence: [
        str(token.strip().lower()) 
        for token in word_tokenize(job_sentence) 
        if len(token) != 0 
        and token != '...' 
        and not token.lower() in set(stopwords.words('english')) 
        and not token.lower() in list(string.punctuation) 
    ]
)

if len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame):
    df_jobs.to_pickle(f'{data_dir}df_jobs_tokenized_spacy_nltk.pkl')

    df_jobs.to_csv(f'{data_dir}df_jobs_tokenized_spacy_nltk.csv', index=False)
else:
    print(f'ERORR: LENGTH OF DF = {len(df_jobs)}')

In [24]:
df_jobs['Job Description nltk_tokenized'].head()

0                                             [client]
1    [global, kyc, organisation, part, ing, 's, coo...
2    [purpose, enabling, people, organisations, use...
3    [global, kyc, organisation, first, line, defen...
4    [global, kyc, organisation, working, many, col...
Name: Job Description nltk_tokenized, dtype: object

In [25]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 65 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Search Keyword                                  194820 non-null  object
 1   Platform                                        194820 non-null  object
 2   Job ID                                          194820 non-null  object
 3   Job Title                                       194820 non-null  object
 4   Company Name                                    194816 non-null  object
 5   Location                                        194820 non-null  object
 6   Job Description                                 194820 non-null  object
 7   Rating                                          170120 non-null  float64
 8   Employment Type                                 163313 non-null  object
 9   Company URL                                     192654 non-null  object
 10  Job URL                                         194820 non-null  object
 11  Job Age                                         194820 non-null  object
 12  Job Age Number                                  194820 non-null  object
 13  Collection Date                                 194820 non-null  object
 14  Data Row                                        24535 non-null   float64
 15  Tracking ID                                     24535 non-null   object
 16  Industry                                        56207 non-null   object
 17  Job Date                                        24700 non-null   object
 18  Type of ownership                               31507 non-null   object
 19  Language                                        194820 non-null  object
 20  Dutch Requirement                               194820 non-null  object
 21  English Requirement                             194820 non-null  object
 22  Sector Code                                     194820 non-null  object
 23  Sector                                          194820 non-null  object
 24  Keywords Count                                  194820 non-null  float64
 25  % per Sector                                    194820 non-null  float64
 26  % per Social Category                           194820 non-null  float64
 27  % per Workforce                                 194820 non-null  float64
 28  Female Count (x 1000)                           194820 non-null  float64
 29  Gender_Female_% per Sector                      194820 non-null  float64
 30  Gender_Female_% per Social Category             194820 non-null  float64
 31  Gender_Female_% per Workforce                   194820 non-null  float64
 32  Male Count (x 1000)                             194820 non-null  float64
 33  Gender_Male_% per Sector                        194820 non-null  float64
 34  Gender_Male_% per Social Category               194820 non-null  float64
 35  Gender_Male_% per Workforce                     194820 non-null  float64
 36  Gender                                          194820 non-null  object
 37  Age_Older (>= 45 years)_n                       194820 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            194820 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   194820 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         194820 non-null  float64
 41  Age_Younger (< 45 years)_n                      194820 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           194820 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  194820 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        194820 non-null  float64
 45  Age                                             194820 non-null  object
 46  Sector Count (x 1000)                           194820 non-null  float64
 47  % Sector per Workforce                          194820 non-null  float64
 48  Gender_Female                                   194820 non-null  float64
 49  Gender_Mixed                                    194820 non-null  float64
 50  Gender_Male                                     194820 non-null  float64
 51  Age_Older                                       194820 non-null  float64
 52  Age_Mixed                                       194820 non-null  float64
 53  Age_Younger                                     194820 non-null  float64
 54  Gender_Num                                      194820 non-null  float64
 55  Age_Num                                         194820 non-null  float64
 56  Job Description spacy_sentencized               194820 non-null  object
 57  Job Description spacy_sentencized_lower         194820 non-null  object
 58  Job Description spacy_tokenized                 194820 non-null  object
 59  Job Description spacy_sentencized_cleaned       194820 non-null  object
 60  Job Description num_words                       194820 non-null  int64
 61  Job Description num_unique_words                194820 non-null  int64
 62  Job Description num_chars                       194820 non-null  int64
 63  Job Description num_punctuations                194820 non-null  int64
 64  Job Description nltk_tokenized                  194820 non-null  object
dtypes: float64(32), int64(4), object(29)
memory usage: 96.6+ MB

In [26]:
if len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame):
    df_jobs.to_pickle(f'{data_dir}df_jobs_tokenized_spacy_nltk.pkl')

    df_jobs.to_csv(f'{data_dir}df_jobs_tokenized_spacy_nltk.csv', index=False)
else:
    print(f'ERORR: LENGTH OF DF = {len(df_jobs)}')

# Use gensim to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_TOKENIZED_SPACY_NLTK
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [27]:
import os
import sys
import importlib
from pathlib import Path
import numpy as np

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

# %load_ext autoreload
# %autoreload 2

In [28]:
# MAIN DIR
main_dir = f'{str(Path(code_dir).parents[0])}/'

# code_dir
code_dir = f'{code_dir}/'
sys.path.append(code_dir)

# scraping dir
scraped_data = f'{code_dir}scraped_data/'

# data dir
data_dir = f'{code_dir}data/'

# lang models dir
llm_path = f'{data_dir}Language Models'

# sites
site_list=['Indeed', 'Glassdoor', 'LinkedIn']

# columns
cols=['Sector', 
      'Sector Code', 
      'Gender', 
      'Age', 
      'Language', 
      'Dutch Requirement', 
      'English Requirement', 
      'Gender_Female', 
      'Gender_Mixed', 
      'Gender_Male', 
      'Age_Older', 
      'Age_Mixed', 
      'Age_Younger', 
      'Gender_Num', 
      'Age_Num', 
      '% Female', 
      '% Male', 
      '% Older', 
      '% Younger']

int_variable: str = 'Job ID'
str_variable: str = 'Job Description'
gender: str = 'Gender'
age: str = 'Age'
language: str = 'en'
languages = ["en", "['nl', 'en']", ['en', 'nl']]
str_cols = ['Search Keyword', 'Platform', 'Job ID', 'Job Title', 'Company Name', 'Location', 'Job Description', 'Company URL', 'Job URL', 'Tracking ID']
nan_list = [None, 'None', '', ' ', [], -1, '-1', 0, '0', 'nan', np.nan, 'Nan']
pattern = r'[\n]+|[,]{2,}|[|]{2,}|[\n\r]+|(?<=[a-z]\.)(?=\s*[A-Z])|(?=\:+[A-Z])'

In [29]:
import string
import re
import time
import json
import csv
import glob
import pickle
import random
import unicodedata
import pandas as pd
import numpy as np
import googletrans
from googletrans import Translator
random.seed(42)

# Set up Spacy
import spacy
from spacy.symbols import NORM, ORTH, LEMMA, POS

nlp = spacy.load('en_core_web_sm')

# Set up NLK
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize, RegexpTokenizer
from nltk.corpus import stopwords, wordnet
from nltk.stem import WordNetLemmatizer, SnowballStemmer, PorterStemmer, LancasterStemmer
from nltk.tag import pos_tag, pos_tag_sents

nltk_path = f'{llm_path}/nltk'
nltk.data.path.append(nltk_path)

nltk.download('words', download_dir = nltk_path)
nltk.download('stopwords', download_dir = nltk_path)
nltk.download('punkt', download_dir = nltk_path)
nltk.download('averaged_perceptron_tagger', download_dir = nltk_path)

stop_words = set(stopwords.words('english'))
punctuations = list(string.punctuation)
lemmatizer = WordNetLemmatizer()
stemmer = PorterStemmer()

# Set up Gensim
from gensim.utils import save_as_line_sentence, simple_preprocess
from gensim.parsing.preprocessing import remove_stopwords, preprocess_string, preprocess_documents

# Set up Bert
from transformers import AutoTokenizer, AutoModelForTokenClassification, TokenClassificationPipeline, BertTokenizer, BertForPreTraining, BertConfig, BertModel
bert_model_name = 'bert-base-uncased'
bert_tokenizer = BertTokenizer.from_pretrained(bert_model_name, strip_accents = True)
bert_model = BertModel.from_pretrained(bert_model_name)

[nltk_data] Downloading package words to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.transform.LayerNorm.bias', 'cls.predictions.decoder.weight', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.dense.weight', 'cls.seq_relationship.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [30]:
df_jobs = pd.read_pickle(f'{data_dir}df_jobs_tokenized_spacy_nltk.pkl').reset_index(drop=True)

In [31]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 65 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Search Keyword                                  194820 non-null  object
 1   Platform                                        194820 non-null  object
 2   Job ID                                          194820 non-null  object
 3   Job Title                                       194820 non-null  object
 4   Company Name                                    194816 non-null  object
 5   Location                                        194820 non-null  object
 6   Job Description                                 194820 non-null  object
 7   Rating                                          170120 non-null  float64
 8   Employment Type                                 163313 non-null  object
 9   Company URL                                     192654 non-null  object
 10  Job URL                                         194820 non-null  object
 11  Job Age                                         194820 non-null  object
 12  Job Age Number                                  194820 non-null  object
 13  Collection Date                                 194820 non-null  object
 14  Data Row                                        24535 non-null   float64
 15  Tracking ID                                     24535 non-null   object
 16  Industry                                        56207 non-null   object
 17  Job Date                                        24700 non-null   object
 18  Type of ownership                               31507 non-null   object
 19  Language                                        194820 non-null  object
 20  Dutch Requirement                               194820 non-null  object
 21  English Requirement                             194820 non-null  object
 22  Sector Code                                     194820 non-null  object
 23  Sector                                          194820 non-null  object
 24  Keywords Count                                  194820 non-null  float64
 25  % per Sector                                    194820 non-null  float64
 26  % per Social Category                           194820 non-null  float64
 27  % per Workforce                                 194820 non-null  float64
 28  Female Count (x 1000)                           194820 non-null  float64
 29  Gender_Female_% per Sector                      194820 non-null  float64
 30  Gender_Female_% per Social Category             194820 non-null  float64
 31  Gender_Female_% per Workforce                   194820 non-null  float64
 32  Male Count (x 1000)                             194820 non-null  float64
 33  Gender_Male_% per Sector                        194820 non-null  float64
 34  Gender_Male_% per Social Category               194820 non-null  float64
 35  Gender_Male_% per Workforce                     194820 non-null  float64
 36  Gender                                          194820 non-null  object
 37  Age_Older (>= 45 years)_n                       194820 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            194820 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   194820 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         194820 non-null  float64
 41  Age_Younger (< 45 years)_n                      194820 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           194820 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  194820 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        194820 non-null  float64
 45  Age                                             194820 non-null  object
 46  Sector Count (x 1000)                           194820 non-null  float64
 47  % Sector per Workforce                          194820 non-null  float64
 48  Gender_Female                                   194820 non-null  float64
 49  Gender_Mixed                                    194820 non-null  float64
 50  Gender_Male                                     194820 non-null  float64
 51  Age_Older                                       194820 non-null  float64
 52  Age_Mixed                                       194820 non-null  float64
 53  Age_Younger                                     194820 non-null  float64
 54  Gender_Num                                      194820 non-null  float64
 55  Age_Num                                         194820 non-null  float64
 56  Job Description spacy_sentencized               194820 non-null  object
 57  Job Description spacy_sentencized_lower         194820 non-null  object
 58  Job Description spacy_tokenized                 194820 non-null  object
 59  Job Description spacy_sentencized_cleaned       194820 non-null  object
 60  Job Description num_words                       194820 non-null  int64
 61  Job Description num_unique_words                194820 non-null  int64
 62  Job Description num_chars                       194820 non-null  int64
 63  Job Description num_punctuations                194820 non-null  int64
 64  Job Description nltk_tokenized                  194820 non-null  object
dtypes: float64(32), int64(4), object(29)
memory usage: 96.6+ MB

In [32]:
df_jobs['Job Description gensim_tokenized'] = df_jobs['Job Description spacy_sentencized'].apply(
    lambda sentence: preprocess_string(re.sub(pattern, ' ', sentence.strip().lower()))
)

if len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame):
    df_jobs.to_pickle(f'{data_dir}df_jobs_tokenized_spacy_nltk_gensim.pkl')

    df_jobs.to_csv(f'{data_dir}df_jobs_tokenized_spacy_nltk_gensim.csv', index=False)
else:
    print(f'ERORR: LENGTH OF DF = {len(df_jobs)}')

In [33]:
df_jobs['Job Description gensim_tokenized'].head()

0                                             [client]
1             [global, kyc, organis, ing, coo, domain]
2    [purpos, enabl, peopl, organis, us, bank, serv...
3    [global, kyc, organis, line, defenc, depart, p...
4    [global, kyc, organis, work, colleagu, differ,...
Name: Job Description gensim_tokenized, dtype: object

In [34]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 66 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Search Keyword                                  194820 non-null  object
 1   Platform                                        194820 non-null  object
 2   Job ID                                          194820 non-null  object
 3   Job Title                                       194820 non-null  object
 4   Company Name                                    194816 non-null  object
 5   Location                                        194820 non-null  object
 6   Job Description                                 194820 non-null  object
 7   Rating                                          170120 non-null  float64
 8   Employment Type                                 163313 non-null  object
 9   Company URL                                     192654 non-null  object
 10  Job URL                                         194820 non-null  object
 11  Job Age                                         194820 non-null  object
 12  Job Age Number                                  194820 non-null  object
 13  Collection Date                                 194820 non-null  object
 14  Data Row                                        24535 non-null   float64
 15  Tracking ID                                     24535 non-null   object
 16  Industry                                        56207 non-null   object
 17  Job Date                                        24700 non-null   object
 18  Type of ownership                               31507 non-null   object
 19  Language                                        194820 non-null  object
 20  Dutch Requirement                               194820 non-null  object
 21  English Requirement                             194820 non-null  object
 22  Sector Code                                     194820 non-null  object
 23  Sector                                          194820 non-null  object
 24  Keywords Count                                  194820 non-null  float64
 25  % per Sector                                    194820 non-null  float64
 26  % per Social Category                           194820 non-null  float64
 27  % per Workforce                                 194820 non-null  float64
 28  Female Count (x 1000)                           194820 non-null  float64
 29  Gender_Female_% per Sector                      194820 non-null  float64
 30  Gender_Female_% per Social Category             194820 non-null  float64
 31  Gender_Female_% per Workforce                   194820 non-null  float64
 32  Male Count (x 1000)                             194820 non-null  float64
 33  Gender_Male_% per Sector                        194820 non-null  float64
 34  Gender_Male_% per Social Category               194820 non-null  float64
 35  Gender_Male_% per Workforce                     194820 non-null  float64
 36  Gender                                          194820 non-null  object
 37  Age_Older (>= 45 years)_n                       194820 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            194820 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   194820 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         194820 non-null  float64
 41  Age_Younger (< 45 years)_n                      194820 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           194820 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  194820 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        194820 non-null  float64
 45  Age                                             194820 non-null  object
 46  Sector Count (x 1000)                           194820 non-null  float64
 47  % Sector per Workforce                          194820 non-null  float64
 48  Gender_Female                                   194820 non-null  float64
 49  Gender_Mixed                                    194820 non-null  float64
 50  Gender_Male                                     194820 non-null  float64
 51  Age_Older                                       194820 non-null  float64
 52  Age_Mixed                                       194820 non-null  float64
 53  Age_Younger                                     194820 non-null  float64
 54  Gender_Num                                      194820 non-null  float64
 55  Age_Num                                         194820 non-null  float64
 56  Job Description spacy_sentencized               194820 non-null  object
 57  Job Description spacy_sentencized_lower         194820 non-null  object
 58  Job Description spacy_tokenized                 194820 non-null  object
 59  Job Description spacy_sentencized_cleaned       194820 non-null  object
 60  Job Description num_words                       194820 non-null  int64
 61  Job Description num_unique_words                194820 non-null  int64
 62  Job Description num_chars                       194820 non-null  int64
 63  Job Description num_punctuations                194820 non-null  int64
 64  Job Description nltk_tokenized                  194820 non-null  object
 65  Job Description gensim_tokenized                194820 non-null  object
dtypes: float64(32), int64(4), object(30)
memory usage: 98.1+ MB

In [35]:
if len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame):
    df_jobs.to_pickle(f'{data_dir}df_jobs_tokenized_spacy_nltk_gensim.pkl')

    df_jobs.to_csv(f'{data_dir}df_jobs_tokenized_spacy_nltk_gensim.csv', index=False)
else:
    print(f'ERORR: LENGTH OF DF = {len(df_jobs)}')

# Use BERT to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_TOKENIZED_SPACY_NLTK_GENSIM
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [36]:
import os
import sys
import importlib
from pathlib import Path
import numpy as np

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

# %load_ext autoreload
# %autoreload 2

In [37]:
# MAIN DIR
main_dir = f'{str(Path(code_dir).parents[0])}/'

# code_dir
code_dir = f'{code_dir}/'
sys.path.append(code_dir)

# scraping dir
scraped_data = f'{code_dir}scraped_data/'

# data dir
data_dir = f'{code_dir}data/'

# lang models dir
llm_path = f'{data_dir}Language Models'

# sites
site_list=['Indeed', 'Glassdoor', 'LinkedIn']

# columns
cols=['Sector', 
      'Sector Code', 
      'Gender', 
      'Age', 
      'Language', 
      'Dutch Requirement', 
      'English Requirement', 
      'Gender_Female', 
      'Gender_Mixed', 
      'Gender_Male', 
      'Age_Older', 
      'Age_Mixed', 
      'Age_Younger', 
      'Gender_Num', 
      'Age_Num', 
      '% Female', 
      '% Male', 
      '% Older', 
      '% Younger']

int_variable: str = 'Job ID'
str_variable: str = 'Job Description'
gender: str = 'Gender'
age: str = 'Age'
language: str = 'en'
languages = ["en", "['nl', 'en']", ['en', 'nl']]
str_cols = ['Search Keyword', 'Platform', 'Job ID', 'Job Title', 'Company Name', 'Location', 'Job Description', 'Company URL', 'Job URL', 'Tracking ID']
nan_list = [None, 'None', '', ' ', [], -1, '-1', 0, '0', 'nan', np.nan, 'Nan']
pattern = r'[\n]+|[,]{2,}|[|]{2,}|[\n\r]+|(?<=[a-z]\.)(?=\s*[A-Z])|(?=\:+[A-Z])'

In [38]:
import string
import re
import time
import json
import csv
import glob
import pickle
import random
import unicodedata
import pandas as pd
import numpy as np
import googletrans
from googletrans import Translator
random.seed(42)

# Set up Spacy
import spacy
from spacy.symbols import NORM, ORTH, LEMMA, POS

nlp = spacy.load('en_core_web_sm')

# Set up NLK
import nltk
from nltk.tokenize import sent_tokenize, word_tokenize, RegexpTokenizer
from nltk.corpus import stopwords, wordnet
from nltk.stem import WordNetLemmatizer, SnowballStemmer, PorterStemmer, LancasterStemmer
from nltk.tag import pos_tag, pos_tag_sents

nltk_path = f'{llm_path}/nltk'
nltk.data.path.append(nltk_path)

nltk.download('words', download_dir = nltk_path)
nltk.download('stopwords', download_dir = nltk_path)
nltk.download('punkt', download_dir = nltk_path)
nltk.download('averaged_perceptron_tagger', download_dir = nltk_path)

stop_words = set(stopwords.words('english'))
punctuations = list(string.punctuation)
lemmatizer = WordNetLemmatizer()
stemmer = PorterStemmer()

# Set up Gensim
from gensim.utils import save_as_line_sentence, simple_preprocess
from gensim.parsing.preprocessing import remove_stopwords, preprocess_string, preprocess_documents

# Set up Bert
from transformers import AutoTokenizer, AutoModelForTokenClassification, TokenClassificationPipeline, BertTokenizer, BertForPreTraining, BertConfig, BertModel
bert_model_name = 'bert-base-uncased'
bert_tokenizer = BertTokenizer.from_pretrained(bert_model_name, strip_accents = True)
bert_model = BertModel.from_pretrained(bert_model_name)

[nltk_data] Downloading package words to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package words is already up-to-date!
[nltk_data] Downloading package stopwords to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package averaged_perceptron_tagger to
[nltk_data]     /Users/nyxinsane/Documents/Work - UvA/Automating
[nltk_data]     Equity/Study 1/Study1_Code/data/Language
[nltk_data]     Models/nltk...
[nltk_data]   Package averaged_perceptron_tagger is already up-to-
[nltk_data]       date!
Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertModel: ['cls.predictions.transform.LayerNorm.bias', 'cls.predictions.decoder.weight', 'cls.seq_relationship.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.transform.dense.weight', 'cls.seq_relationship.bias']
- This IS expected if you are initializing BertModel from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertModel from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).

In [39]:
df_jobs = pd.read_pickle(f'{data_dir}df_jobs_tokenized_spacy_nltk_gensim.pkl').reset_index(drop=True)

In [40]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 194820 entries, 0 to 194819
Data columns (total 66 columns):
 #   Column                                          Non-Null Count   Dtype
---  ------                                          --------------   -----
 0   Search Keyword                                  194820 non-null  object
 1   Platform                                        194820 non-null  object
 2   Job ID                                          194820 non-null  object
 3   Job Title                                       194820 non-null  object
 4   Company Name                                    194816 non-null  object
 5   Location                                        194820 non-null  object
 6   Job Description                                 194820 non-null  object
 7   Rating                                          170120 non-null  float64
 8   Employment Type                                 163313 non-null  object
 9   Company URL                                     192654 non-null  object
 10  Job URL                                         194820 non-null  object
 11  Job Age                                         194820 non-null  object
 12  Job Age Number                                  194820 non-null  object
 13  Collection Date                                 194820 non-null  object
 14  Data Row                                        24535 non-null   float64
 15  Tracking ID                                     24535 non-null   object
 16  Industry                                        56207 non-null   object
 17  Job Date                                        24700 non-null   object
 18  Type of ownership                               31507 non-null   object
 19  Language                                        194820 non-null  object
 20  Dutch Requirement                               194820 non-null  object
 21  English Requirement                             194820 non-null  object
 22  Sector Code                                     194820 non-null  object
 23  Sector                                          194820 non-null  object
 24  Keywords Count                                  194820 non-null  float64
 25  % per Sector                                    194820 non-null  float64
 26  % per Social Category                           194820 non-null  float64
 27  % per Workforce                                 194820 non-null  float64
 28  Female Count (x 1000)                           194820 non-null  float64
 29  Gender_Female_% per Sector                      194820 non-null  float64
 30  Gender_Female_% per Social Category             194820 non-null  float64
 31  Gender_Female_% per Workforce                   194820 non-null  float64
 32  Male Count (x 1000)                             194820 non-null  float64
 33  Gender_Male_% per Sector                        194820 non-null  float64
 34  Gender_Male_% per Social Category               194820 non-null  float64
 35  Gender_Male_% per Workforce                     194820 non-null  float64
 36  Gender                                          194820 non-null  object
 37  Age_Older (>= 45 years)_n                       194820 non-null  float64
 38  Age_Older (>= 45 years)_% per Sector            194820 non-null  float64
 39  Age_Older (>= 45 years)_% per Social Category   194820 non-null  float64
 40  Age_Older (>= 45 years)_% per Workforce         194820 non-null  float64
 41  Age_Younger (< 45 years)_n                      194820 non-null  float64
 42  Age_Younger (< 45 years)_% per Sector           194820 non-null  float64
 43  Age_Younger (< 45 years)_% per Social Category  194820 non-null  float64
 44  Age_Younger (< 45 years)_% per Workforce        194820 non-null  float64
 45  Age                                             194820 non-null  object
 46  Sector Count (x 1000)                           194820 non-null  float64
 47  % Sector per Workforce                          194820 non-null  float64
 48  Gender_Female                                   194820 non-null  float64
 49  Gender_Mixed                                    194820 non-null  float64
 50  Gender_Male                                     194820 non-null  float64
 51  Age_Older                                       194820 non-null  float64
 52  Age_Mixed                                       194820 non-null  float64
 53  Age_Younger                                     194820 non-null  float64
 54  Gender_Num                                      194820 non-null  float64
 55  Age_Num                                         194820 non-null  float64
 56  Job Description spacy_sentencized               194820 non-null  object
 57  Job Description spacy_sentencized_lower         194820 non-null  object
 58  Job Description spacy_tokenized                 194820 non-null  object
 59  Job Description spacy_sentencized_cleaned       194820 non-null  object
 60  Job Description num_words                       194820 non-null  int64
 61  Job Description num_unique_words                194820 non-null  int64
 62  Job Description num_chars                       194820 non-null  int64
 63  Job Description num_punctuations                194820 non-null  int64
 64  Job Description nltk_tokenized                  194820 non-null  object
 65  Job Description gensim_tokenized                194820 non-null  object
dtypes: float64(32), int64(4), object(30)
memory usage: 98.1+ MB

In [41]:
df_jobs['Job Description bert_tokenized'] = df_jobs['Job Description spacy_sentencized'].apply(
    lambda sentence: bert_tokenizer.tokenize(str(sentence))
)

if len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame):
    df_jobs.to_pickle(f'{data_dir}df_jobs_tokenized_spacy_nltk_gensim_bert.pkl')

    df_jobs.to_csv(f'{data_dir}df_jobs_tokenized_spacy_nltk_gensim_bert.csv', index=False)
else:
    print(f'ERORR: LENGTH OF DF = {len(df_jobs)}')

In [42]:
df_jobs['Job Description bert_tokenized'].head()

0                                 [about, our, client]
1    [the, global, ky, ##c, organisation, is, part,...
2    [its, purpose, is, enabling, people, and, orga...
3    [our, global, ky, ##c, organisation, is, a, fi...
4    [in, our, global, ky, ##c, organisation, you, ...
Name: Job Description bert_tokenized, dtype: object

In [43]:
if len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame):
    df_jobs.to_pickle(f'{data_dir}df_jobs_tokenized_spacy_nltk_gensim_bert.pkl')

    df_jobs.to_csv(f'{data_dir}df_jobs_tokenized_spacy_nltk_gensim_bert.csv', index=False)
else:
    print(f'ERORR: LENGTH OF DF = {len(df_jobs)}')