# ATTN: This script should be run AFTER spacy sentence splitting is completed.

# Use spacy to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_SENTENCIZED
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [1]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

sys.path.append(code_dir)
# %load_ext autoreload
# %autoreload 2

In [2]:
from setup_module.imports import * # type:ignore # isort:skip # fmt:skip # noqa # nopep8

Using MPS

0it [00:00, ?it/s]

In [3]:
def get_word_num_and_frequency(row, text_col):

    with open(f'{data_dir}punctuations.txt', 'rb') as f:
        custom_punct_chars = pickle.load(f)
    row['Job Description num_words'] = len(str(row[text_col]).split())
    row['Job Description num_unique_words'] = len(set(str(row[text_col]).split()))
    row['Job Description num_chars'] = len(str(row[text_col]))
    row['Job Description num_chars_no_whitespact_and_punt'] = len(
        [
            c
            for c in str(row[text_col])
            if c not in custom_punct_chars and c not in string.punctuation and c != ' '
        ]
    )
    row['Job Description num_punctuations'] = len(
        [
            c
            for c in str(row[text_col])
            if c in custom_punct_chars and c in string.punctuation and c != ' '
        ]
    )

    return row

In [4]:
def get_df_info(df, ivs_all=None):
    if ivs_all is None:
        ivs_all = [
            'Gender',
            'Gender_Num',
            'Gender_Female',
            'Gender_Mixed',
            'Gender_Male',
            'Gender_Female_n',
            'Gender_Male_n',
            'Gender_Female_% per Sector',
            'Gender_Male_% per Sector',
            'Age',
            'Age_Num',
            'Age_Older',
            'Age_Mixed',
            'Age_Younger',
            'Age_Older_n',
            'Age_Younger_n',
            'Age_Older_% per Sector',
            'Age_Younger_% per Sector',
        ]
    # Print Info
    print('\nDF INFO:\n')
    df.info()

    for iv in ivs_all:
        try:
            print('='*20)
            print(f'{iv}:')
            print('-'*20)
            if len(df[iv].value_counts()) < 5:
                print(f'{iv} Counts:\n{df[iv].value_counts()}')
                print('-'*20)
                print(f'{iv} Percentages:\n{df[iv].value_counts(normalize=True).mul(100).round(1).astype(float)}')
                print('-'*20)
            print(f'Min {iv} value: {df[iv].min()}')
            print(f'Max {iv} value: {df[iv].max()}')
            with contextlib.suppress(Exception):
                print('-'*20)
                print(f'{iv} Mean: {df[iv].mean().round(2).astype(float)}')
                print('-'*20)
                print(f'{iv} Standard Deviation: {df[iv].std().round(2).astype(float)}')
        except Exception:
            print(f'{iv} not available.')

    print('\n')

In [5]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_sentencized.pkl')

In [6]:
# len=17599
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17599 entries, 0 to 17598
Data columns (total 58 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Search Keyword                       17599 non-null  object
 1   Platform                             17599 non-null  category
 2   Job ID                               17599 non-null  object
 3   Job Title                            17599 non-null  object
 4   Company Name                         17597 non-null  object
 5   Location                             17599 non-null  object
 6   Job Description                      17599 non-null  object
 7   Rating                               3780 non-null   float64
 8   Employment Type                      17017 non-null  object
 9   Company URL                          15959 non-null  object
 10  Job URL                              17599 non-null  object
 11  Job Age                              17599 non-null  object
 12  Job Age Number                       17599 non-null  object
 13  Collection Date                      17599 non-null  object
 14  Data Row                             13816 non-null  float64
 15  Tracking ID                          13816 non-null  object
 16  Industry                             14401 non-null  object
 17  Job Date                             13819 non-null  object
 18  Type of ownership                    582 non-null    object
 19  Language                             17599 non-null  object
 20  Dutch Requirement                    17599 non-null  category
 21  English Requirement                  17599 non-null  category
 22  Sector Code                          17599 non-null  object
 23  Sector                               17599 non-null  object
 24  Keywords Count                       17599 non-null  float64
 25  Gender_Female_n                      17599 non-null  float64
 26  Gender_Female_% per Sector           17599 non-null  float64
 27  Gender_Female_% per Social Category  17599 non-null  float64
 28  Gender_Female_% per Workforce        17599 non-null  float64
 29  Gender_Male_n                        17599 non-null  float64
 30  Gender_Male_% per Sector             17599 non-null  float64
 31  Gender_Male_% per Social Category    17599 non-null  float64
 32  Gender_Male_% per Workforce          17599 non-null  float64
 33  Gender                               17599 non-null  category
 34  Age_Older_n                          17599 non-null  float64
 35  Age_Older_% per Sector               17599 non-null  float64
 36  Age_Older_% per Social Category      17599 non-null  float64
 37  Age_Older_% per Workforce            17599 non-null  float64
 38  Age_Younger_n                        17599 non-null  float64
 39  Age_Younger_% per Sector             17599 non-null  float64
 40  Age_Younger_% per Social Category    17599 non-null  float64
 41  Age_Younger_% per Workforce          17599 non-null  float64
 42  Age                                  17599 non-null  category
 43  Sector_n                             17599 non-null  float64
 44  % Sector per Workforce               17599 non-null  float64
 45  Gender_Female                        17599 non-null  int64
 46  Gender_Male                          17599 non-null  int64
 47  Gender_Mixed                         17599 non-null  int64
 48  Age_Mixed                            17599 non-null  int64
 49  Age_Older                            17599 non-null  int64
 50  Age_Younger                          17599 non-null  int64
 51  Gender_Num                           17599 non-null  int64
 52  Age_Num                              17599 non-null  int64
 53  Platform_Num                         17599 non-null  int64
 54  Platform_LinkedIn                    17599 non-null  int64
 55  Platform_Indeed                      17599 non-null  int64
 56  Platform_Glassdoor                   17599 non-null  int64
 57  Job Description spacy_sentencized    17599 non-null  object
dtypes: category(5), float64(21), int64(12), object(20)
memory usage: 7.3+ MB

In [7]:
# Job Ad info
get_df_info(df_jobs, ivs_all=ivs_all)

DF INFO:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 17599 entries, 0 to 17598
Data columns (total 58 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   Search Keyword                       17599 non-null  object
 1   Platform                             17599 non-null  category
 2   Job ID                               17599 non-null  object
 3   Job Title                            17599 non-null  object
 4   Company Name                         17597 non-null  object
 5   Location                             17599 non-null  object
 6   Job Description                      17599 non-null  object
 7   Rating                               3780 non-null   float64
 8   Employment Type                      17017 non-null  object
 9   Company URL                          15959 non-null  object
 10  Job URL                              17599 non-null  object
 11  Job Age                              17599 non-null  object
 12  Job Age Number                       17599 non-null  object
 13  Collection Date                      17599 non-null  object
 14  Data Row                             13816 non-null  float64
 15  Tracking ID                          13816 non-null  object
 16  Industry                             14401 non-null  object
 17  Job Date                             13819 non-null  object
 18  Type of ownership                    582 non-null    object
 19  Language                             17599 non-null  object
 20  Dutch Requirement                    17599 non-null  category
 21  English Requirement                  17599 non-null  category
 22  Sector Code                          17599 non-null  object
 23  Sector                               17599 non-null  object
 24  Keywords Count                       17599 non-null  float64
 25  Gender_Female_n                      17599 non-null  float64
 26  Gender_Female_% per Sector           17599 non-null  float64
 27  Gender_Female_% per Social Category  17599 non-null  float64
 28  Gender_Female_% per Workforce        17599 non-null  float64
 29  Gender_Male_n                        17599 non-null  float64
 30  Gender_Male_% per Sector             17599 non-null  float64
 31  Gender_Male_% per Social Category    17599 non-null  float64
 32  Gender_Male_% per Workforce          17599 non-null  float64
 33  Gender                               17599 non-null  category
 34  Age_Older_n                          17599 non-null  float64
 35  Age_Older_% per Sector               17599 non-null  float64
 36  Age_Older_% per Social Category      17599 non-null  float64
 37  Age_Older_% per Workforce            17599 non-null  float64
 38  Age_Younger_n                        17599 non-null  float64
 39  Age_Younger_% per Sector             17599 non-null  float64
 40  Age_Younger_% per Social Category    17599 non-null  float64
 41  Age_Younger_% per Workforce          17599 non-null  float64
 42  Age                                  17599 non-null  category
 43  Sector_n                             17599 non-null  float64
 44  % Sector per Workforce               17599 non-null  float64
 45  Gender_Female                        17599 non-null  int64
 46  Gender_Male                          17599 non-null  int64
 47  Gender_Mixed                         17599 non-null  int64
 48  Age_Mixed                            17599 non-null  int64
 49  Age_Older                            17599 non-null  int64
 50  Age_Younger                          17599 non-null  int64
 51  Gender_Num                           17599 non-null  int64
 52  Age_Num                              17599 non-null  int64
 53  Platform_Num                         17599 non-null  int64
 54  Platform_LinkedIn                    17599 non-null  int64
 55  Platform_Indeed                      17599 non-null  int64
 56  Platform_Glassdoor                   17599 non-null  int64
 57  Job Description spacy_sentencized    17599 non-null  object
dtypes: category(5), float64(21), int64(12), object(20)
memory usage: 7.3+ MB
====================
Gender:
--------------------
Gender Counts:
Male            6975
Mixed Gender    6668
Female          3956
Name: Gender, dtype: int64
--------------------
Gender Percentages:
Male           39.60
Mixed Gender   37.90
Female         22.50
Name: Gender, dtype: float64
--------------------
Min Gender value: Female
Max Gender value: Male
--------------------
====================
Gender_Num:
--------------------
Gender_Num Counts:
2    6975
1    6668
0    3956
Name: Gender_Num, dtype: int64
--------------------
Gender_Num Percentages:
2   39.60
1   37.90
0   22.50
Name: Gender_Num, dtype: float64
--------------------
Min Gender_Num value: 0
Max Gender_Num value: 2
--------------------
Gender_Num Mean: 1.17
--------------------
Gender_Num Standard Deviation: 0.77
====================
Gender_Female:
--------------------
Gender_Female Counts:
0    13643
1     3956
Name: Gender_Female, dtype: int64
--------------------
Gender_Female Percentages:
0   77.50
1   22.50
Name: Gender_Female, dtype: float64
--------------------
Min Gender_Female value: 0
Max Gender_Female value: 1
--------------------
Gender_Female Mean: 0.22
--------------------
Gender_Female Standard Deviation: 0.42
====================
Gender_Mixed:
--------------------
Gender_Mixed Counts:
0    10931
1     6668
Name: Gender_Mixed, dtype: int64
--------------------
Gender_Mixed Percentages:
0   62.10
1   37.90
Name: Gender_Mixed, dtype: float64
--------------------
Min Gender_Mixed value: 0
Max Gender_Mixed value: 1
--------------------
Gender_Mixed Mean: 0.38
--------------------
Gender_Mixed Standard Deviation: 0.49
====================
Gender_Male:
--------------------
Gender_Male Counts:
0    10624
1     6975
Name: Gender_Male, dtype: int64
--------------------
Gender_Male Percentages:
0   60.40
1   39.60
Name: Gender_Male, dtype: float64
--------------------
Min Gender_Male value: 0
Max Gender_Male value: 1
--------------------
Gender_Male Mean: 0.4
--------------------
Gender_Male Standard Deviation: 0.49
====================
Gender_Female_n:
--------------------
Min Gender_Female_n value: 7.0
Max Gender_Female_n value: 3970.0
--------------------
Gender_Female_n Mean: 637.77
--------------------
Gender_Female_n Standard Deviation: 1041.22
====================
Gender_Male_n:
--------------------
Min Gender_Male_n value: 21.0
Max Gender_Male_n value: 4510.0
--------------------
Gender_Male_n Mean: 759.25
--------------------
Gender_Male_n Standard Deviation: 1302.38
====================
Gender_Female_% per Sector:
--------------------
Min Gender_Female_% per Sector value: 12.5
Max Gender_Female_% per Sector value: 84.2986741102582
--------------------
Gender_Female_% per Sector Mean: 44.01
--------------------
Gender_Female_% per Sector Standard Deviation: 19.08
====================
Gender_Male_% per Sector:
--------------------
Min Gender_Male_% per Sector value: 15.631542219120725
Max Gender_Male_% per Sector value: 87.5
--------------------
Gender_Male_% per Sector Mean: 55.94
--------------------
Gender_Male_% per Sector Standard Deviation: 19.11
====================
Age:
--------------------
Age Counts:
Mixed Age    11467
Older         3778
Younger       2354
Name: Age, dtype: int64
--------------------
Age Percentages:
Mixed Age   65.20
Older       21.50
Younger     13.40
Name: Age, dtype: float64
--------------------
Min Age value: Older
Max Age value: Younger
--------------------
====================
Age_Num:
--------------------
Age_Num Counts:
1    11467
0     3778
2     2354
Name: Age_Num, dtype: int64
--------------------
Age_Num Percentages:
1   65.20
0   21.50
2   13.40
Name: Age_Num, dtype: float64
--------------------
Min Age_Num value: 0
Max Age_Num value: 2
--------------------
Age_Num Mean: 0.92
--------------------
Age_Num Standard Deviation: 0.58
====================
Age_Older:
--------------------
Age_Older Counts:
0    13821
1     3778
Name: Age_Older, dtype: int64
--------------------
Age_Older Percentages:
0   78.50
1   21.50
Name: Age_Older, dtype: float64
--------------------
Min Age_Older value: 0
Max Age_Older value: 1
--------------------
Age_Older Mean: 0.21
--------------------
Age_Older Standard Deviation: 0.41
====================
Age_Mixed:
--------------------
Age_Mixed Counts:
1    11467
0     6132
Name: Age_Mixed, dtype: int64
--------------------
Age_Mixed Percentages:
1   65.20
0   34.80
Name: Age_Mixed, dtype: float64
--------------------
Min Age_Mixed value: 0
Max Age_Mixed value: 1
--------------------
Age_Mixed Mean: 0.65
--------------------
Age_Mixed Standard Deviation: 0.48
====================
Age_Younger:
--------------------
Age_Younger Counts:
0    15245
1     2354
Name: Age_Younger, dtype: int64
--------------------
Age_Younger Percentages:
0   86.60
1   13.40
Name: Age_Younger, dtype: float64
--------------------
Min Age_Younger value: 0
Max Age_Younger value: 1
--------------------
Age_Younger Mean: 0.13
--------------------
Age_Younger Standard Deviation: 0.34
====================
Age_Older_n:
--------------------
Min Age_Older_n value: 15.0
Max Age_Older_n value: 2844.0
--------------------
Age_Older_n Mean: 528.81
--------------------
Age_Older_n Standard Deviation: 800.38
====================
Age_Younger_n:
--------------------
Min Age_Younger_n value: 13.0
Max Age_Younger_n value: 5228.0
--------------------
Age_Younger_n Mean: 867.85
--------------------
Age_Younger_n Standard Deviation: 1508.95
====================
Age_Older_% per Sector:
--------------------
Min Age_Older_% per Sector value: 18.939393939393938
Max Age_Older_% per Sector value: 58.333333333333336
--------------------
Age_Older_% per Sector Mean: 40.62
--------------------
Age_Older_% per Sector Standard Deviation: 10.08
====================
Age_Younger_% per Sector:
--------------------
Min Age_Younger_% per Sector value: 44.44444444444444
Max Age_Younger_% per Sector value: 80.8080808080808
--------------------
Age_Younger_% per Sector Mean: 59.23
--------------------
Age_Younger_% per Sector Standard Deviation: 10.0

In [8]:
# Explode df so that every row is one sentence
df_jobs = df_jobs.explode('Job Description spacy_sentencized', ignore_index=True)

In [9]:
df_jobs = df_jobs.dropna(subset=['Job Description spacy_sentencized'])
df_jobs = df_jobs.loc[df_jobs['Job Description spacy_sentencized'].isna() == False]
df_jobs = df_jobs.loc[(df_jobs['Job Description spacy_sentencized'] != '') & (df_jobs['Job Description spacy_sentencized'] != ' ')]
df_jobs = df_jobs.loc[(df_jobs['Job Description spacy_sentencized'].astype('str').str.len() > 1) & (df_jobs['Job Description spacy_sentencized'].astype('str').str.len() <= 20000)]

In [10]:
# len = 194344
len(df_jobs)

194344

In [11]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 194344 entries, 0 to 194819
Data columns (total 58 columns):
 #   Column                               Non-Null Count   Dtype
---  ------                               --------------   -----
 0   Search Keyword                       194344 non-null  object
 1   Platform                             194344 non-null  category
 2   Job ID                               194344 non-null  object
 3   Job Title                            194344 non-null  object
 4   Company Name                         194340 non-null  object
 5   Location                             194344 non-null  object
 6   Job Description                      194344 non-null  object
 7   Rating                               169658 non-null  float64
 8   Employment Type                      162850 non-null  object
 9   Company URL                          192179 non-null  object
 10  Job URL                              194344 non-null  object
 11  Job Age                              194344 non-null  object
 12  Job Age Number                       194344 non-null  object
 13  Collection Date                      194344 non-null  object
 14  Data Row                             24525 non-null   float64
 15  Tracking ID                          24525 non-null   object
 16  Industry                             56180 non-null   object
 17  Job Date                             24686 non-null   object
 18  Type of ownership                    31494 non-null   object
 19  Language                             194344 non-null  object
 20  Dutch Requirement                    194344 non-null  category
 21  English Requirement                  194344 non-null  category
 22  Sector Code                          194344 non-null  object
 23  Sector                               194344 non-null  object
 24  Keywords Count                       194344 non-null  float64
 25  Gender_Female_n                      194344 non-null  float64
 26  Gender_Female_% per Sector           194344 non-null  float64
 27  Gender_Female_% per Social Category  194344 non-null  float64
 28  Gender_Female_% per Workforce        194344 non-null  float64
 29  Gender_Male_n                        194344 non-null  float64
 30  Gender_Male_% per Sector             194344 non-null  float64
 31  Gender_Male_% per Social Category    194344 non-null  float64
 32  Gender_Male_% per Workforce          194344 non-null  float64
 33  Gender                               194344 non-null  category
 34  Age_Older_n                          194344 non-null  float64
 35  Age_Older_% per Sector               194344 non-null  float64
 36  Age_Older_% per Social Category      194344 non-null  float64
 37  Age_Older_% per Workforce            194344 non-null  float64
 38  Age_Younger_n                        194344 non-null  float64
 39  Age_Younger_% per Sector             194344 non-null  float64
 40  Age_Younger_% per Social Category    194344 non-null  float64
 41  Age_Younger_% per Workforce          194344 non-null  float64
 42  Age                                  194344 non-null  category
 43  Sector_n                             194344 non-null  float64
 44  % Sector per Workforce               194344 non-null  float64
 45  Gender_Female                        194344 non-null  int64
 46  Gender_Male                          194344 non-null  int64
 47  Gender_Mixed                         194344 non-null  int64
 48  Age_Mixed                            194344 non-null  int64
 49  Age_Older                            194344 non-null  int64
 50  Age_Younger                          194344 non-null  int64
 51  Gender_Num                           194344 non-null  int64
 52  Age_Num                              194344 non-null  int64
 53  Platform_Num                         194344 non-null  int64
 54  Platform_LinkedIn                    194344 non-null  int64
 55  Platform_Indeed                      194344 non-null  int64
 56  Platform_Glassdoor                   194344 non-null  int64
 57  Job Description spacy_sentencized    194344 non-null  object
dtypes: category(5), float64(21), int64(12), object(20)
memory usage: 81.0+ MB

In [12]:
df_jobs['Job Description spacy_sentencized_lower'] = df_jobs['Job Description spacy_sentencized'].progress_apply(
    lambda job_sentence: job_sentence.strip().lower()
)

progress-bar:   0%|          | 0/194344 [00:00<?, ?it/s]

In [13]:
df_jobs[['Job Description spacy_sentencized', 'Job Description spacy_sentencized_lower']].head()

          Job Description spacy_sentencized               Job Description spacy_sentencized_lower
0                                   About Our Client                                   about our client
1  The Global KYC organisation is part of ING's C...  the global kyc organisation is part of ing's c...
2  Its purpose is Enabling people and organisatio...  its purpose is enabling people and organisatio...
3  Our Global KYC organisation is a first line of...  our global kyc organisation is a first line of...
4  In our Global KYC organisation you will be wor...  in our global kyc organisation you will be wor...

In [14]:
%%time
# Spacy tokenize
with open(f'{data_dir}punctuations.txt', 'rb') as f:
    custom_punct_chars = pickle.load(f)

df_jobs['Job Description spacy_tokenized'] = df_jobs['Job Description spacy_sentencized'].progress_apply(
    lambda job_sentence: [
        str(token.text.strip().lower())
        for token in nlp.tokenizer(job_sentence)
        if len(token) != 0
        and not token.is_space
        and not token.is_stop
        and not token.is_punct
        and not token.is_bracket
        and not token.like_email
        and not token.text in custom_punct_chars
    ]
)

assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy.csv', index=False)

progress-bar:   0%|          | 0/194344 [00:00<?, ?it/s]

CPU times: user 31.6 s, sys: 1.07 s, total: 32.7 s
Wall time: 33.6 s

In [15]:
df_jobs['Job Description spacy_sentencized_cleaned'] = df_jobs['Job Description spacy_tokenized'].str.join(' ')

In [16]:
%%time
# Get sentence word frequencies
df_jobs = df_jobs.progress_apply(
    lambda row: get_word_num_and_frequency(
        row=row, text_col='Job Description spacy_sentencized'
    ), 
    axis='columns',
)

progress-bar:   0%|          | 0/194344 [00:00<?, ?it/s]

CPU times: user 2min 42s, sys: 5.07 s, total: 2min 48s
Wall time: 2min 51s

In [17]:
df_jobs = df_jobs.loc[(df_jobs['Job Description num_words'] > 0) & (df_jobs['Job Description num_words'] <= 200)]

In [18]:
# 187422
len(df_jobs)

187422

In [19]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 187422 entries, 0 to 194819
Data columns (total 66 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    187422 non-null  object
 1   Platform                                          187422 non-null  object
 2   Job ID                                            187422 non-null  object
 3   Job Title                                         187422 non-null  object
 4   Company Name                                      187418 non-null  object
 5   Location                                          187422 non-null  object
 6   Job Description                                   187422 non-null  object
 7   Rating                                            169570 non-null  float64
 8   Employment Type                                   155979 non-null  object
 9   Company URL                                       185445 non-null  object
 10  Job URL                                           187422 non-null  object
 11  Job Age                                           187422 non-null  object
 12  Job Age Number                                    187422 non-null  object
 13  Collection Date                                   187422 non-null  object
 14  Data Row                                          17713 non-null   float64
 15  Tracking ID                                       17713 non-null   object
 16  Industry                                          49295 non-null   object
 17  Job Date                                          17852 non-null   object
 18  Type of ownership                                 31443 non-null   object
 19  Language                                          187422 non-null  object
 20  Dutch Requirement                                 187422 non-null  object
 21  English Requirement                               187422 non-null  object
 22  Sector Code                                       187422 non-null  object
 23  Sector                                            187422 non-null  object
 24  Keywords Count                                    187422 non-null  float64
 25  Gender_Female_n                                   187422 non-null  float64
 26  Gender_Female_% per Sector                        187422 non-null  float64
 27  Gender_Female_% per Social Category               187422 non-null  float64
 28  Gender_Female_% per Workforce                     187422 non-null  float64
 29  Gender_Male_n                                     187422 non-null  float64
 30  Gender_Male_% per Sector                          187422 non-null  float64
 31  Gender_Male_% per Social Category                 187422 non-null  float64
 32  Gender_Male_% per Workforce                       187422 non-null  float64
 33  Gender                                            187422 non-null  object
 34  Age_Older_n                                       187422 non-null  float64
 35  Age_Older_% per Sector                            187422 non-null  float64
 36  Age_Older_% per Social Category                   187422 non-null  float64
 37  Age_Older_% per Workforce                         187422 non-null  float64
 38  Age_Younger_n                                     187422 non-null  float64
 39  Age_Younger_% per Sector                          187422 non-null  float64
 40  Age_Younger_% per Social Category                 187422 non-null  float64
 41  Age_Younger_% per Workforce                       187422 non-null  float64
 42  Age                                               187422 non-null  object
 43  Sector_n                                          187422 non-null  float64
 44  % Sector per Workforce                            187422 non-null  float64
 45  Gender_Female                                     187422 non-null  int64
 46  Gender_Male                                       187422 non-null  int64
 47  Gender_Mixed                                      187422 non-null  int64
 48  Age_Mixed                                         187422 non-null  int64
 49  Age_Older                                         187422 non-null  int64
 50  Age_Younger                                       187422 non-null  int64
 51  Gender_Num                                        187422 non-null  int64
 52  Age_Num                                           187422 non-null  int64
 53  Platform_Num                                      187422 non-null  int64
 54  Platform_LinkedIn                                 187422 non-null  int64
 55  Platform_Indeed                                   187422 non-null  int64
 56  Platform_Glassdoor                                187422 non-null  int64
 57  Job Description spacy_sentencized                 187422 non-null  object
 58  Job Description spacy_sentencized_lower           187422 non-null  object
 59  Job Description spacy_tokenized                   187422 non-null  object
 60  Job Description spacy_sentencized_cleaned         187422 non-null  object
 61  Job Description num_words                         187422 non-null  int64
 62  Job Description num_unique_words                  187422 non-null  int64
 63  Job Description num_chars                         187422 non-null  int64
 64  Job Description num_chars_no_whitespact_and_punt  187422 non-null  int64
 65  Job Description num_punctuations                  187422 non-null  int64
dtypes: float64(21), int64(17), object(28)
memory usage: 95.8+ MB

In [20]:
df_jobs[
    [
        'Job Description spacy_sentencized',
        'Job Description num_words', 'Job Description num_unique_words',
        'Job Description num_chars', 'Job Description num_chars_no_whitespact_and_punt'
    ]
].head()

          Job Description spacy_sentencized           Job Description num_words  Job Description num_unique_words  Job Description num_chars  Job Description num_chars_no_whitespact_and_punt
0                                   About Our Client              3                              3                             16                                     14
1  The Global KYC organisation is part of ING's C...             10                             10                             56                                     45
2  Its purpose is Enabling people and organisatio...             20                             19                            131                                    111
3  Our Global KYC organisation is a first line of...             34                             31                            239                                    203
4  In our Global KYC organisation you will be wor...             18                             18                            128                                    109

In [21]:
df_jobs.columns

Index(['Search Keyword', 'Platform', 'Job ID', 'Job Title', 'Company Name', 'Location', 'Job Description', 'Rating', 'Employment Type', 'Company URL', 'Job URL', 'Job Age', 'Job Age Number', 'Collection Date', 'Data Row', 'Tracking ID', 'Industry', 'Job Date', 'Type of ownership', 'Language', 'Dutch Requirement', 'English Requirement', 'Sector Code', 'Sector', 'Keywords Count', 'Gender_Female_n', 'Gender_Female_% per Sector', 'Gender_Female_% per Social Category', 'Gender_Female_% per Workforce', 'Gender_Male_n', 'Gender_Male_% per Sector', 'Gender_Male_% per Social Category', 'Gender_Male_% per Workforce', 'Gender', 'Age_Older_n', 'Age_Older_% per Sector', 'Age_Older_% per Social Category', 'Age_Older_% per Workforce', 'Age_Younger_n', 'Age_Younger_% per Sector', 'Age_Younger_% per Social Category', 'Age_Younger_% per Workforce', 'Age', 'Sector_n', '% Sector per Workforce', 'Gender_Female', 'Gender_Male', 'Gender_Mixed', 'Age_Mixed', 'Age_Older', 'Age_Younger', 'Gender_Num', 'Age_Num', 'Platform_Num', 'Platform_LinkedIn', 'Platform_Indeed', 'Platform_Glassdoor', 'Job Description spacy_sentencized', 'Job Description spacy_sentencized_lower', 'Job Description spacy_tokenized', 'Job Description spacy_sentencized_cleaned', 'Job Description num_words', 'Job Description num_unique_words', 'Job Description num_chars', 'Job Description num_chars_no_whitespact_and_punt', 'Job Description num_punctuations'], dtype='object')

In [22]:
# Job Sentence info
get_df_info(df_jobs, ivs_all=ivs_all)

DF INFO:

<class 'pandas.core.frame.DataFrame'>
Int64Index: 187422 entries, 0 to 194819
Data columns (total 66 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    187422 non-null  object
 1   Platform                                          187422 non-null  object
 2   Job ID                                            187422 non-null  object
 3   Job Title                                         187422 non-null  object
 4   Company Name                                      187418 non-null  object
 5   Location                                          187422 non-null  object
 6   Job Description                                   187422 non-null  object
 7   Rating                                            169570 non-null  float64
 8   Employment Type                                   155979 non-null  object
 9   Company URL                                       185445 non-null  object
 10  Job URL                                           187422 non-null  object
 11  Job Age                                           187422 non-null  object
 12  Job Age Number                                    187422 non-null  object
 13  Collection Date                                   187422 non-null  object
 14  Data Row                                          17713 non-null   float64
 15  Tracking ID                                       17713 non-null   object
 16  Industry                                          49295 non-null   object
 17  Job Date                                          17852 non-null   object
 18  Type of ownership                                 31443 non-null   object
 19  Language                                          187422 non-null  object
 20  Dutch Requirement                                 187422 non-null  object
 21  English Requirement                               187422 non-null  object
 22  Sector Code                                       187422 non-null  object
 23  Sector                                            187422 non-null  object
 24  Keywords Count                                    187422 non-null  float64
 25  Gender_Female_n                                   187422 non-null  float64
 26  Gender_Female_% per Sector                        187422 non-null  float64
 27  Gender_Female_% per Social Category               187422 non-null  float64
 28  Gender_Female_% per Workforce                     187422 non-null  float64
 29  Gender_Male_n                                     187422 non-null  float64
 30  Gender_Male_% per Sector                          187422 non-null  float64
 31  Gender_Male_% per Social Category                 187422 non-null  float64
 32  Gender_Male_% per Workforce                       187422 non-null  float64
 33  Gender                                            187422 non-null  object
 34  Age_Older_n                                       187422 non-null  float64
 35  Age_Older_% per Sector                            187422 non-null  float64
 36  Age_Older_% per Social Category                   187422 non-null  float64
 37  Age_Older_% per Workforce                         187422 non-null  float64
 38  Age_Younger_n                                     187422 non-null  float64
 39  Age_Younger_% per Sector                          187422 non-null  float64
 40  Age_Younger_% per Social Category                 187422 non-null  float64
 41  Age_Younger_% per Workforce                       187422 non-null  float64
 42  Age                                               187422 non-null  object
 43  Sector_n                                          187422 non-null  float64
 44  % Sector per Workforce                            187422 non-null  float64
 45  Gender_Female                                     187422 non-null  int64
 46  Gender_Male                                       187422 non-null  int64
 47  Gender_Mixed                                      187422 non-null  int64
 48  Age_Mixed                                         187422 non-null  int64
 49  Age_Older                                         187422 non-null  int64
 50  Age_Younger                                       187422 non-null  int64
 51  Gender_Num                                        187422 non-null  int64
 52  Age_Num                                           187422 non-null  int64
 53  Platform_Num                                      187422 non-null  int64
 54  Platform_LinkedIn                                 187422 non-null  int64
 55  Platform_Indeed                                   187422 non-null  int64
 56  Platform_Glassdoor                                187422 non-null  int64
 57  Job Description spacy_sentencized                 187422 non-null  object
 58  Job Description spacy_sentencized_lower           187422 non-null  object
 59  Job Description spacy_tokenized                   187422 non-null  object
 60  Job Description spacy_sentencized_cleaned         187422 non-null  object
 61  Job Description num_words                         187422 non-null  int64
 62  Job Description num_unique_words                  187422 non-null  int64
 63  Job Description num_chars                         187422 non-null  int64
 64  Job Description num_chars_no_whitespact_and_punt  187422 non-null  int64
 65  Job Description num_punctuations                  187422 non-null  int64
dtypes: float64(21), int64(17), object(28)
memory usage: 95.8+ MB
====================
Gender:
--------------------
Gender Counts:
Mixed Gender    71355
Male            61196
Female          54871
Name: Gender, dtype: int64
--------------------
Gender Percentages:
Mixed Gender   38.10
Male           32.70
Female         29.30
Name: Gender, dtype: float64
--------------------
Min Gender value: Female
Max Gender value: Mixed Gender
--------------------
====================
Gender_Num:
--------------------
Gender_Num Counts:
1    71355
2    61196
0    54871
Name: Gender_Num, dtype: int64
--------------------
Gender_Num Percentages:
1   38.10
2   32.70
0   29.30
Name: Gender_Num, dtype: float64
--------------------
Min Gender_Num value: 0
Max Gender_Num value: 2
--------------------
Gender_Num Mean: 1.03
--------------------
Gender_Num Standard Deviation: 0.79
====================
Gender_Female:
--------------------
Gender_Female Counts:
0    132551
1     54871
Name: Gender_Female, dtype: int64
--------------------
Gender_Female Percentages:
0   70.70
1   29.30
Name: Gender_Female, dtype: float64
--------------------
Min Gender_Female value: 0
Max Gender_Female value: 1
--------------------
Gender_Female Mean: 0.29
--------------------
Gender_Female Standard Deviation: 0.46
====================
Gender_Mixed:
--------------------
Gender_Mixed Counts:
0    116067
1     71355
Name: Gender_Mixed, dtype: int64
--------------------
Gender_Mixed Percentages:
0   61.90
1   38.10
Name: Gender_Mixed, dtype: float64
--------------------
Min Gender_Mixed value: 0
Max Gender_Mixed value: 1
--------------------
Gender_Mixed Mean: 0.38
--------------------
Gender_Mixed Standard Deviation: 0.49
====================
Gender_Male:
--------------------
Gender_Male Counts:
0    126226
1     61196
Name: Gender_Male, dtype: int64
--------------------
Gender_Male Percentages:
0   67.30
1   32.70
Name: Gender_Male, dtype: float64
--------------------
Min Gender_Male value: 0
Max Gender_Male value: 1
--------------------
Gender_Male Mean: 0.33
--------------------
Gender_Male Standard Deviation: 0.47
====================
Gender_Female_n:
--------------------
Min Gender_Female_n value: 7.0
Max Gender_Female_n value: 3970.0
--------------------
Gender_Female_n Mean: 708.26
--------------------
Gender_Female_n Standard Deviation: 1074.33
====================
Gender_Male_n:
--------------------
Min Gender_Male_n value: 21.0
Max Gender_Male_n value: 4510.0
--------------------
Gender_Male_n Mean: 703.53
--------------------
Gender_Male_n Standard Deviation: 1220.74
====================
Gender_Female_% per Sector:
--------------------
Min Gender_Female_% per Sector value: 12.5
Max Gender_Female_% per Sector value: 84.2986741102582
--------------------
Gender_Female_% per Sector Mean: 47.05
--------------------
Gender_Female_% per Sector Standard Deviation: 20.03
====================
Gender_Male_% per Sector:
--------------------
Min Gender_Male_% per Sector value: 15.631542219120725
Max Gender_Male_% per Sector value: 87.5
--------------------
Gender_Male_% per Sector Mean: 52.91
--------------------
Gender_Male_% per Sector Standard Deviation: 20.06
====================
Age:
--------------------
Age Counts:
Mixed Age    122368
Older         35105
Younger       29949
Name: Age, dtype: int64
--------------------
Age Percentages:
Mixed Age   65.30
Older       18.70
Younger     16.00
Name: Age, dtype: float64
--------------------
Min Age value: Mixed Age
Max Age value: Younger
--------------------
====================
Age_Num:
--------------------
Age_Num Counts:
1    122368
0     35105
2     29949
Name: Age_Num, dtype: int64
--------------------
Age_Num Percentages:
1   65.30
0   18.70
2   16.00
Name: Age_Num, dtype: float64
--------------------
Min Age_Num value: 0
Max Age_Num value: 2
--------------------
Age_Num Mean: 0.97
--------------------
Age_Num Standard Deviation: 0.59
====================
Age_Older:
--------------------
Age_Older Counts:
0    152317
1     35105
Name: Age_Older, dtype: int64
--------------------
Age_Older Percentages:
0   81.30
1   18.70
Name: Age_Older, dtype: float64
--------------------
Min Age_Older value: 0
Max Age_Older value: 1
--------------------
Age_Older Mean: 0.19
--------------------
Age_Older Standard Deviation: 0.39
====================
Age_Mixed:
--------------------
Age_Mixed Counts:
1    122368
0     65054
Name: Age_Mixed, dtype: int64
--------------------
Age_Mixed Percentages:
1   65.30
0   34.70
Name: Age_Mixed, dtype: float64
--------------------
Min Age_Mixed value: 0
Max Age_Mixed value: 1
--------------------
Age_Mixed Mean: 0.65
--------------------
Age_Mixed Standard Deviation: 0.48
====================
Age_Younger:
--------------------
Age_Younger Counts:
0    157473
1     29949
Name: Age_Younger, dtype: int64
--------------------
Age_Younger Percentages:
0   84.00
1   16.00
Name: Age_Younger, dtype: float64
--------------------
Min Age_Younger value: 0
Max Age_Younger value: 1
--------------------
Age_Younger Mean: 0.16
--------------------
Age_Younger Standard Deviation: 0.37
====================
Age_Older_n:
--------------------
Min Age_Older_n value: 15.0
Max Age_Older_n value: 2844.0
--------------------
Age_Older_n Mean: 549.45
--------------------
Age_Older_n Standard Deviation: 810.68
====================
Age_Younger_n:
--------------------
Min Age_Younger_n value: 13.0
Max Age_Younger_n value: 5228.0
--------------------
Age_Younger_n Mean: 861.87
--------------------
Age_Younger_n Standard Deviation: 1426.51
====================
Age_Older_% per Sector:
--------------------
Min Age_Older_% per Sector value: 18.939393939393938
Max Age_Older_% per Sector value: 58.333333333333336
--------------------
Age_Older_% per Sector Mean: 41.12
--------------------
Age_Older_% per Sector Standard Deviation: 9.68
====================
Age_Younger_% per Sector:
--------------------
Min Age_Younger_% per Sector value: 44.44444444444444
Max Age_Younger_% per Sector value: 80.8080808080808
--------------------
Age_Younger_% per Sector Mean: 58.85
--------------------
Age_Younger_% per Sector Standard Deviation: 9.45

In [23]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy.csv', index=False)

# Use NLTK to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_TOKENIZED_SPACY
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [24]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

sys.path.append(code_dir)
# %load_ext autoreload
# %autoreload 2

In [25]:
from setup_module.imports import * # type:ignore # isort:skip # fmt:skip # noqa # nopep8

In [26]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_tokenized_spacy.pkl')

In [27]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 187422 entries, 0 to 194819
Data columns (total 66 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    187422 non-null  object
 1   Platform                                          187422 non-null  object
 2   Job ID                                            187422 non-null  object
 3   Job Title                                         187422 non-null  object
 4   Company Name                                      187418 non-null  object
 5   Location                                          187422 non-null  object
 6   Job Description                                   187422 non-null  object
 7   Rating                                            169570 non-null  float64
 8   Employment Type                                   155979 non-null  object
 9   Company URL                                       185445 non-null  object
 10  Job URL                                           187422 non-null  object
 11  Job Age                                           187422 non-null  object
 12  Job Age Number                                    187422 non-null  object
 13  Collection Date                                   187422 non-null  object
 14  Data Row                                          17713 non-null   float64
 15  Tracking ID                                       17713 non-null   object
 16  Industry                                          49295 non-null   object
 17  Job Date                                          17852 non-null   object
 18  Type of ownership                                 31443 non-null   object
 19  Language                                          187422 non-null  object
 20  Dutch Requirement                                 187422 non-null  object
 21  English Requirement                               187422 non-null  object
 22  Sector Code                                       187422 non-null  object
 23  Sector                                            187422 non-null  object
 24  Keywords Count                                    187422 non-null  float64
 25  Gender_Female_n                                   187422 non-null  float64
 26  Gender_Female_% per Sector                        187422 non-null  float64
 27  Gender_Female_% per Social Category               187422 non-null  float64
 28  Gender_Female_% per Workforce                     187422 non-null  float64
 29  Gender_Male_n                                     187422 non-null  float64
 30  Gender_Male_% per Sector                          187422 non-null  float64
 31  Gender_Male_% per Social Category                 187422 non-null  float64
 32  Gender_Male_% per Workforce                       187422 non-null  float64
 33  Gender                                            187422 non-null  object
 34  Age_Older_n                                       187422 non-null  float64
 35  Age_Older_% per Sector                            187422 non-null  float64
 36  Age_Older_% per Social Category                   187422 non-null  float64
 37  Age_Older_% per Workforce                         187422 non-null  float64
 38  Age_Younger_n                                     187422 non-null  float64
 39  Age_Younger_% per Sector                          187422 non-null  float64
 40  Age_Younger_% per Social Category                 187422 non-null  float64
 41  Age_Younger_% per Workforce                       187422 non-null  float64
 42  Age                                               187422 non-null  object
 43  Sector_n                                          187422 non-null  float64
 44  % Sector per Workforce                            187422 non-null  float64
 45  Gender_Female                                     187422 non-null  int64
 46  Gender_Male                                       187422 non-null  int64
 47  Gender_Mixed                                      187422 non-null  int64
 48  Age_Mixed                                         187422 non-null  int64
 49  Age_Older                                         187422 non-null  int64
 50  Age_Younger                                       187422 non-null  int64
 51  Gender_Num                                        187422 non-null  int64
 52  Age_Num                                           187422 non-null  int64
 53  Platform_Num                                      187422 non-null  int64
 54  Platform_LinkedIn                                 187422 non-null  int64
 55  Platform_Indeed                                   187422 non-null  int64
 56  Platform_Glassdoor                                187422 non-null  int64
 57  Job Description spacy_sentencized                 187422 non-null  object
 58  Job Description spacy_sentencized_lower           187422 non-null  object
 59  Job Description spacy_tokenized                   187422 non-null  object
 60  Job Description spacy_sentencized_cleaned         187422 non-null  object
 61  Job Description num_words                         187422 non-null  int64
 62  Job Description num_unique_words                  187422 non-null  int64
 63  Job Description num_chars                         187422 non-null  int64
 64  Job Description num_chars_no_whitespact_and_punt  187422 non-null  int64
 65  Job Description num_punctuations                  187422 non-null  int64
dtypes: float64(21), int64(17), object(28)
memory usage: 95.8+ MB

In [28]:
%%time
# Tokenize with NLTK
stop_words = set(stopwords.words('english'))
punctuations = list(string.punctuation)
lemmatizer = WordNetLemmatizer()
stemmer = PorterStemmer()

df_jobs['Job Description nltk_tokenized'] = df_jobs['Job Description spacy_sentencized'].progress_apply(
    lambda job_sentence: [
        str(token.strip().lower()) 
        for token in word_tokenize(job_sentence) 
        if len(token) != 0 
        and token != '...' 
        and not token.lower() in set(stopwords.words('english')) 
        and not token.lower() in list(string.punctuation) 
    ]
)

assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk.csv', index=False)

progress-bar:   0%|          | 0/187422 [00:00<?, ?it/s]

CPU times: user 3min 55s, sys: 1min 12s, total: 5min 8s
Wall time: 5min 14s

In [29]:
df_jobs['Job Description nltk_tokenized'].head()

0                                             [client]
1    [global, kyc, organisation, part, ing, 's, coo...
2    [purpose, enabling, people, organisations, use...
3    [global, kyc, organisation, first, line, defen...
4    [global, kyc, organisation, working, many, col...
Name: Job Description nltk_tokenized, dtype: object

In [30]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 187422 entries, 0 to 194819
Data columns (total 67 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    187422 non-null  object
 1   Platform                                          187422 non-null  object
 2   Job ID                                            187422 non-null  object
 3   Job Title                                         187422 non-null  object
 4   Company Name                                      187418 non-null  object
 5   Location                                          187422 non-null  object
 6   Job Description                                   187422 non-null  object
 7   Rating                                            169570 non-null  float64
 8   Employment Type                                   155979 non-null  object
 9   Company URL                                       185445 non-null  object
 10  Job URL                                           187422 non-null  object
 11  Job Age                                           187422 non-null  object
 12  Job Age Number                                    187422 non-null  object
 13  Collection Date                                   187422 non-null  object
 14  Data Row                                          17713 non-null   float64
 15  Tracking ID                                       17713 non-null   object
 16  Industry                                          49295 non-null   object
 17  Job Date                                          17852 non-null   object
 18  Type of ownership                                 31443 non-null   object
 19  Language                                          187422 non-null  object
 20  Dutch Requirement                                 187422 non-null  object
 21  English Requirement                               187422 non-null  object
 22  Sector Code                                       187422 non-null  object
 23  Sector                                            187422 non-null  object
 24  Keywords Count                                    187422 non-null  float64
 25  Gender_Female_n                                   187422 non-null  float64
 26  Gender_Female_% per Sector                        187422 non-null  float64
 27  Gender_Female_% per Social Category               187422 non-null  float64
 28  Gender_Female_% per Workforce                     187422 non-null  float64
 29  Gender_Male_n                                     187422 non-null  float64
 30  Gender_Male_% per Sector                          187422 non-null  float64
 31  Gender_Male_% per Social Category                 187422 non-null  float64
 32  Gender_Male_% per Workforce                       187422 non-null  float64
 33  Gender                                            187422 non-null  object
 34  Age_Older_n                                       187422 non-null  float64
 35  Age_Older_% per Sector                            187422 non-null  float64
 36  Age_Older_% per Social Category                   187422 non-null  float64
 37  Age_Older_% per Workforce                         187422 non-null  float64
 38  Age_Younger_n                                     187422 non-null  float64
 39  Age_Younger_% per Sector                          187422 non-null  float64
 40  Age_Younger_% per Social Category                 187422 non-null  float64
 41  Age_Younger_% per Workforce                       187422 non-null  float64
 42  Age                                               187422 non-null  object
 43  Sector_n                                          187422 non-null  float64
 44  % Sector per Workforce                            187422 non-null  float64
 45  Gender_Female                                     187422 non-null  int64
 46  Gender_Male                                       187422 non-null  int64
 47  Gender_Mixed                                      187422 non-null  int64
 48  Age_Mixed                                         187422 non-null  int64
 49  Age_Older                                         187422 non-null  int64
 50  Age_Younger                                       187422 non-null  int64
 51  Gender_Num                                        187422 non-null  int64
 52  Age_Num                                           187422 non-null  int64
 53  Platform_Num                                      187422 non-null  int64
 54  Platform_LinkedIn                                 187422 non-null  int64
 55  Platform_Indeed                                   187422 non-null  int64
 56  Platform_Glassdoor                                187422 non-null  int64
 57  Job Description spacy_sentencized                 187422 non-null  object
 58  Job Description spacy_sentencized_lower           187422 non-null  object
 59  Job Description spacy_tokenized                   187422 non-null  object
 60  Job Description spacy_sentencized_cleaned         187422 non-null  object
 61  Job Description num_words                         187422 non-null  int64
 62  Job Description num_unique_words                  187422 non-null  int64
 63  Job Description num_chars                         187422 non-null  int64
 64  Job Description num_chars_no_whitespact_and_punt  187422 non-null  int64
 65  Job Description num_punctuations                  187422 non-null  int64
 66  Job Description nltk_tokenized                    187422 non-null  object
dtypes: float64(21), int64(17), object(29)
memory usage: 97.2+ MB

In [31]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk.csv', index=False)

# Use gensim to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_TOKENIZED_SPACY_NLTK
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [32]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

sys.path.append(code_dir)
# %load_ext autoreload
# %autoreload 2

In [33]:
from setup_module.imports import * # type:ignore # isort:skip # fmt:skip # noqa # nopep8

In [34]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk.pkl')

In [35]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 187422 entries, 0 to 194819
Data columns (total 67 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    187422 non-null  object
 1   Platform                                          187422 non-null  object
 2   Job ID                                            187422 non-null  object
 3   Job Title                                         187422 non-null  object
 4   Company Name                                      187418 non-null  object
 5   Location                                          187422 non-null  object
 6   Job Description                                   187422 non-null  object
 7   Rating                                            169570 non-null  float64
 8   Employment Type                                   155979 non-null  object
 9   Company URL                                       185445 non-null  object
 10  Job URL                                           187422 non-null  object
 11  Job Age                                           187422 non-null  object
 12  Job Age Number                                    187422 non-null  object
 13  Collection Date                                   187422 non-null  object
 14  Data Row                                          17713 non-null   float64
 15  Tracking ID                                       17713 non-null   object
 16  Industry                                          49295 non-null   object
 17  Job Date                                          17852 non-null   object
 18  Type of ownership                                 31443 non-null   object
 19  Language                                          187422 non-null  object
 20  Dutch Requirement                                 187422 non-null  object
 21  English Requirement                               187422 non-null  object
 22  Sector Code                                       187422 non-null  object
 23  Sector                                            187422 non-null  object
 24  Keywords Count                                    187422 non-null  float64
 25  Gender_Female_n                                   187422 non-null  float64
 26  Gender_Female_% per Sector                        187422 non-null  float64
 27  Gender_Female_% per Social Category               187422 non-null  float64
 28  Gender_Female_% per Workforce                     187422 non-null  float64
 29  Gender_Male_n                                     187422 non-null  float64
 30  Gender_Male_% per Sector                          187422 non-null  float64
 31  Gender_Male_% per Social Category                 187422 non-null  float64
 32  Gender_Male_% per Workforce                       187422 non-null  float64
 33  Gender                                            187422 non-null  object
 34  Age_Older_n                                       187422 non-null  float64
 35  Age_Older_% per Sector                            187422 non-null  float64
 36  Age_Older_% per Social Category                   187422 non-null  float64
 37  Age_Older_% per Workforce                         187422 non-null  float64
 38  Age_Younger_n                                     187422 non-null  float64
 39  Age_Younger_% per Sector                          187422 non-null  float64
 40  Age_Younger_% per Social Category                 187422 non-null  float64
 41  Age_Younger_% per Workforce                       187422 non-null  float64
 42  Age                                               187422 non-null  object
 43  Sector_n                                          187422 non-null  float64
 44  % Sector per Workforce                            187422 non-null  float64
 45  Gender_Female                                     187422 non-null  int64
 46  Gender_Male                                       187422 non-null  int64
 47  Gender_Mixed                                      187422 non-null  int64
 48  Age_Mixed                                         187422 non-null  int64
 49  Age_Older                                         187422 non-null  int64
 50  Age_Younger                                       187422 non-null  int64
 51  Gender_Num                                        187422 non-null  int64
 52  Age_Num                                           187422 non-null  int64
 53  Platform_Num                                      187422 non-null  int64
 54  Platform_LinkedIn                                 187422 non-null  int64
 55  Platform_Indeed                                   187422 non-null  int64
 56  Platform_Glassdoor                                187422 non-null  int64
 57  Job Description spacy_sentencized                 187422 non-null  object
 58  Job Description spacy_sentencized_lower           187422 non-null  object
 59  Job Description spacy_tokenized                   187422 non-null  object
 60  Job Description spacy_sentencized_cleaned         187422 non-null  object
 61  Job Description num_words                         187422 non-null  int64
 62  Job Description num_unique_words                  187422 non-null  int64
 63  Job Description num_chars                         187422 non-null  int64
 64  Job Description num_chars_no_whitespact_and_punt  187422 non-null  int64
 65  Job Description num_punctuations                  187422 non-null  int64
 66  Job Description nltk_tokenized                    187422 non-null  object
dtypes: float64(21), int64(17), object(29)
memory usage: 97.2+ MB

In [36]:
%%time
pattern = r'[\n]+|[,]{2,}|[|]{2,}|[\n\r]+|(?<=[a-z]\.)(?=\s*[A-Z])|(?=\:+[A-Z])'
df_jobs['Job Description gensim_tokenized'] = df_jobs['Job Description spacy_sentencized'].progress_apply(
    lambda sentence: preprocess_string(re.sub(pattern, ' ', sentence.strip().lower()))
)

assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim.csv', index=False)

progress-bar:   0%|          | 0/187422 [00:00<?, ?it/s]

CPU times: user 36.4 s, sys: 1.15 s, total: 37.6 s
Wall time: 38.8 s

In [37]:
df_jobs['Job Description gensim_tokenized'].head()

0                                             [client]
1             [global, kyc, organis, ing, coo, domain]
2    [purpos, enabl, peopl, organis, us, bank, serv...
3    [global, kyc, organis, line, defenc, depart, p...
4    [global, kyc, organis, work, colleagu, differ,...
Name: Job Description gensim_tokenized, dtype: object

In [38]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 187422 entries, 0 to 194819
Data columns (total 68 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    187422 non-null  object
 1   Platform                                          187422 non-null  object
 2   Job ID                                            187422 non-null  object
 3   Job Title                                         187422 non-null  object
 4   Company Name                                      187418 non-null  object
 5   Location                                          187422 non-null  object
 6   Job Description                                   187422 non-null  object
 7   Rating                                            169570 non-null  float64
 8   Employment Type                                   155979 non-null  object
 9   Company URL                                       185445 non-null  object
 10  Job URL                                           187422 non-null  object
 11  Job Age                                           187422 non-null  object
 12  Job Age Number                                    187422 non-null  object
 13  Collection Date                                   187422 non-null  object
 14  Data Row                                          17713 non-null   float64
 15  Tracking ID                                       17713 non-null   object
 16  Industry                                          49295 non-null   object
 17  Job Date                                          17852 non-null   object
 18  Type of ownership                                 31443 non-null   object
 19  Language                                          187422 non-null  object
 20  Dutch Requirement                                 187422 non-null  object
 21  English Requirement                               187422 non-null  object
 22  Sector Code                                       187422 non-null  object
 23  Sector                                            187422 non-null  object
 24  Keywords Count                                    187422 non-null  float64
 25  Gender_Female_n                                   187422 non-null  float64
 26  Gender_Female_% per Sector                        187422 non-null  float64
 27  Gender_Female_% per Social Category               187422 non-null  float64
 28  Gender_Female_% per Workforce                     187422 non-null  float64
 29  Gender_Male_n                                     187422 non-null  float64
 30  Gender_Male_% per Sector                          187422 non-null  float64
 31  Gender_Male_% per Social Category                 187422 non-null  float64
 32  Gender_Male_% per Workforce                       187422 non-null  float64
 33  Gender                                            187422 non-null  object
 34  Age_Older_n                                       187422 non-null  float64
 35  Age_Older_% per Sector                            187422 non-null  float64
 36  Age_Older_% per Social Category                   187422 non-null  float64
 37  Age_Older_% per Workforce                         187422 non-null  float64
 38  Age_Younger_n                                     187422 non-null  float64
 39  Age_Younger_% per Sector                          187422 non-null  float64
 40  Age_Younger_% per Social Category                 187422 non-null  float64
 41  Age_Younger_% per Workforce                       187422 non-null  float64
 42  Age                                               187422 non-null  object
 43  Sector_n                                          187422 non-null  float64
 44  % Sector per Workforce                            187422 non-null  float64
 45  Gender_Female                                     187422 non-null  int64
 46  Gender_Male                                       187422 non-null  int64
 47  Gender_Mixed                                      187422 non-null  int64
 48  Age_Mixed                                         187422 non-null  int64
 49  Age_Older                                         187422 non-null  int64
 50  Age_Younger                                       187422 non-null  int64
 51  Gender_Num                                        187422 non-null  int64
 52  Age_Num                                           187422 non-null  int64
 53  Platform_Num                                      187422 non-null  int64
 54  Platform_LinkedIn                                 187422 non-null  int64
 55  Platform_Indeed                                   187422 non-null  int64
 56  Platform_Glassdoor                                187422 non-null  int64
 57  Job Description spacy_sentencized                 187422 non-null  object
 58  Job Description spacy_sentencized_lower           187422 non-null  object
 59  Job Description spacy_tokenized                   187422 non-null  object
 60  Job Description spacy_sentencized_cleaned         187422 non-null  object
 61  Job Description num_words                         187422 non-null  int64
 62  Job Description num_unique_words                  187422 non-null  int64
 63  Job Description num_chars                         187422 non-null  int64
 64  Job Description num_chars_no_whitespact_and_punt  187422 non-null  int64
 65  Job Description num_punctuations                  187422 non-null  int64
 66  Job Description nltk_tokenized                    187422 non-null  object
 67  Job Description gensim_tokenized                  187422 non-null  object
dtypes: float64(21), int64(17), object(30)
memory usage: 98.7+ MB

In [39]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim.csv', index=False)

# Use BERT to tokenize sentences

### START HERE IF SOURCING FROM DF_JOBS_TOKENIZED_SPACY_NLTK_GENSIM
### PLEASE SET CORRECT DIRECTORY PATHS BELOW

In [40]:
import os # type:ignore # isort:skip # fmt:skip # noqa # nopep8
import sys # type:ignore # isort:skip # fmt:skip # noqa # nopep8
from pathlib import Path # type:ignore # isort:skip # fmt:skip # noqa # nopep8

mod = sys.modules[__name__]

code_dir = None
code_dir_name = 'Code'
unwanted_subdir_name = 'Analysis'

for _ in range(5):

    parent_path = str(Path.cwd().parents[_]).split('/')[-1]

    if (code_dir_name in parent_path) and (unwanted_subdir_name not in parent_path):

        code_dir = str(Path.cwd().parents[_])

        if code_dir is not None:
            break

sys.path.append(code_dir)
# %load_ext autoreload
# %autoreload 2

In [41]:
from setup_module.imports import *  # type:ignore # isort:skip # fmt:skip # noqa # nopep8

In [42]:
df_jobs = pd.read_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim.pkl')

In [43]:
df_jobs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 187422 entries, 0 to 194819
Data columns (total 68 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   Search Keyword                                    187422 non-null  object
 1   Platform                                          187422 non-null  object
 2   Job ID                                            187422 non-null  object
 3   Job Title                                         187422 non-null  object
 4   Company Name                                      187418 non-null  object
 5   Location                                          187422 non-null  object
 6   Job Description                                   187422 non-null  object
 7   Rating                                            169570 non-null  float64
 8   Employment Type                                   155979 non-null  object
 9   Company URL                                       185445 non-null  object
 10  Job URL                                           187422 non-null  object
 11  Job Age                                           187422 non-null  object
 12  Job Age Number                                    187422 non-null  object
 13  Collection Date                                   187422 non-null  object
 14  Data Row                                          17713 non-null   float64
 15  Tracking ID                                       17713 non-null   object
 16  Industry                                          49295 non-null   object
 17  Job Date                                          17852 non-null   object
 18  Type of ownership                                 31443 non-null   object
 19  Language                                          187422 non-null  object
 20  Dutch Requirement                                 187422 non-null  object
 21  English Requirement                               187422 non-null  object
 22  Sector Code                                       187422 non-null  object
 23  Sector                                            187422 non-null  object
 24  Keywords Count                                    187422 non-null  float64
 25  Gender_Female_n                                   187422 non-null  float64
 26  Gender_Female_% per Sector                        187422 non-null  float64
 27  Gender_Female_% per Social Category               187422 non-null  float64
 28  Gender_Female_% per Workforce                     187422 non-null  float64
 29  Gender_Male_n                                     187422 non-null  float64
 30  Gender_Male_% per Sector                          187422 non-null  float64
 31  Gender_Male_% per Social Category                 187422 non-null  float64
 32  Gender_Male_% per Workforce                       187422 non-null  float64
 33  Gender                                            187422 non-null  object
 34  Age_Older_n                                       187422 non-null  float64
 35  Age_Older_% per Sector                            187422 non-null  float64
 36  Age_Older_% per Social Category                   187422 non-null  float64
 37  Age_Older_% per Workforce                         187422 non-null  float64
 38  Age_Younger_n                                     187422 non-null  float64
 39  Age_Younger_% per Sector                          187422 non-null  float64
 40  Age_Younger_% per Social Category                 187422 non-null  float64
 41  Age_Younger_% per Workforce                       187422 non-null  float64
 42  Age                                               187422 non-null  object
 43  Sector_n                                          187422 non-null  float64
 44  % Sector per Workforce                            187422 non-null  float64
 45  Gender_Female                                     187422 non-null  int64
 46  Gender_Male                                       187422 non-null  int64
 47  Gender_Mixed                                      187422 non-null  int64
 48  Age_Mixed                                         187422 non-null  int64
 49  Age_Older                                         187422 non-null  int64
 50  Age_Younger                                       187422 non-null  int64
 51  Gender_Num                                        187422 non-null  int64
 52  Age_Num                                           187422 non-null  int64
 53  Platform_Num                                      187422 non-null  int64
 54  Platform_LinkedIn                                 187422 non-null  int64
 55  Platform_Indeed                                   187422 non-null  int64
 56  Platform_Glassdoor                                187422 non-null  int64
 57  Job Description spacy_sentencized                 187422 non-null  object
 58  Job Description spacy_sentencized_lower           187422 non-null  object
 59  Job Description spacy_tokenized                   187422 non-null  object
 60  Job Description spacy_sentencized_cleaned         187422 non-null  object
 61  Job Description num_words                         187422 non-null  int64
 62  Job Description num_unique_words                  187422 non-null  int64
 63  Job Description num_chars                         187422 non-null  int64
 64  Job Description num_chars_no_whitespact_and_punt  187422 non-null  int64
 65  Job Description num_punctuations                  187422 non-null  int64
 66  Job Description nltk_tokenized                    187422 non-null  object
 67  Job Description gensim_tokenized                  187422 non-null  object
dtypes: float64(21), int64(17), object(30)
memory usage: 98.7+ MB

In [44]:
%%time
max_length = 512
returned_tensor = 'pt'
cpu_counts = torch.multiprocessing.cpu_count()
device = torch.device('mps') if torch.has_mps and torch.backends.mps.is_built() and torch.backends.mps.is_available() else torch.device('cuda') if torch.cuda.is_available() else torch.device('cpu')
device_name = str(device.type)
print(f'Using {device_name.upper()}')
bert_model_name = 'bert-base-uncased'
bert_tokenizer = BertTokenizerFast.from_pretrained(bert_model_name, strip_accents = True)
bert_model = BertForSequenceClassification.from_pretrained(bert_model_name).to(device)

df_jobs['Job Description bert_tokenized'] = df_jobs['Job Description spacy_sentencized'].progress_apply(
    lambda sentence: bert_tokenizer.tokenize(str(sentence))
)

assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim_bert.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_tokenized_spacy_nltk_gensim_bert.csv', index=False)

Using MPS

Some weights of the model checkpoint at bert-base-uncased were not used when initializing BertForSequenceClassification: ['cls.predictions.bias', 'cls.seq_relationship.weight', 'cls.seq_relationship.bias', 'cls.predictions.transform.LayerNorm.weight', 'cls.predictions.decoder.weight', 'cls.predictions.transform.dense.bias', 'cls.predictions.transform.dense.weight', 'cls.predictions.transform.LayerNorm.bias']
- This IS expected if you are initializing BertForSequenceClassification from the checkpoint of a model trained on another task or with another architecture (e.g. initializing a BertForSequenceClassification model from a BertForPreTraining model).
- This IS NOT expected if you are initializing BertForSequenceClassification from the checkpoint of a model that you expect to be exactly identical (initializing a BertForSequenceClassification model from a BertForSequenceClassification model).
Some weights of BertForSequenceClassification were not initialized from the model checkpoint at bert-base-uncased and are newly initialized: ['classifier.bias', 'classifier.weight']
You should probably TRAIN this model on a down-stream task to be able to use it for predictions and inference.

progress-bar:   0%|          | 0/187422 [00:00<?, ?it/s]

CPU times: user 40.6 s, sys: 1.68 s, total: 42.3 s
Wall time: 43.8 s

In [45]:
df_jobs['Job Description bert_tokenized'].head()

0                                 [about, our, client]
1    [the, global, ky, ##c, organisation, is, part,...
2    [its, purpose, is, enabling, people, and, orga...
3    [our, global, ky, ##c, organisation, is, a, fi...
4    [in, our, global, ky, ##c, organisation, you, ...
Name: Job Description bert_tokenized, dtype: object

In [46]:
assert len(df_jobs) > 0 and isinstance(df_jobs, pd.DataFrame), f'ERORR: LENGTH OF DF = {len(df_jobs)}'
df_jobs.to_pickle(f'{df_save_dir}df_jobs_for_classification.pkl')
df_jobs.to_csv(f'{df_save_dir}df_jobs_for_classification.csv', index=False)

In [47]:
print(f'Saving df_jobs length {len(df_jobs)} to txt file.')
with open(f'{data_dir}df_jobs_len.txt', 'w') as f:
    f.write(str(len(df_jobs)))

Saving df_jobs length 187422 to txt file.